@font-face {
  font-family: "Trade Gothic W01 Roman";
  src: url("/css/assets/fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix");
  src: url("/css/assets/fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix") format("eot"), url("/css/assets/fonts/7b555e94-d57a-415e-a36e-1b0c5d3b90d2.woff2") format("woff2"), url("/css/assets/fonts/c4aef0d4-bfcf-4790-acf5-909881f411e8.woff") format("woff"), url("/css/assets/fonts/e741f29c-bc18-4343-bff3-db2465a0be3e.ttf") format("truetype"), url("/css/assets/fonts/853e2a9b-4057-42a5-ad7e-0762cda0b13c.svg#853e2a9b-4057-42a5-ad7e-0762cda0b13c") format("svg");
}
@font-face {
  font-family: "Trade Gothic W01 Bold";
  src: url("/css/assets/fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix");
  src: url("/css/assets/fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"), url("/css/assets/fonts/d2e623ca-efc6-4557-ae55-ebb786065dcf.woff2") format("woff2"), url("/css/assets/fonts/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"), url("/css/assets/fonts/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"), url("/css/assets/fonts/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg");
}
.overheard-demo-container {
  margin-left: 16px;
}
.overheard-demo-container > div > h2 {
  margin-top: 60px;
  margin-bottom: 70px;
  text-decoration: underline;
}
.overheard-demo-container > div > p {
  font-size: 15px;
  margin: 25px 0 10px;
  color: #777;
}
.overheard-demo-container > div > code {
  display: inline-block;
  margin-bottom: 70px;
}
.overheard-title {
  width: 100%;
  position: relative;
  margin-top: 16px;
  margin-bottom: 0;
  padding: 3px 0 2px 62px;
  color: #524a48;
  font-size: 16px;
  font-family: "Trajan W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
}
.overheard-title:before {
  z-index: 2;
  content: '';
  display: block;
  position: absolute;
  left: -16px;
  top: -16px;
  width: 74px;
  height: 74px;
  background: url('/assets/images/overheard-icon.png') center no-repeat;
  background-size: contain;
}
.overheard-title strong {
  color: #a12121;
  font-family: "Trajan W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 28px;
}
.overheard-title span {
  padding: 0 2px;
}
@media only screen and (max-width: 360px) {
  .overheard-title {
    margin-left: -15px;
    padding-left: 41px;
  }
  .overheard-title:before {
    width: 58px;
    height: 58px;
  }
  .overheard-title span {
    padding: 0 1px;
  }
}
.overheard {
  display: block;
  position: relative;
  /* contains blockquote, footer and photos */
  width: 100%;
  border: 3px solid #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
  background: url('/assets/images/overheard-bg-red-diagonal-vignette.png') center / cover no-repeat;
  color: #fff;
}
.overheard:hover,
.overheard:focus {
  color: #fff;
  text-decoration: none;
  -webkit-filter: brightness(1.15);
  filter: brightness(1.15);
}
.overheard:before {
  content: '';
  display: block;
  position: relative;
  z-index: -1;
  width: 100%;
  padding-top: 76.6%;
}
@media only screen and (max-width: 360px) {
  .overheard {
    margin-left: -10px;
  }
}
.overheard-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overheard-link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.overheard-footer {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 9px 10px;
  color: #fff;
  background-color: #a12121;
  text-align: center;
}
.overheard-footer p {
  margin: 0;
}
.overheard-footer a {
  text-decoration: underline;
  color: inherit;
}
.overheard-footer img {
  display: inline-block;
  max-width: 100%;
  width: auto;
}
.overheard-footer:empty {
  display: none;
}
.overheard.mod-illuminate .overheard-footer {
  padding: 0;
  pointer-events: none;
  background-color: #221E20;
}
.overheard.mod-facebook .overheard-footer {
  padding: 9px 20px 9px 45px;
  text-align: left;
}
.overheard.mod-facebook .overheard-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.overheard.mod-facebook .overheard-footer {
  background-color: #35569C;
}
.overheard.mod-facebook .overheard-footer:before {
  background-image: url('/assets/images/social-media/facebook-64.png');
}
.overheard.mod-linkedin .overheard-footer {
  padding: 9px 20px 9px 45px;
  text-align: left;
}
.overheard.mod-linkedin .overheard-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.overheard.mod-linkedin .overheard-footer {
  background-color: #007ab8;
}
.overheard.mod-linkedin .overheard-footer:before {
  background-image: url('/assets/images/social-media/linkedin-64.png');
}
.overheard.mod-twitter .overheard-footer {
  padding: 9px 20px 9px 45px;
  text-align: left;
}
.overheard.mod-twitter .overheard-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.overheard.mod-twitter .overheard-footer {
  background-color: #007ab8;
}
.overheard.mod-twitter .overheard-footer:before {
  background-image: url('/assets/images/social-media/twitter-64.png');
}
.overheard.mod-illuminate-caption .overheard-footer {
  padding: 9px 20px 9px 45px;
  text-align: left;
}
.overheard.mod-illuminate-caption .overheard-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.overheard.mod-illuminate-caption .overheard-footer {
  background-color: #201E1F;
}
.overheard.mod-illuminate-caption .overheard-footer:before {
  background-image: url('/assets/images/overheard-illuminate-icon.png');
  -webkit-transform: translateY(-62%);
  transform: translateY(-62%);
}
.overheard.mod-flickr {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overheard.mod-flickr .overheard-footer {
  padding: 9px 20px 9px 45px;
  text-align: left;
}
.overheard.mod-flickr .overheard-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.overheard.mod-flickr .overheard-footer {
  background-color: #ff0084;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
.overheard.mod-flickr .overheard-footer:before {
  background-image: url('/assets/images/social-media/flickr-64.png');
  background-size: 22px;
}
.overheard.mod-instagram .overheard-footer {
  padding: 9px 20px 9px 45px;
  text-align: left;
}
.overheard.mod-instagram .overheard-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.overheard.mod-instagram .overheard-footer {
  background-color: #833ab4;
}
.overheard.mod-instagram .overheard-footer:before {
  background-image: url('/assets/images/social-media/instagram-64.png');
}
.overheard.mod-instagram .overheard-image {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 6px;
  max-width: 100%;
  max-height: 78%;
  height: auto;
  -webkit-transform: translateX(-50%) rotateZ(-7deg);
  transform: translateX(-50%) rotateZ(-7deg);
  border: 3px solid #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.overheard.mod-youtube .overheard-footer {
  padding: 9px 20px 9px 45px;
  text-align: left;
}
.overheard.mod-youtube .overheard-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.overheard.mod-youtube .overheard-footer {
  background-color: #cd201f;
}
.overheard.mod-youtube .overheard-footer:before {
  background-image: url('/assets/images/social-media/youtube-64.png');
  background-size: 24px;
}
.overheard.mod-vimeo .overheard-footer {
  padding: 9px 20px 9px 45px;
  text-align: left;
}
.overheard.mod-vimeo .overheard-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.overheard.mod-vimeo .overheard-footer {
  background-color: #1ab7ea;
}
.overheard.mod-vimeo .overheard-footer:before {
  background-image: url('/assets/images/social-media/vimeo-64.png');
  background-size: 22px;
}
.overheard.mod-photo {
  overflow: hidden;
}
.overheard.mod-photo .overheard-image,
.overheard.mod-photo .overheard-caption,
.overheard.mod-photo .overheard-footer {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.overheard.mod-photo.is-visible .overheard-image,
.overheard.mod-photo.is-visible .overheard-caption,
.overheard.mod-photo.is-visible .overheard-footer {
  opacity: 1;
}
.overheard.mod-photo .overheard-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  height: auto;
  pointer-events: none;
}
.overheard.mod-photo.mod-wide .overheard-image {
  height: 100%;
  width: auto;
}
.overheard.mod-photo.mod-vertical {
  overflow: visible;
}
.overheard.mod-photo.mod-vertical .overheard-image {
  z-index: 1;
  position: absolute;
  left: 0;
  top: -4px;
  max-width: 50%;
  max-height: 85%;
  width: auto;
  height: auto;
  -webkit-transform: rotateZ(-7deg);
  transform: rotateZ(-7deg);
  border: 3px solid #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}
.overheard.mod-photo.mod-vertical .overheard-caption {
  float: right;
  margin-top: 45px;
  margin-right: 25px;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 870px) and (max-width: 1064px), (min-width: 580px) and (max-width: 767px) {
  .grid-item.grid-03 .overheard.mod-photo.mod-vertical .overheard-caption {
    font-size: 22px;
  }
}
@media (min-width: 768px) and (max-width: 869px), (min-width: 510px) and (max-width: 579px) {
  .grid-item.grid-03 .overheard.mod-photo.mod-vertical .overheard-caption {
    font-size: 19px;
  }
}
@media (min-width: 1065px) and (max-width: 1199px) {
  .grid-item.grid-03 .overheard.mod-photo.mod-vertical .overheard-caption {
    font-size: 16px;
  }
}
.overheard.mod-photo.mod-vertical.mod-large-photo .overheard-image {
  max-height: 103%;
}
.overheard.mod-photo.mod-vertical:not(.mod-vertical) {
  background: none;
}
.overheard.mod-video {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overheard.mod-video .overheard-link:after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 44.5%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 105px;
  height: 105px;
  background: url('/assets/images/overheard-video-icon.png') center / 105px no-repeat;
}
.overheard.mod-video.mod-feature a:after {
  top: auto;
  left: auto;
  bottom: 12px;
  right: 12px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 44px;
  height: 44px;
  background-size: 44px;
}
.overheard.mod-feature {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overheard.mod-feature .overheard-inner:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 21, 21, 0.65);
}
.overheard.mod-feature:hover:before,
.overheard.mod-feature:focus:before {
  background-color: rgba(66, 21, 21, 0.6);
}
.overheard.mod-feature .overheard-feature-header,
.overheard.mod-feature .overheard-feature-title,
.overheard.mod-feature .overheard-feature-summary {
  z-index: 2;
  position: relative;
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  color: #fff;
  pointer-events: none;
}
.overheard.mod-feature .overheard-feature-header {
  padding-top: 28px;
  padding-bottom: 9px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.overheard.mod-feature .overheard-feature-title {
  margin: 0;
  text-transform: none;
  font-size: 36px;
  font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.overheard.mod-feature .overheard-feature-summary {
  padding-top: 15px;
  font-size: 20px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 870px) and (max-width: 1064px), (min-width: 580px) and (max-width: 767px) {
  .grid-item.grid-03 .overheard.mod-feature .overheard-feature-header {
    font-size: 19px;
  }
  .grid-item.grid-03 .overheard.mod-feature .overheard-feature-title {
    font-size: 44px;
  }
  .grid-item.grid-03 .overheard.mod-feature .overheard-feature-summary {
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 869px), (min-width: 510px) and (max-width: 579px) {
  .grid-item.grid-03 .overheard.mod-feature .overheard-feature-header {
    font-size: 17px;
  }
  .grid-item.grid-03 .overheard.mod-feature .overheard-feature-title {
    font-size: 40px;
  }
  .grid-item.grid-03 .overheard.mod-feature .overheard-feature-summary {
    font-size: 21px;
  }
}
@media (min-width: 1065px) and (max-width: 1199px) {
  .grid-item.grid-03 .overheard.mod-feature .overheard-feature-header {
    font-size: 12px;
  }
  .grid-item.grid-03 .overheard.mod-feature .overheard-feature-title {
    font-size: 30px;
  }
  .grid-item.grid-03 .overheard.mod-feature .overheard-feature-summary {
    padding-top: 11px;
    font-size: 17px;
  }
}
.overheard.mod-quote blockquote {
  position: relative;
  margin: 0;
  padding: 28px 41px 15px 50px;
  border: none;
  font-size: 18px;
  font-family: "Trade Gothic W01 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  pointer-events: none;
}
@media (min-width: 870px) and (max-width: 1064px), (min-width: 580px) and (max-width: 767px) {
  .grid-item.grid-03 .overheard.mod-quote blockquote {
    padding: 38px 51px 25px 60px;
    font-size: 27px;
  }
}
@media (min-width: 768px) and (max-width: 869px), (min-width: 510px) and (max-width: 579px) {
  .grid-item.grid-03 .overheard.mod-quote blockquote {
    padding: 32px 46px 20px 55px;
    font-size: 24px;
  }
}
@media (min-width: 1065px) and (max-width: 1199px) {
  .grid-item.grid-03 .overheard.mod-quote blockquote {
    padding: 25px 38px 12px 47px;
    font-size: 16px;
  }
}
.overheard.mod-quote blockquote:before,
.overheard.mod-quote blockquote:after {
  display: block;
  position: absolute;
  font-size: 89px;
  line-height: 1;
  font-family: "BauerBodoniW01-BlackIta", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
  opacity: 0.5;
}
@media (min-width: 870px) and (max-width: 1064px), (min-width: 580px) and (max-width: 767px) {
  .grid-item.grid-03 .overheard.mod-quote blockquote:before,
  .grid-item.grid-03 .overheard.mod-quote blockquote:after {
    font-size: 109px;
  }
}
@media (min-width: 768px) and (max-width: 869px), (min-width: 510px) and (max-width: 579px) {
  .grid-item.grid-03 .overheard.mod-quote blockquote:before,
  .grid-item.grid-03 .overheard.mod-quote blockquote:after {
    font-size: 99px;
  }
}
@media (min-width: 1065px) and (max-width: 1199px) {
  .grid-item.grid-03 .overheard.mod-quote blockquote:before,
  .grid-item.grid-03 .overheard.mod-quote blockquote:after {
    font-size: 85px;
  }
}
.overheard.mod-quote blockquote:before {
  content: '\0201C';
  left: -5px;
  top: 10px;
}
.overheard.mod-quote blockquote:after {
  content: '\0201D';
  right: 6px;
  bottom: -34px;
}
.overheard.mod-quote .overheard-attribution {
  float: right;
  text-align: right;
  padding-right: 42px;
  font-size: 13px;
}
@media (min-width: 870px) and (max-width: 1064px), (min-width: 580px) and (max-width: 767px) {
  .grid-item.grid-03 .overheard.mod-quote .overheard-attribution {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 869px), (min-width: 510px) and (max-width: 579px) {
  .grid-item.grid-03 .overheard.mod-quote .overheard-attribution {
    font-size: 16px;
  }
}
@media (min-width: 1065px) and (max-width: 1199px) {
  .grid-item.grid-03 .overheard.mod-quote .overheard-attribution {
    font-size: 12px;
  }
}
.overheard.mod-quote.mod-large blockquote,
.overheard.mod-quote.mod-xlarge blockquote {
  padding-top: 40px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
  font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.overheard.mod-quote.mod-large blockquote:before,
.overheard.mod-quote.mod-xlarge blockquote:before {
  top: 26px;
}
@media (min-width: 870px) and (max-width: 1064px), (min-width: 580px) and (max-width: 767px) {
  .grid-item.grid-03 .overheard.mod-quote.mod-large blockquote,
  .grid-item.grid-03 .overheard.mod-quote.mod-xlarge blockquote {
    font-size: 36px;
  }
}
@media (min-width: 768px) and (max-width: 869px), (min-width: 510px) and (max-width: 579px) {
  .grid-item.grid-03 .overheard.mod-quote.mod-large blockquote,
  .grid-item.grid-03 .overheard.mod-quote.mod-xlarge blockquote {
    font-size: 32px;
  }
}
@media (min-width: 1065px) and (max-width: 1199px) {
  .grid-item.grid-03 .overheard.mod-quote.mod-large blockquote,
  .grid-item.grid-03 .overheard.mod-quote.mod-xlarge blockquote {
    font-size: 22px;
  }
}
.overheard.mod-quote.mod-xlarge blockquote {
  font-size: 28px;
}
@media (min-width: 870px) and (max-width: 1064px), (min-width: 580px) and (max-width: 767px) {
  .grid-item.grid-03 .overheard.mod-quote.mod-xlarge blockquote {
    font-size: 40px;
  }
}
@media (min-width: 768px) and (max-width: 869px), (min-width: 510px) and (max-width: 579px) {
  .grid-item.grid-03 .overheard.mod-quote.mod-xlarge blockquote {
    font-size: 36px;
  }
}
@media (min-width: 1065px) and (max-width: 1199px) {
  .grid-item.grid-03 .overheard.mod-quote.mod-xlarge blockquote {
    font-size: 26px;
  }
}
.overheard.mod-quote.mod-regular blockquote {
  font-family: "Trade Gothic W01 Roman";
}
.overheard.mod-quote.mod-bold blockquote {
  font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.overheard.mod-dark-gray-text,
.overheard.mod-black-text,
.overheard.mod-red-text,
.overheard.mod-dark-red-text {
  background: #EDEDED;
}
.overheard.mod-light-gray-bg {
  color: #333;
  background-image: url('/assets/images/overheard-bg-gray.png');
}
.overheard.mod-dark-gray-bg {
  background: #333;
}
.overheard.mod-black-bg {
  background: #000;
}
.overheard.mod-red-bg {
  background: #a12121;
}
.overheard.mod-white-bg {
  color: #333;
  background: #fff;
}
.overheard.mod-gold-bg {
  background-image: url('/assets/images/overheard-bg-gold.png');
}
.overheard.mod-light-gray-text {
  color: #EDEDED;
}
.overheard.mod-dark-gray-text {
  color: #333;
}
.overheard.mod-black-text {
  color: #000;
}
.overheard.mod-red-text {
  color: #a12121;
}
.overheard.mod-dark-red-text {
  color: #72021B;
}
.overheard.mod-white-text {
  color: #fff;
}
.overheard.mod-gold-text {
  color: #faba4b;
}
.mod-dark-red-footer-text .overheard-footer,
.mod-red-footer-text .overheard-footer,
.mod-dark-gray-footer-text .overheard-footer {
  background-color: #fff;
}
.mod-black-footer .overheard-footer {
  color: #fff;
  background-color: #000;
}
.mod-dark-gray-footer .overheard-footer {
  color: #fff;
  background-color: #333;
}
.mod-light-gray-footer .overheard-footer {
  color: #333;
  background-color: #EDEDED;
}
.mod-white-footer .overheard-footer {
  color: #333;
  background-color: #fff;
  border: 1px solid #eee;
}
.mod-gold-footer .overheard-footer {
  color: #333;
  background-color: #faba4b;
}
.mod-dark-red-footer-text .overheard-footer {
  color: #72021B;
}
.mod-red-footer-text .overheard-footer {
  color: #a12121;
}
.mod-dark-gray-footer-text .overheard-footer {
  color: #333;
}
.mod-light-gray-footer-text .overheard-footer {
  color: #EDEDED;
}
.overheard.mod-opaque blockquote:before,
.overheard.mod-opaque blockquote:after {
  opacity: 1;
}
.overheard.mod-quote.mod-photo {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overheard.mod-quote.mod-photo .overheard-inner:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/* Dots */
.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
  background: #869791;
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.overheard-carousel {
  width: 100%;
  margin: -2px;
}
.overheard-carousel .owl-item {
  padding: 2px;
}
.overheard-carousel .owl-dots {
  margin-top: 6px;
}
.overheard-carousel .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 4px;
  background-color: #ccc;
}
.overheard-carousel .owl-dot.active span,
.overheard-carousel .owl-dot:hover span {
  background: #a12121;
}
