// Styling for Overheard elements in Alumni section


// Fonts: SCU Alumni additional web fonts
//----------------------------------------
@font-face{
font-family:"Trade Gothic W01 Bold";
src:url("/css/assets/fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix");
src:url("/css/assets/fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"),url("/css/assets/fonts/d2e623ca-efc6-4557-ae55-ebb786065dcf.woff2") format("woff2"),url("/css/assets/fonts/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"),url("/css/assets/fonts/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"),url("/css/assets/fonts/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg");
}



// Colors
//---------------------------------------
@red: #a12121;
@gray: #524a48;
@gold: #faba4b;


// Global styles
//---------------------------------------

// Remove demo container for live site
.overheard-demo-container {
  margin-left: 16px;

  > h2 {
    margin-top: 100px;
    margin-bottom: 70px;
  }

  > p {
    font-size: 15px;
    margin: 15px 0 70px;
    color: #777;
  }
}

.overheard {
  width: 320px;
}

.overheard-title {
  position: relative;
  margin: 0;
  padding: 3px 0 2px 62px;
  color: @gray;
  font-size: 16px;
  font-family: "Trajan W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;

  // Icon
  &:before {
    z-index: 1;
    content:'';
    display: block;
    position: absolute;
    left: -16px;
    top: 50%;
    width:74px;
    height: 74px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url('/assets/images/overheard-icon.png') center no-repeat;
    background-size: contain;
  }

  // Overheard
  strong {
    color: @red;
    font-family: "Trajan W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 28px;
  }

  // @ symbol
  span {
    padding: 0 2px;
  }
}

.overheard-box {
  position: relative;
  height: 250px;
  border: 3px solid #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);

  // default background
  background: url('/assets/images/overheard-bg-red-diagonal-vignette.png') center/cover no-repeat;

  // default color
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overheard-footer {
  position: absolute;
  bottom: 0;
  left:0;

  img {
    max-width: 100%;
  }
}




// Illuminate styles
//---------------------------------------
.overheard.mod-illuminate {

  // Large font option for shorter quotes
  &.mod-large {
    blockquote {
      padding-top: 40px;
      font-size: 25px;
      line-height: 1.2;
      font-family:"Trade Gothic W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;

      &:before {
        top: 30px;
      }
    }
  }

  // Quote
  blockquote {
    position:relative;
    margin: 0;
    padding: 28px 45px;
    border: none;
    font-size: 18px;

    &:before {
      content:'';
      display: block;
      position: absolute;
      left: -1px;
      top: 15px;
      width: 50px;
      height: 41px;
      background: url('/assets/images/overheard-quote-left.png') center no-repeat;
      background-size: contain;
      opacity:0.5;
    }

    &:after {
      content:'';
      display: block;
      position: absolute;
      right: -1px;
      bottom: 20px;
      width: 50px;
      height: 41px;
      background: url('/assets/images/overheard-quote-right.png') center no-repeat;
      background-size: contain;
      opacity:0.5;
    }
  }
}






// Color Options
//---------------------------------------
.overheard.mod-gold-on-red {

  .overheard-box {
    background-image: url('/assets/images/overheard-bg-red-diagonal.png');
    color: @gold;
  }
}
