@font-face {
  font-family: "Trade Gothic W01 Bold";
  src: url("/css/assets/fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix");
  src: url("/css/assets/fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"), url("/css/assets/fonts/d2e623ca-efc6-4557-ae55-ebb786065dcf.woff2") format("woff2"), url("/css/assets/fonts/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"), url("/css/assets/fonts/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"), url("/css/assets/fonts/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg");
}
.overheard-demo-container {
  margin-left: 16px;
}
.overheard-demo-container > h2 {
  margin-top: 50px;
  margin-bottom: 70px;
}
.overheard-demo-container > p {
  font-size: 15px;
  margin: 25px 0 10px;
  color: #777;
}
.overheard-demo-container > code {
  display: inline-block;
  margin-bottom: 70px;
}
.overheard {
  width: 320px;
}
.overheard-title {
  position: relative;
  margin: 0;
  padding: 3px 0 2px 62px;
  color: #524a48;
  font-size: 16px;
  font-family: "Trajan W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
}
.overheard-title:before {
  z-index: 2;
  content: '';
  display: block;
  position: absolute;
  left: -16px;
  top: 50%;
  width: 74px;
  height: 74px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url('/assets/images/overheard-icon.png') center no-repeat;
  background-size: contain;
}
.overheard-title strong {
  color: #a12121;
  font-family: "Trajan W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 28px;
}
.overheard-title span {
  padding: 0 2px;
}
/* Overheard box can be a div or anchor element */
.overheard-box {
  display: block;
  position: relative;
  height: 250px;
  border: 3px solid #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
  background: url('/assets/images/overheard-bg-red-diagonal-vignette.png') center / cover no-repeat;
  color: #ffffff;
}
.overheard-box:hover {
  color: #ffffff;
  text-decoration: none;
  -webkit-filter: brightness(1.15);
  filter: brightness(1.15);
}
.overheard-main {
  z-index: 1;
  position: relative;
}
.overheard-footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.overheard-footer img {
  max-width: 100%;
}
.overheard-footer p {
  margin: 0;
}
.overheard-footer a {
  text-decoration: underline;
  color: #ffffff;
}
.overheard.mod-quote blockquote {
  position: relative;
  margin: 0;
  padding: 28px 43px;
  border: none;
  font-size: 18px;
  font-family: "Trade Gothic W01 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.overheard.mod-quote blockquote:before,
.overheard.mod-quote blockquote:after {
  display: block;
  position: absolute;
  opacity: 0.5;
  font-size: 90px;
  line-height: 1;
  font-family: "BauerBodoniW01-BlackIta", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
}
.overheard.mod-quote blockquote:before {
  content: '\0201C';
  left: -8px;
  top: 10px;
}
.overheard.mod-quote blockquote:after {
  content: '\0201D';
  right: 6px;
  bottom: -10px;
}
.overheard.mod-quote.mod-large blockquote,
.overheard.mod-quote.mod-xlarge blockquote {
  padding-top: 40px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: normal;
  font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.overheard.mod-quote.mod-large blockquote:before,
.overheard.mod-quote.mod-xlarge blockquote:before {
  top: 28px;
}
.overheard.mod-quote.mod-xlarge blockquote {
  font-size: 28px;
}
.overheard.mod-facebook .overheard-footer {
  padding: 9px 20px 9px 45px;
  background-color: #35569C;
}
.overheard.mod-facebook .overheard-footer:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: url('/assets/images/social-media/facebook-64.png') center / contain no-repeat;
}
.overheard.mod-photo .overheard-footer {
  padding: 9px 10px;
  background-color: #a12121;
  text-align: center;
}
.overheard.mod-quote.mod-photo .overheard-box {
  position: relative;
  background-size: cover;
  background-position: center;
}
.overheard.mod-quote.mod-photo .overheard-box:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.overheard.mod-gray-on-gray .overheard-box {
  background-image: url('/assets/images/overheard-bg-gray.png');
  color: #333333;
}
.overheard.mod-red-on-gray .overheard-box {
  background-image: url('/assets/images/overheard-bg-gray.png');
  color: #72021b;
}
.overheard.mod-gold-on-gray .overheard-box {
  background-image: url('/assets/images/overheard-bg-gray.png');
  color: #f2ab1d;
}
.overheard.mod-white-on-gold .overheard-box {
  background-image: url('/assets/images/overheard-bg-gold.png');
  color: #ffffff;
}
.overheard.mod-gold-on-red .overheard-box {
  background-image: url('/assets/images/overheard-bg-red-diagonal.png');
  color: #faba4b;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
.owl-carousel {
  width: 340px;
}
.owl-carousel .overheard {
  width: 320px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
}
