// Styling for Overheard elements in SCU Alumni section


// Fonts
//----------------------------------------

// Additional fonts from SCU Alumni web font project
@font-face{
font-family:"Trade Gothic W01 Roman";
src:url("/css/assets/fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix");
src:url("/css/assets/fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix") format("eot"),url("/css/assets/fonts/7b555e94-d57a-415e-a36e-1b0c5d3b90d2.woff2") format("woff2"),url("/css/assets/fonts/c4aef0d4-bfcf-4790-acf5-909881f411e8.woff") format("woff"),url("/css/assets/fonts/e741f29c-bc18-4343-bff3-db2465a0be3e.ttf") format("truetype"),url("/css/assets/fonts/853e2a9b-4057-42a5-ad7e-0762cda0b13c.svg#853e2a9b-4057-42a5-ad7e-0762cda0b13c") format("svg");
}
@font-face{
font-family:"Trade Gothic W01 Bold";
src:url("/css/assets/fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix");
src:url("/css/assets/fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"),url("/css/assets/fonts/d2e623ca-efc6-4557-ae55-ebb786065dcf.woff2") format("woff2"),url("/css/assets/fonts/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"),url("/css/assets/fonts/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"),url("/css/assets/fonts/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg");
}




// Colors
//---------------------------------------
@white: #fff;
@black: #000;

@red: #a12121;
@dark-red: #72021B;

@light-gray: #EDEDED;
@gray: #524a48;
@dark-gray: #333;

@gold: #faba4b;
@dark-gold: #F2AB1D;




// Breakpoints
//---------------------------------------

@xs-screen: ~"only screen and (max-width: 360px)"; // iPhone 5





// Global styles
//---------------------------------------

// Demo container: not needed for live site
.overheard-demo-container {
  margin-left: 16px;

  > div > h2 {
    margin-top: 60px;
    margin-bottom: 70px;
    text-decoration: underline;
  }

  > div > p {
    font-size: 15px;
    margin: 25px 0 10px;
    color: #777;
  }

  > div > code {
    display: inline-block;
    margin-bottom: 70px;
  }
}


// "OVERHEARD @ SCU" title
.overheard-title {
  width: 100%;
  position: relative; // contains icon
  margin-top: 16px; // space for icon
  margin-bottom: 0;
  padding: 3px 0 2px 62px;
  color: @gray;
  font-size: 16px;
  font-family: "Trajan W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;

  // Icon
  &:before {
    z-index: 2; // above everything
    content:'';
    display: block;
    position: absolute;
    left: -16px;
    top: -16px;
    width:74px;
    height: 74px;
    background: url('/assets/images/overheard-icon.png') center no-repeat;
    background-size: contain;
  }

  // "Overheard"
  strong {
    color: @red;
    font-family: "Trajan W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 28px;
  }

  // "@" symbol
  span {
    padding: 0 2px;
  }

  // Move title left on smallest screens
  @media @xs-screen {
    margin-left: -15px;
    padding-left: 41px;
    
    // Icon
    &:before {
      width:58px;
      height: 58px;
    }
      
    // "@" symbol
    span {
      padding: 0 1px;
    }
  }
}


// Overheard box can be a div or anchor element
.overheard {
  display: block;
  position: relative; /* contains blockquote, footer and photos */
  width: 100%;
  border: 3px solid @white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);

  // Default background
  background: url('/assets/images/overheard-bg-red-diagonal-vignette.png') center/cover no-repeat;

  // Default color
  color: @white;
  
  // Hover state
  &:hover,
  &:focus {
    color: @white;
    text-decoration: none;
    -webkit-filter: brightness(1.15);
            filter: brightness(1.15);
  }
  
  // Aspect Ratio
  &:before {
    content: '';
		display: block;
		position: relative;
		z-index: -1;
		width: 100%;
		padding-top: 76.6%; // use this to set the height of the box relative to the width
  }

  // Move left to fit on smallest screens
  @media @xs-screen {
    margin-left: -10px;
  }
}

// Overheard child elements sit inside inner container to preserved the aspect ratio
.overheard-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Overheard link covers entire box
.overheard-link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.overheard-footer {
  position: absolute;
  top: auto;
  bottom: 0;
  left:0;
  width: 100%;
  font-size: 15px;
  -webkit-font-smoothing: antialiased; // smooth text because font is small
  -moz-osx-font-smoothing: grayscale;


  // Default citation box styling
  padding: 9px 10px;
  color: @white;
  background-color: @red;
  text-align: center;

  p {
    margin: 0;
  }

  a {
    text-decoration: underline;
    color: inherit;
  }

  img {
    display: inline-block;
    max-width: 100%;
    width: auto;
  }


  // Hide empty footers -- empty footers must not contain whitespace
  &:empty {
    display: none;
  }
}







// Illuminate Blog Posts
//---------------------------------------

.overheard.mod-illuminate {

  .overheard-footer {
    padding: 0;
    pointer-events: none; // clicks pass through to overheard link
    background-color: #221E20;
  }
}






// Social Posts
//---------------------------------------

.social-footer() {

  .overheard-footer {
    padding: 9px 20px 9px 45px;
    text-align: left;

    // Social Icon
    &:before {
      content:'';
      display: block;
      position: absolute;
      left:8px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 32px;
      height: 32px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

}


.overheard.mod-facebook {

  .social-footer;

  .overheard-footer {
    background-color: #35569C;

    // Facebook icon
    &:before {
      background-image: url('/assets/images/social-media/facebook-64.png');
    }
  }
}


.overheard.mod-linkedin {

  .social-footer;

  .overheard-footer {
    background-color: #007ab8;

    // LinkedIn icon
    &:before {
      background-image: url('/assets/images/social-media/linkedin-64.png');
    }
  }
}


.overheard.mod-twitter {

  .social-footer;

  .overheard-footer {
    background-color: #007ab8;

    // Twitter icon
    &:before {
      background-image: url('/assets/images/social-media/twitter-64.png');
    }
  }
}


.overheard.mod-illuminate-caption {

  .social-footer;

  .overheard-footer {
    background-color: #201E1F;

    // Illuminate icon
    &:before {
      background-image: url('/assets/images/overheard-illuminate-icon.png');
      -webkit-transform: translateY(-62%);
      transform: translateY(-62%);
    }
  }
}


.overheard.mod-flickr {
  .social-footer;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .overheard-footer {
    background-color: #ff0084;
    -webkit-font-smoothing: subpixel-antialiased; // unsmooth text
    -moz-osx-font-smoothing: auto;

    // Flickr icon
    &:before {
      background-image: url('/assets/images/social-media/flickr-64.png');
      background-size: 22px;
    }
  }
}


.overheard.mod-instagram {
  .social-footer;

  .overheard-footer {
    background-color: #833ab4;

    // Instagram icon
    &:before {
      background-image: url('/assets/images/social-media/instagram-64.png');
    }
  }

  // Instagram photo
  .overheard-image {
    pointer-events: none;
    z-index: 1; // above footer, below overheard icon
    position: absolute;
    left: 50%;
    top: 6px;
    max-width: 100%;
    max-height: 78%;
    height: auto;
    -webkit-transform: translateX(-50%) rotateZ(-7deg);
            transform: translateX(-50%) rotateZ(-7deg);
    border: 3px solid @white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  }
}


.overheard.mod-youtube {
  .social-footer;

  .overheard-footer {
    background-color: #cd201f;

    // Youtube icon
    &:before {
      background-image: url('/assets/images/social-media/youtube-64.png');
      background-size: 24px;
    }
  }
}


.overheard.mod-vimeo {
  .social-footer;

  .overheard-footer {
    background-color: #1ab7ea;

    // Vimeo icon
    &:before {
      background-image: url('/assets/images/social-media/vimeo-64.png');
      background-size: 22px;
    }
  }
}






// Photo Posts
//---------------------------------------

.overheard.mod-photo {

  // Default horizontal photo
  overflow: hidden;


  // Hide content until styling classes are applied
  .overheard-image,
  .overheard-caption,
  .overheard-footer {
    opacity:0;
    -webkit-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }

  &.is-visible {
    .overheard-image,
    .overheard-caption,
    .overheard-footer {
      opacity: 1;
    }
  }


  .overheard-image {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    width: 100%;
    height: auto;
    pointer-events: none; // clicks pass through to overheard link
  }

  // Wide photo
  &.mod-wide {

    .overheard-image {
      height: 100%;
      width: auto;
    }
  }


  // Vertical photo
  &.mod-vertical {
    overflow: visible;

    .overheard-image {
      z-index: 1; // above footer, below overheard icon
      position: absolute;
      left: 0;
      top: -4px;
      max-width: 50%;
      max-height: 85%;
      width: auto;
      height: auto;
      -webkit-transform: rotateZ(-7deg);
              transform: rotateZ(-7deg);
      border: 3px solid @white;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    }

    // Attribution
    .overheard-caption {
      float: right; // set left margin with JS
      margin-top: 45px;
      margin-right: 25px;
      font-size: 15px;
      -webkit-font-smoothing: antialiased; // smooth text because font is small
      -moz-osx-font-smoothing: grayscale;
      
      // Adjustments for larger and smaller Overheard box
  		.grid-item.grid-03 & {
    		
    		@media (min-width: 870px) and (max-width:1064px),
    		(min-width:580px) and (max-width:767px) {
          font-size: 22px;
        }
        
    		@media (min-width: 768px) and (max-width:869px),
    		(min-width:510px) and (max-width:579px) {
          font-size: 19px;
        }
        
    		@media (min-width: 1065px) and (max-width:1199px) {
          font-size: 16px;
        }
      }
    }

    // Vertical photos are larger when there's no citation (citation box detected via JS)
    &.mod-large-photo {

      .overheard-image {
        max-height: 103%;
      }
    }

    // Remove background on horizontal photos only
    &:not(.mod-vertical) {
      // Prevents issue where line of background shows below footer on hover
      background: none;  
    }
  }
}






// Video Posts
//---------------------------------------

.overheard.mod-video {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // Large video icon
  .overheard-link:after {
    z-index: 1; // above photo
    content:"";
    position: absolute;
    top:44.5%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    width: 105px;
    height: 105px;
    background: url('/assets/images/overheard-video-icon.png') center/105px no-repeat;
  }

  // Feature treatment with small play icon
  &.mod-feature {

    // Small video icon
    a:after {
      top: auto;
      left: auto;
      bottom: 12px;
      right: 12px;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      width: 44px;
      height: 44px;
      background-size: 44px;
    }
  }
}





// Feature Posts (applies to videos)
//-----------------------------------
.overheard.mod-feature {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // Darken background photo
  .overheard-inner:before {
    content:'';
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 21, 21, 0.65);
  }

  // Lighten background on hover
  &:hover,
  &:focus {
    &:before {
      background-color: rgba(66, 21, 21, 0.6);
    }
  }

  .overheard-feature-header,
  .overheard-feature-title,
  .overheard-feature-summary {
    z-index: 2; // text goes above dark panel
    position: relative;
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    color: @white;
    pointer-events: none; // clicks pass through to video link
  }

  .overheard-feature-header {
    padding-top: 28px;
    padding-bottom: 9px;
    text-transform: uppercase;
    font-size: 14px;
    font-family:"Trade Gothic W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased; // smooth bold fonts
    -moz-osx-font-smoothing: grayscale;
  }

  .overheard-feature-title {
    margin: 0;
    text-transform: none;
    font-size: 36px;
    font-family:"Trade Gothic W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .overheard-feature-summary {
    padding-top: 15px;
    font-size: 20px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased; // smooth text
    -moz-osx-font-smoothing: grayscale;
  }
  
  // Adjustments for larger and smaller Overheard box
	.grid-item.grid-03 & {
		
		@media (min-width: 870px) and (max-width:1064px),
    		(min-width:580px) and (max-width:767px) {
  		
		  .overheard-feature-header {
  		  font-size: 19px;
  		}
			
		  .overheard-feature-title {
  		  font-size: 44px;
  		}
  		
		  .overheard-feature-summary {
  		  font-size: 25px;
  		}
    }
    
        
		@media (min-width: 768px) and (max-width:869px),
		(min-width:510px) and (max-width:579px) {
  		
		  .overheard-feature-header {
  		  font-size: 17px;
  		}
			
		  .overheard-feature-title {
  		  font-size: 40px;
  		}
  		
		  .overheard-feature-summary {
  		  font-size: 21px;
  		}
    }
    
    
		@media (min-width: 1065px) and (max-width:1199px) {
    	.overheard-feature-header {
  		  font-size: 12px;
  		}
			
		  .overheard-feature-title {
  		  font-size: 30px;
  		}
  		
		  .overheard-feature-summary {
  		  padding-top: 11px;
  		  font-size: 17px;
  		}
    }
  }
}





// Quotes
//---------------------------------------

.overheard.mod-quote {

  // Quote
  blockquote {
    position: relative; // contains curly quotes
    margin: 0;
    padding: 28px 41px 15px 50px;
    border: none;
    font-size: 18px;
    font-family: "Trade Gothic W01 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: none; // clicks pass through to overheard link
    
    
    // Adjustments for larger and smaller Overheard box
		.grid-item.grid-03 & {
  		
  		@media (min-width: 870px) and (max-width:1064px),
    		(min-width:580px) and (max-width:767px) {
        padding: 38px 51px 25px 60px;
        font-size: 27px;
      }
        
  		@media (min-width: 768px) and (max-width:869px),
  		(min-width:510px) and (max-width:579px) {
        padding: 32px 46px 20px 55px;
        font-size: 24px;
      }
      
			@media (min-width: 1065px) and (max-width:1199px) {
		    padding: 25px 38px 12px 47px;
        font-size: 16px;
  		}
		}
  }

  // Curly quotes
  blockquote:before,
  blockquote:after {
    display: block;
    position: absolute;
    font-size: 89px;
    line-height: 1;
    font-family: "BauerBodoniW01-BlackIta", Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased; // smoothing looks better
    -moz-osx-font-smoothing: grayscale;

    // Default curly quote color and opacity
    color: inherit;
    opacity:0.5;
    
    // Adjustments for larger and smaller Overheard box
		.grid-item.grid-03 & {
  		
  		@media (min-width: 870px) and (max-width:1064px),
    		(min-width:580px) and (max-width:767px) {
        font-size: 109px;
      }
      
  		@media (min-width: 768px) and (max-width:869px),
  		(min-width:510px) and (max-width:579px) {
				font-size: 99px;
      }
      
			@media (min-width: 1065px) and (max-width:1199px) {
		   	font-size: 85px;
  		}
		}
  }

  blockquote:before {
    content:'\0201C';
    left: -5px;
    top: 10px;
  }

  blockquote:after {
    content:'\0201D';
    right: 6px;
    bottom: -34px;
  }

  // Attribution
  .overheard-attribution {
    float: right;
    text-align: right;
    padding-right: 42px;
    font-size: 13px;
    
    // Adjustments for larger and smaller Overheard box
		.grid-item.grid-03 & {
  		
  		@media (min-width: 870px) and (max-width:1064px),
    		(min-width:580px) and (max-width:767px) {
        font-size: 18px;
      }
      
  		@media (min-width: 768px) and (max-width:869px),
  		(min-width:510px) and (max-width:579px) {
				font-size: 16px;
      }
      
			@media (min-width: 1065px) and (max-width:1199px) {
		   	font-size: 12px;
  		}
    }
  }


  // Font Options

  // Large font options for shorter quotes
  &.mod-large,
  &.mod-xlarge {
    blockquote {
      padding-top: 40px;
      font-size: 24px;
      line-height: 1.2;
      font-weight: normal;
      font-family:"Trade Gothic W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased; // smooth bold fonts
      -moz-osx-font-smoothing: grayscale;

      &:before {
        top: 26px;
      }
      
      // Adjustments for larger and smaller Overheard box
  		.grid-item.grid-03 & {
    		
    		@media (min-width: 870px) and (max-width:1064px),
    		(min-width:580px) and (max-width:767px) {
          font-size: 36px;
        }
        
    		@media (min-width: 768px) and (max-width:869px),
    		(min-width:510px) and (max-width:579px) {
  				font-size: 32px;
        }
        
  			@media (min-width: 1065px) and (max-width:1199px) {
  		   	font-size: 22px;
    		}
  		}
    }
  }

  // Extra large font option
  &.mod-xlarge {
    blockquote {
      font-size: 28px;
      
      // Adjustments for larger and smaller Overheard box
  		.grid-item.grid-03 & {
    		
    		@media (min-width: 870px) and (max-width:1064px),
    		(min-width:580px) and (max-width:767px) {
          font-size: 40px;
        }
        
    		@media (min-width: 768px) and (max-width:869px),
    		(min-width:510px) and (max-width:579px) {
  				font-size: 36px;
        }
        
  			@media (min-width: 1065px) and (max-width:1199px) {
  		   	font-size: 26px;
    		}
      }
    }		
  }

  // Trade Gothic Regular font option
  &.mod-regular {
    blockquote {
      font-family:"Trade Gothic W01 Roman";
    }
  }
  
  // Trade Gothic Bold font option
  &.mod-bold {
    blockquote {
      font-family:"Trade Gothic W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased; // smooth bold fonts
      -moz-osx-font-smoothing: grayscale;
    }
  }
}





// Default Background Color for Dark Text Options
//-------------------------------------------------

// Place this above background color options so it can be overriden
.overheard.mod-dark-gray-text,
.overheard.mod-black-text,
.overheard.mod-red-text,
.overheard.mod-dark-red-text {
  background: @light-gray;
}




// Background Color Options
//---------------------------------------

.overheard.mod-light-gray-bg {
  color: @dark-gray;
  background-image: url('/assets/images/overheard-bg-gray.png');
}

.overheard.mod-dark-gray-bg {
  background: @dark-gray;
}

.overheard.mod-black-bg {
  background: @black;
}

.overheard.mod-red-bg {
  background: @red;
}

.overheard.mod-white-bg {
  color: @dark-gray;
  background: @white;
}

.overheard.mod-gold-bg {
  background-image: url('/assets/images/overheard-bg-gold.png');
}





// Text Color Options
//---------------------------------------

.overheard.mod-light-gray-text {
  color: @light-gray;
}

.overheard.mod-dark-gray-text {
  color: @dark-gray;
}

.overheard.mod-black-text {
  color: @black;
}

.overheard.mod-red-text {
  color: @red;
}

.overheard.mod-dark-red-text {
  color: @dark-red;
}

.overheard.mod-white-text {
  color: @white;
}

.overheard.mod-gold-text {
  color: @gold;
}





// Footer Color Options
//---------------------------------------

// Default footer background for dark text
// Place this above footer background options so it can be overriden

.mod-dark-red-footer-text,
.mod-red-footer-text,
.mod-dark-gray-footer-text {

  .overheard-footer {
    background-color: @white;
  }
}


// Footer background color options
.mod-black-footer {

  .overheard-footer {
    color: @white;
    background-color: @black;
  }
}


.mod-dark-gray-footer {

  .overheard-footer {
    color: @white;
    background-color: @dark-gray;
  }
}


.mod-light-gray-footer {

  .overheard-footer {
    color: @dark-gray;
    background-color: @light-gray;
  }
}


.mod-white-footer {

  .overheard-footer {
    color: @dark-gray;
    background-color: @white;
    border: 1px solid #eee;
  }
}


.mod-gold-footer {

  .overheard-footer {
    color: @dark-gray;
    background-color: @gold;
  }
}


.mod-dark-red-footer-text {
  
  .overheard-footer {
    color: @dark-red;
  }
}


.mod-red-footer-text {
  
  .overheard-footer {
    color: @red;
  }
}


.mod-dark-gray-footer-text {
  
  .overheard-footer {
    color: @dark-gray;
  }
}

.mod-light-gray-footer-text {
  
  .overheard-footer {
    color: @light-gray;
  }
}






// Additional Quote Options
//---------------------------------------

// Opaque quotation marks
.overheard.mod-opaque {
  blockquote:before,
  blockquote:after {
    opacity:1;
  }
}


// Quote on top of darkened photo
.overheard.mod-quote.mod-photo {

  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // Darken background photo
  .overheard-inner:before {  // :before element sits above background, but under text and footer
    content:'';
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}






// Carousel styles
//---------------------------------------------

// Include owl carousel plugin styles as a LESS import (prevents parallel css downloads)

@import "owl-carousel.less";


// Additional custom carousel styles

.overheard-carousel {
  width: 100%;
  margin: -2px; // removes space from shadow

  .owl-item {
    padding: 2px; // space for shadow
  }

  .owl-dots {
    margin-top: 6px;
  }

  .owl-dot {

    span {
      width: 12px;
      height: 12px;
      margin: 5px 4px;
      background-color: #ccc;
    }

    &.active,
    &:hover {
      span {
        background: @red;
      }
    }
  }
}