@import 'bootstrap/variables';

// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components
// Tables
// Buttons
// Forms
// Dropdowns
// Z-index master list
// Navbar
// Navs
// Pagination
// Jumbotron
// Form states and alerts
// Cards
// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code

// Colors

$brand-primary:             #b30738;
$brand-success:             #058a16;
$brand-info:                #2e6bff;
$brand-warning:             #f39237;
$brand-danger:              #e91541;


// Fonts

// TODO: Font stack for text utility classes (deprecated)
$serif-font: "Bauer Bodoni W01 Italic";
$serif-bold-font: "BauerBodoniW01-BlackIta";
$sans-serif-font: "Trade Gothic Next W01";
$sans-serif-light-font: "Trade Gothic W01 Light";
$sans-serif-bold-font: "Trade Gothic W01 Bold_2";
$sans-serif-italic-font: "TradeGothicNextW01-Ital";
$sans-serif-bold-italic-font: "TradeGothicW01-Bold2Obl";
$trajan-font: "Trajan W01 Regular";

// Overrides for Bootstrap
$font-family-sans-serif: $sans-serif-font, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:      $serif-font, Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;
$headings-font-family:   $sans-serif-bold-font;


// Links

$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);


// Pagination

$pagination-color: $gray-light;

$pagination-active-border: $gray-lighter;
