/// First, load Bootstrap in the order of: our custom 'override' variables after Bootstrap's default variables, then
/// Bootstrap's components.  Inside `variables.scss`, we load `bootstrap/variables` (the default variables).
///
/// By using this order, Bootstrap knows to use our colors, etc. for its components.

// Bootstrap
@import 'variables';
@import 'components';

// Custom breakpoints
// Short desktop windows (netbook, etc.)
$screen-short: 900px;
$screen-xshort: 600px;

// Wordmark class adds responsive letter spacing
.wordmark {
  letter-spacing: 3px;

  @include media-breakpoint-down(xs) {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

// TODO Probably not necessary anymore
// sass-lint:disable no-vendor-prefixes
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2 / 1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
      @content;
  }
}
// sass-lint:enable no-vendor-prefixes

// SCU typography
@import 'partials/typography';

// Headers and footer
@import 'partials/headers';
@import 'partials/subheaders';
@import 'partials/footer';

// Templates and layouts
@import 'partials/homepage';
@import 'partials/templates';
@import 'partials/heroes';

// Site modules
@import 'partials/breadcrumb';
@import 'partials/sidebar-navigation';
@import 'partials/can-we';
@import 'partials/switcher';
@import 'partials/featured-story';
@import 'partials/events';
@import 'partials/video';
@import 'partials/single-image-with-link';
@import 'partials/announcement';
@import 'partials/related-links';
@import 'partials/buttons';
@import 'partials/social';
@import 'partials/infographics';
@import 'partials/windowpane';
@import 'partials/statcard';
@import 'partials/text-ribbon';
@import 'partials/block';
@import 'partials/backgrounds';
@import 'partials/person-spotlight';
@import 'partials/pull-quote';

// Search results
@import 'partials/search';

// Utility classes
@import 'partials/utility-classes';
