@import 'bootstrap/variables';

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Reassign color vars to semantic color scheme
$brand-primary:             #b30738;
$brand-success:             #058a16;
$brand-info:                #2e6bff;
$brand-warning:             #f39237;
$brand-danger:              #e91541;


