.cover-image {
  background-color: $gray-100;

  .cover-content {
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;

    @include media-breakpoint-up(sm) {
      padding-top: 7.5rem;
    }
  }

  .cover-image-title {
    @extend .display-2;

    text-shadow: 0 -2px 3px rgba($black, .5);
  }
}
