// --- start --- new video homepage code

$viewport: calc(100vh - 100px);

.video-container {
  min-height: 175vh; // enables video container to "hold" onto scroll a little longer
  position: relative;

  .sticky {
    height: $viewport;
    position: sticky;
    top: 0;
  }

  // the overlay that can "fade" into the background (faded: rgba(0,0,0,.01))
  .fadeable {
    height: $viewport;
    width: 100%;

    .overlay {
      background: $black;
      height: 100%;
      opacity: .01;
      position: absolute;
      width: 100%;
    }
  }

  h2 {
    animation-duration: 1s;

    @include media-breakpoint-down(md) {
      font-size: 3rem;
    }
  }

  .actions {
    opacity: 0;
  }

  video {
    background-size: cover;
    height: 100vh;
    object-fit: fill;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    + div {
      height: $viewport;
      width: 100%;
    }

    .video-snapshot {
      @extend video;
    }
  }

  // icons that are fixed to the bottom of .video-container
  .video-controls {
    color: darken($white, 25%);
    cursor: pointer;
    font-size: 2em;
    height: auto;
    position: fixed;
    right: 0;
    bottom: 2rem;
    left: 0;
    text-align: center;

    @include media-breakpoint-down(md) {
      color: $white;
    }

    &:hover {
      color: $white;
    }
  }
}

// forces homepage blocks to full width
.block {
  max-width: 100%;
  width: 100%;
}

// ---homepage content specific stuff

.academics .d-block {
  white-space: normal;
}

.story-pane {
  min-height: 350px;
  background-size: cover;
  overflow: hidden;
}

// ---homepage content specific stuff

// prevents .video-controls appearing over footer
footer {
  position: relative;
}

// --- end --- new video homepage code

.homepage {
  background-color: darken($white, 2%);
  box-sizing: border-box;
  width: 100%;
}

.section-header {
  border-bottom: 3px double $gray-200;
  height: .75em;
  margin-bottom: 1.5em;
  overflow: visible;
  text-align: center;

  h3 {
    background-color: darken($white, 2%);
    color: $gray-700;
    display: inline-block;
    font-size: 1em;
    margin-bottom: 0;
    padding: 0 .5em;
  }
}

.news.module {
  .media a {
    width: 40%;
  }
}

// sass-lint:disable class-name-format
.lw_cal_today_day {
  @extend .serif-font-bold;
}
// sass-lint:enable class-name-format

// Intro Paragraphs
// sass-lint:disable no-ids
.intro {
  @extend .lead;

  @include media-breakpoint-up(md) {
    .subheader.tall + .container#content & {
      background: rgba($white, .9);
      border: 1px solid #ccc;
      font-size: 28px;
      line-height: 1.5;
      margin: -78px 0 30px;
      padding: 12px 15px;
    }
  }
}
// sass-lint:enable no-ids
