---
title: Academics
layout: demo
---

<div class="container mt-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item">Academics</li>
  </ol>
</div>
<style type="text/css">
  .degree-program {
    background-color: #e0e0e0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0 .2rem .2rem 0;
    width: 33%;
  }

  .degree-program.collapsed {
    background-color: #ececec;
    color: #000;
  }

  .degree-program.collapsed:hover {
    background-color: #e0e0e0;
  }

  #navbarAcademicsDegrees .nav-link {
    color: #c5083d;
  }

  #navbarAcademicsDegrees .nav-link:hover {
    color: #fff;
  }

  @media screen and (max-width: 767px) {
    .degree-program {
      margin: 0 0 .2rem;
      width: 100%;
    }

    #degreeProgramContainer {
      height: 80vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  @media screen and (min-width: 768px) {
    #searchDegree {
      min-width: 20rem;
    }

    .container-flex {
      margin: 0 auto;
      max-width: 1140px;
    }
  }
</style>
<div class="container">
  <div class="block text-center">
    <h1 class="block-title">Prepare to be pushed</h1>
    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue venenatis neque vitae ultrices. Nullam pellentesque tortor orci. Aenean in sem risus. Proin dignissim pretium lectus sed tincidunt. Suspendisse ac odio ex. Phasellus sed faucibus nisl, vel cursus erat. Pellentesque sodales odio et consectetur pharetra. Morbi mollis turpis sit amet urna vehicula dignissim. Aliquam erat volutpat.</p>
  </div>
</div>
<div class="container-fluid py-5 bg-light">
  <div class="container-flex">
    <div class="d-flex align-items-center bg-white p-3">
      <form class="form-inline flex-grow-1 my-2 my-lg-0">
        <label class="sr-only" for="searchDegree">Degrees</label>
        <div class="input-group w-100 mr-3">
          <input type="text" class="form-control" placeholder="Find a Degree Program" id="searchDegree"
                 aria-label="Degree" aria-describedby="degree" />
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </form>
      <a class="btn btn-outline-primary collapsed" href="#collapseFilterSchool"
         data-toggle="collapse" role="button" aria-expanded="false" aria-haspopup="true">
        <i class="fa fa-filter mr-2" aria-hidden="true"></i> Filters
      </a>
    </div>
    <div class="collapse bg-white px-3 pb-3" id="collapseFilterSchool">
      <div class="card card-body bg-white p-4">
        <div class="form-group">
          <p class="text-muted text-uppercase mb-2">Degree type</p>
          <div class="d-flex flex-row flex-wrap">
            <button type="button" class="btn btn-primary m-2">All</button>
            <button type="button" class="btn btn-outline-primary m-2">Bachelor's</button>
            <button type="button" class="btn btn-outline-primary m-2">Master's</button>
            <button type="button" class="btn btn-outline-primary m-2">Minor</button>
            <button type="button" class="btn btn-outline-primary m-2">Certificate</button>
            <button type="button" class="btn btn-outline-primary m-2">Credential</button>
          </div>
        </div>
        <div class="form-group mb-0">
          <p class="text-muted text-uppercase mb-2">School</p>
          <div class="d-flex flex-row flex-wrap">
            <button type="button" class="btn btn-primary m-2">All</button>
            <button type="button" class="btn btn-outline-primary m-2">Arts &amp; Sciences</button>
            <button type="button" class="btn btn-outline-primary m-2">Business</button>
            <button type="button" class="btn btn-outline-primary m-2">Engineering</button>
            <button type="button" class="btn btn-outline-primary m-2">Law</button>
            <button type="button" class="btn btn-outline-primary m-2">Jesuit School of Theology</button>
            <button type="button" class="btn btn-outline-primary m-2">Education &amp; Counseling Psychology</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <h4 class="text-sans-light">Degree Programs</h4>
        <h6 class="text-sans-light text-muted">
          in <span class="text-primary">Arts &amp; Sciences</span> seeking a <span class="text-primary">Bachelor's</span> degree
        </h6>
        <hr />
        <div class="d-flex flex-wrap justify-content-center" id="degreeProgramContainer">
          <div class="degree-program p-4 collapsed"
               data-toggle="collapse" data-target="#collapseDegree1">
            <h5 class="text-sans-bold m-0">Ancient Studies</h5>
            <div class="collapse" id="collapseDegree1">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Anthropology</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Art History</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Chemistry</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Classical Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Communication</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">English</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">History</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Music</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Philosophy</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Religious Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Studio Art</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Theatre Arts</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Women's and Gender Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Classical Languages &amp; Literatures: Greek</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Classical Languages &amp; Literatures: Latin</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">French and Francophone Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">German Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Italian Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Spanish Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Individual Studies</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        Support Links
      </div>
    </div>
  </div>
</div>
