---
title: Academics
layout: demo
---

<div class="container mt-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item">Academics</li>
  </ol>
</div>
<style type="text/css">
  .degree-program {
    background-color: #e0e0e0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0 .2rem .2rem 0;
    width: 33%;
  }

  .degree-program.collapsed {
    background-color: #ececec;
    color: #000;
  }

  .degree-program.collapsed:hover {
    background-color: #e0e0e0;
  }

  #navbarAcademicsDegrees .nav-link {
    color: #c5083d;
  }

  #navbarAcademicsDegrees .nav-link:hover {
    color: #fff;
  }

  @media screen and (max-width: 767px) {
    .degree-program {
      margin: 0 0 .2rem;
      width: 100%;
    }

    #searchDegreesResults {
      height: 80vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  @media screen and (min-width: 768px) {
    #searchDegree {
      min-width: 20rem;
    }

    .container-flex {
      margin: 0 auto;
      max-width: 1140px;
    }
  }
</style>
<div class="container">
  <div class="block text-center">
    <h1 class="block-title">Prepare to be pushed</h1>
    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue venenatis neque vitae ultrices. Nullam pellentesque tortor orci. Aenean in sem risus. Proin dignissim pretium lectus sed tincidunt. Suspendisse ac odio ex. Phasellus sed faucibus nisl, vel cursus erat. Pellentesque sodales odio et consectetur pharetra. Morbi mollis turpis sit amet urna vehicula dignissim. Aliquam erat volutpat.</p>
  </div>
</div>
<div class="container-fluid py-5 bg-light">
  <div class="container-flex">
    <div class="d-flex align-items-center bg-white p-3">
      <form class="form-inline flex-grow-1 my-2 my-lg-0">
        <label class="sr-only" for="searchDegrees">Degrees</label>
        <div class="input-group w-100 mr-3">
          <input type="text" class="form-control" placeholder="Find a Degree Program" id="searchDegrees"
                 aria-label="Degree" aria-describedby="degree" />
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </form>
      <a class="btn btn-outline-primary collapsed" href="#collapseFilters"
         data-toggle="collapse" role="button" aria-expanded="false" aria-haspopup="true">
        <i class="fa fa-filter mr-2" aria-hidden="true"></i> Filters
      </a>
    </div>
    <div class="collapse bg-white px-3 pb-3" id="collapseFilters">
      <div class="card card-body bg-white p-4">
        <div class="form-group">
          <p class="text-muted text-uppercase mb-2">Degree type</p>
          <div class="d-flex flex-row flex-wrap">
            <button type="button" class="btn btn-primary m-2">All</button>
            <button type="button" class="btn btn-outline-primary m-2">Bachelor's</button>
            <button type="button" class="btn btn-outline-primary m-2">Master's</button>
            <button type="button" class="btn btn-outline-primary m-2">Minor</button>
            <button type="button" class="btn btn-outline-primary m-2">Certificate</button>
            <button type="button" class="btn btn-outline-primary m-2">Credential</button>
          </div>
        </div>
        <div class="form-group mb-0">
          <p class="text-muted text-uppercase mb-2">School</p>
          <div class="d-flex flex-row flex-wrap">
            <button type="button" class="btn btn-primary m-2">All</button>
            <button type="button" class="btn btn-outline-primary m-2">Arts &amp; Sciences</button>
            <button type="button" class="btn btn-outline-primary m-2">Business</button>
            <button type="button" class="btn btn-outline-primary m-2">Engineering</button>
            <button type="button" class="btn btn-outline-primary m-2">Law</button>
            <button type="button" class="btn btn-outline-primary m-2">Jesuit School of Theology</button>
            <button type="button" class="btn btn-outline-primary m-2">Education &amp; Counseling Psychology</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <h4 class="text-sans-light">Degree Programs</h4>
        <h6 class="text-sans-light text-muted">
          in <span class="text-primary">Arts &amp; Sciences</span> seeking a <span class="text-primary">Bachelor's</span> degree
        </h6>
        <hr />
        <div class="d-flex flex-wrap justify-content-center" id="searchDegreesResults">
          <div class="degree-program p-4 collapsed"
               data-toggle="collapse" data-target="#collapseDegree1">
            <h5 class="text-sans-bold m-0">Ancient Studies</h5>
            <div class="collapse" id="collapseDegree1">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>B.A., Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">ASIC Design &amp; Test</h5>
            <div class="collapse" id="collapseDegree2">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>Certificate</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Accounting</h5>
            <div class="collapse" id="collapseDegree3">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>B.S.</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Accounting &amp; Information Systems</h5>
            <div class="collapse" id="collapseDegree3">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>B.S.</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Advanced Accounting Proficiency</h5>
            <div class="collapse" id="collapseDegree4">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>Certificate</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Aerospace Engineering</h5>
            <div class="collapse" id="collapseDegree5">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Analog Circuit Design</h5>
            <div class="collapse" id="collapseDegree6">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>Certificate</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Ancient Studies</h5>
            <div class="collapse" id="collapseDegree7">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>B.A., Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Anthropology</h5>
            <div class="collapse" id="collapseDegree8">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>B.A., B.S., Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Applied Mathematics</h5>
            <div class="collapse" id="collapseDegree9">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>M.S.</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Arabic Studies</h5>
            <div class="collapse" id="collapseDegree10">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Art History</h5>
            <div class="collapse" id="collapseDegree11">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>B.A., Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Asian Studies</h5>
            <div class="collapse" id="collapseDegree12">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Bilingual Authorization</h5>
            <div class="collapse" id="collapseDegree13">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>Certificate</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Biochemistry</h5>
            <div class="collapse" id="collapseDegree14">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>B.S.</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Bioengineering</h5>
            <div class="collapse" id="collapseDegree15">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>B.S., M.S., Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Biology</h5>
            <div class="collapse" id="collapseDegree16">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>B.S., Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Biotechnology</h5>
            <div class="collapse" id="collapseDegree17">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Business Administration</h5>
            <div class="collapse" id="collapseDegree18">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>MBA</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Business Analytics</h5>
            <div class="collapse" id="collapseDegree19">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>M.S., Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Catholic Studies</h5>
            <div class="collapse" id="collapseDegree20">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Certified Equity Professional</h5>
            <div class="collapse" id="collapseDegree21">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>Certificate</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Certified Financial Planner</h5>
            <div class="collapse" id="collapseDegree22">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>Certificate</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Chemistry</h5>
            <div class="collapse" id="collapseDegree23">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>B.A., B.S., Minor</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Child Studies</h5>
            <div class="collapse" id="collapseDegree24">
              <hr />
              <div class="text-sans-light mt-2">
                <p>A concise description of Ancient Studies degree. Probably something about what you learn, which degrees are available (B.A., can it be a minor?).</p>
                <a href="#">Link to scu.edu/ancient-studies-page</a>
              </div>
              <hr />
              <div class="text-sans-light mt-2">
                <h6>B.S.</h6>
              </div>
            </div>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Civil, Environmental, &amp; Sustainable Engineering</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Classical Languages &amp; Literatures: Greek</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Classical Languages &amp; Literatures: Latin</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Classical Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Clear Administrative Services</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Communication</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Computer Science</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Computer Science &amp; Engineering</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Controls</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Communication</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Correctional Psychology</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Correctional &amp; Alternative Education</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Counseling</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Counseling Psychology</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Digital Signal Processing Applications</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Digital Signal Processing Theory</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Divinity</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Dynamics</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Economics</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Educational Leadership</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Electrical Engineering</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Engineering Management &amp; Leadership</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Engineering Physics</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">English</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Entrepreneurship</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Environmental Science</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Ethnic Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Executive MBA</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Finance</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Frugal Innovation</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Fundamentals of Electrical Engineering</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">General Engineering</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Gerontology</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Health Psychology</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">High Tech Law</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">History</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Individual Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Information Assurance</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Information Systems</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Instituto Hispano</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Intellectual Property</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Interdisciplinary Education</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">International Business</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">International Law</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">International Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">International &amp; Comparative Law</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Islamic Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">LGBT Counseling</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Latin American Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Latino Counseling</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Law</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Licentiate of Sacred Theology</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Management</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Management &amp; Information Systems</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Marketing</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Theological Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Theology</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Materials Engineering</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Mathematics</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Mechanical Design Analysis</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Mechanical Engineering</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Mechatronics Systems Engineering</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Medieval &amp; Renaissance Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Microwave &amp; Antennas</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Middle Eastern Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Modern Languages &amp; Literatures: French &amp; Francophone Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Modern Languages &amp; Literatures: German Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Modern Languages &amp; Literatures: Italian Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Modern Languages &amp; Literatures: Japanese Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Modern Languages &amp; Literatures: Spanish Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Music</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Networking</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Neuroscience</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Pastoral Ministries</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Philosophy</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Physics</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Political Science</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Power Systems &amp; Sustainable Energy</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Preliminary Catholic School Teaching</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Privacy Law</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Productizing Innovation</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Psychology</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Public Health Science</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Public Interest &amp; Social Justice</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Real Estate</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Religious Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Renewable Energy</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Retail Studies</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Sabbatical Renewal Program</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Sacred Theology</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Science, Technology, &amp; Society</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Sociology</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Software Engineering</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Studio Art</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Supply Chain Management &amp; Analytics</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Sustainability</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Teaching</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Technical Innovation, Design Thinking, &amp; the Entrepreneurial Mindset</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Theatre Arts</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Theology</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Thermofluids</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">United States Law</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Urban Education</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Web Design &amp; Engineering</h5>
          </div>
          <div class="degree-program p-4 collapsed">
            <h5 class="text-sans-bold m-0">Women's &amp; Gender Studies</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        Support Links
      </div>
    </div>
  </div>
</div>
