---
title: Bannan Seminars
layout: demo
---

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="bs-card" style="background-image:url(../../../assets/images/bs-father.jpg)">
                <div>
                    <h2>Economics @ SCU</h2>
                    <div class="bs-card-event">
                        <h4>Seminar &#35;1</h4>
                        <h5>- 18 August</h5>
                    </div>
                    <div class="bs-card-btns">
                        <button type="button" class="btn btn-primary">RSVP</button>
                        <button type="button" class="btn btn-secondary">More Info</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="background-color:rgba(0, 0, 0, 0.02);padding:12px">
                <h4>Programs</h4>
                <hr />
                <p>Arrupe Weekly Engagement</p>
                <hr />
                <p>Thriving Neighbors</p>
                <hr />
                <p>Bannan Institutes</p>
                <hr />
                <p>Ignation Tradition Offerings</p>
                <hr />
                <p>Immersions</p>
                <hr />
                <p>Student Leadership</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div style="background-color:rgba(0, 0, 0, 0.02);padding:12px">
                <h4>Upcoming Events &raquo;</h4>
                <hr />
                <p>SCU's John Kohler is helping..</p>
                <hr />
                <p>Thriving Neighbors</p>
                <hr />
                <p>Bannan Institutes</p>
                <hr />
                <p>Ignation Tradition Offerings</p>
                <hr />
                <p>Immersions</p>
                <hr />
                <p>Student Leadership</p>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="bs-card" style="background-image:url(../../../assets/images/bs-racialjustice.jpg)">
                <div>
                    <h2>Racial / Ethnic Seminars</h2>
                    <div class="bs-card-event">
                        <h4>Seminar &#35;1</h4>
                        <h5>- 18 August</h5>
                        <p>Lorem ipsum dolor sit amet, consectutur adipscing alit, sed do</p>
                        <div>
                            <div class="bs-card-speaker-thumb">
                                <img src="../../../assets/images/bs-speaker.JPG" alt="event speaker" />
                            </div>
                            <div class="bs-card-speaker-info">
                                <h4>Speaker:</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                            </div>
                        </div>
                    </div>
                    <div class="bs-card-btns">
                        <button type="button" class="btn btn-primary">RSVP</button>
                        <button type="button" class="btn btn-secondary">More Info</button>
                    </div>
                    <a href="#">See Upcoming Events &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="bs-card" style="background-image:url(../../../assets/images/bs-econjustice.jpg)">
                <div>
                    <h2>Seminars</h2>
                    <div class="bs-card-event">
                        <h4>Seminar</h4>
                        <h5>- 25 December</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                        <div>
                            <div class="bs-card-speaker-thumb">
                                <img src="../../../assets/images/bs-speaker.JPG" alt="event speaker" />
                            </div>
                            <div class="bs-card-speaker-info">
                                <h4>Speaker:</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="bs-card-btns">
                        <button type="button" class="btn btn-primary">RSVP</button>
                        <button type="button" class="btn btn-secondary">More Info</button>
                    </div>
                    <a href="#">See Upcoming Events &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bs-card" style="background-image:url(../../../assets/images/bs-genderjustice.png)">
                <div>
                    <h2>Seminars</h2>
                    <div class="bs-card-event">
                        <h4>Seminar</h4>
                        <h5>- 25 December</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                        <div>
                            <div class="bs-card-speaker-thumb">
                                <img src="../../../assets/images/bs-speaker.JPG" alt="event speaker" />
                            </div>
                            <div class="bs-card-speaker-info">
                                <h4>Speaker:</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="bs-card-btns">
                        <button type="button" class="btn btn-primary">RSVP</button>
                        <button type="button" class="btn btn-secondary">More Info</button>
                    </div>
                    <a href="#">See Upcoming Events &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bs-card" style="background-image:url(../../../assets/images/bs-envirjustice.jpg)">
                <div>
                    <h2>Seminars</h2>
                    <div class="bs-card-event">
                        <h4>Seminar</h4>
                        <h5>- 25 December</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                        <div>
                            <div class="bs-card-speaker-thumb">
                                <img src="../../../assets/images/bs-speaker.JPG" alt="event speaker" />
                            </div>
                            <div class="bs-card-speaker-info">
                                <h4>Speaker:</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="bs-card-btns">
                        <button type="button" class="btn btn-primary">RSVP</button>
                        <button type="button" class="btn btn-secondary">More Info</button>
                    </div>
                    <a href="#">See Upcoming Events &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
