---
title: Cover Image Layout
layout: demo

body-class: cover-image
custom: true
custom-title: Cover Image Homepage
---

<div id="content" style="background-image: url('/assets/images/examples/stage_lighting.JPG');" class="legacy-headers">
  <div class="container">
    <h1 class="cover-image-title text-serif-bold text-white pb-2">Page Title</h1>
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="col-12 col-md-8 bg-white p-5">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
        <div id="content-28989" class="pt-3">
          <p class="lead pb-3">This is the Cover Image layout. It's intended to replace pages with empty heroes. It works best with large images (over 500px wide). Add a .cover-image class to the body to have styles applied to content.</p>
          <hr class="pt-3">
          <h2>Leading a Life of Purpose</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorem ex explicabo magni? At error incidunt nobis non perferendis? Amet culpa eius enim facilis fugiat illum incidunt ipsam nobis repellat.</p>
          <h3>Asking Questions</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem deserunt ducimus et, excepturi expedita explicabo fugit iure nemo neque non odit quaerat, sed tempore voluptatum! Laboriosam necessitatibus tempore tenetur.</p>
          <h3>Being Aware</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deserunt dicta exercitationem iste maiores nihil quis quo repudiandae, totam! Ab accusamus culpa cumque dolore et fugit labore laboriosam ratione sapiente!</p>
          <div class="row">
            <div class="col-6">
              <img src="holder.js/100px260" alt="Placeholder" class="img-fluid">
              <h3>Students Making a Difference</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores aspernatur atque debitis dolorum ea, est ex explicabo, iste labore modi nostrum porro provident qui saepe sunt ullam veniam, voluptate.</p>
            </div>
            <div class="col-6">
              <img src="holder.js/100px260" alt="Placeholder" class="img-fluid">
              <h3>Faculty Expertise</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias animi corporis cumque deleniti dolorem, earum esse est expedita illo libero optio possimus quae quibusdam ratione sint tempore voluptatibus?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <img src="holder.js/100px260" alt="Placeholder" class="img-fluid">
              <h3>Students Making a Difference</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores aspernatur atque debitis dolorum ea, est ex explicabo, iste labore modi nostrum porro provident qui saepe sunt ullam veniam, voluptate.</p>
            </div>
            <div class="col-6">
              <img src="holder.js/100px260" alt="Placeholder" class="img-fluid">
              <h3>Faculty Expertise</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias animi corporis cumque deleniti dolorem, earum esse est expedita illo libero optio possimus quae quibusdam ratione sint tempore voluptatibus?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 bg-light px-5 py-3 py-md-5">
        <nav class="sidebar">
          <div class="sidebar-top">
            <h5 class="sidebar-title">
              <a href="#!" class="sidebar-link-dropdown text-uppercase" data-toggle="collapse" data-target="#sidebarLinks" aria-expanded="false" aria-controls="sidebarLinks">News & Events</a>
            </h5>
            <div class="collapse" id="sidebarLinks">
              <ul class="sidebar-links">
                <li>
                  <a href="#!">Feature Stories</a>
                </li>
                <li>
                  <a href="#!" class="sidebar-link-dropdown" data-toggle="collapse" data-target="#sidebarSubLinks" aria-expanded="false" aria-controls="sidebarSubLinks">Press Releases</a>

                  <ul class="collapse sidebar-links" id="sidebarSubLinks">
                    <li>
                      <a href="#">2018</a>
                    </li>
                    <li>
                      <a href="#!">2017</a>
                    </li>
                    <li>
                      <a href="#!" class="sidebar-link-dropdown" data-toggle="collapse" data-target="#sidebarSubSubLinks" aria-expanded="false" aria-controls="sidebarSubSubLinks">2016</a>

                      <ul class="collapse sidebar-links" id="sidebarSubSubLinks">
                        <li>
                          <a href="#!">January</a>
                        </li>
                        <li class="active">February</li>
                        <li>
                          <a href="#!">March</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#!">2015</a>
                    </li>
                    <li>
                      <a href="#!">2014</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#!">Social Media</a>
                </li>
                <li>
                  <a href="#!">Faculty Experts</a>
                </li>
                <li>
                  <a href="#!">Publications</a>
                </li>
                <li>
                  <a href="#!">Events</a>
                </li>
              </ul>
            </div>
            <button type="button" class="btn btn-primary mt-5">Useful Action Button</button>
            <div class="badge badge-navy infographic p-3 mt-5 text-center">
              <p class="statcard-number display-4 text-sans-light">1.0k</p>
              <p class="infographic-label text-sans-light text-uppercase mt-2 mb-0">Squirrels on Campus</p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
