---
title: Cover Image Layout
layout: demo
body-class: cover-image
---
<div id="content" style="background-image: url('/assets/images/examples/stage_lighting.JPG');">
  <div class="container">
    <h1 class="cover-image-title text-serif-bold text-white">Page Title</h1><div class="row">

    <div class="col-8 content-block">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
      <div id="content-28989">

        <p class="lead">This is the Cover Image layout. It's intended to replace pages with empty heroes. It works best with large images (over 500px wide). Add a .cover-image class to the body to have styles applied to content.</p>
        <hr>
        <h2>Leading a Life of Purpose</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorem ex explicabo magni? At error incidunt nobis non perferendis? Amet culpa eius enim facilis fugiat illum incidunt ipsam nobis repellat.</p>
        <h3>Asking Questions</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem deserunt ducimus et, excepturi expedita explicabo fugit iure nemo neque non odit quaerat, sed tempore voluptatum! Laboriosam necessitatibus tempore tenetur.</p>
        <h3>Being Aware</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deserunt dicta exercitationem iste maiores nihil quis quo repudiandae, totam! Ab accusamus culpa cumque dolore et fugit labore laboriosam ratione sapiente!</p>
        <div class="row">
          <div class="col-6">
            <img src="holder.js/100px260" alt="Placeholder" class="img-fluid">
            <h3>Students Making a Difference</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores aspernatur atque debitis dolorum ea, est ex explicabo, iste labore modi nostrum porro provident qui saepe sunt ullam veniam, voluptate.</p>
          </div>
          <div class="col-6">
            <img src="holder.js/100px260" alt="Placeholder" class="img-fluid">
            <h3>Faculty Expertise</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias animi corporis cumque deleniti dolorem, earum esse est expedita illo libero optio possimus quae quibusdam ratione sint tempore voluptatibus?</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-4 widgets">
      <nav class="side-navigation">
        <a class="side-navigation-header" href="/news-and-events/">News &amp; Events</a>
        <ul>
          <li><a href="/news-and-events/feature-stories/">Feature Stories</a></li>
          <li class="active"><span class="currentbranch0"><a
            href="/news-and-events/press-releases/">Press
                    Releases</a></span>
            <ul class="multilevel-linkul-0">
              <li class="active"><span class="currentbranch1"><a
                href="/news-and-events/press-releases/2016/">2016</a></span>
                <ul class="multilevel-linkul-1">
                  <li><a href="/news-and-events/press-releases/2016/january-2016/">January
                    2016</a></li>
                  <li><a href="/news-and-events/press-releases/2016/february-2016/">February
                    2016</a></li>
                  <li><a href="/news-and-events/press-releases/2016/march-2016/">March
                    2016</a></li>
                </ul>
              </li>
              <li><a href="/news-and-events/press-releases/2015/">2015</a></li>
              <li><a href="/news-and-events/press-releases/2014/">2014</a></li>
              <li><a href="/news-and-events/press-releases/2013/">2013</a></li>
              <li><a href="/news-and-events/press-releases/2012/">2012</a></li>
              <li><a href="/news-and-events/press-releases/march/">March</a></li>
            </ul>
          </li>
          <li><a href="/news-and-events/social-media/">Social Media</a></li>
          <li><a href="/news-and-events/faculty-experts/">Faculty Experts</a></li>
          <li><a href="/news-and-events/publications/">Publications</a></li>
          <li><a href="/news-and-events/campus-calendar/">Campus Calendar</a></li>
        </ul>
      </nav>
      <div class="row no-gutters person-spotlight">
        <div class="col-12 spotlight-image-right" style="background-image:url(/assets/images/shopping-mall-1129788_1920.jpg);"></div>
        <div class="col-12 p-4 text-white bg-gradient">
          <p class="text-sans-light mb-1 text-uppercase small">Retail Management Institute</p>
          <hr>
          <h1 class="text-serif-bold">Did Amazon Kill Shopping Malls?</h1>
          <p>by Clayton Hamilton</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
