---
title: Faculty Experts
layout: demo
---
<div class="container" id="content">
  <div class="row">
    <div class="col-md-8 p-a-0">
      <h1 class="page-title" id="page-title">Browse By Name</h1>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li><li><a href="/news-and-events/">News & Events</a></li><li><a href="/news-and-events/faculty-experts/browse-by-name/">Browse By Name</a></li>
      </ol>
    <div class="two-column news module pull-left">
      <ul class="media-list">
        <li class="media">
          <div class="media-left">
            <a class="thumbnail" href="">
              <img class="media-object" src="https://www.scu.edu/media/public/people/Donohoe-pref--AHP_7443-200x200.jpg">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="https://www.scu.edu/business/accounting/faculty/donohoe/">Wendy Donohoe</a></h4>
            <p class="m-b-0">Professor of Practice, Accounting</p>
            <ul id="personContactwdonohoe" class="faculty contact list-inline">
              <li><i class="fa fa-envelope"></i></li>
                <a href="https://phonebook.scu.edu/?v=pid&amp;i=536"> Email</a>
              <li><i class="fa fa-phone"></i></li>
                <a href="tel:1-408-551-7004">1-408-551-7004</a>
            </ul>
                <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
                <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
                <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <a class="thumbnail" href="">
              <img class="media-object" src="https://www.scu.edu/media/public/people/Donohoe-pref--AHP_7443-200x200.jpg">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="https://www.scu.edu/business/accounting/faculty/donohoe/">Wendy Donohoe</a></h4>
            <p class="m-b-0">Professor of Practice, Accounting</p>
            <ul id="personContactwdonohoe" class="faculty contact list-inline">
              <li><i class="fa fa-envelope"></i></li>
              <a href="https://phonebook.scu.edu/?v=pid&amp;i=536"> Email</a>
              <li><i class="fa fa-phone"></i></li>
              <a href="tel:1-408-551-7004">1-408-551-7004</a>
            </ul>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <a class="thumbnail" href="">
              <img class="media-object" src="https://www.scu.edu/media/public/people/Donohoe-pref--AHP_7443-200x200.jpg">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="https://www.scu.edu/business/accounting/faculty/donohoe/">Wendy Donohoe</a></h4>
            <p class="m-b-0">Professor of Practice, Accounting</p>
            <ul id="personContactwdonohoe" class="faculty contact list-inline">
              <li><i class="fa fa-envelope"></i></li>
              <a href="https://phonebook.scu.edu/?v=pid&amp;i=536"> Email</a>
              <li><i class="fa fa-phone"></i></li>
              <a href="tel:1-408-551-7004">1-408-551-7004</a>
            </ul>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <a class="thumbnail" href="">
              <img class="media-object" src="https://www.scu.edu/media/public/people/Donohoe-pref--AHP_7443-200x200.jpg">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="https://www.scu.edu/business/accounting/faculty/donohoe/">Wendy Donohoe</a></h4>
            <p class="m-b-0">Professor of Practice, Accounting</p>
            <ul id="personContactwdonohoe" class="faculty contact list-inline">
              <li><i class="fa fa-envelope"></i></li>
              <a href="https://phonebook.scu.edu/?v=pid&amp;i=536"> Email</a>
              <li><i class="fa fa-phone"></i></li>
              <a href="tel:1-408-551-7004">1-408-551-7004</a>
            </ul>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <a class="thumbnail" href="">
              <img class="media-object" src="https://www.scu.edu/media/public/people/Donohoe-pref--AHP_7443-200x200.jpg">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="https://www.scu.edu/business/accounting/faculty/donohoe/">Wendy Donohoe</a></h4>
            <p class="m-b-0">Professor of Practice, Accounting</p>
            <ul id="personContactwdonohoe" class="faculty contact list-inline">
              <li><i class="fa fa-envelope"></i></li>
              <a href="https://phonebook.scu.edu/?v=pid&amp;i=536"> Email</a>
              <li><i class="fa fa-phone"></i></li>
              <a href="tel:1-408-551-7004">1-408-551-7004</a>
            </ul>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <a class="thumbnail" href="">
              <img class="media-object" src="https://www.scu.edu/media/public/people/Donohoe-pref--AHP_7443-200x200.jpg">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="https://www.scu.edu/business/accounting/faculty/donohoe/">Wendy Donohoe</a></h4>
            <p class="m-b-0">Professor of Practice, Accounting</p>
            <ul id="personContactwdonohoe" class="faculty contact list-inline">
              <li><i class="fa fa-envelope"></i></li>
              <a href="https://phonebook.scu.edu/?v=pid&amp;i=536"> Email</a>
              <li><i class="fa fa-phone"></i></li>
              <a href="tel:1-408-551-7004">1-408-551-7004</a>
            </ul>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <a class="thumbnail" href="">
              <img class="media-object" src="https://www.scu.edu/media/public/people/Donohoe-pref--AHP_7443-200x200.jpg">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="https://www.scu.edu/business/accounting/faculty/donohoe/">Wendy Donohoe</a></h4>
            <p class="m-b-0">Professor of Practice, Accounting</p>
            <ul id="personContactwdonohoe" class="faculty contact list-inline">
              <li><i class="fa fa-envelope"></i></li>
              <a href="https://phonebook.scu.edu/?v=pid&amp;i=536"> Email</a>
              <li><i class="fa fa-phone"></i></li>
              <a href="tel:1-408-551-7004">1-408-551-7004</a>
            </ul>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <a class="thumbnail" href="">
              <img class="media-object" src="https://www.scu.edu/media/public/people/Donohoe-pref--AHP_7443-200x200.jpg">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="https://www.scu.edu/business/accounting/faculty/donohoe/">Wendy Donohoe</a></h4>
            <p class="m-b-0">Professor of Practice, Accounting</p>
            <ul id="personContactwdonohoe" class="faculty contact list-inline">
              <li><i class="fa fa-envelope"></i></li>
              <a href="https://phonebook.scu.edu/?v=pid&amp;i=536"> Email</a>
              <li><i class="fa fa-phone"></i></li>
              <a href="tel:1-408-551-7004">1-408-551-7004</a>
            </ul>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
            <button type="button" class="btn btn-default-outline btn-xs">Keyword</button>
          </div>
        </li>
      </ul>
    </div>
    </div>
    <div class="col-md-4 pull-right">
      <nav class="side-navigation match-page-title">
        <a class="side-navigation-header" href="/news-and-events/">News &amp; Events</a>
        <ul>
          <li><a href="/news-and-events/feature-stories/">Feature Stories</a></li>
          <li><a href="/news-and-events/press-releases/">Press Releases</a></li>
          <li><a href="/news-and-events/social-media/">Social Media</a></li>
          <li><a href="/news-and-events/faculty-experts/">Faculty Experts</a></li>
          <li><a href="/news-and-events/publications/">Publications</a></li>
          <li><a href="/news-and-events/campus-calendar/">Campus Calendar</a></li>
        </ul>
      </nav>
      <div class="card">
        <div class="card-block">
          <h5 class="card-title">In This Section</h5>
          <ul>
            <li><a href="#">SCU Facult Experts Home</a></li>
            <li><a href="#">Find Experts By Topic</a></li>
            <li><a href="#">Browse Experts By Name</a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h5 class="card-title">Search Experts</h5>
          <p class="card-text">Search for sources by name, keyword or area of expertise.</p>
          <form action="/search/" method="get" class="pull-right site-header-search" id="header-search-form">
            <div class="input-group">
              <label for="header-search" class="sr-only">Search</label>
              <input type="search" class="form-control" name="q" id="header-search" placeholder="SEARCH">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" aria-label="Submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
