---
title: Faculty Experts
layout: demo
---
<div class="container" id="content">
  <div class="row">
    <div class="col-md-8 p-a-0">
      <h1 class="page-title" id="page-title">Faculty Experts</h1>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li><li><a href="/news-and-events/">News & Events</a></li><li><a href="/news-and-events/faculty-experts/">Faculty Experts</a>  </li>
      </ol>
      <div class="intro">Santa Clara University's faculty, researchers and staff members are available to speak to the news media by phone or email. You can search for sources by name, keyword or area of expertise...</div>
      <h2>Topic Areas</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Ethics</strong></h3>
            </div>
          <div class="panel-body">
            <ul>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">See all 10 experts</a></li>
            </ul>
          </div>
         </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Health policy & finance</strong></h3>
            </div>
          <div class="panel-body">
            <ul>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">See all 10 experts</a></li>
            </ul>
          </div>
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Immigration</strong></h3>
            </div>
          <div class="panel-body">
            <ul>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">See all 10 experts</a></li>
            </ul>
          </div>
         </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Nanotechnology</strong></h3>
            </div>
          <div class="panel-body">
            <ul>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">Nora Freeman Engstrom</a></li>
              <li><a href="#">See all 10 experts</a></li>
            </ul>
          </div>
         </div>
        </div>
      </div>
  </div>
    <div class="col-md-4 pull-right">
      <nav class="side-navigation match-page-title">
        <a class="side-navigation-header" href="/news-and-events/">News &amp; Events</a>
        <ul>
          <li><a href="/news-and-events/feature-stories/">Feature Stories</a></li>
          <li><a href="/news-and-events/press-releases/">Press Releases</a></li>
          <li><a href="/news-and-events/social-media/">Social Media</a></li>
          <li><a href="/news-and-events/faculty-experts/">Faculty Experts</a></li>
          <li><a href="/news-and-events/publications/">Publications</a></li>
          <li><a href="/news-and-events/campus-calendar/">Campus Calendar</a></li>
        </ul>
      </nav>
      <div class="card">
        <div class="card-block">
          <h5 class="card-title">In This Section</h5>
          <ul>
            <li><a href="#">SCU Facult Experts Home</a></li>
            <li><a href="#">Find Experts By Topic</a></li>
            <li><a href="#">Browse Experts By Name</a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h5 class="card-title">Search Experts</h5>
          <p class="card-text">Search for sources by name, keyword or area of expertise.</p>
          <form action="/search/" method="get" class="pull-right site-header-search" id="header-search-form">
            <div class="input-group">
              <label for="header-search" class="sr-only">Search</label>
              <input type="search" class="form-control" name="q" id="header-search" placeholder="SEARCH">
              <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" aria-label="Submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
