---
title: Find My Counselor
layout: demo
---
<!--
  Instructions:
  Press any key or Use My Location to test functionality if there is only a single result.
  For multiple results press the spacebar.
  TODO: Integrate autocomplete using Google Maps? See: https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform  - this may change the interface.
-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<style type="text/css">
  #locationField, #controls {
    position: relative;
    width: 480px;
  }
  #autocomplete {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99%;
  }
  .label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
  }
  #address {
    border: 1px solid #000090;
    background-color: #f0f0ff;
    width: 480px;
    padding-right: 2px;
  }
  #address td {
    font-size: 10pt;
  }
  .field {
    width: 99%;
  }
  .slimField {
    width: 80px;
  }
  .wideField {
    width: 200px;
  }
  #locationField {
    height: 20px;
    margin-bottom: 2px;
  }
  .card-text a {
    color: #000;
    text-decoration: underline;
    padding: 5px 10px 5px 10px;
  }
  .card-text a:hover {
    background-color:#7F2B25;
    color: #fff;
  }
  .centered {
    margin:0 auto;
    float: none;
  }
  .horizontal-line {
    margin:0;
    padding:0 10px;
    display: inline-block;
    background-color: #d9534f;
  }
  .horizontal-text {
    padding-top: 5px;
    position: relative;
    z-index: 2;
    font-style: italic;
  }
  .horizontal-text:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 1px white;
    z-index: -1;
  }
  .contact-block,
  .counselor-filter,
  .my-counselor,
  .all-counselors,
  .our-counselors{
    display: none;
  }
  .contact-block input,
  .contact-block label{
    display:inline-block;
    clear: both;
    margin-bottom: 10px;
    width: 45%;
  }
  #form-message {
    margin-bottom: 10px;
  }
  .counselor-img {
    display: block;
    margin-top: 10px;
  }
  #all-counselors{
    margin: 10px 0 10px 0;
    float: left;
  }

  #international-students{
    margin: 10px 0 10px 0;
    float: right;
  }
  .zip-code-label{
    clear: both;
    float: left;
    margin-left: 25px;
    margin-right: 10px;
  }
  .zip-code {
    width: 100px;
    float: left;
    margin-right: 15px;
  }
  .fmc-title{
    float: left;
    clear: both;
    margin-right: 10px;
    margin-left: 20px;
  }
  .counselor-header{
    margin-bottom: 10px;
  }
  .card-fmc,
  .btn-fmc{
    background-color: #d9534f;
    border-color: #d9534f;
  }
  .btn-fmc:hover{
    background-color: #7F2B25;
    border-color: #a53129;
  }
  .counselor-name {
    color: #46b6ac;
  }
  .counselor-title{
    color:#6d6d6d;

  }
  .fyc-title,
  .fyc-subtitle {
    color: #000;
  }
</style>
<div class="container" id="content">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-title" id="page-title">Contact Us</h1>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/admitted/">Admission</a></li>
        <li><a href="/admitted/events-for-admitted-students/">Undergraduate</a></li>
        <li><a href="/admitted/events-for-admitted-students/">Contact Us</a></li>
      </ol>
      <div id="instructions">
        <h4>Instructions</h4>
        <p>To simulate a single counselor press "Use My Location" or enter any key into the search bar. </p>
        <p>To simulate multiple counselors press the space bar. With multiple counselor results, filtering by counselor is activated.</p>
        <p>To see all counselors, press all-counselors.</p>
      </div>
      <div class="row" id="fmc-main-block">
        <div class="col-md-6 centered">
          <div class="card card-primary card-fmc">
            <div class="card-block">
              <div class="counselor-search text-xs-center text-center" >
                <h4 class="fyc-title">Find Your Counselor </h4>
                <button id="locate-me" class="btn btn-default btn-outline">Use My Location <i class="fa fa-map-marker" aria-hidden="true"></i></button>
                <p class="horizontal-text"><span class="horizontal-line">Or</span></p>
                <h6 class="fyc-subtitle">Find by Zip or Address</h6>
                <form method="get">
                  <div id="locationField" class="input-group">
                      <input id="autocomplete" placeholder="Enter your address"
                             onFocus="geolocate()" type="text">
                      <span class="input-group-btn">
                      <button id="locationSubmit" class="btn btn-default search-icon" type="submit" aria-label="Submit"><span
                        class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                  </div>
                </form>
                <button id="all-counselors" class="btn btn-default">All Counselors</button>
                <p id="international-students" class="card-text"><a href="/admission/international" class="pull-right" >International</a></p>
              </div>
              <div class="contact-block card-block">
                  <h4 class="fyc-title">Contact Eva Blanco </h4>
                  <form action="" method="post">
                    <input type="text" name="name" class="form-control" placeholder="First Name">
                    <input type="text" name="last-name" class="form-control " placeholder="Last Name">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                    <input class="field" id="postal_code" disabled="true">
                    <textarea name="textarea"  class="form-control" id="form-message" cols="30" rows="10" placeholder="Your Message"></textarea>
                  </form>
                  <button class="btn btn-default btn-outline">Send</button>
              </div>
              <div class="counselor-filter text-center">
                <label class="zip-code-label">Zip Code</label>
                <input class="field form-control zip-code" id="postal_code" disabled="true">
                <label>Filter by County</label>
                <select name="county-filter" id="county-filter" >
                  <option value="">Alameda (North)</option>
                  <option value="">Alameda (South)</option>
                  <option value="">Contra Costa</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-counselor row" >
        <div class="col-md-12" id="counselor-card-block">
          <h4 class="text-center">Your counselor is</h4>
          <div class="counselor-info">
            <div class="col-md-4 centered ">
              <div class="card">
                <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
                <div class="card-block text-center">
                  <h4 class="counselor-name">Eva Blanco</h4>
                  <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                  <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                  </p>
                  <button class="btn btn-info contact-counselor ">Contact Eva</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="our-counselors row">
        <div class="col-md-12 centered">
          <h4 class="card-title" >Your Counselors</h4>
          <div class="counselor-list">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
                  <div class="card-block text-center">
                    <h4 class="counselor-name">Eva Blanco</h4>
                    <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                    <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                    </p>
                    <a href="#" class="btn btn-info contact-counselor ">Contact Eva</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
                  <div class="card-block text-center">
                    <h4 class="counselor-name">Eva Blanco</h4>
                    <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                    <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                    </p>
                    <a href="#" class="contact-counselor btn btn-info">Contact Eva</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
                  <div class="card-block text-center">
                    <h4 class="counselor-name">Eva Blanco</h4>
                    <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                    <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                    </p>
                    <a href="#" class="btn btn-info contact-counselor ">Contact Eva</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="all-counselors row">
        <div class="counselor-header row">
          <h4 class="fmc-title">All Counselors</h4>
          <button id="fmc-button" class="btn btn-primary btn-fmc">Find My Counselor</button>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class=" centered counselor-img img-circle img-responsive" src="http://placehold.it/150x150" alt="Card image cap">
              <div class="card-block text-center">
                <h4 class="counselor-name">Eva Blanco</h4>
                <h6 class="counselor-title"><em>Dean of Undergraduate Admission</em></h6>
                <p>Eva has been with the Undergraduate Admission Office since 2003, formerly serving as Senior Associate Dean of Undergraduate Admission.
                </p>
                <a href="#" class="btn btn-info contact-counselor">Contact Eva</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#locate-me").on( "click", function () {
      $(".counselor-search").hide();
      $(".counselor-filter").show();
      $(".my-counselor").show("slow");
    });
    $("#autocomplete").change(function (event) {
          $(".counselor-filter").show();
          $(".counselor-search").hide();
          $(".our-counselors").show("slow");
      /*
      else {
        $(".counselor-search").hide();
        $(".counselor-filter").show();
        $(".my-counselor").show("slow");
      }*/
    });
    $(".contact-counselor").on( "click", function () {
      $(".counselor-filter").hide();
      $(".counselor-search").hide();
      $("#fmc-main-block").show();
      $(".contact-block").show("slow");
    });
    $("#all-counselors").on("click", function(){
      $("#fmc-main-block").hide();
      $(".counselor-search").hide();
      $(".all-counselors").show();
    });
    $("#fmc-button").on("click", function () {
      $(".all-counselors").hide();
      $(".contact-block").hide();
      $("#fmc-main-block").show();
      $(".counselor-search").show();
    });
    $("#county-filter").change(function () {
      $(".our-counselors").hide();
      $(".my-counselor").show();
    });
  });
</script>
<script>
  // This example displays an address form, using the autocomplete feature
  // of the Google Places API to help users fill in the information.

  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();

    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
      if(component == 'postal_code'){
          var stored_form = {
              zip_code: component.toString()
          };
          console.log(stored_form);
      }
    }

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      }
    }
  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ9fkYIxwDSEtiBZ5Y6pIVMngu5W76bVM&libraries=places&callback=initAutocomplete"
        async defer></script>


<table id="address">
  <tr>
    <td class="label">Street address</td>
    <td class="slimField"><input class="field" id="street_number"
                                 disabled="true"></input></td>
    <td class="wideField" colspan="2"><input class="field" id="route"
                                             disabled="true"></input></td>
  </tr>
  <tr>
    <td class="label">City</td>
    <!-- Note: Selection of address components in this example is typical.
         You may need to adjust it for the locations relevant to your app. See
         https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
    -->
    <td class="wideField" colspan="3"><input class="field" id="locality"
                                             disabled="true"></input></td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="slimField"><input class="field"
                                 id="administrative_area_level_1" disabled="true"></input></td>ß
  </tr>
  <tr>
    <td class="label">Country</td>
    <td class="wideField" colspan="3"><input class="field"
                                             id="country" disabled="true"></input></td>
  </tr>
</table>

