---
title: Sidebar Breakout Landing Page
layout: demo
---

<header class="header-legacy bg-light mb-5 mb-md-0 pt-lg-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-white d-none d-lg-block py-0 fixed-top nav-fixed initial nav-users"
       id="navbarUsers">
    <div class="accordion-collapses" id="navbarUsersAccordion">
      <div class="collapse bg-white" id="navbarUsersOffices" data-parent="#navbarUsersAccordion">
        <div class="container py-3">
          <div class="row">
            <div class="col d-flex flex-column">
              <a href="#">Campus Ministry</a>
              <a href="#">Campus Safety</a>
              <a href="#">Enrollment Services</a>
              <a href="#">Facilities</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Diversity</a>
              <a href="#">Recreation</a>
              <a href="#">Sustainability</a>
              <a href="#">Technology</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Arts</a>
              <a href="#">Bookstore</a>
              <a href="#">Career Center</a>
              <a href="#">Human Resources</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Mission Church</a>
              <a href="#">Library</a>
              <a href="#">Login</a>
              <a href="#" class="text-sans-bold text-primary">More Offices &amp; Services &raquo;</a>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse bg-white" id="navbarUsersSchools" data-parent="#navbarUsersAccordion">
        <div class="container py-3">
          <div class="row">
            <div class="col d-flex flex-column">
              <p class="text-muted text-uppercase">Schools &amp; Colleges</p>
              <a href="#">College of Arts and Sciences</a>
              <a href="#">Education and Counseling Psychology</a>
              <a href="#">Leavey School of Business</a>
            </div>
            <div class="col d-flex flex-column">
              <p class="text-white">Schools &amp; Colleges</p>
              <a href="#">School of Engineering</a>
              <a href="#">Jesuit School of Theology</a>
              <a href="#">School of Law</a>
            </div>
            <div class="col d-flex flex-column">
              <p class="text-muted text-uppercase">Centers of Distinction</p>
              <a href="#">Miller Center for Social Entrepreneurship</a>
              <a href="#">Ignatian Center for Jesuit Education</a>
              <a href="#">Markkula Center for Applied Ethics</a>
              <a href="#" class="text-sans-bold text-primary">More Centers and Institutes &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Faculty &amp; Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Families</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Alumni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Visitors</a>
        </li>
        <li class="nav-item dropdown mr-1">
          <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersOffices"
             role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersOffices">
            Offices &amp; Services <i class="fas fa-caret-down pl-2"></i>
          </a>
        </li>
        <li class="nav-item dropdown ml-1">
          <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersSchools"
             role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersSchools">
            Schools &amp; Centers <i class="fas fa-caret-down pl-2"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container d-flex align-items-center justify-content-center justify-content-lg-between pt-4 pb-4 pb-md-5">
    <div class="d-flex align-items-center">
      <a href="#" class="seal d-none d-lg-inline mr-3">
        <i class="icon-scu"></i>
        <span class="sr-only">Santa Clara University Homepage</span>
      </a>
      <div class="text-center text-md-left">
        <h2 class="text-trajan wordmark m-0">
          <a href="#" class="text-primary">Santa Clara University</a>
        </h2>
        <h6 class="text-trajan wordmark m-0">
          <a href="#" class="text-muted">The Jesuit University in Silicon Valley</a>
        </h6>
      </div>
    </div>
    <form class="form-inline d-none d-lg-flex">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
        <div class="input-group-append">
          <button class="input-group-text btn btn-light" type="submit">
            <span class="sr-only">Search</span>
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark py-0 fixed-top nav-fixed initial nav-brand" id="navbarBrand">
    <div class="container">
      <button class="navbar-toggler px-3 py-2" type="button"
              data-toggle="collapse" data-target="#navbarBrandList"
              aria-controls="navbarBrandList" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-uppercase">menu</span>
      </button>
      <form class="form-inline d-lg-none my-2">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
          <div class="input-group-append">
            <button class="input-group-text btn btn-light" type="submit">
              <span class="sr-only">Search</span>
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <div class="collapse navbar-collapse bg-primary" id="navbarBrandList">
        <ul class="navbar-nav mr-auto px-0 px-lg-2 py-3 py-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">About SCU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Academics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Admission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Athletics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Campus Life</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Giving</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Global</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">News &amp; Events</a>
            <div class="dropdown-divider d-lg-none my-3"></div>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Students</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Faculty</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Families</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Alumni</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Visitors</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Offices &amp; Services</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Schools &amp; Centers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <style type="text/css">
    .global-heading {
      color: #f9f9f9;
    }


    .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover;
    }
  </style>
</header><div class="jumbotron jumbotron-fluid hero has-dim-2 pb-0 pt-4" style="background-image:url(/assets/images/core/lg-hero2.jpg);">
  <div class="container position-relative">
    <h1>Global</h1>
  </div>
</div>

<section style="border-bottom: 1px solid #f1f1f1">
  <div class="container">
    <ol class="breadcrumb py-4 mb-0">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active"><a href="#">Library</a></li>
    </ol>
  </div>
</section>
<section class="pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 order-md-2">
        <nav class="sidebar">
        <div class="sidebar-top">
          <p class="h5 sidebar-title pb-3">

            <a href="#!" class="d-md-block d-none desktop-title">Global</a>
          </p>
          <div class="collapse d-md-block" id="sidebarLinks">
            <ul class="sidebar--links">
              <li class="border-bottom mb-2 pb-2 d-md-none">
                <a href="#!">Global</a>
              </li>
              <li><a href="#!">Learning Abroad</a></li>
              <li>
                <a href="#!">Plan Your Experiences</a>
              </li>
              <li>
                <a href="#!">International Students</a>
              </li>
              <li>
                <a href="#!">Faculty & Staff</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
        <a href="#" class="brand-primary link-button" role="button">Apply Now</a>
      </div>
      <div class="col-12 col-md-9 order-md-1">

        <div class="intro">

          <p>Find a global perspective that knows no bounds through study or research in more than 60 different countries, or by participating in the thriving community of international students, scholars, and faculty on campus.</p>
        </div>


              <h2 class="h4 mb-3">On Campus — In the World</h2>
              <p>It's not just study abroad, it's learning abroad. Our programs are flexible and varied—ranging from three weeks to a semester, including immersion trips,  and international fellowships. And there's plenty to do on campus too, with clubs, activities, and XXX. Find a program that fits you and begin exploring your place in the world.</p>
  </div>
</section>
<div class=" text-center">
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <div class="card has-dim-2 text-xs-center text-white">
          <img class="card-img" src="/assets/images/core/md-explore.jpg">
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h3 class="card-title">Learning Abroad</h3>
            <p class="text-white">Find out the different ways you can engage in global programs and initiatives as well as intercultural experiences on campus.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card has-dim-2 text-xs-center text-white">
          <img class="card-img" src="/assets/images/core/md-plan.jpg">
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h3 class="card-title">Plan Your Experiences</h3>
            <p class="text-white">Hear from past students, explore your options, and learn how to plan ahead to make the most of your experience.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card has-dim-2 text-xs-center text-white">
          <img class="card-img" src="/assets/images/core/md-search.jpg">
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h3 class="card-title">Search Our Programs</h3>
            <p class="text-white">See everything we have to offer and find a program that aligns with your interests and areas of study.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="text-center">
  <h2 class="text-sans-light">By the Numbers</h2>
  </div>
  <div class="row">
    <div class="col-sm-4" style="justify-content: space-between; ">
      <div class="bg-light  h-100 p-3">
        <p class="block-title h1 m-b-md section-title text-center text-danger text-sans-bold">
          >60 </p>
        <p class="h5 mb-5 text-center text-muted text-sans-light">Countries you can travel to through our programs.</p>

        <p class="block-title h1 m-b-md section-title text-center text-slate text-sans-bold">
          30% </p>
        <p class="h5 text-center text-muted text-sans-light">Number of SCU students who participate in learning abroad.</p>
      </div>
    </div>
    <div class="col-sm-4" style="justify-content: space-between; ">
      <div class="bg-light  h-100 p-3">
        <p class="block-title h1 m-b-md section-title text-center text-slate text-sans-bold">
          125 </p>
        <p class="h5 mb-5 text-center text-muted text-sans-light">Faculty participating in international teaching and research.</p>

        <p class="block-title h1 m-b-md section-title text-center text-danger text-sans-bold">
          18 </p>
        <p class="h5 text-center text-muted text-sans-light">Small average class sizes allow you to be engaged and active.</p>
      </div>
    </div>

    <div class="col-sm-4" style="justify-content: space-between; ">
      <div class="bg-light  h-100 p-3">
        <p class="block-title h1 m-b-md section-title text-center text-danger text-sans-bold">
          $10,000 </p>
        <p class="h5 mb-5 text-center text-muted text-sans-light">Average cost of a learning abroad program.</p>

        <p class="block-title h1 m-b-md section-title text-center text-slate text-sans-bold">
          Infinite </p>
        <p class="h5 text-center text-muted text-sans-light">Value of a learning abroad experience.</p>
      </div>
    </div>
    </div>
  </div>



<div class="container text-center">
  <h2 class="text-sans-light">International Students</h2>
  <p>Wherever you're from, Santa Clara welcomes you. More than 1,600 international students come to Santa Clara to live, work, and thrive in Silicon Valley. And we can help you with the process. From applying for a visa to finding a job, we'll make sure you have the support you need.</p>
</div>
<div class="container">
  <div class="row">
  <!-- Simple Card -->
  <div class="col">
    <div class="card text-center">
      <img class="card-img-top" src="/assets/images/core/md-before.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Before You Come</h4>
        <p class="card-text">Not sure what an I-20 form is? We've got you covered. Find everything you need to start your journey to SCU.
        </p>
        <a href="#" class="btn btn-primary">Get Started</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <img class="card-img-top" src="/assets/images/core/md-while.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">While You're Here</h4>
        <p class="card-text">Make the most of your experience in the Bay Area. Learn about on-campus support and recreational opportunities.
        </p>
        <a href="#" class="btn btn-primary">Life at SCU</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <img class="card-img-top" src="/assets/images/core/md-after.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">After You Graduate</h4>
        <p class="card-text">Take your education to the next level by working for a year or more in a job or internship related to your major.
        </p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    </div>
  </div>


<div class="block p-0 mt-5">
  <div class="row pull-quote-inv align-items-center px-3 px-md-4 px-xl-5 py-4">
    <div class="col-12 col-md-4">
      <img src="/assets/images/core/md-brownridge.jpg" alt="300x300" class="d-block mx-auto rounded-circle img-fluid">
    </div>
    <div class="col-12 col-md-8">
      <blockquote class="text-sans-light m-0">
        <p class="m-0 pl-3">
           I felt it was important to take advantage of the opportunities available at SCU, but didn't dream what an impact both Study Abroad and an immersion trip would have on me. It helped me see the world, and myself, from a new perspective.

        </p>
      </blockquote>
      <footer class="text-right mt-3">
        <cite title="Source Title">Jared Brownridge &rsquo;16</cite>,
        <p class="m-0">Communication</p>
      </footer>
    </div>
  </div></div>

<div class="container py-5">
  <div class="text-center">
    <h2 class="text-sans-light">Resources for Faculty and Staff</h2>
    <p>Santa Clara University strongly encourages travel outside of the United States for educational experience. Learn more about developing and leading programs. Also find guidelines and policies on traveling internationally for SCU faculty and staff.</p>
  </div>
  <div class="row">
    <div class="col-sm-4" style="justify-content: space-between; ">
      <div class="bg-light  h-100 p-3">
        <div class="media">
          <img class="d-flex align-self-start mr-2" src="/assets/images/examples/ghana.jpg" alt="Generic placeholder image" style="width: 100px">
          <div class="media-body">
            <h6 class="mt-0">Research and Teaching</h6>
            <p>Explore opportunities for funding and resources related to teaching and research abroad.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="justify-content: space-between; ">
      <div class="bg-light  h-100 p-3">
        <div class="media">
          <img class="d-flex align-self-start mr-3" src="/assets/images/examples/ghana.jpg" alt="Generic placeholder image" style="width: 100px">
          <div class="media-body">
            <h6 class="mt-0">International Travel</h6>
            <p>From guidelines to requirements for international travel, we're here to help.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4" style="justify-content: space-between; ">
      <div class="bg-light  h-100 p-3">
        <div class="media">
          <img class="d-flex align-self-start mr-3" src="/assets/images/examples/ghana.jpg" alt="Generic placeholder image" style="width: 100px">
          <div class="media-body">
            <h6 class="mt-0">Students and Scholars</h6>
            <p>Learn more about having international students in the classroom or hosting visiting scholars.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Video Article -->
<div class="container">
  <div class="row">
<div class="col-md-8">
  <div class="text-center" data-bg-img-src="assets/img-temp/900x600/img2.jpg" style="background-image: url('holder.js/100px300')">
    <img src="/assets/images/core/md-fulbright.jpg" alt="" class="mb-2">
    <h4>How Did You Win a Fulbright?</h4>
    <p>Fulbright winners and their mentors share the "secret sauce" that led to a record number of these presitigious fellowships for Santa Clara students.</p>
  </div>
</div>
<!-- End Video Article -->

<div class="col-md-4 g-mb-30">
  <!-- Video Article -->
  <div class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_4--after g-pos-rel g-py-50 g-mb-30" data-bg-img-src="assets/img-temp/300x300/img2.jpg" style="background-image: url(&quot;assets/img-temp/300x300/img2.jpg&quot;);">
    <article class="text-center g-pos-rel g-z-index-1 g-px-20">
      <img src="/assets/images/core/md-whale.jpg" alt="" class="mb-2">
      <h4 class="h5 g-color-white">Global Photo Contest</h4>
    </article>
  </div>
  <!-- End Video Article -->

  <!-- Video Article -->
  <div class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_4--after g-pos-rel g-py-50 g-mb-30 g-mb-0--md" data-bg-img-src="assets/img-temp/300x300/img3.jpg" style="background-image: url(&quot;assets/img-temp/300x300/img3.jpg&quot;);">
    <article class="text-center g-pos-rel g-z-index-1 g-px-20">
      <img src="/assets/images/core/md-research.jpg" alt="" class="mb-2">
      <h4 class="h5 g-color-white">Research With a Mission</h4>
    </article>
  </div>
  <!-- End Video Article -->
</div>
</div>
</div>

<div class="app-code-block  bg-primary block block-secondary" style="/* background-color: #fbb720; */">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-md-2 text-white">
        <!-- Search form -->
        <div class="md-form">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <hr class="dots-left" style="border-top: 1px dashed white;">
        <div class="row links ">
          <div class="col-4">
            <a href="/cas" class="btn btn-lg btn-outline-light d-block">Global Engagement</a>
            <a href="/business" class="btn btn-lg btn-outline-light d-block my-2 ">Students & Scholars</a>
            <a href="http://law.scu.edu" class="btn btn-lg btn-outline-light d-block">Research & Teaching</a>
          </div>
          <div class="col-4 text-white">
            <a href="/engineering" class="btn btn-lg btn-outline-light d-block">Study Abroad</a>
            <a href="/jst" class="btn btn-lg btn-outline-light d-block my-2">Diversity & Identity</a>
            <a href="/ecp" class="btn btn-lg btn-outline-light d-block">International Travel</a>

          </div>
          <div class="col-4 text-white">
            <a href="/engineering" class="btn btn-lg btn-outline-light d-block">Health & Safety</a>
            <a href="/jst" class="btn btn-lg btn-outline-light d-block my-2">Global Partnerships</a>
            <a href="/ecp" class="btn btn-lg btn-outline-light d-block">Support Our Programs</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




