{{> header.header-image}}
<div class="container" id="content">
  <div class="row">
    <div class="col-8">
      <div id="content-6829">
        <h2>How do people and organizations inspire trust?</h2>
        <p>They make choices based on justifiable standards. They take others into account in their decisions. And then they do what they say they will do.</p>
        <p>The Markkula Center for Applied Ethics engages individuals and organizations to make choices that respect and care for others. &nbsp;In our focus areas—bioethics, business ethics, campus ethics, character education, government ethics, Internet ethics, journalism ethics, leadership ethics, and social sector ethics—we work with scholars and professionals to apply ethical ideas to the very real problems people encounter. We examine the obstacles to ethical action in many areas of our lives and develop tools to help people perform at their best.</p>
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="col-sm-4">
      <nav class="side-navigation match-page-title">
        <!-- Start: Programmable Layout Nav Object Here -->
        <a class="side-navigation-header" href="/ethics/" style="display: none;">Markkula Center for Applied Ethics</a><ul style="display: none;"><li><a href="/ethics/about-the-center/">About the Center</a></li><li><a href="/ethics/focus-areas/">Focus Areas </a></li><li><a href="/ethics/ethics-resources/">Ethics Resources</a></li><li><a href="/ethics/events/">Events</a></li><li><a href="/ethics/donate/">Donate</a></li></ul>
        <!-- End: Programmable Layout Nav Object Here -->
      </nav>
      <a href="https://www.scu.edu/ethics/subscribe/" class="maroon  link-button" role="button" target="_blank">Subscribe to Our Newsletter</a>

      <div class="one-column social-grid module">

        <div class="social"><a class="facebook" href="https://www.facebook.com/MarkkulaCenterForAppliedEthics/?ref=bookmarks"><span class="demo-icon icon-facebook-squared"></span><span class="sr-only">Follow us on Facebook</span></a></div>

        <div class="social"><a class="twitter" href="https://twitter.com/scuethics"><span class="demo-icon icon-twitter"></span><span class="sr-only">Follow us on Twitter</span></a></div>

        <div class="social"><a class="instagram" href="https://www.instagram.com/markkulaethicscenter/"><span class="fa fa-instagram"></span><span class="sr-only">Follow us on Instagram</span></a></div>

        <div class="social"><a class="linkedin" href="https://www.linkedin.com/company/markkula"><span class="demo-icon icon-linkedin"></span><span class="sr-only">Join us on LinkedIn</span></a></div>

      </div>
      <div style="clear:left;"></div>


    </div>
  </div>
</div>
