{{> header.header-image}}
<div class="modal" id="mobiLoginModal" tabindex="-1" role="dialog" aria-labelledby="mobiLoginModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Certificate Courses Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-signin">
          <img src="https://www.scu.edu/media/mobi/MOBI_LOGO_Horizontal-color.png" alt="MOBI Logo" class="img-fluid">
          <label for="inputEmail">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
          <label for="inputPassword">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
          <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <main id="content">
        <div id="content-6829">
          <h2>How do people and organizations inspire trust?</h2>
          <p>They make choices based on justifiable standards. They take others into account in their decisions. And then they do what they say they will do.</p>
          <p>The Markkula Center for Applied Ethics engages individuals and organizations to make choices that respect and care for others. &nbsp;In our focus areas—bioethics, business ethics, campus ethics, character education, government ethics, Internet ethics, journalism ethics, leadership ethics, and social sector ethics—we work with scholars and professionals to apply ethical ideas to the very real problems people encounter. We examine the obstacles to ethical action in many areas of our lives and develop tools to help people perform at their best.</p>
        </div>
      </main>
    </div>
    <div class="col-sm-4">
      {{> sidebar}}
      <a href="https://www.scu.edu/ethics/subscribe/" class="maroon  link-button" role="button" target="_blank">Subscribe to Our Newsletter</a>

      <div class="one-column social-grid module">

        <div class="social"><a class="facebook" href="https://www.facebook.com/MarkkulaCenterForAppliedEthics/?ref=bookmarks"><span class="demo-icon icon-facebook-squared"></span><span class="sr-only">Follow us on Facebook</span></a></div>

        <div class="social"><a class="twitter" href="https://twitter.com/scuethics"><span class="demo-icon icon-twitter"></span><span class="sr-only">Follow us on Twitter</span></a></div>

        <div class="social"><a class="instagram" href="https://www.instagram.com/markkulaethicscenter/"><span class="fa fa-instagram"></span><span class="sr-only">Follow us on Instagram</span></a></div>

        <div class="social"><a class="linkedin" href="https://www.linkedin.com/company/markkula"><span class="demo-icon icon-linkedin"></span><span class="sr-only">Join us on LinkedIn</span></a></div>

      </div>
      <div style="clear:left;"></div>


    </div>
  </div>
</div>
