---
title: New Homepage
layout: demo

body-class: homepage
---

<div class="collapse" id="collapseHeader">
  <header class="header-legacy bg-light mb-5 mb-md-0 pt-lg-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-white d-none d-lg-block py-0 fixed-top nav-fixed nav-users"
         id="navbarUsers">
      <div class="accordion-collapses" id="navbarUsersAccordion">
        <div class="collapse bg-white" id="navbarUsersOffices" data-parent="#navbarUsersAccordion">
          <div class="container py-3">
            <div class="row">
              <div class="col d-flex flex-column">
                <a href="#">Campus Ministry</a>
                <a href="#">Campus Safety</a>
                <a href="#">Enrollment Services</a>
                <a href="#">Facilities</a>
              </div>
              <div class="col d-flex flex-column">
                <a href="#">Diversity</a>
                <a href="#">Recreation</a>
                <a href="#">Sustainability</a>
                <a href="#">Technology</a>
              </div>
              <div class="col d-flex flex-column">
                <a href="#">Arts</a>
                <a href="#">Bookstore</a>
                <a href="#">Career Center</a>
                <a href="#">Human Resources</a>
              </div>
              <div class="col d-flex flex-column">
                <a href="#">Mission Church</a>
                <a href="#">Library</a>
                <a href="#">Login</a>
                <a href="#" class="text-sans-bold text-primary">More Offices &amp; Services &raquo;</a>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse bg-white" id="navbarUsersSchools" data-parent="#navbarUsersAccordion">
          <div class="container py-3">
            <div class="row">
              <div class="col d-flex flex-column">
                <p class="text-muted text-uppercase">Schools &amp; Colleges</p>
                <a href="#">College of Arts and Sciences</a>
                <a href="#">Education and Counseling Psychology</a>
                <a href="#">Leavey School of Business</a>
              </div>
              <div class="col d-flex flex-column">
                <p class="text-white">Schools &amp; Colleges</p>
                <a href="#">School of Engineering</a>
                <a href="#">Jesuit School of Theology</a>
                <a href="#">School of Law</a>
              </div>
              <div class="col d-flex flex-column">
                <p class="text-muted text-uppercase">Centers of Distinction</p>
                <a href="#">Miller Center for Social Entrepreneurship</a>
                <a href="#">Ignatian Center for Jesuit Education</a>
                <a href="#">Markkula Center for Applied Ethics</a>
                <a href="#" class="text-sans-bold text-primary">More Centers and Institutes &raquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Faculty &amp; Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Families</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Alumni</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Visitors</a>
          </li>
          <li class="nav-item dropdown mr-1">
            <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersOffices"
               role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersOffices">
              Offices &amp; Services <i class="fas fa-caret-down pl-2"></i>
            </a>
          </li>
          <li class="nav-item dropdown ml-1">
            <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersSchools"
               role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersSchools">
              Schools &amp; Centers <i class="fas fa-caret-down pl-2"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container d-flex align-items-center justify-content-center justify-content-lg-between pt-4 pb-4 pb-md-5">
      <div class="d-flex align-items-center">
        <a href="#" class="seal d-none d-lg-inline mr-3">
          <i class="icon-scu"></i>
          <span class="sr-only">Santa Clara University Homepage</span>
        </a>
        <div class="text-center text-md-left">
          <h2 class="text-trajan wordmark m-0">
            <a href="#" class="text-primary">Santa Clara University</a>
          </h2>
          <h6 class="text-trajan wordmark m-0">
            <a href="#" class="text-muted">The Jesuit University in Silicon Valley</a>
          </h6>
        </div>
      </div>
      <form class="form-inline d-none d-lg-flex">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
          <div class="input-group-append">
            <button class="input-group-text btn btn-light" type="submit">
              <span class="sr-only">Search</span>
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark py-0 fixed-top nav-fixed nav-brand initial" id="navbarBrand">
      <div class="container">
        <button class="navbar-toggler px-3 py-2" type="button"
                data-toggle="collapse" data-target="#navbarBrandList"
                aria-controls="navbarBrandList" aria-expanded="false" aria-label="Toggle navigation">
          <span class="text-uppercase">menu</span>
        </button>
        <form class="form-inline d-lg-none my-2">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
            <div class="input-group-append">
              <button class="input-group-text btn btn-light" type="submit">
                <span class="sr-only">Search</span>
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
        <div class="collapse navbar-collapse bg-primary" id="navbarBrandList">
          <ul class="navbar-nav mr-auto px-0 px-lg-2 py-3 py-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white text-uppercase px-3" href="#">About SCU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-uppercase px-3" href="#">Academics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-uppercase px-3" href="#">Admission</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-uppercase px-3" href="#">Athletics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-uppercase px-3" href="#">Campus Life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-uppercase px-3" href="#">Giving</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-uppercase px-3" href="#">Global</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-uppercase px-3" href="#">News &amp; Events</a>
              <div class="dropdown-divider d-lg-none my-3"></div>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link text-white text-uppercase px-3" href="#">Students</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link text-white text-uppercase px-3" href="#">Faculty</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link text-white text-uppercase px-3" href="#">Families</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link text-white text-uppercase px-3" href="#">Alumni</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link text-white text-uppercase px-3" href="#">Visitors</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link text-white text-uppercase px-3" href="#">Offices &amp; Services</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link text-white text-uppercase px-3" href="#">Schools &amp; Centers</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
<div class="container-homepage">
  <div class="sticky">

    <!-- Fadeable Overlay -->
    <div class="fadeable h-100">
      <div class="overlay h-100 w-100"></div>
      <div class="container d-flex flex-column align-items-center justify-content-between h-100">
        <!-- Header Collapse -->
        <div class="row mt-5">
          <button type="button" class="d-flex align-items-center p-3"
                  data-toggle="collapse" data-target="#collapseHeader"
                  aria-expanded="false" aria-controls="collapseHeader">
            <img src="/assets/images/mission.png" alt="scu.edu" />
          </button>
        </div>
        <!-- /Header Collapse -->

        <div class="row text-center">
          <!-- Marketing Title -->
          <div class="col-12">
            <h2 class="text-uppercase text-white text-sans-light mb-4 display-3 animated fadeIn">Invent the Life You Want to Lead</h2>
          </div>
          <!-- /Marketing Title -->

          <!-- Buttons -->
          <div class="actions col-12 animated">
            <div class="row">
              <div class="col-12 col-sm-4">
                <a href="/apply" class="btn btn-lg btn-outline-light mb-3 d-block">Apply</a>
              </div>
              <div class="col-12 col-sm-4">
                <a href="/visit" class="btn btn-lg btn-outline-light mb-3 d-block">Visit</a>
              </div>
              <div class="col-12 col-sm-4">
                <a href="/contact" class="btn btn-lg btn-outline-light mb-3 d-block">Contact Us</a>
              </div>
            </div>
          </div>
          <!-- /Buttons -->
        </div>

        <!-- Video Controls -->
        <div class="row mb-5">
          <i class="fas fa-chevron-down"></i>
        </div>
        <!-- /Video Controls -->
      </div>
    </div>
    <!-- /Fadeable Overlay -->

    <!-- Video -->
    <div class="video">
      <video autoplay loop muted playsinline>
        <source src="/assets/videos/Fade-To-Black/MP4/Fade-To-Black.mp4" type="video/mp4"/>
        Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="/assets/videos/Fade-To-Black/WEBM/Fade-To-Black.webm" type="video/webm"/>
        Your browser does not support the video tag. I suggest you upgrade your browser.
        <img src="/assets/videos/Fade-To-Black/Snapshots/Fade-To-Black.jpg" class="video-snapshot" title="Your web browser does not support HTML5 videos - we recommend you update to a newer browser." />
      </video>
    </div>
    <!-- /Video -->

  </div>
</div>

<div class="homepage-content">
  <div class="block container">
    <div class="container">
      <div class="row">
        <!-- Heading -->
        <div class="text-center mx-auto mb-5">
          <h2 class="h1 text-sans-light mb-3">Welcome to Claradise</h2>
          <p>Our strategy is simple: to create a place where the best researchers and most promising students can achieve their full potential.</p>
        </div>
        <!-- /Heading -->
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- Youtube Iframe -->
          <div class="embed-responsive embed-responsive-16by9 u-shadow-v36 mb-4">
            <iframe src="https://www.youtube.com/embed/FxiskmF16gU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
          </div>
          <!-- /Youtube Iframe -->
        </div>
        <div class="col-md-6">
          <!-- Links -->
          <ul class="list-unstyled mb-0">
            <li class="mb-3">
              <div class="media u-block-hover g-color-main g-text-underline--none--hover g-transition-0_5 g-px-10 g-py-15">
                <div class="d-flex mr-4">
                <span class="u-icon-v3 u-icon-size--lg u-shadow-v35 g-color-blue g-color-white--hover g-bg-secondary-dark-v1 g-bg-main--hover g-font-size-20 rounded-circle">
                  <i class="icon-finance-067 u-line-icon-pro"></i>
                </span>
                </div>
                <div class="media-body">
                  <h3 class="text-sans-light mb-2">Hey There</h3>
                  <p class="g-font-size-16 mb-0">We’re students, teachers, and mentors headquartered in the most innovative place on earth: Silicon Valley. Different people flourish here. Santa Clara University people—with their gifts and goals—driven to build a better, kinder, more humane, and sustainable planet. We come from all walks of life. We travel seas, coasts, highways, and city blocks to call SCU home. And when we're together, home is exactly what this place feels like.</p>
                </div>
                <a class="u-link-v2" href="page-future-students-1.html"></a>
              </div>
            </li>
          </ul>
          <!-- /Links -->
        </div>
      </div>
    </div>
  </div>
  <div class="block jumbotron jumbotron-fluid has-dim-8 academics mb-0" style="background-image: url(https://scu.edu/media/portals/visitors/VisitorsLandingImage.jpg); background-size: cover;">
    <div class="container">
      <div class="col mx-auto text-center text-white">
        <h2 class="text-serif-bold" style="padding-top: 5rem;">Welcome to Claradise.</h2>
        <p class="lead">Our people and programs enable you to build a powerful foundation, one that kick-starts your career and sends you out to lead the life you’ve imagined.</p>
        <hr class="dots-left" style="border-top: 1px dashed black;">
        <div class="row">
          <div class="col-sm-6 text-left">
            <a href="/cas" class="btn btn-lg btn-outline-light mb-3 d-block">College of Arts and Sciences</a>
            <a href="/business" class="btn btn-lg btn-outline-light mb-3 d-block">Leavey School of Business</a>
            <a href="http://law.scu.edu" class="btn btn-lg btn-outline-light mb-3 d-block">School of Law</a>
          </div>
          <div class="col-sm-6 text-left">
            <a href="/engineering" class="btn btn-lg btn-outline-light mb-3 d-block">School of Engineering</a>
            <a href="/jst" class="btn btn-lg btn-outline-light mb-3 d-block">Jesuit School of Theology</a>
            <a href="/ecp" class="btn btn-lg btn-outline-light mb-3 d-block" style="white-space: normal">Education and Counseling Psychology</a>
          </div>
        </div>
        <hr class="dots-left" style="border-top: 1px dashed black;">
        <h2 class="text-sans-light mb-3">SCU offers 113 majors and minors. Find yours.</h2>
        <div class="col">
          <select name="departments" id="departments" class="custom-select form-control-lg" data-placeholder="Majors, Minors, and Programs">
            <option></option>
            <optgroup label="College of Arts and Sciences">
              <option data-target="/cas/anthropology">Anthropology</option>
              <option>Art and Art History</option>
              <option>Biology</option>
              <option>Chemistry and Biochemistry</option>
              <option>Classics</option>
              <option>Communication</option>
              <option>English</option>
              <option>Environmental Studies</option>
              <option>Ethnic Studies</option>
              <option>History</option>
              <option>Liberal Studies</option>
              <option>Math and Computer Science</option>
              <option>Military Science</option>
              <option>Modern Languages and Literatures</option>
              <option>Music</option>
              <option>Philosophy</option>
              <option>Physics</option>
              <option>Political Science</option>
              <option>Psychology</option>
              <option>Public Health</option>
              <option>Religious Studies</option>
              <option>Sociology</option>
              <option>Theatre and Dance</option>
              <option>Women's and Gender Studies</option>
            </optgroup>
            <optgroup label="School of Engineering">
              <option>Bioengineering</option>
              <option>Civil Engineering</option>
              <option>Computer Science and Engineering</option>
              <option>Electrical Engineering</option>
              <option>Mechanical Engineering</option>
              <option>Web Design and Engineering</option>
            </optgroup>
            <optgroup label="Leavey School of Business">
              <option>Accounting</option>
              <option>Accounting & Information Systems</option>
              <option>Economics</option>
              <option>Finance</option>
              <option>Management</option>
              <option>Marketing</option>
              <option>Management Information Systems (in the department of OMIS)</option>
            </optgroup>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="block" style="background-color: #546575; color: white;">
    <div class="container text-center">
      <div class="row">
        <div class="col-6 col-md-3">
          <p class="display-3 text-serif">11:1</p>
          <p class="text-sans-light text-uppercase small">Student to Faculty Ratio</p>
          <hr>
          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
        <div class="col-6 col-md-3">
          <p class="display-3 text-serif">98%</p>
          <p class="text-sans-light text-uppercase small">Students Receiving Aid</p>
          <hr>
          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
        <div class="col-6 col-md-3">
          <p class="display-3 text-serif">98%</p>
          <p class="text-sans-light text-uppercase small">Students Receiving Aid</p>
          <hr>
          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
        <div class="col-6 col-md-3">
          <p class="display-3 text-serif">500</p>
          <p class="text-sans-light text-uppercase small">Students Receiving Aid</p>
          <hr>
          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-light py-5">
    {{> pull-quote.pull-quote-inv }}
  </div>
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-md-4 windowpane has-overlay bg-img-left-center has-dim p-0" style="background-image: url(https://www.scu.edu/media/institutional-pages/news-ampamp-events/audrey-760x480.jpg);">
        <div class="windowpane-overlay p-3 text-sans-light">
          <p class="h3 mb-0">The Gift of Water</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque dolore dolorum expedita illo illum modi, molestias nam necessitatibus nemo nihil nisi odit officiis perspiciatis quae quibusdam suscipit totam, vero.</p>
          <p class="mt-3">
            <button type="button" class="btn btn-primary btn-sm">Event Details</button>
          </p>
        </div>
        <div class="windowpane-desc p-3 text-white">
          <h2 class="text-sans-light text-uppercase">The Gift of Water</h2>
          <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4 windowpane has-overlay bg-img-left-center has-dim p-0" style="background-image: url(https://lwcal.scu.edu/live/image/gid/10/width/250/2260_Dan-Hoyle-Her.jpg);">
        <div class="windowpane-overlay p-3 text-sans-light">
          <p class="h3 mb-0">The Real Americans</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque dolore dolorum expedita illo illum modi, molestias nam necessitatibus nemo nihil nisi odit officiis perspiciatis quae quibusdam suscipit totam, vero.</p>
          <p class="mt-3">
            <button type="button" class="btn btn-primary btn-sm">Event Details</button>
          </p>
        </div>
        <div class="windowpane-desc p-3 text-white">
          <h4 class="text-sans-light text-uppercase">The Real Americans</h4>
          <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4 windowpane has-overlay bg-img-left-center has-dim p-0" style="background-image: url(https://scu.edu/media/institutional-pages/news-ampamp-events/CB180213_StateOfUniv760x480.jpg);">
        <div class="windowpane-overlay p-3 text-sans-light">
          <p class="h3 mb-0">Bearing One Another's Burdens</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque dolore dolorum expedita illo illum modi, molestias nam necessitatibus nemo nihil nisi odit officiis perspiciatis quae quibusdam suscipit totam, vero.</p>
          <p class="mt-3">
            <button type="button" class="btn btn-primary btn-sm">Event Details</button>
          </p>
        </div>
        <div class="windowpane-desc p-3 text-white">
          <h4 class="text-sans-light text-uppercase">Bearing One Another’s Burdens</h4>
          <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
