  ---
  title: Homepage
  layout: demo
  ---


  <style>
    .motifline {
      font-family: "Trade Gothic Next W01",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
      font-size: 40px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color: #b30738;
    }
    .redrow {
        padding: 1rem;
        background-color: #b30738;
        color: #fff;
        text-align: center;
        margin-top: -2rem;
      }
      .notification {
        padding: 1rem;
        border: solid 1.5px #b30738;

        text-align: center;
      }
      .notification-title {
        color: #b30738;
        font-size: 18px;
      }
      .notification-info {
        color: #212529;
        font-size: 18px;
      }
      .container-fluid.pride-section {
        background-color: #f4f2f0;
        text-align: center;
        padding-bottom: 30px;
        padding-top: 10px;
      }

      .card.pride-section {
        border: none;
        background: none;
        border-radius: 0;
      }

      .col-md-auto.numbers {
        text-align: center;
        border-right: 1px solid #b30738;
        padding-left: 30px;
        padding-right: 30px;
        height: 95px;
      }
      .col-md-auto.numbers-button {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
      }

      p.numbers-red {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.2;
        text-align: center;
        font-size: 75px;
        color: #b30738;
        font-weight: 600;
      }
      p.numbers-black {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.2;
        text-align: center;
        font-size: 75px;
        color: #212529;
        font-weight: 600;
      }

      p.numbers-red.text {
        line-height: 1.2;
        text-align: center;
        font-weight: 400;
        color: #b30738;
        font-size: 1rem;
      }
      p.numbers-black.text {
        line-height: 1.2;
        text-align: center;
        font-weight: 400;
        color: #212529;
        font-size: 1rem;
      }

      .jumbotron.hero h1.secNavSection {
        font-family: "Trade Gothic W01 Bold_2";
        bottom: 0;
        color: #fff;
        font-size: 60px;
        line-height: 47px;
        margin: 0;
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 50%;
        top: 72%;
        margin-left: -50%;
        margin-top: -20px;
        text-align: center;
      }

      a.btn.btn-primary.secNavSecion {
        height: 80px;
        width: 340px;
        font-size: 25px;
        padding: 18px 0;
      }

      .row.justify-content-md-center.secNavSection {
          margin-top: -100px;
          flex-wrap: nowrap;
          padding-top: 20px;
          padding-bottom: 45px;
          margin-left: auto; 
          margin-right: auto; 
        }

      .column.gallery-sm {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }
      .column.gallery-sm img, 
      .column.gallery-md img
       {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }
      .column.gallery-md img
       {
        height: 376px;
      }
      .col-md-8.text-left {
        padding-left: 4px !important;
      }
      h1.block-title.text-primary.gallery.hidden {
        display: none;
      }
      img.campaign {
        height: 227px;
      }
      .col-md-auto.campaign {
        background: #f4f2f0;
        padding: 0;
      }
      .col.campaign {
        background: #f4f2f0;
        padding-left: 50px;
        padding-top: 24px;
      }
      .tagboard.text-center {
        color: #fff;
      }
      h1.campaign {
        color: #b30738;
      }

      span.text-uppercase.text-muted.discover {
          font-size: 12px;
      }

      .home-campaign-divider {
        background:#f4f2f0;
        background: linear-gradient(to right bottom, #f4f2f0 50%, #b30738  50.1%);
      }
      .home-campaign-message {
        background-color: #f4f2f0;
      }


      @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 812px) 
        and (-webkit-min-device-pixel-ratio: 3) { 

          .col-md-auto.numbers {
            text-align: center;
            border-right: none;
            padding-left: 0;
            padding-right: 0;
            height: auto;
            padding-bottom: 10px;
        }
      }


      @media only screen and (max-width: 992px)  
      {
        .motifline {
          font-size: 25px;
        }     
        .card-block.card-body.pride-section.border-right {
          border-right: 0 !important;
          padding: 0;
        }
        .jumbotron.hero h1.secNavSection {
          font-size: 40px;

        }
        h1.secNavSection {
          top: 55% !important;
        }
        .col-md-auto.secNavSection {
          padding: 10px;
        }
        
        .col-md-8.text-left,
        .col-md-4.text-left {
          flex: 100%;
          max-width: 100%;
      }

      .row.justify-content-md-center.secNavSection {
            flex-wrap: wrap;
            margin-left: 0;
            margin-right: 0;
        }

      h1.block-title.text-primary.gallery.hidden {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      h1.block-title.text-primary.gallery {
          display: none;
        }
    }

    @media only screen and (max-width: 1200px)  
      {
          
        .column.gallery-sm, 
          .column.gallery-md {
            flex: 50%;
            max-width: 50%;
          }

        .column.gallery-md {
            display: none;
          }

      }

  </style>


  {{> header.header emergency=true}}
  {{> jumbotron.video}}

  <!--START DECORATIVE SECTION-->
  <div class="w-screen mt-4">
    <div class="redrow">   
    </div>
  </div>
  <!--END DECORATIVE SECTION-->

  <!--START HEALTH ADISORY SECTION-->


  <div class="container my-4">
    <div class="notification">
           <span class="notification-title"><i class="fas fa-exclamation-circle"></i></span>
           <span class="text-bold text-primary">Health Advisory Alert:</span> For the latest information, please visit our <a href="https://www.scu.edu/covid-19"><u>COVID-19 website</u></a> for updates and read our <a href="https://www.scu.edu/covid-19/faqs/"><u>FAQ</u></a>.
          </div>
    </div>
  <!--END HEALTH ADVISORY SECTION-->

  <!--START TAGLINE SECTION-->
  <div class="container-fluid py-3 text-center">
    <div class="container">
      <h4 class="motifline">We’re students, teachers, and mentors headquartered <br>
  in the <b>most innovative place on earth</b>: Silicon Valley.</h4>
    </div>
  </div>
  <!--END TAGLINE SECTION-->


  <!--BY THE NUMBERS SECTION-->

  <div class="container">
    <div class="row justify-content-md-center numbers" style="padding-top: 20px; padding-bottom: 45px; margin-left: auto; margin-right: auto; line-height: 0.9;">
      <div class="col-md-auto numbers"><p class="numbers-red">94%</p>
        <p class="numbers-red text">First-year <br>retention</p>
      </div>

      <div class="col-md-auto numbers"><p class="numbers-black">11:1</p>
        <p class="numbers-black text">Student to <br> faculty ratio</p>
      </div>

      <div class="col-md-auto numbers"><p class="numbers-red">85%</p>
        <p class="numbers-red text">Percent 4-year<br> graduation</p>
      </div>

      <div class="col-md-auto numbers" style="border: none;"><p class="numbers-black">300</p>
        <p class="numbers-black text">Days of Sunshine <br> per year</p>
      </div>
    </div>
    <div class="row justify-content-md-center numbers-button">
      <div class="col-md-auto numbers-button">
        <a class="btn btn-primary" href="/">More Points of Pride</a>
      </div>
    </div>
  </div>

  <!--END BY THE NUMBERS SECTION-->



  <!--START CALL TO ACTION-->
  <div class="jumbotron jumbotron-fluid hero has-dim-2 pb-0 pt-4" style="background-image:url(https://image.scu.edu/image/upload/v1583791556/NEW%20homepage%20assets/Homepage-Banner_Desktop_Q40.jpg);">




   <div class="container position-relative">
      <h1 class="secNavSection">Invent the Life You Want To Lead</h1>
    </div>
  </div>



  <div class="container secNavSection">
    <div class="row justify-content-md-center secNavSection" style="padding-top: 20px; padding-bottom: 45px;">
      <div class="col-md-auto secNavSection" style="text-align: center;"><a class="btn btn-primary secNavSecion" href="https://www.scu.edu/admission/undergraduate/choosing-scu/">Visit</a></div>
      <div class="col-md-auto secNavSection" style="text-align: center;"><a class="btn btn-primary secNavSecion" href="https://www.scu.edu/admission/undergraduate/choosing-scu/">Apply</a></div>
      <div class="col-md-auto secNavSection" style="text-align: center;"><a class="btn btn-primary secNavSecion" href="https://www.scu.edu/admission/undergraduate/choosing-scu/">Contact</a></div>
    </div>
  </div>
  <!--END CALL TO ACTION-->


  <!--START DISCOVER SCU-->
  <div class="jumbotron block bg-white text-center mb-0">
    <div class="container">
      <h1 class="block-title text-primary">Discover SCU</h1>
      <div class="row mt-3 ">
        <div class="col-md-9 text-left">
          <div class="">
            <img src="https://image.scu.edu/image/upload/v1584035907/NEW%20homepage%20assets/Jamie-FeaturedStory.jpg" class="w-100 h-auto" alt="featured story image" />
            <span class="text-uppercase text-muted discover">Student Spotlight</span>
            <h3><a href="">Jamie Ferris: Mechanical Engineer, Philosopher and Runner</a></h3>
            <p>Jamie Ferris ’19 doesn’t let many opportunities pass her by. As a Presidential Scholarship recipient, the honors program senior is double majoring in Mechanical engineering and philosophy.</p>
          </div>
          <hr />
          <a href="/news/features" class="btn btn-primary">Read all stories</a>
        </div>
        <div class="col-md-3 text-left">
          <div class="">
            <img src="https://image.scu.edu/image/upload/v1584036048/NEW%20homepage%20assets/SeanReilley.jpg" class="img-fluid" alt="secondary image" />
            <span class="text-uppercase text-muted discover">Student Spotlight</span>
            <p class="h5 mb-3"><a href="">Sean Reilly: Environmental Hero, Climber and Rhodes Scholar</a></p>
          </div>
          <div class="">
            <img src="https://image.scu.edu/image/upload/t_LinkedIn/v1583861010/NEW%20homepage%20assets/SCU_Areli_Hernandez-20190528-jag-0546t.jpg" class="img-fluid" alt="secondary image" />
            <span class="text-uppercase text-muted discover">Student Spotlight</span>
            <p class="h5 mb-3"><a href="">Areli Hernandez: First Generation Student, Fulbright Scholar and Dancer</a></p>
          </div>
          <div class="">
            <img src="https://image.scu.edu/image/upload/v1583861286/NEW%20homepage%20assets/MaggiVanDorn.jpg" class="img-fluid" alt="secondary image" />
            <span class="text-uppercase text-muted discover">Alumni</span>
            <p class="h5 mb-3"><a href="">Podcasting on Pain and Progress</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--END DISCOVER SCU-->


  <!--START LWC SECTION-->

  <div class="jumbotron block bg-white  text-dark has-dim-0 text-center mb-0" style="border-radius:0;background-color:#033b4c !important">
      <div class="container">
        <h1 class="block-title"><span class="text-white">Upcoming Events</span></h1>
        <div class="row no-gutter">
  <div class="col-md-5 bg-white mt-3">
  <div class="lwcw" data-options="id=516&amp;format=html"><div class="bg-white text-dark mt-3 text-left h-100" style="position:relative;">
      <img src="https://lwcal.scu.edu/live/image/gid/16/width/720/height/480/crop/1/src_region/0,0,907,960/4420_Gonzalez-Andrieu_Portrait.rev.1583787050.jpg" class="img-fluid mb-3" alt="">
      <div class="" style="background-image:url('https://image.scu.edu/image/upload/v1583793049/NEW%20homepage%20assets/FeaturedStory-Banner.png'); height:98px; width:70px; position:absolute; top:0;left:0;">
        <div class="mt-1 text-center text-light text-uppercase">Mar</div>
        <div class="text-center text-white h3">31</div>
      </div>
      <h3><a href="https://lwcal.scu.edu/news-and-events/campus-calendar/#!view/event/event_id/180258">CANCELED: Faith, Politics, and the 2020 Election</a></h3>
      <div>
        <strong>6:00pm, St. Clare Room, Library and Learning Commons</strong>
      </div>
      <p>Join the Ignatian Center’s Bannan Forum for a discussion on faith and politics in the context of the 2020 election. &nbsp;This event will&nbsp;feature Professor Cecilia Gonzalez-Andrieu, Theological Studies, Loyola Marymount University and Professor Julie Rubio, Social Ethics, Jesuit School of Theology, and 2019-2020 Bannan Faculty Fellow.</p>
    </div></div>
  </div>
  <div class="col-md-7">
  <div class="lwcw" data-options="id=517&amp;format=html"><div class="row no-gutter pl-md-3">
  <div class="text-left col-md-6 p-0 pt-3">
      <div class="bg-white pt-0 px-3 pb-3 mr-md-3 h-100">
        <div class="d-inline-block">
          <div class="mb-1 bg-primary text-white text-uppercase font-weight-bold px-2 py-1">Mar 31</div>
        </div>
        <h4><a href="https://lwcal.scu.edu/news-and-events/campus-calendar/#!view/event/event_id/180258">CANCELED: Faith, Politics, and the 2020 Election</a></h4>
        <div>
          <strong>6:00pm, St. Clare Room, Library and Learning Commons</strong>
        </div>
        <p>Join the Ignatian Center’s Bannan Forum for a discussion on faith and politics in the context of the 2020 election. &nbsp;This event will&nbsp;feature Professor Cecilia Gonzalez-Andrieu, Theological Studies, Loyola Marymount University and Professor Julie Rubio, Social Ethics, Jesuit School of Theology, and 2019-2020 Bannan Faculty Fellow.</p>
      </div>
    </div>
    <div class="text-left col-md-6 p-0 pt-3">
      <div class="bg-white pt-0 px-3 pb-3 mr-md-3 h-100">
        <div class="d-inline-block">
          <div class="mb-1 bg-primary text-white text-uppercase font-weight-bold px-2 py-1">Apr 7</div>
        </div>
        <h4><a href="https://lwcal.scu.edu/news-and-events/campus-calendar/#!view/event/event_id/161034">Community Conversations: Building Bridges at SCU</a></h4>
        <div>
          <strong>12:15pm, Nobili Dining Room</strong>
        </div>
        <p>Join us on the first Tuesday of the month for an opportunity to come together as an SCU community and have candid conversations &amp; discussions</p>
      </div>
    </div>
    <div class="text-left col-md-6 p-0 pt-3">
      <div class="bg-white pt-0 px-3 pb-3 mr-md-3 h-100">
        <div class="d-inline-block">
          <div class="mb-1 bg-primary text-white text-uppercase font-weight-bold px-2 py-1">Apr 14</div>
        </div>
        <h4><a href="https://lwcal.scu.edu/news-and-events/campus-calendar/#!view/event/event_id/184580">Asking Algorithms (and Ourselves) the Right Questions</a></h4>
        <div>
          <strong>8:00pm, Music Recital Hall</strong>
        </div>
        <p>Join us for the 2020 Gerald and Sally DeNardo Lectureship featuring UC Berkeley’s Ziad Obermeyer, M.D.</p>
      </div>
    </div>
    <div class="text-left col-md-6 p-0 pt-3">
      <div class="bg-white pt-0 px-3 pb-3 mr-md-3 h-100">
        <div class="d-inline-block">
          <div class="mb-1 bg-primary text-white text-uppercase font-weight-bold px-2 py-1">May 2</div>
        </div>
        <h4><a href="https://lwcal.scu.edu/news-and-events/campus-calendar/#!view/event/event_id/182325">Annual Santa Clara University Pow Wow</a></h4>
        <div >
          <strong>10:00am, Mission Gardens, SCU Campus (outside of St. Joseph’s Hall, Varsi Hall, Adobe Lodge)</strong>
        </div>
        <p class="collapse" id="collapseExample" aria-expanded="false">Come join the SCU Native American Coalition for Change (NACC) for their 2nd Annual Pow Wow at Santa Clara University</p><a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      </div>
    </div>
  </div></div>
  </div>
  </div>
  <p>
  <!--<script id="lw_lwcw" src="//lwcal.scu.edu/livewhale/theme/core/scripts/lwcw.js" type="text/javascript"></script>-->
  </p>
        <a href="https://t4.scu.edu/terminalfour/preview/20/en/7742" class="btn btn-primary mt">See all events</a>
      </div>
    </div>

  <!--END LWC SECTION-->

  <!--START WHY CHOOSE SCU SECTION-->

  <div class="jumbotron block bg-white text-center mb-0">

   <div class="container">
    <div class="row mt-3 hidden">
      <h1 class="block-title text-primary gallery hidden">Why Choose SCU</h1>
    </div>
    <div class="row mt-3 ">
      <div class="col-md-8 text-left">
        <div class="column gallery-img">
          <img src="https://image.scu.edu/image/upload/v1584036155/NEW%20homepage%20assets/ENG.jpg" class="w-100 h-auto" />
        </div>
      </div>
      <div class="col-md-4 text-left">
        <div class="column gallery-text">
         <h1 class="block-title text-primary gallery">Why Choose SCU</h1>
         <p>People of all backgrounds flourish here. One thing they have in common? They want to make a difference. Santa Clara students are driven to build a better, kinder, more humane, and sustainable planet. And everything they need is right here. With our Silicon Valley location, dedicated community of scholars, and opportunities inside and outside of the classroom, we teach you to think critically, take risks, and take charge.</p>
         <p><a href="" class="btn btn-primary">Learn More</a></p>
        </div>
      </div>
      </div>
    </div>
  <div class="container">  
  <div class="row gallery">
    <div class="column gallery-sm">
      <img src="https://image.scu.edu/image/upload/v1584306390/NEW%20homepage%20assets/basketball-small.jpg">
      <img src="https://image.scu.edu/image/upload/v1584306390/NEW%20homepage%20assets/campus-small.jpg">
    </div>

    <div class="column gallery-md">
      <img src="https://image.scu.edu/image/upload/v1583793456/NEW%20homepage%20assets/SCU-Commencement-20190614-jgensheimer-5523.jpg">
    </div>
    
    <div class="column gallery-sm">
      <img src="https://image.scu.edu/image/upload/v1584306390/NEW%20homepage%20assets/dancers-small.jpg">
      <img src="https://image.scu.edu/image/upload/v1584306390/NEW%20homepage%20assets/cultural-small.jpg">
    </div>
  </div>
  </div>

  </div>
  <!--END WHY CHOOSE SCU SECTION-->

  <!--START CAMPAIGN BANNER -->

    <div class="home-campaign row m-0">
      <div class="home-campaign-message col-md-5 p-5 pl-lg-5 pr-lg-0 order-last order-md-first text-center text-md-left">
      <div class="pl-lg-3 h1 text-primary">We're on a Mission</div>
        <div class="pl-lg-3 "><p>Support SCU into the next stage of its storied history and inspire the next generation of ethical leaders.</p></div>
        <div class="pl-lg-3 "><a href="https://t4.scu.edu/terminalfour/preview/20/en/40500" class="btn btn-primary">Give Now</a></div>
    </div>
    <div class="home-campaign-divider col-md-2 d-none d-md-block"></div>
    <div class="home-campaign-image col-md-5 bg-primary p-5 d-flex flex-wrap align-items-center justify-content-center order-first order-md-last"><img src="https://image.scu.edu/image/upload/v1584491086/NEW%20homepage%20assets/NEW_CampaignBanner.png" alt="Innovating with a Mission - the Campaign for Santa Clara University" class="img-fluid"></div>
  </div>

  <!--END CAMPAIGN BANNER -->

  <!-- TAG BBOARD -->


  <div class="jumbotron block bg-white  text-dark has-dim-0 text-center mb-0" style="border-radius:0;background-color:#033b4c !important">
    <div class="container ">
      <div class="tagboard text-center "><h1>Get Connected</h1></div>
      <div id="d.en.518929"><!-- Embed code item --></div>
      <div class="tagboard-embed" tgb-embed-id="3735"></div><script src="https://static.tagboard.com/embed/assets/js/embed.js"></script>
      <div class="container text-center">
        <div class="row" style="margin-left: auto;margin-right: auto;width: 306px;">
          <div class="col col-sm-auto social"><a class="facebook" href="https://www.facebook.com/scuadmission"><span class="demo-icon icon-facebook-squared"></span><span class="sr-only">Follow us on Facebook</span></a></div>
          <div class="col col-sm-auto social"><a class="twitter" href="https://twitter.com/SCUAdmission"><span class="demo-icon icon-twitter"></span><span class="sr-only">Follow us on Twitter</span></a></div>
          <div class="col col-sm-auto social"><a class="instagram" href="https://www.instagram.com/SCUAdmission"><span class="fab fa-instagram"></span><span class="sr-only">Follow us on Instagram</span></a></div>
        </div>
      </div>
    </div>
  </div>
  <!--END TAGBOARD-->








