---
title: Homepage
layout: demo
---

{{> header.header emergency=true}}

{{> jumbotron.video}}
<div class="container-fluid py-3 text-center bg-light">
  <div class="container">
    <h5 class="text-serif-bold mb-1">A Special Weekend</h5>
    <p class="text-sans-light mb-0">Santa Clara University celebrates the graduating class of 2018 at its 167th commencement ceremony and throughout the weekend. Photo by Joanne Lee</p>
  </div>
</div>
<div class="container mt-5" id="content">
  <div class="row">
    <div class="col-sm-6">
      <div class="section-header"><h3>Top Stories</h3></div>
      <div class="featured-story module mb-4">
        <div class="mb-3">
          <a href="https://magazine.scu.edu/webonly.cfm?b=439&c=23864">
            <img src="/assets/images/examples/t4_5882787259884407288.jpg" class="img-thumbnail d-flex mr-3" />
          </a>
        </div>
        <h4 class="mt-2">
          <a href="https://magazine.scu.edu/webonly.cfm?b=439&c=23864">Cruise Control</a>
        </h4>
        <p>Are Americans ready for autonomous cars? They have been ready for more than a
          century, says professor of insurance law <strong>Robert W. Peterson</strong>.</p>
      </div>
      <div class="news module">
        <div class="row">
          <a href="/news-and-events/top-stories/no-blue-no-green.html" class="col-12 col-md-5">
            <img src="/assets/images/examples/md-earle.jpg" class="img-thumbnail" />
          </a>
          <div class="col-12 col-md-7">
            <h4 class="mt-0 h5">
              <a href="/news-and-events/top-stories/no-blue-no-green.html">No Blue, No Green</a>
            </h4>
            <p>On a visit to the Mission Campus, oceanographer Sylvia Earle and
              Autodesk Explorer-in-Residence Jonathan Knowles stressed that Earth
              needs everyone to be an active advocate on its behalf.</p>
          </div>
        </div>
        <div class="row mt-3">
          <a href="https://www.scu.edu/cowell/meningitis-updates/faqs-regarding-the-second-bexsero-vaccine.html" class="col-12 col-md-5">
            <img src="/assets/images/examples/lg-0213-meningitis-720x480.jpg" class="img-thumbnail" />
          </a>
          <div class="col-12 col-md-7">
            <h4 class="mt-0 h5">
              <a href="https://www.scu.edu/cowell/meningitis-updates/faqs-regarding-the-second-bexsero-vaccine.html">Meningitis Updates for the SCU Campus</a>
            </h4>
            <p><strong>March 8, 2016 (12:00):</strong> Read FAQ's regarding the
              second dose of the Bexsero® vaccine.</p></div>
        </div>
        <div class="row mt-3">
          <a href="https://magazine.scu.edu/scm/fall2015/bronco-news.cfm?b=439&c=23427" class="col-12 col-md-5">
            <img src="/assets/images/examples/lg-spotlight-760x482.jpg" class="img-thumbnail" />
          </a>
          <div class="col-12 col-md-7">
            <h4 class="mt-0 h5"><a
              href="https://magazine.scu.edu/scm/fall2015/bronco-news.cfm?b=439&c=23427">In
              the Spotlight</a>
            </h4>
            <p><strong>Blye Pagon Faust &rsquo;97</strong>, co-producer of the movie
              <em>Spotlight</em>, wins an Oscar for Best Picture at the 88th
              Academy Awards.</p>
          </div>
        </div>
        <div class="row mt-3">
          <a href="/news-and-events/top-stories/getting-stuff-done.html" class="col-5 pl-0">
            <img src="/assets/images/examples/lg-1602-kreiner.jpg" class="img-thumbnail d-flex" />
          </a>
          <div class="col-12 col-md-7">
            <h4 class="mt-0 h5"><a href="/news-and-events/top-stories/getting-stuff-done.html">Getting Stuff Done</a></h4>
            <p>The <em>Silicon Valley Business Journal</em> catches up on social
              entrepreneurship in a Q&A with Miller Center's <strong>Thane
                Kreiner</strong>.</p></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="section-header">
        <h3>Events</h3>
      </div>
      <div class="events module">
        <div class="lwcw" data-options="id=16&format=html&link_to_calendar=/events"></div>
      </div>
      <script type="text/javascript" id="lw_lwcw"
              src="https://lwcal.scu.edu/livewhale/theme/core/scripts/lwcw.js"></script>
      <div class="events module">
        <div class="lwcw" data-options="id=182&format=html&link_to_calendar=/events"></div>
      </div>
      <script type="text/javascript" id="lw_lwcw"
              src="https://lwcal.scu.edu/livewhale/theme/core/scripts/lwcw.js"></script>
    </div>
  </div>
</div>
