---
title: Homepage
layout: demo
---

<header class="header-legacy bg-light mb-5 mb-md-0 pt-lg-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-white d-none d-lg-block py-0 fixed-top nav-fixed initial nav-users"
       id="navbarUsers">
    <div class="accordion-collapses" id="navbarUsersAccordion">
      <div class="collapse bg-white" id="navbarUsersOffices" data-parent="#navbarUsersAccordion">
        <div class="container py-3">
          <div class="row">
            <div class="col d-flex flex-column">
              <a href="#">Campus Ministry</a>
              <a href="#">Campus Safety</a>
              <a href="#">Enrollment Services</a>
              <a href="#">Facilities</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Diversity</a>
              <a href="#">Recreation</a>
              <a href="#">Sustainability</a>
              <a href="#">Technology</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Arts</a>
              <a href="#">Bookstore</a>
              <a href="#">Career Center</a>
              <a href="#">Human Resources</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Mission Church</a>
              <a href="#">Library</a>
              <a href="#">Login</a>
              <a href="#" class="text-sans-bold text-primary">More Offices &amp; Services &raquo;</a>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse bg-white" id="navbarUsersSchools" data-parent="#navbarUsersAccordion">
        <div class="container py-3">
          <div class="row">
            <div class="col d-flex flex-column">
              <p class="text-muted text-uppercase">Schools &amp; Colleges</p>
              <a href="#">College of Arts and Sciences</a>
              <a href="#">Education and Counseling Psychology</a>
              <a href="#">Leavey School of Business</a>
            </div>
            <div class="col d-flex flex-column">
              <p class="text-white">Schools &amp; Colleges</p>
              <a href="#">School of Engineering</a>
              <a href="#">Jesuit School of Theology</a>
              <a href="#">School of Law</a>
            </div>
            <div class="col d-flex flex-column">
              <p class="text-muted text-uppercase">Centers of Distinction</p>
              <a href="#">Miller Center for Social Entrepreneurship</a>
              <a href="#">Ignatian Center for Jesuit Education</a>
              <a href="#">Markkula Center for Applied Ethics</a>
              <a href="#" class="text-sans-bold text-primary">More Centers and Institutes &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Faculty &amp; Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Families</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Alumni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Visitors</a>
        </li>
        <li class="nav-item dropdown mr-1">
          <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersOffices"
             role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersOffices">
            Offices &amp; Services <i class="fas fa-caret-up pl-2"></i>
          </a>
        </li>
        <li class="nav-item dropdown ml-1">
          <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersSchools"
             role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersSchools">
            Schools &amp; Centers <i class="fas fa-caret-up pl-2"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container d-flex align-items-center justify-content-center justify-content-lg-between pt-4 pb-4 pb-md-5">
    <div class="d-flex align-items-center">
      <a href="#" class="seal d-none d-lg-inline mr-3">
        <i class="icon-scu"></i>
        <span class="sr-only">Santa Clara University Homepage</span>
      </a>
      <div class="text-center text-md-left">
        <h2 class="text-trajan wordmark m-0">
          <a href="#" class="text-primary">Santa Clara University</a>
        </h2>
        <h6 class="text-trajan wordmark m-0">
          <a href="#" class="text-muted">The Jesuit University in Silicon Valley</a>
        </h6>
      </div>
    </div>
    <form class="form-inline d-none d-lg-flex">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
        <div class="input-group-append">
          <button class="input-group-text btn btn-light" type="submit">
            <span class="sr-only">Search</span>
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark py-0 fixed-top nav-fixed initial nav-brand" id="navbarBrand">
    <div class="container">
      <button class="navbar-toggler px-3 py-2" type="button"
              data-toggle="collapse" data-target="#navbarBrandList"
              aria-controls="navbarBrandList" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-uppercase">menu</span>
      </button>
      <form class="form-inline d-lg-none my-2">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
          <div class="input-group-append">
            <button class="input-group-text btn btn-light" type="submit">
              <span class="sr-only">Search</span>
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <div class="collapse navbar-collapse bg-primary" id="navbarBrandList">
        <ul class="navbar-nav mr-auto px-0 px-lg-2 py-3 py-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">About SCU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Academics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Admission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Athletics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Campus Life</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Giving</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Global</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">News &amp; Events</a>
            <div class="dropdown-divider d-lg-none my-3"></div>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Students</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Faculty</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Families</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Alumni</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Visitors</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Offices &amp; Services</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Schools &amp; Centers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="py-5"
     style="background-image:url(/assets/images/cwsw-bg.jpg);background-repeat:no-repeat;background-size:cover">
  <div class="container py-md-5 my-md-5">
    <div class="can-we-head row d-flex flex-column">
      <div class="col-12">
        <h5>
          <a href="#" class="px-3 py-2 text-uppercase text-sans-light text-white">Stem at SCU</a>
        </h5>
        <h2>
          <a href="#" class="px-3 py-2 text-serif text-white">Building. For the Future.</a>
        </h2>
      </div>
    </div>
    <div class="can-we-content row d-flex flex-nowrap flex-lg-wrap mt-5 pb-5">
      <div class="can-we-box col-11 col-lg p-3 mx-3 shadow">
        <h2 class="mt-2"><a href="#" class="text-primary text-serif">Can We?</a></h2>
        <div class="shadow">
          <img src="/assets/images/cwsw-marvier.jpg" class="w-100 h-auto" alt="" />
        </div>
        <p>SCU is transforming the way students <a href="#">approach problem solving</a>.</p>
        <p>
          Michelle Marvier<br><a href="#">Environmental Sciences</a>
        </p>
      </div>
      <div class="can-we-box col-11 col-lg p-3 mx-3 shadow">
        <h2 class="mt-2"><a href="#" class="text-primary text-serif">Should We?</a></h2>
        <div class="shadow">
          <img src="/assets/images/cwsw-wheeler.jpg" class="w-100 h-auto" alt="" />
        </div>
        <p>Removing boundaries between disciplines leads to <a href="#">solutions for complex questions</a>.</p>
        <p>
          Korin Wheeler<br><a href="#">Biochemistry</a>
        </p>
      </div>
      <div class="can-we-box col-11 col-lg p-3 mx-3 shadow">
        <h2 class="mt-2"><a href="#" class="text-primary text-serif">Will We?</a></h2>
        <div class="shadow">
          <img src="/assets/images/cwsw-lu.jpg" class="w-100 h-auto" alt="" />
        </div>
        <p>New therapies need new engineering. Our students can apply their knowledge <a href="#">to create relevant strategies</a>.</p>
        <p>
          Bill Lu<br><a href="#">Bioengineering</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-3 text-center"
      style="background-color:rgba(0,0,0,.02)">
  <div class="container">
    <h5 class="text-serif-bold mb-1">A Special Weekend</h5>
    <p class="text-sans-light mb-0">Santa Clara University celebrates the graduating class of 2018 at its 167th commencement ceremony and throughout the weekend. Photo by Joanne Lee</p>
  </div>
</div>
<div class="container mt-5" id="content">
  <div class="row">
    <div class="col-sm-6">
      <div class="section-header"><h3>Top Stories</h3></div>
      <div class="featured-story module mb-4">
        <div class="mb-3">
          <a href="https://magazine.scu.edu/webonly.cfm?b=439&c=23864">
            <img src="/assets/images/examples/t4_5882787259884407288.jpg" class="img-thumbnail d-flex mr-3" />
          </a>
        </div>
        <h4 class="mt-2">
          <a href="https://magazine.scu.edu/webonly.cfm?b=439&c=23864">Cruise Control</a>
        </h4>
        <p>Are Americans ready for autonomous cars? They have been ready for more than a
          century, says professor of insurance law <strong>Robert W. Peterson</strong>.</p>
      </div>
      <div class="news module">
        <div class="media">
          <a href="/news-and-events/top-stories/no-blue-no-green.html" class="mr-3">
            <img src="/assets/images/examples/md-earle.jpg" class="d-flex img-thumbnail" />
          </a>
          <div class="media-body">
            <h4 class="mt-0">
              <a href="/news-and-events/top-stories/no-blue-no-green.html">No Blue, No Green</a>
            </h4>
            <p>On a visit to the Mission Campus, oceanographer Sylvia Earle and
              Autodesk Explorer-in-Residence Jonathan Knowles stressed that Earth
              needs everyone to be an active advocate on its behalf.</p>
          </div>
        </div>
        <div class="media mt-3">
          <a href="https://www.scu.edu/cowell/meningitis-updates/faqs-regarding-the-second-bexsero-vaccine.html" class="mr-3">
            <img src="/assets/images/examples/lg-0213-meningitis-720x480.jpg" class="img-thumbnail d-flex" />
          </a>
          <div class="media-body">
            <h4 class="mt-0">
              <a href="https://www.scu.edu/cowell/meningitis-updates/faqs-regarding-the-second-bexsero-vaccine.html">Meningitis Updates for the SCU Campus</a>
            </h4>
            <p><strong>March 8, 2016 (12:00):</strong> Read FAQ's regarding the
              second dose of the Bexsero® vaccine.</p></div>
        </div>
        <div class="media mt-3">
          <a href="https://magazine.scu.edu/scm/fall2015/bronco-news.cfm?b=439&c=23427" class="mr-3">
            <img src="/assets/images/examples/lg-spotlight-760x482.jpg" class="img-thumbnail d-flex" />
          </a>
          <div class="media-body">
            <h4 class="mt-0"><a
              href="https://magazine.scu.edu/scm/fall2015/bronco-news.cfm?b=439&c=23427">In
              the Spotlight</a>
            </h4>
            <p><strong>Blye Pagon Faust &rsquo;97</strong>, co-producer of the movie
              <em>Spotlight</em>, wins an Oscar for Best Picture at the 88th
              Academy Awards.</p>
          </div>
        </div>
        <div class="media mt-3">
          <a href="/news-and-events/top-stories/getting-stuff-done.html" class="mr-3">
            <img src="/assets/images/examples/lg-1602-kreiner.jpg" class="img-thumbnail d-flex" />
          </a>
          <div class="media-body"><h4 class="mt-0"><a
            href="/news-and-events/top-stories/getting-stuff-done.html">Getting
            Stuff Done</a></h4>
            <p>The <em>Silicon Valley Business Journal</em> catches up on social
              entrepreneurship in a Q&A with Miller Center's <strong>Thane
                Kreiner</strong>.</p></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="section-header">
        <h3>Events</h3>
      </div>
      <div class="events module">
        <div class="lwcw" data-options="id=16&format=html&link_to_calendar=/events"></div>
      </div>
      <script type="text/javascript" id="lw_lwcw"
              src="https://lwcal.scu.edu/livewhale/theme/core/scripts/lwcw.js"></script>
      <div class="events module">
        <div class="lwcw" data-options="id=182&format=html&link_to_calendar=/events"></div>
      </div>
      <script type="text/javascript" id="lw_lwcw"
              src="https://lwcal.scu.edu/livewhale/theme/core/scripts/lwcw.js"></script>
    </div>
  </div>
</div>
