---
title: Homepage
layout: demo
---
<div class="can-we feature module"
     style="background-image:url(/assets/images/examples/banner-mag.jpg); background-position:50% 10%;">
  <div class="container can-we-body">
    <div class="can-we-headline">
      <a href="https://magazine.scu.edu/scm/spring2016/index.cfm"><span>Santa Clara Magazine</span></a>
      <h2><a href="https://magazine.scu.edu/scm/spring2016/features.cfm?b=439&c=23779">Seeing Stars</a></h2>
    </div>
    <div class="row can-we-boxes mt-5">
      <div class="col">
        <div class="can-we-box"><h2><span>

                Can we?

            </span></h2>

          <div class="can-we-photo">
            <img src="/assets/images/examples/sm-weatherholt.jpg"
                 alt="">
          </div>

          <p>Can we&nbsp;show <a
            href="https://magazine.scu.edu/scm/spring2016/mission-matters.cfm?b=439&amp;c=23786">teamwork
            and drive</a>&nbsp;when it matters most?</p>
          <div class="can-we-credit">
            <p>Dani Weatherholt ’16,<br><a
              href="http://santaclarabroncos.com/sports/w-soccer/index">Women’s
              Soccer</a></p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="can-we-box"><h2><span>

                Should we?

            </span></h2>
          <div class="can-we-photo">
            <img src="/assets/images/examples/sm-sobrato.jpg" alt="">
          </div>
          <p>Should we <a
            href="https://magazine.scu.edu/scm/spring2016/features.cfm?b=439&amp;c=23780">give
            back to the local communities</a>&nbsp;that helped make us who we are?</p>
          <div class="can-we-credit">
            <p>John A. Sobrato ’60,<br><a
              href="http://www.sobrato.com/sobrato-philanthropies/sobrato-family-foundation/overview/">Sobrato
              Family Foundation</a></p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="can-we-box"><h2><span>

                Will we?

            </span></h2>
          <div class="can-we-photo">
            <img src="/assets/images/examples/sm-kopf.jpg" alt="">
          </div>
          <p>Will we <a
            href="https://magazine.scu.edu/scm/spring2016/features.cfm?b=439&amp;c=23781">make
            greenhouses smarter</a>&nbsp;in order to feed the world?</p>
          <div class="can-we-credit">
            <p>Allison Kopf&nbsp;’11,<br><a href="http://www.agrilyst.com/">Agrilyst</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-caption container"><p><strong>Let there be light:</strong>&nbsp;The
    magnificent starburst galaxy Messier 82 (M82), which&nbsp;we can see thanks to the efforts
    of <strong>Frank Cepollina ’59</strong>, the <a
      href="https://magazine.scu.edu/spring2016/features.cfm?b=439&amp;c=23779">NASA maverick
      who saved the Hubble telescope</a>. <em>Photo courtesy of NASA</em></p>
  </div>
</div>
<div class="container" id="content">
  <div class="row">
    <div class="col-sm-6">
      <div class="section-header"><h3>Top Stories</h3></div>
      <div class="featured-story module mb-4">
        <div class="mb-3">
          <a href="https://magazine.scu.edu/webonly.cfm?b=439&c=23864">
            <img src="/assets/images/examples/t4_5882787259884407288.jpg" class="img-thumbnail d-flex mr-3" />
          </a>
        </div>
        <h4 class="mt-2">
          <a href="https://magazine.scu.edu/webonly.cfm?b=439&c=23864">Cruise Control</a>
        </h4>
        <p>Are Americans ready for autonomous cars? They have been ready for more than a
          century, says professor of insurance law <strong>Robert W. Peterson</strong>.</p>
      </div>
      <div class="news module">
        <div class="media">
          <a href="/news-and-events/top-stories/no-blue-no-green.html">
            <img src="/assets/images/examples/md-earle.jpg" class="d-flex mr-3 img-thumbnail" />
          </a>
          <div class="media-body">
            <h4 class="mt-0">
              <a href="/news-and-events/top-stories/no-blue-no-green.html">No Blue, No Green</a>
            </h4>
            <p>On a visit to the Mission Campus, oceanographer Sylvia Earle and
              Autodesk Explorer-in-Residence Jonathan Knowles stressed that Earth
              needs everyone to be an active advocate on its behalf.</p>
          </div>
        </div>
        <div class="media mt-3">
          <a href="https://www.scu.edu/cowell/meningitis-updates/faqs-regarding-the-second-bexsero-vaccine.html">
            <img src="/assets/images/examples/lg-0213-meningitis-720x480.jpg" class="img-thumbnail d-flex mr-3" />
          </a>
          <div class="media-body">
            <h4 class="mt-0">
              <a href="https://www.scu.edu/cowell/meningitis-updates/faqs-regarding-the-second-bexsero-vaccine.html">Meningitis Updates for the SCU Campus</a>
            </h4>
            <p><strong>March 8, 2016 (12:00):</strong> Read FAQ’s regarding the
              second dose of the Bexsero® vaccine.</p></div>
        </div>
        <div class="media mt-3">
          <a href="https://magazine.scu.edu/scm/fall2015/bronco-news.cfm?b=439&c=23427">
            <img src="/assets/images/examples/lg-spotlight-760x482.jpg" class="img-thumbnail d-flex mr-3" />
          </a>
          <div class="media-body">
            <h4 class="mt-0"><a
            href="https://magazine.scu.edu/scm/fall2015/bronco-news.cfm?b=439&c=23427">In
            the Spotlight</a>
            </h4>
            <p><strong>Blye Pagon Faust &rsquo;97</strong>, co-producer of the movie
              <em>Spotlight</em>, wins an Oscar for Best Picture at the 88th
              Academy Awards.</p>
          </div>
        </div>
        <div class="media mt-3">
          <a href="/news-and-events/top-stories/getting-stuff-done.html">
            <img src="/assets/images/examples/lg-1602-kreiner.jpg" class="img-thumbnail d-flex mr-3" />
          </a>
          <div class="media-body"><h4 class="mt-0"><a
            href="/news-and-events/top-stories/getting-stuff-done.html">Getting
            Stuff Done</a></h4>
            <p>The <em>Silicon Valley Business Journal</em> catches up on social
              entrepreneurship in a Q&A with Miller Center's <strong>Thane
                Kreiner</strong>.</p></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="section-header">
        <h3>Events</h3>
      </div>
      <div class="events module">
        <div class="lwcw" data-options="id=16&format=html&link_to_calendar=/events"></div>
      </div>
      <script type="text/javascript" id="lw_lwcw"
              src="https://lwcal.scu.edu/livewhale/theme/core/scripts/lwcw.js"></script>
      <div class="events module">
        <div class="lwcw" data-options="id=182&format=html&link_to_calendar=/events"></div>
      </div>
      <script type="text/javascript" id="lw_lwcw"
              src="https://lwcal.scu.edu/livewhale/theme/core/scripts/lwcw.js"></script>
    </div>
  </div>
</div>
