---
title: Can We
layout: demo
---
<nav class="gateway-navigation offcanvas-right" id="scu-gateway-navigation">
	<div class="container sidebar-offcanvas">
		<ul class="nav navbar-left">
			<li class="dropdown scu-nav">
				<a href="https://t4.scu.edu/terminalfour/preview/20/en/1127" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<span class="text-hide mission">Main Navigation for</span>


					<span class="caret hidden-xs"></span>
				</a>
				<div class="dropdown-menu">
					<div class="container">
						<ul role="menu" class="nav nav-pills">
							<li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1127">Home</a></li>
							<li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1128">About SCU</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1129">Academics</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1130">Admission</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1131">Campus Life</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1132">Athletics</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1133">Global</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1134">Giving</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1135">News & Events</a></li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
		<ul class="nav nav-pills navbar-right">

			<li class="dropdown scu-gateways">
				<a href="#" class="dropdown-toggle text-hide hidden-xs people-gateways" data-toggle="dropdown" role="button" aria-expanded="false">People Gateways</a>
				<div class="dropdown-menu">
					<div class="container">
						<ul role="menu" class="nav nav-pills navbar-right">
							<li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1215">Students</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1216">Faculty & Staff</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1217">Families</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/4471">Alumni</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/4720">Visitors</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="slide-menu">
				<a href="https://t4.scu.edu/terminalfour/preview/20/en/16985" role="button" aria-expanded="false">
    <span class="gateway-dropdown">
      Offices & Services <span class="caret"></span>
    </span>
				</a>
				<div class="slide-panel">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h6>Offices and Services at Santa Clara University</h6>
							</div>
							<div class="col-sm-3">
								<ul>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="38" href="https://t4.scu.edu/terminalfour/preview/20/en/3504">Enrollment Services</a></li>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="16" href="https://t4.scu.edu/terminalfour/preview/20/en/3554">Campus Ministry</a></li>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="26" href="https://t4.scu.edu/terminalfour/preview/20/en/6079">Campus Safety</a></li>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="27" href="https://t4.scu.edu/terminalfour/preview/20/en/6927">Facilities</a></li>
								</ul>
							</div>
							<div class="col-sm-3">
								<ul>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="42" href="https://t4.scu.edu/terminalfour/preview/20/en/5678">Diversity and&nbsp;Inclusion</a></li>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="54" href="https://t4.scu.edu/terminalfour/preview/20/en/7435">Technology at SCU</a></li>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="18" href="https://t4.scu.edu/terminalfour/preview/20/en/1521">Recreation</a></li>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="19" href="https://t4.scu.edu/terminalfour/preview/20/en/4477">Sustainability</a></li>
								</ul>
							</div>
							<div class="col-sm-3">
								<ul>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="31" href="https://t4.scu.edu/terminalfour/preview/20/en/14984">Arts at SCU</a></li>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="44" href="https://t4.scu.edu/terminalfour/preview/20/en/8622">Bookstore</a></li>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="20" href="https://t4.scu.edu/terminalfour/preview/20/en/4208">Career Center</a></li>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="21" href="https://t4.scu.edu/terminalfour/preview/20/en/3370">Human Resources</a></li>
								</ul>
							</div>
							<div class="col-sm-3">
								<ul>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="32" href="https://t4.scu.edu/terminalfour/preview/20/en/4833">University Library</a></li>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="23" href="https://t4.scu.edu/terminalfour/preview/20/en/2022">Mission Church</a></li>
									<li><a data-t4-type="sslink" data-t4-ss-link-id="29" href="https://t4.scu.edu/terminalfour/preview/20/en/11204">SCU Login</a></li>
								</ul>
								<a href="https://t4.scu.edu/terminalfour/preview/20/en/16985" class="more-link">Offices and Services »</a>
							</div>
						</div>

					</div>
				</div>
			</li>

			<li class="slide-menu">
				<a href="https://t4.scu.edu/terminalfour/preview/20/en/11631" role="button" aria-expanded="false">
    <span class="gateway-dropdown">
      Schools & Centers <span class="caret"></span>
    </span>
				</a>
				<div class="slide-panel">
					<div class="container">
						<div class="row">

							<div class="col-sm-7">
								<h6>Schools and Colleges</h6>
								<div class="row">
									<div class="col-sm-6">
										<ul>
											<li><a data-t4-type="sslink" data-t4-ss-link-id="16" href="https://t4.scu.edu/terminalfour/preview/20/en/2222">College of Arts and&nbsp;Sciences</a></li>
											<li><a data-t4-type="sslink" data-t4-ss-link-id="3" href="https://t4.scu.edu/terminalfour/preview/20/en/2651">Education and Counseling Psychology</a></li>
											<li><a data-t4-type="sslink" data-t4-ss-link-id="4" href="https://t4.scu.edu/terminalfour/preview/20/en/3923">Leavey School of Business</a></li>
										</ul>
									</div>
									<div class="col-sm-6">
										<ul>
											<li><a data-t4-type="sslink" data-t4-ss-link-id="13" href="https://t4.scu.edu/terminalfour/preview/20/en/2329">School of Engineering</a></li>
											<li><a data-t4-type="sslink" data-t4-ss-link-id="10" href="https://t4.scu.edu/terminalfour/preview/20/en/3059">Jesuit School of Theology</a></li>
											<li><a href="http://law.scu.edu">School of Law</a></li>
										</ul>

									</div>
								</div>
							</div>

							<div class="col-sm-5">
								<h6> Centers of Distinction</h6>
								<div class="row">
									<div class="col-sm-12">
										<ul>
											<li><a href="http://www.scu-social-entrepreneurship.org/">Miller Center for Social Entrepreneurship</a></li>
											<li><a data-t4-type="sslink" data-t4-ss-link-id="6" href="https://t4.scu.edu/terminalfour/preview/20/en/2129">Ignatian Center for Jesuit Education</a></li>
											<li><a data-t4-type="sslink" data-t4-ss-link-id="7" href="https://t4.scu.edu/terminalfour/preview/20/en/2551">Markkula Center for Applied Ethics</a></li>
										</ul><a href="https://t4.scu.edu/terminalfour/preview/20/en/16984" class="more-link">Centers and Institutes »</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</li>

			<li class="hidden-xs dropdown dropdown-search">
				<a href="#" class="glyphicon glyphicon-search" data-toggle="dropdown" role="button" aria-expanded="false"></a>
				<div class="dropdown-menu">
					<form class="navbar-form" method="get" action="/search/">
						<div class="input-group">
							<input type="search" class="form-control" name="q" id="q" placeholder="SEARCH">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit" aria-label="Submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
						</div>
					</form>
				</div>
			</li>
		</ul>
	</div>
	<div class="slide-menu-backdrop"></div>
</nav>

</header>



<div class="landing hero module" style="background-image:url(https://t4.scu.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=383222032);">
	<div class="container">
		<h1>Hire SCU</h1>
		<div class="hero-body ">
			<div class="row">
				<div class="col-xs-6 col-xs-push-6 col-sm-4 col-sm-push-8">


				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" id="content">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="page-title">Hire SCU</h1>
			<ol class="breadcrumb">
				<li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1127">Home</a></li><li><a href="https://t4.scu.edu/terminalfour/preview/20/en/21487">Hire SCU</a>  </li>
			</ol>


			<a name="d.en.189383"></a>
			<div class='intro'><p><h4 class="p1"><span class="s2">Santa Clara University graduates are in demand in Silicon Valley.</span></h4></p></div>
			<h3><span class="s2">Did you know?</span></h3>
			<ul>
				<li class="li1"><span class="s2">More than 5,000 employers recruit SCU students each year through the University’s Career Center.</span></li>
				<li class="li1"><span class="s2">When asked if college graduates were ready to work — 87% of companies that hire SCU graduates say yes, compared to 42% nationally.</span></li>
				<li class="li1"><span class="s2">86% of SCU employers say SCU graduates demonstrate an excellent work ethic.</span></li>
				<li class="li1"><span class="s2">The top five employers of SCU graduates are Cisco, Apple, Google, Oracle, and Lockheed Martin.</span></li>
			</ul>
			<p>&nbsp;</p>
			<h2 class="p1" style="text-align: center; font-size: 24px !important;"><a title="Silicon Valley hires SCU" href="https://magazine.scu.edu/scm/spring2016/exclusives.cfm?b=439&amp;c=23862">Learn more about why Silicon Valley hires SCU.</a></h2>
			<hr>
			<p>&nbsp;</p>
			<script>// <![CDATA[
			$(document).ready(function() { $('h1.page-title').hide();});
			// ]]></script>



			<div class="row pull-quote-container">
				<div class="col-sm-4">
					<div class="pull-quote-img">
						<img src="https://t4.scu.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=959302452" alt="" width="360"  height="237"  class="img-responsive" />
					</div>
				</div>
				<div class="col-sm-8">
					<div class="pull-quote">
						<h6>Versa Networks</h6>

						<cite>
							&quot;I have always found the SCU alums I hired &mdash; and worked alongside &mdash; to be dedicated and hard working professionals that I can trust, and possess the values key to building a truly collaborative workplace.&quot;
							<br>
							<span><p>Mark Weiner, Chief Marketing Officer, Versa Networks</p></span>
						</cite>
						<a href="https://t4.scu.edu/terminalfour/preview/20/en/1183" class="btn btn-default" role="button">Graduate Programs at SCU</a>
					</div>
				</div>
			</div><div class="row pull-quote-container">
			<div class="col-sm-4">
				<div class="pull-quote-img">
					<img src="https://t4.scu.edu/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=590705945" alt="" width="360"  height="237"  class="img-responsive" />
				</div>
			</div>
			<div class="col-sm-8">
				<div class="pull-quote">
					<h6>Wells Fargo</h6>

					<cite>
						&ldquo;Santa Clara University graduates make fantastic employees because their multi-discipline education and focus on self-awareness prepares them more fully to step in and be productive team members on day one.&rdquo;
						<br>
						<span><p class="p1"><span class="s1">Lisa Stevens, Regional President West Coast Operations, Wells Fargo &amp; Company</span></p></span>
					</cite>
					<a href="https://t4.scu.edu/terminalfour/preview/20/en/1165" class="btn btn-default" role="button">SCU's Mission, Vision, and Values</a>
				</div>
			</div>
		</div><div class="row">
			<div class="col-md-8">



			</div>
			<div class="col-md-4">



			</div>
		</div>  <div class="pull-right"></div>

		</div>

	</div>
</div>
