---
title: Legacy Custom
layout: legacy
---

<header class="header-legacy bg-light pt-lg-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-white d-none d-lg-block py-0 fixed-top nav-fixed initial nav-users"
       id="navbarUsers">
    <div class="accordion-collapses" id="navbarUsersAccordion">
      <div class="collapse bg-white" id="navbarUsersOffices" data-parent="#navbarUsersAccordion">
        <div class="container py-3">
          <div class="row">
            <div class="col d-flex flex-column">
              <a href="#">Campus Ministry</a>
              <a href="#">Campus Safety</a>
              <a href="#">Enrollment Services</a>
              <a href="#">Facilities</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Diversity</a>
              <a href="#">Recreation</a>
              <a href="#">Sustainability</a>
              <a href="#">Technology</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Arts</a>
              <a href="#">Bookstore</a>
              <a href="#">Career Center</a>
              <a href="#">Human Resources</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Mission Church</a>
              <a href="#">Library</a>
              <a href="#">Login</a>
              <a href="#" class="text-sans-bold text-primary">More Offices &amp; Services &raquo;</a>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse bg-white" id="navbarUsersSchools" data-parent="#navbarUsersAccordion">
        <div class="container py-3">
          <div class="row">
            <div class="col d-flex flex-column">
              <p class="text-muted text-uppercase">Schools &amp; Colleges</p>
              <a href="#">College of Arts and Sciences</a>
              <a href="#">Education and Counseling Psychology</a>
              <a href="#">Leavey School of Business</a>
            </div>
            <div class="col d-flex flex-column">
              <p class="text-white">Schools &amp; Colleges</p>
              <a href="#">School of Engineering</a>
              <a href="#">Jesuit School of Theology</a>
              <a href="#">School of Law</a>
            </div>
            <div class="col d-flex flex-column">
              <p class="text-muted text-uppercase">Centers of Distinction</p>
              <a href="#">Miller Center for Social Entrepreneurship</a>
              <a href="#">Ignatian Center for Jesuit Education</a>
              <a href="#">Markkula Center for Applied Ethics</a>
              <a href="#" class="text-sans-bold text-primary">More Centers and Institutes &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="dropdown nav-brand-mini" id="navBrandMini">
        <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" id="navBrandMiniBtn"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="icon-mission mr-2"></span> <span class="text-uppercase">scu.edu</span>
        </button>
        <div class="dropdown-menu bg-primary shadow" aria-labelledby="navBrandMiniBtn">
          <div class="container">
            <ul class="nav nav-pills flex-nowrap flex-row py-1" role="menu">
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Home</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">About SCU</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Academics</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Admission</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Campus Life</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Athletics</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Global</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Giving</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">News &amp; Events</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link text-uppercase px-3">Campus Life</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-uppercase px-3">University Operations</a>
        </li>
        <li class="nav-item dropdown mr-1">
          <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersOffices"
             role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersOffices">
            Offices &amp; Services <i class="fas fa-caret-up pl-2"></i>
          </a>
        </li>
        <li class="nav-item dropdown ml-1">
          <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersSchools"
             role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersSchools">
            Schools &amp; Centers <i class="fas fa-caret-up pl-2"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container d-flex align-items-center justify-content-center justify-content-lg-between py-4">
    <div class="d-flex align-items-center py-3">
      <div class="text-center text-lg-left">
        <h2 class="text-trajan wordmark m-0">
          <a href="#" class="text-dark">Center for Sustainability</a>
        </h2>
        <h6 class="text-primary text-trajan wordmark m-0">
          <a href="#">Santa Clara University</a>
        </h6>
      </div>
    </div>
    <form class="form-inline d-none d-lg-flex">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
        <div class="input-group-append">
          <button class="input-group-text btn btn-light" type="submit">
            <span class="sr-only">Search</span>
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav-fixed initial nav-dark nav-custom">
    <div class="container">
      <button class="navbar-toggler px-3 py-2" type="button"
              data-toggle="collapse" data-target="#navbarCustom"
              aria-controls="navbarCustom" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-uppercase">menu</span>
      </button>
      <form class="form-inline d-lg-none my-2">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
          <div class="input-group-append">
            <button class="input-group-text btn btn-light" type="submit">
              <span class="sr-only">Search</span>
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <div class="collapse navbar-collapse" id="navbarCustom">
        <ul class="navbar-nav mr-auto py-3 py-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-sans-light text-uppercase px-3"
               href="#" id="navbarCustom1" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Get Involved
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarCustom1">
              <a class="dropdown-item" href="#">Conserve Water</a>
              <a class="dropdown-item" href="#">Eat Sustainably</a>
              <a class="dropdown-item" href="#">Reduce Waste</a>
              <a class="dropdown-item" href="#">Save Energy</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Academics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Operations</a>
            <div class="dropdown-divider d-lg-none my-3"></div>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-uppercase px-3" href="#">scu.edu</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-uppercase px-3" href="#">Information for..</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-uppercase px-3" href="#">Offices &amp; Services</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-uppercase px-3" href="#">Schools &amp; Centers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="py-5" style="background-image: url('/assets/images/examples/stage_lighting.JPG');">
  <div class="container py-5">
    <h1 class="cover-image-title text-serif-bold text-white pb-2">Page Title</h1>
    <div class="row">
      <div class="col-12 col-md-8 bg-white p-5">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
        <div id="content-28989" class="pt-3">
          <p class="lead pb-3">This is the Cover Image layout. It's intended to replace pages with empty heroes. It works best with large images (over 500px wide). Add a .cover-image class to the body to have styles applied to content.</p>
          <hr class="pt-3">
          <h2>Leading a Life of Purpose</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorem ex explicabo magni? At error incidunt nobis non perferendis? Amet culpa eius enim facilis fugiat illum incidunt ipsam nobis repellat.</p>
          <h3>Asking Questions</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem deserunt ducimus et, excepturi expedita explicabo fugit iure nemo neque non odit quaerat, sed tempore voluptatum! Laboriosam necessitatibus tempore tenetur.</p>
          <h3>Being Aware</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deserunt dicta exercitationem iste maiores nihil quis quo repudiandae, totam! Ab accusamus culpa cumque dolore et fugit labore laboriosam ratione sapiente!</p>
          <div class="row">
            <div class="col-6">
              <img src="holder.js/100px260" alt="Placeholder" class="img-fluid">
              <h3>Students Making a Difference</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores aspernatur atque debitis dolorum ea, est ex explicabo, iste labore modi nostrum porro provident qui saepe sunt ullam veniam, voluptate.</p>
            </div>
            <div class="col-6">
              <img src="holder.js/100px260" alt="Placeholder" class="img-fluid">
              <h3>Faculty Expertise</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias animi corporis cumque deleniti dolorem, earum esse est expedita illo libero optio possimus quae quibusdam ratione sint tempore voluptatibus?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <img src="holder.js/100px260" alt="Placeholder" class="img-fluid">
              <h3>Students Making a Difference</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores aspernatur atque debitis dolorum ea, est ex explicabo, iste labore modi nostrum porro provident qui saepe sunt ullam veniam, voluptate.</p>
            </div>
            <div class="col-6">
              <img src="holder.js/100px260" alt="Placeholder" class="img-fluid">
              <h3>Faculty Expertise</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias animi corporis cumque deleniti dolorem, earum esse est expedita illo libero optio possimus quae quibusdam ratione sint tempore voluptatibus?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="cover-image-widget bg-white p-3">
          {{> sidebar expanded=true}}
        </div>
        <div class="cover-image-widget bg-white p-3 mt-3">
          <h4 class="text-sans-light">Cover Image Widgets</h4>
          <p>I'm a Cover Image Widget.</p>
          <p>Cover Image Widgets need a container with a .bg-white and utility classes (margin for separation, padding for some content types) to separate them from other blocks.</p>
        </div>
        <div class="cover-image-widget bg-white mt-3">
          <a href="#" class="maroon link-button" role="button">.maroon</a>
        </div>
        <div class="cover-image-widget bg-white mt-3">
          <a href="https://www.scu.edu/rooms/" class="site-pointer">
            <img data-src="holder.js/100px350/" alt="100%x350" class="img-fluid" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22285%22%20height%3D%22350%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20285%20350%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1615321597a%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1615321597a%22%3E%3Crect%20width%3D%22285%22%20height%3D%22350%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2295.7890625%22%20y%3D%22183.1%22%3E285x350%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 350px; width: 100%; display: block;">
            <span class="site-pointer-body p-3">Library Room Reservations</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
