<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet" />
<style type="text/css">
  /* Global */
  i {
    color: #3e3e3e;
  }

  em {
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }

  strong {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
  }

  html, body {
    overflow-x: hidden;
    width: 100%;
  }


  /* Navbar */
  .navbar {
    background-color: #5a5a5a;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 10;
  }

  .navbar input, .navbar button {
    border-radius: 0;
  }

  .navbar a, .navbar i {
    color: #fff;
  }

  .navbar a {
    padding-right: .5em;
  }


  /* All types of main content (below landing) */
  .content {
    color: #444;
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    padding-top: 2em;
  }

  hr {
    border: 1px solid rgba(179, 7, 56, .2);
  }

  h2 {
    color: #585858;
    display: inline;
    font-size: 2em;
    margin: 0;
  }

  h3 {
    color: #b30738;
    font-size: 250%;
    font-weight: 300;
    margin: 2em 0 1em 0;
    text-indent: -2em;
  }

  /* Landing (large article photo with short description) */
  .landing {
    background: linear-gradient(rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, .5)),
      url(https://magazine.scu.edu/docs/images/rte/blogapp_img/b439/lg-1610-wranglerstevens.jpg) no-repeat;
    background-size: cover;
    height: 40em;
  }

  .landing-text {
    align-items: flex-end;
    display: flex;
    height: 42em;
  }

  .landing-text h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-style: italic;
  }

  .landing-text span {
    display: block;
    font-family: sans-serif;
    font-size: 180%;
    font-style: normal;
    text-transform: uppercase;
  }

  cite {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
  }

  .quote {
    border-left: 4px solid #b30738;
    float: right;
    font-weight: bold;
    margin: 2em -10em 2em 2em;
    padding-left: 1em;
    position: relative;
  }

  .photo {
    float: right;
    margin: 2em -10em 2em 2em;
    position: relative;
  }

  .caption {
    border-left: 4px solid #b30738;
    color: #999;
    margin-top: 1em;
    padding: 1em;
  }

  .caption h4 {
    color: #999;
  }

  .author {
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
  }


  /* Full-width "fluid" content break-up sections */
  .full-width-content {
    background: radial-gradient(circle, #454545, #424242);
    margin: 1.5em 0;
    padding: 2em 0;
  }

  .full-width-content span {
    color: #f5f5f5;
    font-family: 'Playfair Display', serif;
    font-size: 6em;
    vertical-align: middle;
  }

  .full-width-content cite {
    color: #fff;
    display: inline;
    font-size: 3em;
    font-style: normal;
    vertical-align: middle;
  }


  /* Footers */
  .subfooter {
    background-color: #575757;
    color: #fff;
    margin-top: 2em;
    padding: 2em 0;
  }

  .subfooter h4, .subfooter h5 {
    color: #e8e8e8;
  }

  .subfooter p {
    font-family: 'Playfair Display', serif;
  }

  .footer i:first-child {
    padding: 0;
  }

  .footer i {
    color: #fff;
    font-size: 1.5em;
    padding-left: 1em;
  }

  .footer {
    background-color: #393939;
    color: #fff;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 2em 0;
  }
</style>
<div class="fluid-container">
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><i class="icon-scu"></i>&nbsp;&nbsp;SCU Magazine</a>
        </div>
        <div class="collapse navbar-collapse">
          <form class="navbar-form navbar-right">
            <i class="fa fa-long-arrow-left"></i>&nbsp;<a href="#">Return to scu.edu</a>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="landing fluid-container">
  <div class="landing-text">
    <div class="col-md-8 col-md-offset-2">
      <h1>Bill Stevens <span>and Wrangler</span></h1>
    </div>
  </div>
</div>
<div class="content container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="text-align: center;">
      <cite>A dog with millions of fans. And a blind jazz pianist teaching students to do more than they imagined possible.</cite>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-md-offset-5">
      <hr />
      <p class="author">By Jesse Hamlin</p>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>It was just a few months ago that Wrangler first joined <strong>Bill Stevens</strong>, the vital double-fisted jazz pianist and SCU music lecturer.</p>

      <p>If you don’t already know Wrangler, odds are one of your friends does. The dog became a star on <em>Today</em>, the NBC morning television show, where he appeared daily for more than a year with a trainer from Guiding Eyes for the Blind. Wrangler won hearts around the nation before leaving showbiz to start six months of rigorous training at Guiding Eyes in Yorktown Heights, N.Y. He and Stevens are the subject of a segment of <em>Today</em> recently filmed on and around the Mission campus.</p>

      <p>“He loves the work and is doing really well,” Stevens says of Wrangler, an energetic yellow Lab who likes be where the action is. “Because he grew up on the <em>Today</em> show he thinks everything is about him,” Stevens says. “He’s definitely a ham.”</p>

      <p>Stevens has been working with Wrangler to develop a rapport, which normally takes three to six months. “When the <em>Today</em> show was here trailing us around, he was in his element, just loving it.”</p>

      <p>At SCU, Stevens is very much in his element, too. He loves to swim, body surf, and practice the intuitive dance form called Contact Improvisation. He brings the same joyous energy and spirit of discovery to his classroom teaching and his SCU concert performances.</p>

      <p>His fluid playing, with its bracing block chords and long melodic lines, draws on a wide range of sources, from Bill Evans and Keith Jarrett to Oscar Peterson and Earl “Fatha” Hines. Stevens has a new CD out, <em>A Blues By Any Other Name</em>, recorded live at SCU in 2014 with bassist <strong>Ryan Lukas</strong> and drummer <strong>Frank Wyant</strong>, who also teach in the music department.</p>

      <p>On January 26 in the Music Recital Hall, he plays a free concert at 5:15 p.m. with Lukas and guitarist Chip Newton, an old colleague from North Carolina, featuring the new Wrangler-themed tunes Stevens has been writing. Dancer <strong>Kristin Kusanovich</strong> of the SCU faculty, who improvised with Stevens last year when he performed Wayne Shorter’s music, will join them for a number.</p>

      <div class="quote"><cite>“I'm there to guide them on that journey.”</cite></div>

      <p>Wrangler is the pianist’s third guide dog. His first, Doris, was also a yellow Lab. So was his second, Tighlman, a trusty companion familiar to the campus community. Tighlman is now enjoying his well-earned retirement with Stevens’ folks in North Carolina.</p>

      <p>Unlike Tighlman, who was content to stay in Stevens’ office while he taught in the adjoining room, Wrangler prefers the classroom, napping in a corner while the pianist moves about the space and engages with his students.</p>

      <p>“I teach sight-reading—ironically,” Stevens says as he sits in his apartment not far from campus, wearing a pale green polo shirt and a rakish Indiana Jones fedora. The fifth-year instructor also teaches melody, harmony, ear training, and improvisation.</p>

      <p>Stevens loves teaching and his big goal is to get students to understand how to learn effectively, to realize that they are capable of doing more than they imagine, and to have confidence in their ability.</p>

      <div class="photo">
        <a href="#"><img alt="" src="http://placehold.it/390x390" /></a>
        <div class="caption">
          <h4>Bill and Wrangler in the SCU recital hall.</h4>
          <em>Photo by Joanne Lee</em>
        </div>
      </div>

      <p>“If I don’t know how to do something, it doesn’t mean I can’t do it, if I know how to learn,” Stevens says. “Be comfortable with partial progress. Keep showing up on good days and bad days ... I’m there to guide them on that journey. Music skills are the occasion for teaching that.”</p>

      <p>After the pianist learned he was getting Wrangler—whose name had been chosen by <em>Today</em> show viewers—he listened to a few of the show’s clips and was stirred by the outpouring of love for this dog.</p>

      <p>“I’m hoping it’s an opportunity to do more outreach about blindness,” Stevens says, “and create more empathy in our culture about guide dogs and blindness and about diversity and difference in general.”</p>

      <h3>Kind of a Vibe</h3>

      <p>The pianist and his new dog are making good progress as they work collaboratively to navigate their day-to-day world, getting to know each other better and refining their communication.</p>

      <p>“The best way to describe it is he’s the driver and I’m the navigator,” Stevens says.</p>

      <p>He’s taught Wrangler the same route, block-by-block, that he and Tighlman took hundreds of times—from his apartment to campus, to his classroom, to the SCU pool, and other places he goes around town. But it’s a different experience with this new dog—who, among other things, approaches curbs in a different place than Tighlman did—and requires adjustments on Stevens’ part.</p>

      <p>“I’m learning his body language,” says Stevens, who likes to walk at a brisk pace—about four miles an hour—and was paired with a dog suited to his tempo. “The way I need to respond is different. It’s a subtle thing. My mannerisms are different with Wrangler because his mannerisms are different than Tighlman’s.”</p>

      <p>After a while with his former guide, who retired at 10, he didn’t have to say “forward,” but merely tap his shoes and point his right foot.</p>

      <p>Stevens asks that people not interact with Wrangler when the dog is in harness, working. Please don’t pet or talk to him. It’s better, the pianist notes, to “love this dog online and give the new team a lot of space.”</p>

      <p>Having a TV-famous dog isn’t a big deal, and most people don’t recognize Wrangler, Stevens says. But he was impressed to learn the dog who now shares his life appeared in a commercial during Super Bowl 50.</p>

      <p>Long before he was paired with him, Stevens would hear about Wrangler from his Aunt Ann, a “Today” fan who fervently wished her nephew would get the lovely puppy. He politely indulged her but doubted it would come to pass. Then at some point this spring, “I started to have a feeling—I wonder if Wrangler is going to be my dog,” Stevens recalls. “It was just kind of a vibe.”</p>

      <div class="quote"><cite>“I couldn't study the scores.”</cite></div>

      <p>Stevens grew up on the East Coast and got a degree in Music Composition at The Oberlin Conservatory, where he also designed an independent major focusing on listening and improvisation. He earned a masters degree in piano performance at the University of North Carolina at Greensboro.</p>

      <p>At Oberlin, he got special permission to check records out of the library, “because I couldn’t study the scores,” says Stevens, who has been legally blind since birth—the only person he could recognize from more than five feet away was a buddy with flaming red hair—and almost completely blind since age 14.</p>

      <p>As a kid, he took classical piano lessons for a few years. “(I) played a lot of rock’n’roll, learned the blues scale, got interested in improvisation,” Stevens says. “I studied composition as an undergraduate, but getting notes on paper was really frustrating back then. So, I designed a major in Oral Music.”</p>

      <h3>Brahms and the Buzz</h3>

      <div class="photo">
        <a href="#"><img alt="" src="http://placehold.it/390x390" /></a>
        <div class="caption">
          <h4>Wrangler on the set of <em>Today</em>.</h4>
          <em>Photo courtesy “TodayPuppy” on Instagram</em>
        </div>
      </div>

      <p>Stevens also studied Deep Listening with Pauline Oliveros, the noted avant-garde composer and Mills College professor whose holistic approach to music had a big impact on Stevens. He apprenticed with Oliveros at the Deep Listening Institute in Kingston, N.Y., not far from Guiding Eyes.</p>

      <p>“Deep Listening is the practice of listening to all sounds all the time,” he says. “Her goal was to listen to all the sounds that are happening in the world as if listening to a piece of music. For me, that opened up a whole bunch of doorways into meditation, using listening as meditative focus. That led me to a curiosity about psychological process, and the relationship between psychological process, meditation, and creativity.”</p>

      <p>All that informs Stevens’ approach to improvisation, allowing him to be more in flow. “What is the music impulse in this moment? Can I hear that? Can I reflect that? Can I have that come through?” Stevens says.</p>

      <p>At his masters recital, the pianist played a Brahms ballade whose final note he wanted to fade away for about 30 seconds. But because the buzzing of the lights in the theater would quickly drown out the dissipating note—“the piano was in B and the lights were buzzing in B-flat,” he playfully points out—he got the OK to play the concert in the dark (the ushers had flashlights).</p>

      <p>“I wanted the sound of the piece dying away, and I wasn’t willing to compromise,” he says. “Without Deep Listening, I never would’ve keyed into that.”</p>
    </div>
  </div>
</div>
<div class="full-width-content container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <span>&ldquo;</span>
      <cite>Quote goes here.</cite>
    </div>
  </div>
</div>
<div class="content container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Shall we Dance?</h3>

      <p>While working with Oliveros, Stevens began writing his holistic text, <em>Jazz Musicianship, A Guidebook for Integrated Learning</em>.</p>

      <p>“I felt like I had to learn how to teach that music in order to learn how to study it,” says Stevens, who doesn’t teach jazz per se at SCU but brings its spirit and spontaneity to the table. His style is continually evolving, and he has picked up invaluable tips in casual conversation with pianist and music department chair <strong>Hans Boepple</strong> regarding the athleticism of playing the piano.</p>

      <p>“It’s been hugely transformative for me,” Stevens says.</p>

      <p>He’s also worked with local dancers involved with the mindfulness-through-movement organization Open Floor International, which tapped him to do public outreach to people with disabilities.</p>

      <p>“We recorded a video with shots of me dancing. It’s in the process of being edited,” Stevens says.</p>

      <p>You can read more about Stevens and Wrangler and listen to some of Bill’s music at <a href="http://billstevensjazz.com/">billstevensjazz.com</a>.</p>

      <br /><p><em>Jesse Hamlin is a Bay Area journalist who wrote about music and art as a staff writer at the </em>San Francisco Chronicle<em>, where he still writes a weekly arts column and covers a range of stories for various print and online publications. </em></p>
    </div>
  </div>
</div>
<div class="subfooter fluid-container">
  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <h4>Comments</h4>
      <p>Comment.</p>
    </div>
    <div class="col-md-3">
      <h4>Related Stories</h4>
      <div class="related-story">
        <img src="http://placehold.it/80x80" />
        <h5>Related Story Title</h5>
        <p>Some text about the related story could be found here.</p>
      </div>
    </div>
  </div>
</div>
<div class="footer fluid-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <i class="fa fa-facebook"></i><span style="padding-left:12px;"></span><i class="fa fa-twitter"></i><span style="padding-left:12px;"></span><i class="fa fa-instagram"></i>
    </div>
  </div>
</div>
