---
title: Campaign Roadshow Comp
layout: demo
---
<div id="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="row-no-padding">
				<div class="col-md-4 col-sm-6 windowpane bg-primary">
					<div class="windowpane-desc introduction p-a">
						<h4 class="text-sans-light text-uppercase"><a href="#" class="text-inverted">Beyond Innovation</a></h4>
						<h1 class="text-serif text-inverted">Roadshow</h1>
						<p class="text-inverted">CSS Utility and Windowpane Demo</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane"
					 style="background-image: url('/assets/images/examples/roadshow/seattle.jpg'); background-position: left center;">
					<div class="windowpane-desc p-a">
						<h1>
							<span class="text-ribbon text-ribbon-fade text-sans-light">
								<span>Seattle</span>
							</span>
						</h1>
						<p class="m-t">
						  <span class="text-ribbon text-ribbon-fade">
							<span>Wiley Home - August 21, 2016</span>
						  </span>
						</p>
						<p class="m-t">
							<button class="btn btn-primary btn-sm">Event Details</button>
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background"
							 style="background-image: url('/assets/images/examples/roadshow/portland.jpg');">
							&nbsp;</div>
						<div class="windowpane-desc p-a">
							<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>Portland</span></span></h1>
							<p class="m-t">
								<span class="text-ribbon text-ribbon-fade">
									<span>Moultnoma Athletic Club - August 23, 2016</span>
								</span>
							</p>
							<p>
								<button class="btn btn-primary btn-sm">Event Details</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-no-padding">
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background"
							 style="background-image: url('/assets/images/examples/roadshow/nyc.jpg');">&nbsp;</div>
						<div class="windowpane-desc p-a">
							<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>New York City</span></span></h1>
							<p class="m-t"><span class="text-ribbon text-ribbon-fade"><span>Le Parker Meridien - September 28, 2016</span></span></p>
							<p>
								<button class="btn btn-primary btn-sm">Event Details</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background windowpane-background-center"
							 style="background-image: url('/assets/images/examples/roadshow/boston.jpg');">&nbsp;</div>
						<div class="windowpane-desc p-a">
							<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>Boston</span></span></h1>
							<p class="m-t"><span class="text-ribbon text-ribbon-fade"><span>Langham Boston - September 29, 2016</span></span></p>
							<p>
								<button class="btn btn-primary btn-sm">Event Details</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane" style="background-color: lightslategrey">
					<div class="windowpane-desc full-panel p-a">
						<h2 class="text-sans-light text-inverted">2016 Roadshow</h2>
						<br>
						<div class="list-group">
							<li class="list-group-item"><a href="#">About</a></li>
							<li class="list-group-item"><a href="#">Event Registration</a></li>
							<li class="list-group-item"><a href="#">Volunteer</a></li>
							<li class="list-group-item"><a href="#">Our Stories</a></li>
							<li class="list-group-item"><a href="#">Contact</a></li>
						</div>
					</div>
				</div>
			</div>
			<div class="row-no-padding">
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background"
							 style="background-image: url('/assets/images/examples/roadshow/chicago2.jpg');">
							&nbsp;</div>
						<div class="windowpane-desc p-a">
							<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>Chicago</span></span></h1>
							<p class="m-t"><span class="text-ribbon text-ribbon-fade"><span>Clausen Home - October 27, 2016</span></span></p>
							<p><button class="btn btn-primary btn-sm">Event Details</button></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background"
							 style="background-image: url('/assets/images/examples/roadshow/los_angeles.jpg');">
							&nbsp;</div>
						<div class="windowpane-desc p-a">
							<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>Los Angeles</span></span></h1>
							<p class="m-t"><span class="text-ribbon text-ribbon-fade"><span>SLS Beverly Hills - November 5, 2016</span></span></p>
							<p>
								<button class="btn btn-primary btn-sm">Event Details</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background"
							 style="background-image: url('/assets/images/examples/roadshow/manila.JPG');">&nbsp;</div>
						<div class="windowpane-desc p-a">
							<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>Manila</span></span></h1>
							<p class="m-t"><span class="text-ribbon text-ribbon-fade"><span>Location TBA - January 5, 2017</span></span></p>
							<p>
								<button class="btn btn-primary btn-sm">Event Details</button>
							</p>
						</div>
					</div>
				</div>
				<div class="row-no-padding">
					<div class="col-md-4 col-sm-6 windowpane">
						<div>
							<div class="windowpane-background"
								 style="background-image: url('/assets/images/examples/roadshow/hong_kong.jpg');">
								&nbsp;</div>
							<div class="windowpane-desc p-a">
								<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>Hong Kong</span></span></h1>
								<p class="m-t"><span class="text-ribbon text-ribbon-fade"><span>Location TBD - January 9, 2017</span></span></p>
								<p>
									<button class="btn btn-primary btn-sm">Event Details</button>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 windowpane">
						<div>
							<div class="windowpane-background"
								 style="background-image: url('/assets/images/examples/roadshow/bangalore.jpg');">
								&nbsp;</div>
							<div class="windowpane-desc p-a">
								<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>Bangalore</span></span></h1>
								<p class="m-t"><span class="text-ribbon text-ribbon-fade"><span>Location TBD - January 11, 2017</span></span></p>
								<p>
									<button class="btn btn-primary btn-sm">Event Details</button>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 windowpane">
						<div>
							<div class="windowpane-background"
								 style="background-image: url('/assets/images/examples/roadshow/san_diego.jpg');">
								&nbsp;</div>
							<div class="windowpane-desc p-a">
								<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>San Diego</span></span></h1>
								<p class="m-t"><span class="text-ribbon text-ribbon-fade"><span>University Club - February 1, 2017</span></span></p>
								<p>
									<button class="btn btn-primary btn-sm">Event Details</button>
								</p>
							</div>
						</div>
					</div>
					<div class="row-no-padding">
						<div class="col-md-4 col-sm-6 windowpane">
							<div>
								<div class="windowpane-background windowpane-background-right"
									 style="background-image: url('/assets/images/examples/roadshow/orange_county.jpg');">
									&nbsp;</div>
								<div class="windowpane-desc p-a">
									<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>Orange County</span></span></h1>
									<p class="m-t"><span class="text-ribbon text-ribbon-fade"><span>Marbella Country Club - February 2, 2017</span></span></p>
									<p>
										<button class="btn btn-primary btn-sm">Event Details</button>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 windowpane">
							<div>
								<div class="windowpane-background"
									 style="background-image: url('/assets/images/examples/roadshow/las_vegas.jpg');">
									&nbsp;</div>
								<div class="windowpane-desc p-a">
									<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>Las Vegas</span></span></h1>
									<p class="m-t"><span class="text-ribbon text-ribbon-fade"><span>Location TBD - March 5, 2017</span></span></p>
									<p>
										<button class="btn btn-primary btn-sm">Event Details</button>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 windowpane">
							<div>
								<div class="windowpane-background"
									 style="background-image: url('/assets/images/examples/roadshow/washington_dc.jpg');">
									&nbsp;</div>
								<div class="windowpane-desc p-a">
									<h1><span class="text-ribbon text-ribbon-fade text-sans-light"><span>Washington DC</span></span></h1>
									<p class="m-t"><span class="text-ribbon text-ribbon-fade"><span>Location TBD - May 4, 2017</span></span></p>
									<p>
										<button class="btn btn-primary btn-sm">Event Details</button>
									</p>
								</div>
							</div>
						</div>
						<!--
						<div class="row-no-padding">
							<div class="col-md-12">
								<div class="testimonial text-center fuzzy" style="padding: 20px; background-color: #9a002b; min-height: 445px; color: white; background: linear-gradient(135deg, #9d2235 0%, #01458d 100%); padding-top: 15%;">
									<h2 class="align-center bottom_margin" style="font-size: 2.5rem; line-height: 3rem; font-weight: 100;">“Costa Rica taught me that life is a collection of experiences that open the mind to new things, different perspectives, and one’s ability to think outside the box.”</h2>
									<p class="align-center"><img class="img-circle" src="http://law.scu.edu/wp-content/uploads/brandon_pierce.jpg" alt="Brandon Pierce in Costa Rica"> <strong>Brandon Pierce</strong>, 3L student </p>
								</div>
							</div>
						</div>
						-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">


		</div>
		<div class="col-md-4">


		</div>
	</div>
	<div class="pull-right"></div>
</div>
