---
title: Campaign Roadshow Comp
layout: demo
---
<div id="content">

	<div class="row">
		<div class="col-xs-12">


			<a name="d.en.188970"></a>

			<div class="row-no-padding">
				<!--
				<div class="col-md-4 col-sm-6 windowpane">
					<div style="background-color: #B30738;color: white;">

						<h2 style="color: white;text-transform: uppercase;font-size: 20px;font-weight: 100;" class="sans-serif-light-font text-muted"><a href="http://law.scu.edu/international/photo-contest/">Beyond Innovation</a></h2>
						<h1 style="
    color: white;
    font-size: 64px;
    line-height: 0.7;
    color: #fff;
    text-shadow: 0 -2px 3px rgba(0, 0, 0, 0.22);
    font-family: 'BauerBodoniW01-BlackIta', Georgia, Times, serif;
">Roadshow</h1>
					</div>
				</div>
				-->
				<div class="col-md-4 col-sm-6 windowpane" style="background-color: #b30738; background-position: left center;">
					<div class="windowpane-desc introduction">
						<h2 style="color: white;text-transform: uppercase;font-size: 20px;font-weight: 100;" class="sans-serif-light-font text-muted"><a href="http://law.scu.edu/international/photo-contest/">Beyond Innovation</a></h2>
						<h1 style="
    color: white;
    font-size: 64px;
    line-height: 0.7;
    color: #fff;
    text-shadow: 0 -2px 3px rgba(0, 0, 0, 0.22);
    font-family: 'BauerBodoniW01-BlackIta', Georgia, Times, serif;
">Roadshow</h1>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane" style="background-image: url('/assets/images/examples/roadshow/seattle.jpg'); background-position: left center;">
						<div class="windowpane-desc">
							<h1 class="sans-serif-light-font text-inverted">Seattle</h1>
							<p>Wiley Home - August 21, 2016</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
						</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background" style="background-image: url('/assets/images/examples/roadshow/portland.jpg');">&nbsp;</div>
						<div class="windowpane-desc">
							<h1 class="sans-serif-light-font text-inverted">Portland</h1>
							<p>Moultnoma Athletic Club - August 23, 2016</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-no-padding">
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background" style="background-image: url('/assets/images/examples/roadshow/nyc.jpg');">&nbsp;</div>
						<div class="windowpane-desc">
							<h1 class="sans-serif-light-font text-inverted">New York City</h1>
							<p>Le Parker Meridien - September 28, 2016</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background windowpane-background-center" style="background-image: url('/assets/images/examples/roadshow/boston.jpg');">&nbsp;</div>
						<div class="windowpane-desc">
							<h1 class="sans-serif-light-font text-inverted">Boston</h1>
							<p>Langham Boston - September 29, 2016</p>
							<p><button class="btn btn-default btn-sm">Event Details</button></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane" style="background-color: lightslategrey">
					<div class="windowpane-desc full-panel">
						<h2 class="sans-serif-light-font text-inverted">2016 Roadshow</h2>
						<br>
						<div class="list-group">
							<li class="list-group-item"><a href="#">About</a></li>
							<li class="list-group-item"><a href="#">Event Registration</a></li>
							<li class="list-group-item"><a href="#">Volunteer</a></li>
							<li class="list-group-item"><a href="#">Our Stories</a></li>
							<li class="list-group-item"><a href="#">Contact</a></li>
						</div>
					</div>
				</div>
			</div>
			<div class="row-no-padding">
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background" style="background-image: url('/assets/images/examples/roadshow/chicago2.jpg');">&nbsp;</div>
						<div class="windowpane-desc">
							<h1 class="sans-serif-light-font text-inverted">Chicago</h1>
							<p>Clausen Home - October 27, 2016</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background" style="background-image: url('/assets/images/examples/roadshow/los_angeles.jpg');">&nbsp;</div>
						<div class="windowpane-desc">
							<h1 class="sans-serif-light-font text-inverted">Los Angeles</h1>
							<p>SLS Beverly Hills - November 5, 2016</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 windowpane">
					<div>
						<div class="windowpane-background" style="background-image: url('/assets/images/examples/roadshow/manila.JPG');">&nbsp;</div>
						<div class="windowpane-desc">
							<h1 class="sans-serif-light-font text-inverted">Manila</h1>
							<p>Location TBA - January 5, 2017</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
						</div>
					</div>
				</div>
				<div class="row-no-padding">
					<div class="col-md-4 col-sm-6 windowpane">
						<div>
							<div class="windowpane-background" style="background-image: url('/assets/images/examples/roadshow/hong_kong.jpg');">&nbsp;</div>
							<div class="windowpane-desc">
								<h1 class="sans-serif-light-font text-inverted">Hong Kong</h1>
								<p>Location TBD - January 9, 2017</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 windowpane">
						<div>
							<div class="windowpane-background" style="background-image: url('/assets/images/examples/roadshow/bangalore.jpg');">&nbsp;</div>
							<div class="windowpane-desc">
								<h1 class="sans-serif-light-font text-inverted">Bangalore</h1>
								<p>Location TBD - January 11, 2017</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 windowpane">
						<div>
							<div class="windowpane-background" style="background-image: url('/assets/images/examples/roadshow/san_diego.jpg');">&nbsp;</div>
							<div class="windowpane-desc">
								<h1 class="sans-serif-light-font text-inverted">San Diego</h1>
								<p>University Club - February 1, 2017</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
							</div>
						</div>
					</div>
					<div class="row-no-padding">
						<div class="col-md-4 col-sm-6 windowpane">
							<div>
								<div class="windowpane-background windowpane-background-right" style="background-image: url('/assets/images/examples/roadshow/orange_county.jpg');">&nbsp;</div>
								<div class="windowpane-desc">
									<h1 class="sans-serif-light-font text-inverted">Orange County</h1>
									<p>Marbella Country Club - February 2, 2017</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 windowpane">
							<div>
								<div class="windowpane-background" style="background-image: url('/assets/images/examples/roadshow/las_vegas.jpg');">&nbsp;</div>
								<div class="windowpane-desc">
									<h1 class="sans-serif-light-font text-inverted">Las Vegas</h1>
									<p>Location TBD - March 5, 2017</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 windowpane">
							<div>
								<div class="windowpane-background" style="background-image: url('/assets/images/examples/roadshow/washington_dc.jpg');">&nbsp;</div>
								<div class="windowpane-desc">
									<h1 class="sans-serif-light-font text-inverted">Washington DC</h1>
									<p>Location TBD - May 4, 2017</p>
<p><button class="btn btn-default btn-sm">Event Details</button></p>
								</div>
							</div>
						</div>
						<!--
						<div class="row-no-padding">
							<div class="col-md-12">
								<div class="testimonial text-center fuzzy" style="padding: 20px; background-color: #9a002b; min-height: 445px; color: white; background: linear-gradient(135deg, #9d2235 0%, #01458d 100%); padding-top: 15%;">
									<h2 class="align-center bottom_margin" style="font-size: 2.5rem; line-height: 3rem; font-weight: 100;">“Costa Rica taught me that life is a collection of experiences that open the mind to new things, different perspectives, and one’s ability to think outside the box.”</h2>
									<p class="align-center"><img class="img-circle" src="http://law.scu.edu/wp-content/uploads/brandon_pierce.jpg" alt="Brandon Pierce in Costa Rica"> <strong>Brandon Pierce</strong>, 3L student </p>
								</div>
							</div>
						</div>
						-->
					</div>
				</div>
			</div>



			<script>$(document).ready(function() { $('h1.page-title').hide();});</script>

			<script>$(document).ready(function() { $('ol.breadcrumb').hide();});</script>


		</div></div>
	<div class="row">
		<div class="col-md-8">


		</div>
		<div class="col-md-4">


		</div>
	</div>
	<div class="pull-right"></div>
</div>
