---
title: Santa Clara Fund - Christian Tiscareno-Kennedy
layout: demo
---
<div class="container">
    <div class="col-sm-8">
        <div class="row">
            <h1>Christian Tiscareno-Kennedy</h1>
            <hr/>
            <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae
                elit odio. Donec quis malesuada ipsum. Etiam quis vestibulum ligula, sed ultrices
                ante. Praesent nunc magna, molestie sit amet tincidunt vitae, auctor vitae
                lectus.</p>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <img src="{{baseurl}}/assets/toolkit/images/fund-christian.png"
                     class="pull-quote-img img-responsive"/>
            </div>
            <div class="col-sm-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus, est
                    sed gravida lobortis, massa ante tincidunt urna, eu consequat tellus felis nec
                    augue. Vivamus id sem nisl. Quisque justo odio, ornare eget odio sit amet,
                    accumsan efficitur lorem. Pellentesque ac odio quis leo facilisis vehicula. Sed
                    nec viverra sem. Maecenas venenatis mi eu mi efficitur fringilla. Duis placerat
                    lorem sed mauris molestie volutpat. Donec sed ipsum arcu. Donec justo nisi,
                    fermentum at tortor ac, pharetra accumsan mi. Morbi egestas gravida tempor.
                    Fusce a eros quis nulla convallis feugiat.</p>

                <p>Integer euismod sodales ligula, a maximus mauris imperdiet non. Sed vitae erat eu
                    eros euismod posuere eget vitae dui. Nullam non enim tristique, viverra lorem
                    sit amet, venenatis ex. Sed laoreet neque vel maximus laoreet. Donec non elit
                    neque. Donec commodo turpis vitae dapibus accumsan. Nam ac suscipit neque, vitae
                    iaculis metus. Nam scelerisque, velit non placerat efficitur, ligula quam
                    ullamcorper risus, eget suscipit turpis arcu vitae nunc. Nulla sed ligula nisi.
                    Vivamus nunc nunc, sodales vitae enim sit amet, luctus vehicula elit. Aliquam
                    rutrum ante a odio scelerisque, quis aliquam ligula pulvinar. Vestibulum in
                    pretium odio. Suspendisse potenti. Suspendisse sodales leo vitae ligula vehicula
                    pellentesque. Proin et euismod velit.</p>

                <h2>Support the Santa Clara Fund</h2>
                <a href="#" class="maroon link-button" role="button">Give Now</a>
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="entry-card">
                    <div class="pull-quote-container">
                        <div class="pull-quote-img-sm">
                            <img src="{{baseurl}}/assets/toolkit/images/fund-leiska.png"
                                 class="img-responsive"/>
                        </div>
                        <div class="pull-quote">
                            <cite>
                                "As a Child Studies major, I've not only learned tools centered
                                around child advocacy, but I've been able to apply these skills
                                through SCU's donor support.."
                                <p>Leiska van Staaveren, 2019</p>
                            </cite>
                            <a href="#" class="btn btn-default" role="button">Read More..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="entry-card">
                    <div class="pull-quote-container">
                        <div class="pull-quote-img-sm">
                            <img src="{{baseurl}}/assets/toolkit/images/fund-olivia.png"
                                 class="img-responsive"/>
                        </div>
                        <div class="pull-quote">
                            <cite>
                                "As captain of the water polo club, I know how important donor
                                support is to keep club sports thriving at SCU.."
                                <p>Olivia Bormann, 2020</p>
                            </cite>
                            <a href="#" class="btn btn-default" role="button">Read More..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="entry-card">
                    <div class="pull-quote-container">
                        <div class="pull-quote-img-sm">
                            <img src="{{baseurl}}/assets/toolkit/images/fund-nina.png"
                                 class="img-responsive"/>
                        </div>
                        <div class="pull-quote">
                            <cite>
                                "My first immersion trip was spring break freshman year, and my
                                participation was possible thanks to a donor.."
                                <p>Nina Morrison, 2021</p>
                            </cite>
                            <a href="#" class="btn btn-default" role="button">Read More..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <nav class="side-navigation match-page-title">
            <a class="side-navigation-header" href="#">Santa Clara Fund</a>
            <ul>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Give Now</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
