---
title: Santa Clara Fund
layout: demo
---
<div class="container">
	<div class="row">
		<div class="col-sm-1">

		</div>
		<div class="col-sm-10">
			<h1>Santa Clara Fund</h1>
		</div>
		<div class="col-sm-1">

		</div>
	</div>
	<div class="row">
		<div class="col-sm-1">

		</div>
		<div class="col-sm-10">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec dolor nisi. Aenean efficitur ligula at tempus mattis. Cras ac tristique nibh, id bibendum mi. Nunc tristique dapibus vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ac tempor enim. Vestibulum scelerisque felis sed ligula gravida mollis.</p>
		</div>
		<div class="col-sm-1">

		</div>
	</div>
	<div class="row">
		<div class="col-sm-1">

		</div>
		<div class="col-sm-10">
			<hr />
		</div>
		<div class="col-sm-1">

		</div>
	</div>
	<div class="row">
		<div class="col-sm-1">

		</div>
		<div class="col-md-10">
			<!-- Maroon button with arrows -->
			<a href="#" class="maroon link-button" role="button" style="margin:0 auto;float:none">Give Now</a>
		</div>
		<div class="col-sm-1">

		</div>
	</div>
	<div class="row">
		<div class="col-sm-1">

		</div>
		<div class="col-sm-10">
			<hr />
		</div>
		<div class="col-sm-1">

		</div>
	</div>
	<div class="row">
		<div class="col-sm-1">

		</div>
		<div class="col-sm-3">
			<div class="pull-quote-img">
				<img src="{{baseurl}}/assets/toolkit/images/fund-christian.jpg" />
			</div>
		</div>
		<div class="col-sm-7">
			<div class="pull-quote">
				<h6><i class="fa fa-graduation-cap" aria-hidden="true"></i>Scholarships</h6>
				<cite>
					"Growing up, everyone tells you that if you do well in school, you'll get to go to college.  But, I've known people who were unable to complete college because of the expense.."
					<span>- Christian Tiscareno-Kennedy</span>
				</cite>
				<h5><a href="#"><a href="#">Read More..</a></a></h5>
			</div>
		</div>
		<div class="col-sm-1">

		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-sm-1">

		</div>
		<div class="col-sm-3">
			<div class="pull-quote-img">
				<img src="{{baseurl}}/assets/toolkit/images/fund-leiska.jpg" />
			</div>
		</div>
		<div class="col-sm-7">
			<div class="pull-quote">
				<h6><i class="fa fa-book"></i>Academics</h6>
				<cite>
					"As a Child Studies major, I've not only learned tools centered around child advocacy, but I've been able to apply these skills through SCU's donor support.."
					<span>- Leiska van Staaveren</span>
				</cite>
				<h5><a href="#">Read More..</a></h5>
			</div>
		</div>
		<div class="col-sm-1">

		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-sm-1">

		</div>
		<div class="col-sm-3">
			<div class="pull-quote-img">
				<img src="{{baseurl}}/assets/toolkit/images/fund-nina.JPG" />
			</div>
		</div>
		<div class="col-sm-7">
			<div class="pull-quote">
				<h6><i class="fa fa-hand-paper-o"></i>Student Initiatives</h6>
				<cite>
					"As captain of the water polo club, I know how important donor support is to keep club sports thriving at SCU.."
					<span>- Olivia Bormann</span>
				</cite>
				<h5><a href="#">Read More..</a></h5>
			</div>
		</div>
		<div class="col-sm-1">

		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-sm-1">

		</div>
		<div class="col-sm-3">
			<div class="pull-quote-img">
				<img src="{{baseurl}}/assets/toolkit/images/fund-olivia.jpg" />
			</div>
		</div>
		<div class="col-sm-7">
			<div class="pull-quote">
				<h6><i class="fa fa-globe"></i>Study Abroad/Immersions</h6>
				<cite>
					"My first immersion trip was spring break freshman year, and my participation was possible thanks to a donor.."
					<span>- Nina Morrison</span>
				</cite>
				<h5><a href="#">Read More..</a></h5>
			</div>
		</div>
		<div class="col-sm-1">

		</div>
	</div>
</div>
