---
title: Santa Clara Fund
layout: demo
---
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h2>Santa Clara Fund</h2>
			<div class="row pull-quote-container">
				<div class="col-sm-4">
					<div class="pull-quote-img">
						<img src="{{baseurl}}/assets/toolkit/images/fund-christian.png" class="img-responsive center-block" />
					</div>
				</div>
				<div class="col-sm-8">
					<div class="pull-quote">
						<h6><span class="badge"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Scholarships</span></h6>
						<cite>
							"Growing up, everyone tells you that if you do well in school, you'll get to go to college.  But, I've known people who were unable to complete college because of the expense.."
							<p>Christian Tiscareno-Kennedy, 2018</p>
						</cite>
						<a href="/demos/santa-clara-fund-entry.html" class="btn btn-default" role="button">Read More..</a>
					</div>
				</div>
			</div>
			<div class="row pull-quote-container">
				<div class="col-sm-4">
					<div class="pull-quote-img">
						<img src="{{baseurl}}/assets/toolkit/images/fund-leiska.png" class="img-responsive center-block" />
					</div>
				</div>
				<div class="col-sm-8">
					<div class="pull-quote">
						<h6><span class="badge"><i class="fa fa-book"></i>&nbsp;Academics</span></h6>
						<cite>
							"As a Child Studies major, I've not only learned tools centered around child advocacy, but I've been able to apply these skills through SCU's donor support.."
							<p>Leiska van Staaveren, 2019</p>
						</cite>
						<a href="#" class="btn btn-default" role="button">Read More..</a>
					</div>
				</div>
			</div>
			<div class="row pull-quote-container">
				<div class="col-sm-4">
					<div class="pull-quote-img">
						<img src="{{baseurl}}/assets/toolkit/images/fund-nina.png" class="img-responsive center-block" />
					</div>
				</div>
				<div class="col-sm-8">
					<div class="pull-quote">
						<h6><span class="badge"><i class="fa fa-hand-paper-o"></i>&nbsp;Student Initiatives</span></h6>
						<cite>
							"As captain of the water polo club, I know how important donor support is to keep club sports thriving at SCU.."
							<p>Olivia Bormann, 2020</p>
						</cite>
						<a href="#" class="btn btn-default" role="button">Read More..</a>
					</div>
				</div>
			</div>
			<div class="row pull-quote-container">
				<div class="col-sm-4">
					<div class="pull-quote-img">
						<img src="{{baseurl}}/assets/toolkit/images/fund-olivia.png" class="img-responsive center-block" />
					</div>
				</div>
				<div class="col-sm-8">
					<div class="pull-quote">
						<h6><span class="badge"><i class="fa fa-globe"></i>&nbsp;Study Abroad/Immersions</span></h6>
						<cite>
							"My first immersion trip was spring break freshman year, and my participation was possible thanks to a donor.."
							<p>Nina Morrison, 2021</p>
						</cite>
						<a href="#" class="btn btn-default" role="button">Read More..</a>
					</div>
				</div>
			</div>
			<hr />
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec dolor nisi. Aenean efficitur ligula at tempus mattis. Cras ac tristique nibh, id bibendum mi. Nunc tristique dapibus vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ac tempor enim. Vestibulum scelerisque felis sed ligula gravida mollis.</p>
		</div>
		<div class="col-sm-4">
			<nav class="side-navigation match-page-title">
				<a class="side-navigation-header" href="#">Santa Clara Fund</a>
				<ul>
					<li>
						<a href="#">About Us</a>
					</li>
					<li>
						<a href="#">Give Now</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

</div>
