---
title: Sidebar Breakout Landing Page
layout: demo
---

{{> header.header}}
<div class="jumbotron mb-0" style="background-image: url('/assets/images/examples/stage_lighting.JPG');border-radius:0">
  <div class="container">
    <h1 class="text-white">Invent the life you want to lead.</h1>
    <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aperiam autem commodi consectetur, culpa cum dicta, excepturi harum illum inventore repellat saepe soluta, veritatis vero! Culpa enim impedit nihil.</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>
<section style="border-bottom: 1px solid #f1f1f1">
  <div class="container">
    <ol class="breadcrumb py-4 mb-0">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active">Data</li>
    </ol>
  </div>
</section>
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 order-md-2">
        {{>sidebar}}
        <a href="#" class="brand-primary link-button" role="button">Apply Now</a>
      </div>
      <div class="col-12 col-md-9 order-md-1">
      <div class="row justify-content-between">
          <!-- About Image -->
          <div class="col-md-3 col-lg-5 align-self-top g-hidden-sm-down">
            <img class="img-fluid" src="holder.js/100px318" alt="Image Description">
          </div>
          <!-- End About Image -->
          <div class="col-md-8 col-lg-6">
            <!-- About Info -->
            <div class="g-mb-50">
              <h2 class="h4 mb-3">Better page layouts.</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto at consectetur dignissimos distinctio dolorem earum expedita illo in, incidunt iure libero, nesciunt non obcaecati pariatur praesentium, quae rem veritatis!</p>
            </div>
            <h2 class="h4 mb-3">Back to Basics.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur cum cumque, dolorem dolorum harum itaque quaerat quia sequi vel?</p>
          </div>
          <!-- End About Info -->
        </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <img src="/assets/images/examples/banner-mag.jpg" alt="SCU Fulbright Scholars" class="w-100">
      <div class="mx-5">
        <h3 class="mt-3">How Did You Win a Fulbright?</h3>
        <p class="mb-0">Fulbright winners and their mentors share the "secret sauce" that led to a record number of these presitigious fellowships for Santa Clara students.</p>
      </div>
    </div>
  </div>
  <hr />
  <div class="row mt-4">
    <div class="col-md-4 mb-4 mb-md-0">
      <article>
        <img src="/assets/images/examples/lg-1602-kreiner.jpg" alt="Global Photo Contest" class="img-fluid">
        <h5 class="my-1">Global Photo Contest</h5>
        <h6 class="text-muted">By Jane Doe</h6>
      </article>
    </div>
    <div class="col-md-4 mb-4 mb-md-0">
      <article>
        <img src="/assets/images/examples/nobili.jpg" alt="Research With a Mission" class="img-fluid">
        <h5 class="my-1">Research With a Mission</h5>
        <h6 class="text-muted">By Jane Doe</h6>
      </article>
    </div>
    <div class="col-md-4">
      <article>
        <img src="/assets/images/examples/stage_lighting.JPG" alt="Research With a Mission" class="img-fluid">
        <h5 class="my-1">Something Else</h5>
        <h6 class="text-muted">By Jane Doe</h6>
      </article>
    </div>
  </div>
</div>
<div class="block bg-light my-5">
  <div class="container">
    {{> pull-quote.pull-quote}}
  </div>
</div>
<div class="block p-2">
  <h2 class="mb-5 text-center">Agenda</h2>
  {{> agenda}}
</div>
<div class="block bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <h2 class="text-sans-light text-primary">Application Checklist</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At est eveniet illum labore. Adipisci delectus dolores ea eius illo illum, impedit neque quis quo veritatis! Eos explicabo ipsam numquam repellat.</p>
        {{> lists }}
        <div class="text-center">
          <a href="#!" class="btn btn-primary">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 align-self-center">
        <h2 class="text-sans-light text-primary">History at Every Turn</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At est eveniet illum labore. Adipisci delectus dolores ea eius illo illum, impedit neque quis quo veritatis! Eos explicabo ipsam numquam repellat.</p>
      </div>
      <div class="col-12 col-md-4">
        <img src="holder.js/100px400" alt="">
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="holder.js/100px500" alt="">
      </div>
      <div class="col-12 col-md-6 align-self-center">
        <h2 class="text-sans-light text-primary">Go anywhere from here</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At est eveniet illum labore. Adipisci delectus dolores ea eius illo illum, impedit neque quis quo veritatis! Eos explicabo ipsam numquam repellat.</p>
      </div>
    </div>
  </div>
</div>
