---
title: Story Layout
layout: demo
---
<div class="container" id="content">
  <div class="col-10 my-4 pl-0 story-top">
    <h1>Eiko Ishioka was the iconic costume designer behind Dracula, The Fall, and the Beijing
      Olympics</h1>
    <p class="lead text-sans-light">On a visit to the Mission Campus, oceanographer Sylvia Earle and
      Autodesk Explorer-in-Residence Jonathan Knowles stressed that the ocean needs
      everyone to be an active advocate on its behalf.</p>
    <div class="story-byline small">by Deborah Lohse |
      <time class="c-byline__item" data-ui="timestamp">
        Jul 12, 2017, 6:30am EDT
      </time>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <figure class="figure">
        <img src="/assets/images/examples/md-earle.jpg" alt="" class="img-fluid">
        <figcaption class="figure-caption">Sylvia Earle
          with a whale shark. <em>Photo&nbsp;courtesy Bryce Groark</em></figcaption>
      </figure>

    <div id="storyBody">
      <p>The ocean and planet Earth needs everyone to be an active advocate on its behalf,
        one of the nation’s leading experts on the ocean told a full crowd at Santa
        Clara University’s de Saisset Museum on March 2.</p>
      <p>The <a href="http://www.scu-social-entrepreneurship.org/">Miller Center for
        Social Entrepreneurship</a>, in collaboration with <strong>Dana Christensen
        ’83</strong>, presented the evening with Sylvia Earle, a marine biologist,
        National Geographic Explorer-in-Residence, and the first female chief scientist
        of the National Oceanic and Atmospheric Administration. She was joined by
        Autodesk Explorer-in-Residence, Jonathan Knowles. The event was part of the
        University’s ongoing response to Pope Francis’ encyclical on climate change,
        with a focus on the interconnections between human and non-human, and the
        importance of preserving and protecting them.</p>
      <p>In a discussion moderated by Miller Center’s executive director, <strong>Thane
        Kreiner</strong>, Earle focused on all the things that humanity now knows about
        the vital role of a healthy ocean, and the choices we are making that have
        placed the ocean in jeopardy.</p>
      <p>“Without the ocean, life that shapes the character of the planet could not
        exist,” she said. “No ocean, no life. No blue, no green.”</p>
      <p>Right now, “we have a planet that works in our favor,” she said, with the ocean
        as its primary “life support system.”</p>
      <p>“It’s only right about now that we’ve accumulated enough evidence, and the
        ability to share that evidence, that we are beginning to get it,” she said.
        “Humankind actually has the potential for taking decisions to secure an enduring
        place for ourselves within the natural ocean-dominated planet that makes
        everything we care about possible.”</p>
      <p>According to Earle and Knowles, among the facts we know now that should compel us
        to behavioral changes are:</p>
      <ul>
        <li>The ocean produces the oxygen for 1 out of 2 breaths we take. Marine
          bacteria known as prochlorococcus are responsible for perhaps 20 percent of
          the photosynthetic production of oxygen. Acidification, coral reef
          destruction and other ocean catastrophes put them at risk.
        </li>
        <li>Populations of sharks, who are the “garbage collectors” of the ocean, are
          down to 10 percent of not-too-distant levels, due to obscene levels of
          killing for shark-fin soup and other human causes.
        </li>
        <li>Vowing to end unnecessary human consumption of seafood would help replenish
          ocean life. “Every tuna that you don’t eat is one that could be swimming out
          there,” said Earle.
        </li>
        <li>Growing farmed seafood is an alternative, but it must make sense. Growing
          shrimp, salmon and tuna doesn’t make sense, because they are either
          carnivores that require other fish&nbsp;to be harvested&nbsp;to feed them,
          or they take too long to become ready to eat. Grassfeeders such as Tilapia,
          catfish and carp make more sense.
        </li>
        <li>If everyone agreed to give up plastic straws, it would make an immediate and
          important impact on ocean life.
        </li>
        <li>The ocean is “earth’s great thermo-regulator,” as Earle put it, and must be
          preserved as such.
        </li>
      </ul>
      <p>Silicon Valley has the resources, talent, and entrepreneurial spirit needed to
        develop innovative solutions addressing these complex challenges. Everyone has a
        role to play.</p>
      <p>The evening also featured a showing of the gripping documentary <em>Racing
        Extinction</em>, which uses undercover video and photography to expose the vast
        scope of human-caused extinction of species of animals, and the risk posed by
        such callousness to human life itself.</p>
      <p>“There’s compelling evidence everywhere now that humans, now 7 billion of us,
        armed with technologies, have the capacity to alter the nature of nature on a
        scale that is unprecedented in the history of the planet,” said Earle.</p>
      <p>To solve the issues, added Knowles, “everyone needs to become a scientist,”
        becoming aware, thinking about the problems, and using their field of study and
        skills to contribute to innovations.</p>
      <p>“No one can do everything,” said Earle. “But everyone can do something.”</p>
      <p>A key take-away from the evening was that everyone should get involved. The SCU
        Green Club has launched a challenge to the SCU community to start a movement to
        protect and restore our ocean.&nbsp;<a href="https://scu.edu/media/offices/sustainability/take-action/find-resource-guides/Marine-Conservation-Silicon-Valley.pdf">Dive
          in here</a>&nbsp;to keep the conversation going, take action and explore
        examples of innovation and entrepreneurship designed to protect and restore our
        ocean.</p>
    </div>



    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the &amp;lt;a
      href="https://disqus.com/?ref_noscript" rel="nofollow"&amp;gt;comments powered by
      Disqus.&amp;lt;/a&amp;gt;</noscript>
    <div style="clear:both"></div>

    <script>
      var pos = '';
      var imgCaption = 'yes';

      $(document).ready(function () {
        var altCaptionLength = $('#altCaption').text().length;
        if (imgCaption == 'yes') {
          $('figcaption.storyCaption').addClass('show');
          if (altCaptionLength > 0) {
            $('#altCaption').addClass('show');
            $('figcaption.storyCaption').html($('#altCaption'));
          }
        }
        if (pos == 'thumb') {
          $('figure:first').remove();
        } else {
          removed = removeIfInBody($('figure img'));
          if (!removed && pos == 'inset') {

            $('figure img').detach().appendTo('#insetImageContainer');
            $('figure figcaption').detach().appendTo('#insetImageContainer');
            $('#insetImageContainer').css('display', 'inline');
            $('figure:first').hide();
          }
        }
      });
      function removeIfInBody(elmt) {
        var src = elmt.attr('src');
        var found = false;
        $('#storyBody img').each(function () {
          //$('#debug').append('<br>'+$(this).attr('src') +' = ' +src );
          if ($(this).attr('src') == src) {
            found = true;
          }
        });
        if (found) {
          $('figure:first').remove();
          return true;
        }
        return false;
      }
    </script>
    <script>
      $(document).ready(function () {
        $('h1.page-title').html('No Blue, No Green');
        $('h2.media-heading').hide();
      });
    </script>
  </div>
  <div class="col-sm-4">
    <nav class="side-navigation">
      <!-- End: Programmable Layout Nav Object Here -->
      <a class="side-navigation-header" href="/news-and-events/">News &amp; Events</a>
      <ul>
        <li><a href="/news-and-events/feature-stories/">Feature Stories</a></li>
        <li><a href="/news-and-events/press-releases/">Press Releases</a></li>
        <li><a href="/news-and-events/social-media/">Social Media</a></li>
        <li><a href="/news-and-events/faculty-experts/">Faculty Experts</a></li>
        <li><a href="/news-and-events/publications/">Publications</a></li>
        <li><a href="/news-and-events/campus-calendar/">Campus Calendar</a></li>
      </ul>
      <!-- End: Programmable Layout Nav Object Here -->
      <div class="one-column events module">
        <div class="lwcw" data-options="id=182&amp;format=html&amp;link_to_calendar=/events"><div id="lw_widget_eddf8dc6" class="lw_widget lw_widget_type_events lw_widget_events lw_widget_id_182 lw_widget_homepage_list">
          <ul class="lw_widget_results lw_widget_results_events">
            <li class="lw_item_1">
              <div class="events module">
                <ul class="media-list">
                  <li class="media">
                    <div class="media-left">
                      <div class="events-date-page">
                        <div class="events-month">Jul</div>
                        <div class="events-day">26</div>
                      </div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a href="/events/#!view/event/event_id/37769">Freedom of Religion Under Attack Around the World</a></h4>
                      <p class="events-time-and-location">12:00pm, St. Clare Room</p>
                      <p></p>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="lw_item_2">
              <div class="events module">
                <ul class="media-list">
                  <li class="media">
                    <div class="media-left">
                      <div class="events-date-page">
                        <div class="events-month">Aug</div>
                        <div class="events-day">10</div>
                      </div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a href="/events/#!view/event/event_id/35914">Sacramento Chapter: Santa Claran of the Year</a></h4>
                      <p class="events-time-and-location">6:00pm, Mulvaney’s B&amp;L</p>
                      <p>45th Annual Santa Claran of the Year Award Dinner</p>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="lw_item_3">
              <div class="events module">
                <ul class="media-list">
                  <li class="media">
                    <div class="media-left">
                      <div class="events-date-page">
                        <div class="events-month">Aug</div>
                        <div class="events-day">15</div>
                      </div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a href="/events/#!view/event/event_id/37801">Ethical Dilemmas for Nonprofits - Walking the Fine Line</a></h4>
                      <p class="events-time-and-location">11:30am, Locatelli Student Activity Center</p>
                      <p></p>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="lw_item_4">
              <div class="events module">
                <ul class="media-list">
                  <li class="media">
                    <div class="media-left">
                      <div class="events-date-page">
                        <div class="events-month">Oct</div>
                        <div class="events-day">12</div>
                      </div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a href="/events/#!view/event/event_id/24695">Santa Clara Lecture | Gendered Theologies and the Common Good</a></h4>
                      <p class="events-time-and-location">4:00pm, St. Clare Room, Harrington Learning Commons</p>
                      <p>
                        <span style="font-weight: 400;">Susannah Cornwall, Advanced Research Fellow, Department of Theology and Religion, University of Exeter</span>
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <span title="<widget id=&quot;182&quot;><arg id=&quot;is_remote&quot;>true</arg></widget>" class="lw_widget_syntax lw_hidden"></span>
        </div></div>

      </div>

      <script type="text/javascript" id="lw_lwcw" src="https://lwcal.scu.edu/livewhale/theme/core/scripts/lwcw.js"></script>

    </nav>

  </div>
</div>
</div>
