---
title: Story Layout Concept
layout: demo
---

<header class="header-legacy bg-light pt-lg-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-white d-none d-lg-block py-0 fixed-top nav-fixed initial nav-users"
       id="navbarUsers">
    <div class="accordion-collapses" id="navbarUsersAccordion">
      <div class="collapse bg-white" id="navbarUsersOffices" data-parent="#navbarUsersAccordion">
        <div class="container py-3">
          <div class="row">
            <div class="col d-flex flex-column">
              <a href="#">Campus Ministry</a>
              <a href="#">Campus Safety</a>
              <a href="#">Enrollment Services</a>
              <a href="#">Facilities</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Diversity</a>
              <a href="#">Recreation</a>
              <a href="#">Sustainability</a>
              <a href="#">Technology</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Arts</a>
              <a href="#">Bookstore</a>
              <a href="#">Career Center</a>
              <a href="#">Human Resources</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Mission Church</a>
              <a href="#">Library</a>
              <a href="#">Login</a>
              <a href="#" class="text-sans-bold text-primary">More Offices &amp; Services &raquo;</a>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse bg-white" id="navbarUsersSchools" data-parent="#navbarUsersAccordion">
        <div class="container py-3">
          <div class="row">
            <div class="col d-flex flex-column">
              <p class="text-muted text-uppercase">Schools &amp; Colleges</p>
              <a href="#">College of Arts and Sciences</a>
              <a href="#">Education and Counseling Psychology</a>
              <a href="#">Leavey School of Business</a>
            </div>
            <div class="col d-flex flex-column">
              <p class="text-white">Schools &amp; Colleges</p>
              <a href="#">School of Engineering</a>
              <a href="#">Jesuit School of Theology</a>
              <a href="#">School of Law</a>
            </div>
            <div class="col d-flex flex-column">
              <p class="text-muted text-uppercase">Centers of Distinction</p>
              <a href="#">Miller Center for Social Entrepreneurship</a>
              <a href="#">Ignatian Center for Jesuit Education</a>
              <a href="#">Markkula Center for Applied Ethics</a>
              <a href="#" class="text-sans-bold text-primary">More Centers and Institutes &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Faculty &amp; Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Families</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Alumni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase px-3" href="#">Visitors</a>
        </li>
        <li class="nav-item dropdown mr-1">
          <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersOffices"
             role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersOffices">
            Offices &amp; Services <i class="fas fa-caret-up pl-2"></i>
          </a>
        </li>
        <li class="nav-item dropdown ml-1">
          <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersSchools"
             role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersSchools">
            Schools &amp; Centers <i class="fas fa-caret-up pl-2"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container d-flex align-items-center justify-content-center justify-content-lg-between py-4">
    <div class="d-flex align-items-center">
      <a href="#" class="seal d-none d-lg-inline mr-3">
        <i class="icon-scu"></i>
        <span class="sr-only">Santa Clara University Homepage</span>
      </a>
      <div class="text-center text-md-left">
        <h2 class="text-trajan wordmark m-0">
          <a href="#" class="text-primary">Santa Clara University</a>
        </h2>
        <h6 class="text-trajan wordmark m-0">
          <a href="#" class="text-muted">The Jesuit University in Silicon Valley</a>
        </h6>
      </div>
    </div>
    <form class="form-inline d-none d-lg-flex">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
        <div class="input-group-append">
          <button class="input-group-text btn btn-light" type="submit">
            <span class="sr-only">Search</span>
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark py-0 fixed-top nav-fixed initial nav-brand" id="navbarBrand">
    <div class="container">
      <button class="navbar-toggler px-3 py-2" type="button"
              data-toggle="collapse" data-target="#navbarBrandList"
              aria-controls="navbarBrandList" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-uppercase">menu</span>
      </button>
      <form class="form-inline d-lg-none my-2">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
          <div class="input-group-append">
            <button class="input-group-text btn btn-light" type="submit">
              <span class="sr-only">Search</span>
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <div class="collapse navbar-collapse bg-primary" id="navbarBrandList">
        <ul class="navbar-nav mr-auto px-0 px-lg-2 py-3 py-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">About SCU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Academics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Admission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Athletics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Campus Life</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Giving</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">Global</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase px-3" href="#">News &amp; Events</a>
            <div class="dropdown-divider d-lg-none my-3"></div>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Students</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Faculty</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Families</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Alumni</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Visitors</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Offices &amp; Services</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-white text-uppercase px-3" href="#">Schools &amp; Centers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container px-0 px-md-3">
  <figure class="figure">
    <img src="https://www.scu.edu/media/institutional-pages/news-ampamp-events/sustainability-760x480.jpg" alt="" class="img-fluid">
    <figcaption class="figure-caption text-right">This is a caption.</figcaption>
  </figure>
</div>
<div class="container" id="content">
  <div class="col-12 mb-4 pl-0 story-top">
    <!-- Optional breadcrumb, should not be displayed by default -->
    <ol class="breadcrumb d-none d-md-flex">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">News & Events</a></li>
      <li class="breadcrumb-item active">Feature Stories</li>
    </ol>
    <!-- End Breadcrumb -->
    <h1>Dirty Work</h1>
    <h2 class="text-sans-light">Lindsey Kalkbrenner has helped grow a culture of sustainability at SCU—and she has the hardware to prove it.</h2>
    <div class="story-byline small">by Tina Vossugh |
      <time class="c-byline__item" data-ui="timestamp">
        Jul 12, 2017, 6:30am EDT
      </time>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <div id="storyBody">
        <p>Under the desk in her office, <strong>Lindsey Kalkbrenner</strong> has a compost bin swimming with worms. The bin is pretty gross, Kalkbrenner admits. There are mounds of food scraps and damp newspaper to prevent fruit flies. Even she uses gloves to open it up, exposing the mass of worms still working on last week’s corn cobs.</p>
        <p>“I got the worms from <strong>Matt Smith</strong> who had a bin in his office for years,” says Kalkbrenner. Smith is the associate director of Campus Ministry and a budding sustainability expert. Smith taught Kalkbrenner all she knows about composting. “It was covered with a pretty blanket so you never knew it was there.”</p>
        <p>As director of the Center for Sustainability, Kalkbrenner works with her staff and student interns to strategically find ways to embed a culture of sustainability throughout campus.</p>
        <p>Not all these strategies are as drastic—or as cringe-inducing—as a compost bin under your desk, but they’re quite effective. SCU is ranked No. 12 in the <a href="https://www.princetonreview.com/college-rankings?rankings=top-50-green-colleges">2017 Princeton Review’s Top 50 Green Colleges</a>, <a href="http://www.sierraclub.org/sierra/cool-schools-2017/cool-schools-2017-full-ranking">No. 44 in the Sierra Club’s Top 50 Cool Schools</a>, and No. 2 for Master’s Institutions in the AASHE:&nbsp;<a href="http://www.aashe.org/wp-content/uploads/2017/11/2017_Sustainable_Campus_Index.pdf">2017 Sustainable&nbsp;Campus Index</a>. SCU was also&nbsp;the&nbsp;<a href="https://www.epa.gov/greenpower/green-power-partnership-top-30-college-university">2016-17 Champion for the EPA’s College &amp; University Green Power Challenge</a> as the largest user in the West Coast Conference.</p>
        <p>At SCU sustainability starts in the classroom. On average, one out of four classes has some kind of sustainability component. Whether it’s a module study, a whole unit dedicated to the subject, or a case study with a sustainability aspect that’s discussed in class.</p>
        <p>The Center for Sustainability gives workshops to faculty each summer on how they can infuse sustainability into their curriculum. Between 12 to 15 faculty get selected each year&nbsp;to receive&nbsp;a stipend to modify their syllabus.</p>
        <p>"Instead of having a sustainability requirement in the core, this ensures students engage with the topic throughout their academic career,” says Kalkbrenner.</p>
        <p>What’s resulted is a whole new way of using sustainability in the classroom. In Comm 12: Technology &amp; Communication, assistant professor <strong>Chan Thai</strong> integrated a unit on the sustainability of manufacturing and disposing technologies. The class also explored environmental and human rights impacts of modern technologies and the materials needed to produce them.</p>
        <p>“The class is able to offer students some tangible ways to think about how they can be more responsible consumers of technology,” says Thai.</p>
        <p><strong>Laura Chyu</strong> and <strong>Katherine Saxton</strong> also successfully infused sustainability into their epidemiology course Phsc 100/Biol 117. They developed a lab assignment where students used the EPA Environmental Justice Screening and Mapping Tool to explore the relationship between place (and associated environmental and sociodemographic factors) and health.</p>
        <p>“From the instructor’s perspective, creating this exercise helped us be more explicit about integrating sustainability issues into Public Health and Biology curriculum and utilize current, up-to-date data sources and online mapping tools,” says Chyu.</p>
        <p>Engagement in sustainability is also very strong among staff. SCU has a network of people, sometimes called change agents, that are empowered to be peer leaders on campus for sustainability. One example of these are the <a href="https://www.scu.edu/sustainability/programs/sustainability-guides/">sustainability guides</a>,&nbsp;who are like walking Google search bars for sustainability know-how on campus. What do I do with this battery? How do I use public transport? What trash goes in the composting bins? Sustainability Guides have the answers, or know <a href="http://www.scu.edu/sustainability">where to look to find them</a>.</p>
        <p>There are also workplace liaisons, departmental peer educators that focus on integrating sustainability initiatives in their offices and departments. They aim to empower hundreds of people across campus to transform their daily operations. <strong>Janice Demonsi</strong>, director of the Malley Recreation Center is one. Demonsi asks every single person interviewing for a job at Malley how they can contribute to sustainability.</p>
        <p>Kalkbrenner noticed in a recent class the new cycling instructor at Malley doing her part. “She reminded all of the students to remember to bring their reusable water bottles to class,” Kalkbrenner says. “It reminded the six people in the class and made the instructor think about how she can influence people to live more sustainably.”</p>
        <p>Whether it’s a student, a faculty, or staff, Kalkbrenner and her team at the Center for Sustainability have entry points and&nbsp;<a href="https://www.scu.edu/sustainability/events/list/">events</a> for every kind of individual who wants to engage in sustainability. Whether it’s attending a community potluck about sustainability at an off-campus house, working in the Forge Garden with the new Garden Club, designing eco-fashion for the annual eco-fashion show, actively competing on having the lowest carbon footprint in the <a href="https://www.scu.edu/sustainability/events/energychallenge/">residence energy challenge</a>, or volunteering as a liaison there’s a place for everyone to contribute.</p>
        <p>“We strategize about how to engage different people from different parts of campus while making sustainability fun and approachable,” says Kalkbrenner.</p>
        <h5 class="text-muted">Design notes</h5>
        <p>Breadcrumbs are optional and should be avoided if necessary (creates duplication with the sidebar). If no breadcrumbs, the .story-top container needs .my-4 instead of .mb-4.</p>

      </div>
    </div>
    <div class="col-sm-4">
      {{> sidebar}}
    </div>
  </div>
</div>
