---
title: Tertiary Page
layout: demo

custom: true
custom-title: Education and Counseling Psychology
---

{{> header.header-image}}
<div class="container">
  <h1 class="text-sans-light">Admissions Requirements</h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="https://t4dev.scu.edu/terminalfour/preview/20/en/2651">ECP Homepage</a></li><li class="breadcrumb-item"><a href="https://t4dev.scu.edu/terminalfour/preview/20/en/2692">Admissions</a></li><li class="breadcrumb-item">Admissions Requirements  </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-4 order-md-2 match-page-title">
      {{> sidebar}}
    </div>
    <div class="col-md-8 order-md-1">
      <main id="content">
        <div id="d.en.7066"><!-- General Content --></div>
        <div id="content-7066">

          <p class="intro">To apply to&nbsp;the School of Education and Counseling Psychology, applicants will need to complete the general and program specific requirements listed below.</p>
          <ol>
            <li><em>Complete and submit the<strong>&nbsp;<a href="https://www.scu.edu/apply/edcp/handler.cfm?event=home" target="_blank">Online Application Form</a></strong></em></li>
            <li>Complete and submit Statement of Purpose. <strong><a href="https://www.scu.edu/ecp/admissions/admissionrequirements/statement-of-purpose-prompt-and-guidelines/">For instructions and prompt.</a></strong>&nbsp;(<strong>Note:</strong> If you are interested in applying for the ExCEL Program please express your interest in the first line of your Statement of Purpose. For further details&nbsp;<a name="__broken_link_name__" title="Home » Home » ECP Homepage » Signature Programs » ExCEL  | Links to: Home » Home » ECP Homepage » WIP(Work In Progress) » ExCEL" href="https://t4dev.scu.edu/terminalfour/preview/20/en/2710" data-t4-type="sslink" data-t4-ss-link-id="27">visit ExCEL Program</a>)</li>
            <li>Submit a $50 non refundable application fee</li>
            <li>Submit a current resume or CV</li>
            <li>One copy of official transcripts from&nbsp;every&nbsp;post-secondary institution attended (regardless of the length of study or the number of courses taken)</li>
            <li>Letters of recommendation. All programs require 2 letters of recommendation, except the MA in Counseling and MA in Counseling Psychology programs which require 3 letters of recommendation</li>
          </ol>
          <p><strong>Note:</strong> GRE or GMAT scores are not required for admission.</p>
          <p>We do not require a recommendation form. Letters must address academic and/or professional qualifications, not just the personal character and may not be from family or friends. Recommendation letters can be emailed directly to <a href="mailto:ecpadmissions@scu.edu">ecpadmissions@scu.edu</a>&nbsp;or mailed directly to our school at the address below by the recommender. Recommender can also mail the letters directly to the applicant, who can then send it to us by either email&nbsp;or mail directly to our school. Please note, if you choose this method, the recommendation letter must be sealed in an envelope and signed by the recommender across the flap.&nbsp;</p>
          <p>You may submit these documents separately or together either via email to&nbsp;<a href="mailto:ecpadmissions@scu.edu">ecpadmissions@scu.edu</a>; or by mail to our Admissions Office at:</p>
          <p>School of Education and Counseling Psychology:</p>
          <p>Guadalupe Hall<br>455&nbsp;El Camino Real<br>Santa Clara, CA 95053-0207</p>
          <p>In addition to the above requirements, if you are applying to any of the following programs, please click on each program link to see additional requirements:</p>
          <h3><span style="text-decoration: underline;"><a title="Home » Home » ECP Homepage » Admission » Admissions Requirements » Admission Requirements for Specific Programs | Links to: Home » Home » ECP Homepage » Admissions » Admissions Requirements » Admission Requirements for Specific Programs" href="https://t4dev.scu.edu/terminalfour/preview/20/en/9020" data-t4-type="sslink" data-t4-ss-link-id="26">Specific Program Requirements</a></span></h3>
        </div>
        <div id="d.en.213102"><!-- Embed code item --></div>
      </main>
    </div>
  </div>
</div>
