---
title: Tertiary Page
layout: demo

custom: true
custom-title: Education and Counseling Psychology
---

<header class="header-legacy bg-navy pt-lg-5 mb-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-white d-none d-lg-block py-0 fixed-top nav-fixed initial nav-users"
       id="navbarUsers">
    <div class="accordion-collapses" id="navbarUsersAccordion">
      <div class="collapse bg-white" id="navbarUsersOffices" data-parent="#navbarUsersAccordion">
        <div class="container py-3">
          <div class="row">
            <div class="col d-flex flex-column">
              <a href="#">Campus Ministry</a>
              <a href="#">Campus Safety</a>
              <a href="#">Enrollment Services</a>
              <a href="#">Facilities</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Diversity</a>
              <a href="#">Recreation</a>
              <a href="#">Sustainability</a>
              <a href="#">Technology</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Arts</a>
              <a href="#">Bookstore</a>
              <a href="#">Career Center</a>
              <a href="#">Human Resources</a>
            </div>
            <div class="col d-flex flex-column">
              <a href="#">Mission Church</a>
              <a href="#">Library</a>
              <a href="#">Login</a>
              <a href="#" class="text-sans-bold text-primary">More Offices &amp; Services &raquo;</a>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse bg-white" id="navbarUsersSchools" data-parent="#navbarUsersAccordion">
        <div class="container py-3">
          <div class="row">
            <div class="col d-flex flex-column">
              <p class="text-muted text-uppercase">Schools &amp; Colleges</p>
              <a href="#">College of Arts and Sciences</a>
              <a href="#">Education and Counseling Psychology</a>
              <a href="#">Leavey School of Business</a>
            </div>
            <div class="col d-flex flex-column">
              <p class="text-white">Schools &amp; Colleges</p>
              <a href="#">School of Engineering</a>
              <a href="#">Jesuit School of Theology</a>
              <a href="#">School of Law</a>
            </div>
            <div class="col d-flex flex-column">
              <p class="text-muted text-uppercase">Centers of Distinction</p>
              <a href="#">Miller Center for Social Entrepreneurship</a>
              <a href="#">Ignatian Center for Jesuit Education</a>
              <a href="#">Markkula Center for Applied Ethics</a>
              <a href="#" class="text-sans-bold text-primary">More Centers and Institutes &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="dropdown nav-brand-mini" id="navBrandMini">
        <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" id="navBrandMiniBtn"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="icon-mission mr-2"></span> <span class="text-uppercase">scu.edu</span>
        </button>
        <div class="dropdown-menu bg-primary shadow" aria-labelledby="navBrandMiniBtn">
          <div class="container">
            <ul class="nav nav-pills flex-nowrap flex-row py-1" role="menu">
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Home</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">About SCU</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Academics</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Admission</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Campus Life</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Athletics</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Global</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">Giving</a>
              </li>
              <li>
                <a class="text-uppercase text-white px-3 py-2" href="#">News &amp; Events</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link text-uppercase px-3">Campus Life</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-uppercase px-3">University Operations</a>
        </li>
        <li class="nav-item dropdown mr-1">
          <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersOffices"
             role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersOffices">
            Offices &amp; Services <i class="fas fa-caret-down pl-2"></i>
          </a>
        </li>
        <li class="nav-item dropdown ml-1">
          <a class="nav-link collapsed text-uppercase px-3" href="#navbarUsersSchools"
             role="button" data-toggle="collapse" aria-expanded="false" aria-controls="navbarUsersSchools">
            Schools &amp; Centers <i class="fas fa-caret-down pl-2"></i>
          </a>
        </li>
        <li class="nav-item dropdown dropdown-search ml-1">
          <a class="nav-link" href="#" id="dropdownSearch"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Search</span> <i class="fas fa-search text-primary"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownSearch">
            <form class="p-3">
              <div class="input-group">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
                <div class="input-group-append">
                  <button class="input-group-text btn btn-outline-primary" type="submit">
                    <span class="sr-only">Search</span>
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
              <div class="btn-group btn-group-sm btn-group-toggle d-flex mt-2" data-toggle=“buttons”>
                <label class="active btn btn-light flex-grow-1">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked="">All of scu.edu</label>
                <label class="btn btn-light flex-grow-1">
                  <input type="radio" name="options" id="option2" autocomplete="off">Only scu.edu/cas</label>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container d-flex align-items-center justify-content-center justify-content-lg-between py-4">
    <div class="d-flex align-items-center py-3">
      <div class="text-center text-lg-left">
        <a href="#">
          <img class="img-header" src="https://www.scu.edu/media/scuedu/header/images/Markkula-Center-logo-with-tagline-left-V3.png" />
        </a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top nav-fixed initial nav-dark nav-custom">
    <div class="container">
      <button class="navbar-toggler px-3 py-2" type="button"
              data-toggle="collapse" data-target="#navbarCustom"
              aria-controls="navbarCustom" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-uppercase">menu</span>
      </button>
      <form class="form-inline d-lg-none my-2">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
          <div class="input-group-append">
            <button class="input-group-text btn btn-light" type="submit">
              <span class="sr-only">Search</span>
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <div class="collapse navbar-collapse" id="navbarCustom">
        <ul class="navbar-nav mr-auto py-3 py-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-uppercase px-3"
               href="#" id="navbarCustom1" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Get Involved
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarCustom1">
              <a class="dropdown-item" href="#">Conserve Water</a>
              <a class="dropdown-item" href="#">Eat Sustainably</a>
              <a class="dropdown-item" href="#">Reduce Waste</a>
              <a class="dropdown-item" href="#">Save Energy</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Academics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase px-3" href="#">Operations</a>
            <div class="dropdown-divider d-lg-none my-3"></div>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-uppercase px-3" href="#">scu.edu</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-uppercase px-3" href="#">Information for..</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-uppercase px-3" href="#">Offices &amp; Services</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-uppercase px-3" href="#">Schools &amp; Centers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container" id="content">
  <h1 class="text-sans-light">Admissions Requirements</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="https://t4dev.scu.edu/terminalfour/preview/20/en/2651">ECP Homepage</a></li><li class="breadcrumb-item"><a href="https://t4dev.scu.edu/terminalfour/preview/20/en/2692">Admissions</a></li><li class="breadcrumb-item">Admissions Requirements  </li>
  </ol>
  <div class="row">
    <div class="col-md-4 order-md-2 match-page-title">
      {{> sidebar}}
    </div>
    <div class="col-md-8 order-md-1">
      <div id="d.en.7066"><!-- General Content --></div>
      <div id="content-7066">

        <p class="intro">To apply to&nbsp;the School of Education and Counseling Psychology, applicants will need to complete the general and program specific requirements listed below.</p>
        <ol>
          <li><em>Complete and submit the<strong>&nbsp;<a href="https://www.scu.edu/apply/edcp/handler.cfm?event=home" target="_blank">Online Application Form</a></strong></em></li>
          <li>Complete and submit Statement of Purpose. <strong><a href="https://www.scu.edu/ecp/admissions/admissionrequirements/statement-of-purpose-prompt-and-guidelines/">For instructions and prompt.</a></strong>&nbsp;(<strong>Note:</strong> If you are interested in applying for the ExCEL Program please express your interest in the first line of your Statement of Purpose. For further details&nbsp;<a name="__broken_link_name__" title="Home » Home » ECP Homepage » Signature Programs » ExCEL  | Links to: Home » Home » ECP Homepage » WIP(Work In Progress) » ExCEL" href="https://t4dev.scu.edu/terminalfour/preview/20/en/2710" data-t4-type="sslink" data-t4-ss-link-id="27">visit ExCEL Program</a>)</li>
          <li>Submit a $50 non refundable application fee</li>
          <li>Submit a current resume or CV</li>
          <li>One copy of official transcripts from&nbsp;every&nbsp;post-secondary institution attended (regardless of the length of study or the number of courses taken)</li>
          <li>Letters of recommendation. All programs require 2 letters of recommendation, except the MA in Counseling and MA in Counseling Psychology programs which require 3 letters of recommendation</li>
        </ol>
        <p><strong>Note:</strong> GRE or GMAT scores are not required for admission.</p>
        <p>We do not require a recommendation form. Letters must address academic and/or professional qualifications, not just the personal character and may not be from family or friends. Recommendation letters can be emailed directly to <a href="mailto:ecpadmissions@scu.edu">ecpadmissions@scu.edu</a>&nbsp;or mailed directly to our school at the address below by the recommender. Recommender can also mail the letters directly to the applicant, who can then send it to us by either email&nbsp;or mail directly to our school. Please note, if you choose this method, the recommendation letter must be sealed in an envelope and signed by the recommender across the flap.&nbsp;</p>
        <p>You may submit these documents separately or together either via email to&nbsp;<a href="mailto:ecpadmissions@scu.edu">ecpadmissions@scu.edu</a>; or by mail to our Admissions Office at:</p>
        <p>School of Education and Counseling Psychology:</p>
        <p>Guadalupe Hall<br>455&nbsp;El Camino Real<br>Santa Clara, CA 95053-0207</p>
        <p>In addition to the above requirements, if you are applying to any of the following programs, please click on each program link to see additional requirements:</p>
        <h3><span style="text-decoration: underline;"><a title="Home » Home » ECP Homepage » Admission » Admissions Requirements » Admission Requirements for Specific Programs | Links to: Home » Home » ECP Homepage » Admissions » Admissions Requirements » Admission Requirements for Specific Programs" href="https://t4dev.scu.edu/terminalfour/preview/20/en/9020" data-t4-type="sslink" data-t4-ss-link-id="26">Specific Program Requirements</a></span></h3>
      </div>
      <div id="d.en.213102"><!-- Embed code item --></div>
    </div>
  </div>
</div>
