@mixin announcement-variant($bg) {

  border-left-color: $bg;
  color: color-yiq($bg);

  h3 {
    color: color-yiq($bg);
    background-color: $bg;
  }
}

.announcement {
  border-left: 1px solid $brand-primary;

  h3 {
    display: inline-block;
    padding: 6px 11px;
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
    color: $white;
    background-color: $brand-primary;
  }

  p {
    font-size: 1.25em;
    line-height: 1.25;
    color: $gray-800;
  }

  @include media-breakpoint-up(sm) {
    p {
      font-size: 1.5em;
    }
  }
}

@each $color, $value in $theme-colors {
  .announcement-#{$color} {
    @include announcement-variant($value);
  }
}
