.carousel-indicators {
  bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: .9;

  .carousel-control-icon {
    background: rgba($black, .8);
    border-radius: 50%;
  }

  &:hover {
    opacity: 1.0;
  }
}

.carousel-caption {
  @extend .text-white;

  background-color: rgba($black, .70);
  bottom: 0;
  color: $white;
  left: 0;
  padding: 1rem 15%;
  right: 0;

  p {
    margin-bottom: 0;
  }

}

.carousel-vert {
  .carousel-indicators {
    height: 100%;
    margin: 0;
    position: static;

    li {
      flex: 1;
      margin-bottom: .5rem;
      width: 100%;

      &.active img {
        border: 2px solid $gray-400;
      }

      .img-thumbnail {
        padding: 0;
      }
    }
  }
}
