// legacy headers

.header-legacy {
  position: relative;

  // brand seal
  .seal {
    margin-top: -1rem;

    i {
      color: $gray-500;
      font-size: 4rem;
      transition: color .15s;

      &:hover {
        color: $gray-700;
      }
    }
  }

  // image-based headers
  .img-header {
    max-height: 80px;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }

  .dropdown-search {
    .dropdown-menu {
      margin-left: -16rem;
      min-width: 18rem;
      z-index: $zindex-fixed + 200;
    }
  }

  // offices & services / schools & centers menus
  .accordion-collapses {
    width: 100%;
    z-index: $zindex-fixed + 30;

    a {
      color: $gray-800;

      &:hover,
      &:active {
        color: $brand-primary;
      }
    }
  }

  // students / faculty / .. / schools & centers menu
  .nav-users {
    border-bottom: 1px solid $gray-400;
    z-index: $zindex-fixed + 20;

    li {
      border-top: 2px solid $white;

      &.dropdown {
        border-top: 2px solid $gray-400;
        transition: border-top-color .4s, color .4s;

        &:hover {
          border-color: $gray-800;
        }

        &:focus-within {
          border-color: $brand-primary;
        }

        a:not(.collapsed) {
          color: $brand-primary;
        }
      }
    }
  }

  // about scu / academics / .. / news & events
  .nav-brand {
    background: $brand-primary;
    z-index: $zindex-fixed + 10;

    a:hover,
    a:active {
      background-color: darken($brand-primary, 10%);
    }

    .collapse {
      @include media-breakpoint-up(lg) {
        margin-left: 5rem;
        padding: .5rem 0;
      }
    }

    @include media-breakpoint-up(lg) {
      background: linear-gradient(90deg, transparent 0, transparent 50%, $brand-primary 0, $brand-primary);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  // home / about... hover nav on custom pages
  .nav-brand-mini {
    position: static;

    .icon-mission {
      background: url(https://scu.edu/assets/images/header-mission.png) 0 0 no-repeat;
      background-size: 100% 100%;
      margin: -1rem 0 0;
      height: 3.33rem;
      width: 3.33rem;
      position: relative;
      top: .75rem;
      z-index: $zindex-fixed + 100;
    }

    .dropdown-toggle {
      border: 1px solid rgba($gray-400, .5);
      border-bottom-width: 0;
      border-radius: 0;
      margin-bottom: -1px;

      span {
        font-size: .85rem;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $brand-primary;
        border-color: $brand-primary;
        color: $white;
      }
    }

    .dropdown-menu {
      border: 0;
      border-radius: 0;
      margin: 0;
      left: 0;
      right: 0;
      z-index: $zindex-fixed + 99;

      li {
        border: none;
      }

      a:hover,
      a:active {
        background-color: darken($brand-primary, 10%);
      }
    }
  }

  // ---- custom page navbar color options
  .nav-dark {
    a {
      color: $white !important;

      &:hover,
      &:active {
        background-color: $gray-700;
      }
    }

    .dropdown-menu {
      background-color: $gray-800;
    }
  }

  .nav-light {
    a {
      color: $gray-800 !important;

      &:hover,
      &:active {
        background-color: $brand-primary;
        color: $white !important;
      }
    }

    .navbar-toggler {
      border-color: $gray-400;
      color: $gray-600;
    }
  }

  .nav-dark,
  .nav-brand {
    .navbar-toggler {
      border-color: rgba($white, .5);
      color: $white;
    }
  }
  // ---- /custom page navbar options

  // ---- tweaks and other subtle features
  // affix nav on scroll beyond header
  .fixed-top {
    position: fixed;
    top: 0;

    &.nav-users {
      &.initial {
        top: 0;
      }
    }

    &.nav-brand,
    &.nav-custom {
      bottom: auto;
      top: 0;
      transition: top .3s;
    }

    &.nav-brand {
      &.initial {
        position: static;
        top: auto !important; // needs to override JS

        @include media-breakpoint-up(md) {
          bottom: -28px;
        }

        @include media-breakpoint-up(lg) {
          position: absolute;
        }
      }

      @include media-breakpoint-up(lg) {
        top: 2.4rem;
      }

      @include media-breakpoint-up(xl) {
        top: 2.7rem;
      }
    }

    &.nav-custom {
      &.initial {
        position: static;
        top: 0 !important;
      }

      @include media-breakpoint-up(lg) {
        top: 3.1rem;
      }
    }
  }

  // dotted border separating links
  .navbar:not(.nav-users) {
    li + li {
      @include media-breakpoint-up(lg) {
        position: relative;

        &:before {
          content: '';
          display: block;
          height: 1.35rem;
          width: 1px;
          margin-top: -.6rem;
          position: absolute;
          z-index: 0;
          border-right: 1px dotted $gray-400;
          top: 49%;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  // remove wordmark hover states
  .text-trajan a:hover {
    text-decoration: none;
  }

  // slightly adjust dropdown menus so they're easier to hover into
  .dropdown-menu {
    border-radius: 0;
    margin: 0;
  }

  // eliminate dropdown menu carets, particularly for pages with many dropdowns in navbar
  .dropdown-toggle::after {
    display: none;
  }

  // show dropdowns on hover (except the search dropdown)
  .dropdown:not(.dropdown-search):hover > .dropdown-menu {
    display: block;
  }

  // shrink fonts on mobile devices
  @include media-breakpoint-down(lg) {
    a {
      font-size: .85rem;
    }

    .text-trajan a {
      font-size: inherit;
    }
  }
  // ---- /tweaks and other subtle features
}

// new headers

$nav-top-height: 40px;
$nav-fixed-height: $nav-top-height * 1.5;

.header-scu {
  min-height: $nav-top-height + $nav-fixed-height;

  .navbar-brand {
    @include media-breakpoint-down(xs) {
      font-size: 1.15rem;
    }
  }

  .nav-top {
    background-color: $gray-900;
    font-size: .9rem;
    position: relative;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .container {
      height: $nav-top-height;
    }
  }

  .nav-fixed {
    border-top: 5px solid $gray-900;
    min-height: $nav-fixed-height;
    box-shadow: 0 5px 10px -6px rgba($black, .15);
    transition: border-top 400ms ease 0s;

    &.initial {
      border-top: 0;
      position: relative;
    }

    // applies specifically to standard (non custom) header
    &.bg-primary {
      a {
        color: #f1f1f1;

        &:active {
          color: $white;
        }
      }
    }
  }

  // Customized headers have some adjustments to heights due to borders

  .nav-top-custom {
    border-top: 5px solid $brand-primary;

    .container {
      min-height: $nav-top-height - 5px;
    }
  }

  .nav-fixed-custom {
    border-top: 5px solid $brand-primary;

    .wordmark {
      max-width: 300px;
      white-space: normal;

      @include media-breakpoint-down(lg) {
        max-width: 80%;
      }

      @include media-breakpoint-down(md) {
        font-size: 1rem;
        max-width: 75%;
      }

      @include media-breakpoint-down(sm) {
        font-size: .85rem;
      }

      // for image-based headers
      img {
        width: 300px;
      }
    }

    .dropdown-toggle:hover + .dropdown-menu {
      display: block;
    }

    .dropdown-menu:hover {
      display: block;
    }

    &.initial {
      border-top: 1px solid $gray-200;
    }
  }

  // Increase search icon size for better mobile usability
  .fa-search {
    @include media-breakpoint-down(md) {
      font-size: 1.2rem;
    }
  }
}
