.pull-quote {
  background: lighten($brand-primary, 2%);
  transition: background .5s;

  // create some space on mobile between quote and photo, but only if there is a photo
  div:nth-child(2) {
    @include media-breakpoint-down(sm) {
      margin-top: 1.5rem;
    }
  }

  // quote text
  blockquote {
    p {
      border-left: .25em solid lighten($brand-primary, 5%);
      font-size: 1.5rem;
      line-height: 1.2;

      @include media-breakpoint-up(xl) {
        font-size: 1.75rem;
      }
    }
  }

  // quote attribution
  footer {
    color: $white;
    font-size: 1.25rem;
  }

  // portrait of individual being quoted (if there is one)
  img {
    border: .75em solid lighten($brand-primary, 5%);
    transition: border .5s;
  }

  &:hover {
    background: darken($brand-primary, 2%);
    cursor: pointer;
  }
}

.pull-quote-inv {
  @extend .pull-quote;

  background: darken($white, 1%);
  color: $brand-primary;

  footer {
    color: $brand-primary;
  }

  img {
    border-color: $white;
  }

  &:hover {
    background: darken($white, 3%);
  }
}
