.subheader {
  align-items: center;
  display: flex;
  background: $maroon 50%;
  background-size: cover;
  width: 100%;

  @include media-breakpoint-down(md) {
    align-items: flex-end;
  }

  &.office {
    background-color: $gray-900; //464646

    h1 {
      background: transparent;
    }
  }

  h1 {
    color: $white;

    span {
      color: $yiq-text-light;
      display: block;
      font-size: 18px;
      padding-left: 2px;
      text-transform: uppercase;
      white-space: nowrap;

      &:empty {
        padding: 0;
      }
    }
  }
}
