body {
     line-height: 1.75rem;
}
@font-face{
    font-family:"Trade Gothic Next LT W01 Rg";
    src:url(https://assets.scu.edu/fonts/376eee11-9a10-4bc6-a111-8ab1e673bb6b.woff2) format("woff2"),url(https://assets.scu.edu/fonts c702ae07-0339-4b2c-86b6-94ecb316d6d0.woff) format("woff2");
    font-display: swap
}
@font-face{
    font-family:"Trade Gothic Next LT W01 Bold";
    src:url(https://assets.scu.edu/fonts/ec10339d-18e7-4c13-9a86-00306eb3d186.woff2) format("woff2"),url(https://assets.scu.edu/fonts/98aa2c71-be1a-4f71-87b3-8867283a25b7.woff) format("woff");
    font-display: swap
}
@font-face{
    font-family:"Trade Gothic LT W05 Bold";
    src:url(https://assets.scu.edu/fonts/30aba873-93af-406b-b54a-66c5b5e82896.woff2) format("woff2"),url(https://assets.scu.edu/fonts/59cd5e10-9d20-4b86-850d-78b9beb6dfcd.woff) format("woff");
    font-display: swap
}
 .plink {
     float: left;
     width: 49%;
}
 .plink a {
     padding: 10px 40px;
     display: inline-block;
     width: 80%;
     border-radius: 4px;
     border: 1px solid #e3e0dd;
     background: #fff;
     color: #546575;
     text-decoration: none;
}
 .plink a:hover {
     background: #F4F2F0;
     color: #546575;
}
 .prev {
     text-align: right;
}
 .plink.prev {
     text-align: left;
}
 .plink.next {
     text-align: right;
}
 @media screen and (min-width: 768px) {
     .collapse:not(.show) {
         display: block;
    }
     div#collapsibleNavbar {
         max-width: 320px;
    }
}
 .bd-sidebar {
     -webkit-box-ordinal-group: 1;
     -ms-flex-order: 0;
     order: 0;
     border-bottom: 1px solid rgba(0, 0, 0, .1) 
}
 @media (min-width:768px) {
     .bd-sidebar {
         border-right: 1px solid rgba(0, 0, 0, .1) 
    }
     @supports ((position:-webkit-sticky) or (position:sticky)) {
         .bd-sidebar {
             position: -webkit-sticky;
             position: sticky;
             top: 4rem;
             z-index: 1000;
             height: calc(100vh - 4rem) 
        }
    }
}
 @media (min-width:1200px) {
     .bd-sidebar {
         -webkit-box-flex: 0;
         -ms-flex: 0 1 320px;
         flex: 0 1 320px 
    }
}
 .bd-links {
     padding-bottom: 1rem;
     margin-right: -15px;
     margin-left: -15px 
}
 @media (min-width:768px) {
     @supports ((position:-webkit-sticky) or (position:sticky)) {
         .bd-links {
             max-height: calc(100vh - 4rem);
             overflow-y: auto 
        }
    }
}
 @media (min-width:768px) {
     .bd-links {
         display: block !important 
    }
}
 a {
     color: #B30738;
     text-decoration: underline;
}
 a:hover {
     color: #811E2D;
}
 ul.start>li>span>a {
     color: #B30738;
     text-decoration: underline;
     padding: 0;
     display: inline;
}
 ul.start>li>span>a:hover {
     color: #811E2D;
     background: none;
     text-decoration: underline;
}
 ul.start>li {
     list-style: disc;
     margin-left: 60px;
}
 ul, li {
     list-style: none;
     padding-left: 0;
}
 li {
     counter-increment: section;
     counter-reset: section;
}
 li>span>a {
     color: #546575;
     text-decoration: none;
     padding: 10px 10px 10px 20px;
     display: block;
}
 ul>li>span>a:hover {
     background-color: #DFDBD3;
     color: #546575;
     text-decoration: none;
}
 span.tocFldr.lv-1 {
     text-transform: uppercase;
}
 span.tocFldr.lv-1>a {
     background-color: #DFDBD3;
}
 span.tocFldr.lv-1>a:hover {
     background-color: #DDCBA4;
     color: #033B4C;
}
 span.tocFldr.lv-1>a.active, span.lv-2>a.active {
     background-color: #033B4C;
     color: #fff;
}
 span.tocFldr.lv-1>a.active:hover {
     background-color: #DDCBA4;
     color: #546575;
}
 span.lv-2>a:active {
     background-color: #033B4C;
     color: #fff;
}
 span.lv-2>a.active:hover {
     background-color: #DFDBD3;
     color: #546575;
}
 strong {
     font-weight: 500;
}
 h1 {
     color: #B30738;
     margin-bottom: 2.5rem;
}
 h2 {
     color: #033B4C;
     margin-top: 2.5rem;
     margin-bottom: 1.875rem;
}
 h3 {
     color: #546575;
     margin-top: 1.875rem;
     margin-bottom: 0.813rem;
}
 span.pagetitle {
     display: inline-block;
     color: #FFF;
     font-size: 24px;
}
 @media (max-width:400px) {
     span.pagetitle {
         display: inline-block;
         width: 203px;
         color: #FFF;
         font-size: 16px;
    }
}
/*hamburger button css*/
 .navbar-toggler {
     width: 20px;
     height: 20px;
     position: relative;
     transition: .5s ease-in-out;
}
 .navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
     outline: none;
     box-shadow: none;
     border: 0;
     position: relative;
}
 .navbar-toggler span {
     margin: 0;
     padding: 0;
}
 .toggler-icon {
     display: block;
     position: absolute;
     height: 3px;
     width: 100%;
     background: #FFF;
     border-radius: 1px;
     opacity: 1;
     left: 0;
     transform: rotate(0deg);
     transition: .25s ease-in-out;
}
 .middle-bar {
     margin-top: 0px;
}
/* State when the navbar is collapsed */
 .navbar-toggler.collapsed .top-bar {
     position: absolute;
     top: 0px;
     transform: rotate(0deg);
}
 .navbar-toggler.collapsed .middle-bar {
     opacity: 1;
     position: absolute;
     top: 10px;
     filter: alpha(opacity=100);
}
 .navbar-toggler.collapsed .bottom-bar {
     position: absolute;
     top: 20px;
     transform: rotate(0deg);
}
/* when navigation is clicked */
 .navbar-toggler .top-bar {
     top: inherit;
     transform: rotate(135deg);
}
 .navbar-toggler .middle-bar {
     opacity: 0;
     top: inherit;
     filter: alpha(opacity=0);
}
 .navbar-toggler .bottom-bar {
     top: inherit;
     transform: rotate(-135deg);
}