.accordion-item {
  border-bottom: $gray-500 1px solid;
  margin-bottom: 1rem;

  > [data-toggle="collapse"] {
    transition: margin .35s ease, opacity .35s ease;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
      margin-bottom: 0;
    }

    &:hover {
      text-decoration: none;
    }

    i {
      font-size: 1rem;
      color: #000;
      transition: transform .35s ease;
    }

    &[aria-expanded="true"] {

      i {
        transform: rotate(90deg);
      }
    }

    .chevron {
      &::before {
        border-style: solid;
        border-width: .15em .15em 0 0;
        content: '';
        display: inline-block;
        height: .5em;
        left: .15em;
        position: relative;
        transform: rotate(-45deg);
        width: .5em;
      }

      &.right::before {
        left: 0;
        transform: rotate(45deg);
      }
    }

    &[aria-expanded="false"] {
      opacity: .6;

      &:hover {
        opacity: 1;
      }
    }
  }

  p {
    margin-top: 1rem;
  }

  h5 {
    @extend .text-sans-light;

    color: #000;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

