.announcement.module {
  border-left: 1px solid $brand-red;

  &.emergency {
    border-left-color: $emergency-color;

    h3 {
      background-color: $emergency-color;
    }
  }

  h3 {
    display: inline-block;
    padding: 6px 11px;
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
    color: $white;
    background-color: $brand-red;
  }

  p {
    font-size: 1.25em;
    line-height: 1.25;
    color: $dark-gray;
  }

  @include media-breakpoint-up(sm) {
    p {
      font-size: 1.5em;
    }
  }
}
