.breadcrumb {
  background: transparent;
  padding: 0;
  font-size: .9rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '\203A'; // &raquo;
  opacity: 0.7;
}
.breadcrumb-item.active {
  color: #4b5157;
}
