.carousel-indicators {
  bottom: 0;

  li {
    background-color: $black;

    &.active {
      background-color: $gray-400;
    }
  }
}

.carousel-caption {
  background-color: rgba($white, .95);
  bottom: 0;
  color: $gray-800;
  left: 0;
  padding: .5rem 0 1rem;
  right: 0;
}

.carousel-control-next,
.carousel-control-prev {
  bottom: 1.5rem;
  opacity: .85;
  top: auto;
}

// in BS4, carousel control icons are generated as SVG under node_modules/bootstrap/scss/_variables.scss, so we copy the
// exact code written there and simply change the color to the one we want beforehand. in this case, we're changing from
// default $white to $gray so it's more easily visible on the light gray caption box background.
$carousel-control-color: $gray-800;
.carousel-control-next-icon {
  background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23");
}
.carousel-control-prev-icon {
  background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23")
}
