.cover-image {
  background-color: $gray-100;

  #content {
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 5rem;

    @include media-breakpoint-up(sm) {
      padding-top: 7.5rem;
    }
  }

  .cover-image-title {
    @extend .display-3;

    text-shadow: 0 -2px 3px rgba($black, .5);

    @include media-breakpoint-up(md) {
      font-size: 5.5rem;
    }
  }
}
