.cover-image {
  background-color: $gray-100;

  #content {
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 20rem;

    @include media-breakpoint-up(md) {
      padding-top: 17rem;
    }

    .content-block {
      background: $white;
      padding-top: 1rem;
    }

    .widgets {
      &> div,
      nav {
        background: $white;
      }

      .side-navigation-header {
        padding-top: 10px;
      }
    }
  }

  .cover-image-title {
    @extend .display-2;

    text-shadow: 0 -2px 3px rgba($black, .5);
  }
}
