.events.module {
  .events-date-page {
    background: $white;
    border: 1px solid $gray-200;
    border-radius: 1px;
    margin-top: 2px;
    text-align: center;
    width: 42px;
  }

  .events-month {
    background-color: $brand-primary;
    color: $white;
    font-size: .6em;
    line-height: 1.5em;
    text-transform: uppercase;
  }

  .events-day {
    font-family: $serif-bold-font;
    font-size: 1.25em;
    line-height: 1.2em;
  }

  .media-body {
    padding-left: 3px;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .media-heading {
    font-size: 1.25em;
    line-height: 1.2;
    margin: 0;
    text-transform: none;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li + li {
    // TODO replaceable with class="mt-#"
    margin-top: 1em;
  }

  p {
    color: $black;
  }

  .thumbnail {
    display: inline-block;
    margin: .5em 3px .25em 0; // 3px is for the dropshadow

    @include media-breakpoint-up(md) {
      margin-right: 50px;
    }
  }

  .events-time-and-location {
    color: $gray-700;
    margin: 0;
  }

  .featured-event {
    margin-bottom: 1.5em;
    overflow: visible;
    position: relative;

    .thumbnail.featured-image {
      bottom: 0;
      margin-right: 0;
      left: 0;
      right: 0;
      z-index: -1;

      img {
        height: auto;
        width: 100%;
      }
    }

    .events-date-page {
      bottom: auto;
      left: -10px;
      position: absolute;
      top: -5%;
      zoom: 1.4;
      z-index: 15;
    }

    .media-body {
      background: rgba($brand-primary, .8);
      bottom: 12px;
      left: 3px;
      min-height: 0;
      position: absolute;
      right: 3px;
      width: auto;
      z-index: 10;
    }

    h4 {
      background-color: $brand-primary;
      padding: .5em 1.25em;
      width: auto;

      a {
        @extend .sans-serif-font;

        color: $white;
        font-size: 1.2em;
      }
    }

    p {
      color: $white;
      display: none;
      margin-bottom: 0;
      padding: .5em 1.25em;
      z-index: 10;

      &.events-time-and-location {
        display: block;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .featured-event {
      .media-body {
        padding-bottom: 1.25em;
      }

      .events-date-page {
        top: -3%;
      }

      p {
        display: block;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .featured-event {
      .events-date-page {
        top: 5%;
        bottom: auto;
      }
    }
  }
}
