.featured-story.module {
    .thumbnail {
        margin-bottom: 1em;
    }

    .featured-story-heading {
        font-size: 18px;
        margin: 0;
        text-transform: none;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}
