// actual footer
.footer-core {
  // container which includes branding & social media
  div:first-child div:first-child {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  a {
    color: $white;
  }

  .footer-core-mini {
    font-size: .8rem;
  }

  .wordmark {
    @extend .text-sans-light;
    letter-spacing: 2px;
  }
}

// dept.-specific subfooters
.footer-subfooter {
  display: none;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.footer-social-icons a {
  font-size: 1.75rem;
}
