form.module {
    @include border-radius(3px);

    border: 1px solid $light-gray;
    padding: 10px;

    label {
        color: #464646;
    }

    h2, h3, h4, h5, h6 {
        color: #242424;
    }

    legend, h2, h3, h4, h5, h6 {
        border: none;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        padding: .333em 0;
    }
}
