$nav-top-height: 40px;
$nav-fixed-height: $nav-top-height * 1.5;

.header-scu {
  min-height: $nav-top-height + $nav-fixed-height;

  .navbar-brand {
    @include media-breakpoint-down(xs) {
      font-size: 1.15rem;
    }
  }

  .nav-top {
    background-color: $gray-900;
    font-size: .9rem;
    position: relative;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .container {
      height: $nav-top-height;
    }
  }

  .nav-fixed {
    border-top: 5px solid $gray-900;
    min-height: $nav-fixed-height;
    box-shadow: 0 5px 10px -6px rgba($black, .15);
    transition: border-top 400ms ease 0s;

    &.initial {
      border-top: 0;
      position: relative;
    }

    // applies specifically to standard (non custom) header
    &.bg-primary {
      a {
        color: #f1f1f1;

        &:active {
          color: $white;
        }
      }
    }
  }

  // Customized headers have some adjustments to heights due to borders

  .nav-top-custom {
    border-top: 5px solid $brand-primary;

    .container {
      min-height: $nav-top-height - 5px;
    }
  }

  .nav-fixed-custom {
    border-top: 5px solid $brand-primary;

    .wordmark {
      max-width: 300px;
      white-space: normal;

      @include media-breakpoint-down(lg) {
        max-width: 80%;
      }

      @include media-breakpoint-down(md) {
        font-size: 1rem;
        max-width: 75%;
      }

      @include media-breakpoint-down(sm) {
        font-size: .85rem;
      }

      // for image-based headers
      img {
        width: 300px;
      }
    }

    .dropdown-toggle:hover + .dropdown-menu {
      display: block;
    }

    .dropdown-menu:hover {
      display: block;
    }

    &.initial {
      border-top: 1px solid $gray-200;
    }
  }

  // Increase search icon size for better mobile usability
  .fa-search {
    @include media-breakpoint-down(md) {
      font-size: 1.2rem;
    }
  }
}
