// "global"
.core-nav .navbar-inverse .navbar-nav .nav-link {
  color: white;
}

.close-btn {
  background: transparent;
  border: 0;
  fill: darken($white, 10%);
  position: absolute;
  right: 1rem;
  top: 1rem;

  &:hover {
    fill: $white;
  }

  svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}


// drawer
.drawer {
  background: rgba(255, 255, 255, .98);
  color: $black;
  height: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity .15s, height 0s .15s;
  visibility: hidden;
  width: 100%;
  z-index: 50;

  a {
    transition: initial;
  }

  .close-btn {
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    fill: $black;
    padding: .5rem;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: fill .15s;
  }
}

.drawer.open {
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity .15s, height 0s;
}


// search
.search-module {
  font-weight: 600;
  left: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transform: translateY(2.025rem) scale(1.1);
  transition: opacity .35s ease-in-out, transform .35s step-end, max-height .35s step-end;
  visibility: hidden;
  width: 100vw;
  z-index: 50;

  .search-module-input-container {
    background: $brand-primary;
    border-bottom: 2px solid lighten($brand-primary, 5%);
    min-height: 13.5rem;
    padding-top: 40px;
    position: relative;
    z-index: 10;

    @include media-breakpoint-down(sm) {
      min-height:12.5rem;
      padding-top: 3rem;
    }
  }

  .search-module-results {
    background: white;
    height: calc(100vh - 13.5rem);
    overflow: hidden;
    position: relative;
    transition: height .3s, background-color .2s ease-out;
    z-index: 10;

    @include media-breakpoint-down(sm) {
      background: rgba(9, 9, 9, .98);
    }
  }
}

.gsc-search-button, .gsc-clear-button {
  visibility: hidden;
}

.search-module--open {
  max-height: 100vh;
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity .35s ease-in-out,transform .3s;
  visibility: visible;
}

td.gsc-input {
  border-bottom: 1px solid darken($white, 15%);
  border-radius: 1px;
  margin-right: 5%;
  position: relative;
  text-indent: 0;
  z-index: 5;

  input.gsc-input {
    background: transparent !important;
    border: 0;
    color: $white;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.3;
    outline: none;
    position: relative;
    text-indent: 0 !important;

    @include media-breakpoint-down(sm) {
      font-size: 3rem;
    }

    &::placeholder {
      color: $light-gray;
    }
  }

  .search-input-form {
    position: relative;
  }
}

.search-form {
  position: relative;
}


// navbar
// fix navbar toggle icon too big on sm, xs
@include media-breakpoint-down(sm) {
  .navbar-toggler-icon {
    height: 1em;
    width: 1em;
  }
}

#navbarCollapse {
  // slightly increase icon size (and scale by rem's)
  ul.list-inline {
    font-size: 1.1rem;
  }

  a:hover {
    color: darken($white, 20%);
  }
}

.compact-nav {
  display: none;
  line-height: 1;
}
