// provides better support against this issue with fullscreen search overlay:
// https://getbootstrap.com/docs/4.0/getting-started/browsers-devices/#overflow-and-scrolling
.no-scroll {
  height: 100%;
  overflow: hidden;
}

$nav-top-height: 40px;
$nav-fixed-height: $nav-top-height * 1.5;

.header-scu {
  min-height: $nav-top-height + $nav-fixed-height;

  .navbar-brand {
    @include media-breakpoint-down(xs) {
      font-size: 1.15rem;
    }
  }

  .nav-top {
    background-color: $gray-900;
    font-size: .9rem;
    position: relative;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .container {
      height: $nav-top-height;
    }
  }

  .nav-fixed {
    border-top: 5px solid $gray-900;
    min-height: $nav-fixed-height;
    box-shadow: 0 5px 10px -6px rgba($black, .15);
    transition: border-top 400ms ease 0s;

    &.initial {
      border-top: 0;
      position: relative;
    }

    // applies specifically to standard (non custom) header
    &.bg-primary {
      a {
        color: #f1f1f1;

        &:active {
          color: $white;
        }
      }
    }
  }

  // Customized headers have some adjustments to heights due to borders

  .nav-top-custom {
    border-top: 5px solid $brand-primary;

    .container {
      min-height: $nav-top-height - 5px;
    }
  }

  .nav-fixed-custom {
    border-top: 5px solid $brand-primary;

    .wordmark {
      max-width: 300px;
      white-space: normal;

      @include media-breakpoint-down(lg) {
        max-width: 80%;
      }

      @include media-breakpoint-down(md) {
        font-size: 1rem;
        max-width: 75%;
      }

      @include media-breakpoint-down(sm) {
        font-size: .85rem;
      }

      // for image-based headers
      img {
        width: 300px;
      }
    }

    .dropdown-toggle:hover + .dropdown-menu {
      display: block;
    }

    .dropdown-menu:hover {
      display: block;
    }

    &.initial {
      border-top: 1px solid $gray-200;
    }
  }

  // Increase search icon size for better mobile usability
  .fa-search {
    @include media-breakpoint-down(md) {
      font-size: 1.2rem;
    }
  }
}

// Google Search module

.close-btn {
  background: transparent;
  border: 0;
  fill: darken($white, 5%);
  position: absolute;
  right: 2rem;
  top: 2rem;

  &:hover {
    fill: $white;
  }

  &::after {
    color: $gray-200;
    content: 'esc';
    display: block;
  }

  svg {
    height: 2.5rem;
    width: 2.5rem;

    @include media-breakpoint-down(sm) {
      height: 1.5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    right: .5rem;
    top: 1rem;
  }
}

.search-form {
  position: relative;
}

.search-module {
  background-color: rgba($white, .98);
  bottom: 0;
  left: 0;
  max-height: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(2.025rem) scale(1.1);
  transition: opacity .2s ease-in-out, transform .2s step-end, max-height .2s step-end;
  visibility: hidden;
  width: 100vw;
  z-index: $zindex-fixed + 1; // z-index should be above fixed header when search is opened

  &.search-module--open {
    max-height: 100vh;
    height: 100vh;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: opacity .2s ease-in-out, transform .2s;
    visibility: visible;
  }

  .search-module-input-container {
    min-height: 9rem;
    padding-top: 1rem;
    position: relative;

    @include media-breakpoint-down(sm) {
      min-height: 5rem;
    }
  }

  // sass-lint:disable no-vendor-prefixes
  .search-module-results {
    // enables user to scroll more freely through results
    -webkit-overflow-scrolling: touch;

    // helps prevent mobile users from scrolling out of the overlay by accident
    padding-bottom: 5rem;

    height: calc(100vh - 9rem);
    overflow-y: scroll;
    z-index: 10;

    @include media-breakpoint-down(sm) {
      height: calc(100vh - 5rem);
    }
  }
  // sass-lint:enable no-vendor-prefixes
}

.gsc-search-button,
.gsc-clear-button {
  visibility: hidden;
}

.gsc-control-cse {
  background: transparent !important;
  border: 0 !important;
}

// sass-lint:disable class-name-format
.gscb_a {
  visibility: hidden;
}
// sass-lint:enable class-name-format

.gsc-input {
  border-bottom: 1px solid $gray-200;
  border-radius: 1px;
  margin-right: 5%;
  position: relative;
  text-indent: 0;
  z-index: 5;

  .gsc-input-box {
    background: transparent;
    border: 0;
    height: auto;
  }

  .gsc-input {
    background: transparent !important;
    border: 0;
    color: $white;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.3;
    outline: none;
    position: relative;
    text-indent: 0 !important;

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }

    &::placeholder {
      visibility: hidden;
    }
  }

  .search-input-form {
    position: relative;
  }
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  background: transparent !important;
}
