@import 'backgrounds';

$hero-xs-height: 300px;
$hero-sm-height: 375px;
$hero-md-height: 400px;
$hero-lg-height: 450px;

$hero-short-height: 355px;
$hero-xshort-height: 300px;

.jumbotron.hero {
  background-color: #dcdcdc; // Fallback color
  background-position: 50% 20%;
  background-size: cover;
  @extend .text-white;

  &.has-dim {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.5);
    }
  }


  .container {
    position: relative;
    min-height: 400px;
  }

  h1 {
    @extend .serif-font-bold;
    font-size: 4rem;
    bottom: 0;
    color: $white;
    left: 15px;
    line-height: 0.7;
    margin: 0;
    position: absolute;
    text-shadow: 0 -2px 3px rgba($black, .22);
    z-index: 1;
    @include media-breakpoint-up(md) {
      font-size: 5rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 6rem;
    }
  }
  .caption {
    background: rgba($white, 0.85);
    color: black;
    font-size: 13px;
    padding: 15px;

    p {
      font-size: inherit;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
      .site-header + & {
        font-size: 14px;
        padding-top: 40px;
      }
    }
  }
}
