$hero-xs-height: 300px;
$hero-sm-height: 375px;
$hero-md-height: 400px;
$hero-lg-height: 450px;

.jumbotron.hero {
  @extend .text-white;

  background-position: 50% 20%;
  background-size: cover;
  min-height: $hero-xs-height;

  .container {
    position: relative;
  }

  @include media-breakpoint-up(sm) {
    min-height: $hero-sm-height;
  }

  @include media-breakpoint-up(md) {
    min-height: $hero-md-height;
  }

  @include media-breakpoint-up(lg) {
    min-height: $hero-lg-height;
  }

  h1 {
    @extend .serif-font-bold;

    bottom: 0;
    color: $white;
    font-size: 4rem;
    left: 15px;
    line-height: .7;
    margin: 0;
    position: absolute;
    text-shadow: 0 -2px 3px rgba($black, .22);
    z-index: 1;

    @include media-breakpoint-up(md) {
      font-size: 5rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 6rem;
    }
  }

  .caption {
    background: rgba($white, .85);
    color: $black;
    font-size: 13px;
    padding: 15px;
  }
}
