// start  new video homepage code

.homepage {
  overflow-x: hidden;
}

.sticky-trigger {
  position: sticky;
  top: 0;
}

.block {
  min-width: 100%;
}

footer {
  position: relative;
}

.video-container .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: calc(100vh - 100px);
}
.video-container {
  position: relative;
  min-height: 221vh;
}
.fadeable {
  width: 100%;
  height: calc(100vh - 100px);
}
video {
  background-size: cover;
  height: 100vh;
  object-fit: fill;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  z-index: -1;

  + div {
    height: calc(100vh - 100px);
    width: 100%;
  }
}

.panel { display: none }

.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.academics a.d-block {
  white-space: normal;
}
.story-pane {
  min-height: 350px;
  background-size: cover;
}

// end    new video homepage code

.homepage {
  background-color: darken($white, 2%);
}

.section-header {
  border-bottom: 3px double $gray-200;
  height: .75em;
  margin-bottom: 1.5em;
  overflow: visible;
  text-align: center;

  h3 {
    background-color: darken($white, 2%);
    color: $gray-700;
    display: inline-block;
    font-size: 1em;
    margin-bottom: 0;
    padding: 0 .5em;
  }
}

.news.module {
  .media a {
    width: 40%;
  }
}

// sass-lint:disable class-name-format
.lw_cal_today_day {
  @extend .serif-font-bold;
}
// sass-lint:enable class-name-format

// Intro Paragraphs
// sass-lint:disable no-ids
.intro {
  @extend .lead;

  @include media-breakpoint-up(md) {
    .subheader.tall + .container#content & {
      background: rgba($white, .9);
      border: 1px solid #ccc;
      font-size: 28px;
      line-height: 1.5;
      margin: -78px 0 30px;
      padding: 12px 15px;
    }
  }
}
// sass-lint:enable no-ids
