body.homepage {
  background-color: darken($white, 2%);
}

.section-header {
  border-bottom: 3px double $really-light-gray;
  height: .75em;
  margin-bottom: 1.5em;
  overflow: visible;
  text-align: center;

  h3 {
    background-color: darken($white, 2%);
    color: $medium-gray;
    display: inline-block;
    font-family: $trajan-font;
    font-size: 1em;
    margin-bottom: 0;
    padding: 0 .5em;
  }
}

.news.module {
  .media a {
    width: 40%;
  }
}
