.badge {
  &.infographic {
    width: 100%;
    white-space: normal;
  }

  .statcard-number {
    letter-spacing: .125rem;
  }

  .infographic-label {
    letter-spacing: .125em;
    line-height: 1.5
  }
}
