// sass-lint:disable force-attribute-nesting

// http://github.com/semantic-org/semantic-ui/

.ui.items .item:hover,
.ui.link.items > .item:hover {
  cursor: pointer;
}

.ui.items .item:hover .content .header,
.ui.link.items > .item:hover .content .header {
  color: #1e70bf;
}

// Top-level item structure
.ui.items {
  margin: 1.5em 0;

  > .item {
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    font-size: 1em;
    margin: 1em 0;
    min-height: 0;
    padding: 0;
    transition: box-shadow .1s ease;
    width: 100%;
    z-index: 0;

    @include media-breakpoint-between(md, lg) {
      margin: 1em 0;
    }

    &::after {
      clear: both;
      content: ' ';
      display: block;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(sm) {
    &:not(.unstackable) {
      > .item {
        flex-direction: column;
        margin: 2em 0;
        max-width: 100% !important;
        width: auto !important;

        > .image {
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 100% !important;
          width: auto !important;

          + content {
            display: block;
            padding: 1.5em 0 0;
          }

          > img {
            max-width: 100% !important;
            width: auto !important;
          }
        }
      }
    }
  }

  &:first-child {
    margin-top: 0 !important;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }

  &[class*='left floated'] {
    float: left;
  }

  &[class*='right floated'] {
    float: right;
  }
}

// Item images
.ui.items > .item > .image {
  display: block;
  flex: 0 0 auto;
  float: none;
  margin: 0;
  padding: 0;
  position: relative;

  > img {
    border: 0;
    border-radius: .125rem;
    display: block;
    height: auto;
    width: 100%;
  }

  + .content {
    display: block;
    margin-left: 0;
    min-width: 0;
    padding-left: 1.5em;
    width: auto;

    @include media-breakpoint-between(md, lg) {
      display: block;
      padding: 0 0 0 1em;
    }
  }

  + [class*='top aligned'].content {
    align-self: flex-start;
  }

  + [class*='middle aligned'].content {
    align-self: center;
  }

  + [class*='bottom aligned'].content {
    align-self: flex-end;
  }

  &:not(.ui) {
    width: 175px;
  }

  &:only-child > img {
    border-radius: 0;
  }
}

// Item content
.ui.items > .item > .content {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  display: block;
  flex: 1 1 auto;
  font-size: 1em;
  margin: 0;
  padding: 0;

  > .header {
    display: inline-block;
    color: rgba($black, .85);
    margin: -.21425em 0 0;
    font-weight: bold;

    &:not(.ui) {
      font-size: 1.28571429em;
    }
  }

  > .description {
    color: rgba($black, .87);
    font-size: 1em;
    line-height: 1.4285em;
    margin-top: .6em;
    max-width: auto;
  }

  .favorite.icon {
    cursor: pointer;
    opacity: .75;
    transition: color .1s ease;

    &:hover {
      color: $brand-warning;
      opacity: 1;
    }
  }

  .active.favorite.icon {
    color: $brand-warning;
  }

  .like.icon {
    cursor: pointer;
    opacity: .75;
    transition: color .1s ease;

    &:hover {
      color: lighten($brand-primary, 10%);
      opacity: 1;
    }
  }

  .active.like.icon {
    color: lighten($brand-primary, 10%);
  }

  img {
    align-self: center;
    width: 0;
  }

  p {
    margin: 0 0 .5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &::after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

// Meta content
.ui.items > .item .meta {
  color: rgba($black, .6);
  font-size: 1em;
  line-height: 1em;
  margin: .5em 0;

  * {
    margin-right: .3em;
  }

  > a:not(.ui) {
    color: rgba($black, .4);

    &:hover {
      color: rgba($black, .87);
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &[class*='right floated'] {
    margin-left: .3em;
    margin-right: 0;
  }
}

// Links
.ui.items > .item > .content a {
  .header {
    color: rgba($black, .85);

    &:hover {
      color: #1e70bf;
    }
  }

  &:not(.ui) {
    transition: color .1s ease;
  }
}

// Extra
.ui.items > .item .extra {
  background: none;
  border-top: 0;
  box-shadow: none;
  color: rgba($black, .4);
  display: block;
  left: 0;
  margin: .5rem 0 0;
  padding: 0;
  position: relative;
  top: 0;
  transition: color .1s ease;
  width: 100%;

  > * {
    margin: .25rem .5rem .25rem 0;
  }

  > [class*='right floated'] {
    margin: .25rem 0 .25rem .5rem;
  }

  &::after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

// Relaxed (more white space)
.ui.relaxed.items > .item {
  margin: 1.5em 0;
}

.ui[class*='very relaxed'].items > .item {
  margin: 2em 0;
}

// Divided
.ui.divided.items > .item {
  border-top: 1px solid rgba(34, 36, 38, .15);
  margin: 0;
  padding: 1em 0;

  &:first-child {
    border-top: 0;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  &:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

// Relaxed AND divided
.ui.relaxed.divided.items > .item {
  margin: 0;
  padding: 1.5em 0;
}

.ui[class*='very relaxed'].divided.items > .item {
  margin: 0;
  padding: 2em 0;
}

@media only screen and (max-width: 767px) {
  .ui.unstackable.items > .item > .image,
  .ui.unstackable.items > .item > .image > img {
    width: 125px !important;
  }
}

// sass-lint:enable force-attribute-nesting
