$font-family: $font-family-base;

@import '../../node_modules/semantic-ui-sass/scss/views/item';

// sass-lint:disable force-attribute-nesting

.ui.items>.item>.content>.header {
  font-family: $sans-serif-bold-font;
  font-weight: 700;
}

.ui.items > .item > .content > a.header:hover {
  color: $brand-primary;
}

.ui.items a.item:hover .content .header,
.ui.link.items > .item:hover .content .header {
  color: $brand-primary;
}


// sass-lint:enable force-attribute-nesting
