/**
 * Maps Module:
 *
 * Maps can be used with the .one-column or .two-column classes to restrict their sizes, or without
 * them to allow them to expand to the width of the parent container.
 *
 */
.map.module {
    @include border-radius(1px);

    border: 1px solid $light-gray;

    iframe {
        display: block;
        max-width: 100%;
        width: 100%;
    }
}
