.person-spotlight {
  div:first-child {
    background-position: 0 100%;
    background-size: cover;
    min-height: 270px;
  }

  div:last-child {
    background-image: linear-gradient(to right, darken($brand-primary, 3%) 0%, $brand-primary 100%);

    hr {
      background: darken($brand-primary, 5%);
    }
  }
}
