.pull-quote {

  background: $brand-primary;
  color: $white;
  display: flex;
  overflow: hidden;
  padding: .5em 2em;
  transition: background 1s;

  p {
    font-size: 3em;
    line-height: 1.25;
    margin-top: .5em;
    padding: .25em;
  }

  h4, h5 {
    align-self: flex-end;
    text-align: right;
  }

  img {
    border: 12px solid lighten($brand-primary, 10%);
    border-radius: 100%;
    display: block;
    text-align: right;
    transition: border .5s;
  }

  &:hover {
    background: lighten($brand-primary, 10%);
  }

}
