.pull-quote {
  img {
    width: 300px;
  }

  cite {
    background-color: $brand-primary;
    color: $white;
    display: block;
    padding: 6px;
  }

  p {
    display: inline-block;
    font-style: italic;
    padding: 2px;
    width: auto;
  }
}
