.pull-quote {
  background: lighten($brand-primary, 2%);
  color: $white;
  display: flex;
  overflow: hidden;
  padding: .5em 2em;
  transition: background .5s;

  p {
    border-left: .25em solid lighten($brand-primary, 5%);
    font-size: 2em;
    line-height: 1.2;
    margin-top: .5em;
    padding: .25em 0 0 .5em;

    @include media-breakpoint-down(md) {
      font-size: 1.7em;
    }
  }

  h4, h5 {
    text-align: right;

    @include media-breakpoint-down(md) {
      font-size: 1em;
    }
  }

  img {
    border: .75em solid lighten($brand-primary, 5%);
    border-radius: 100%;
    display: block;
    transition: border .5s;
  }

  @include media-breakpoint-down(md) {
    display: flex;
    flex-flow: column-reverse;
  }

  &:hover {
    background: lighten($brand-primary, 10%);
  }

}

.pull-quote-inv {
  @extend .pull-quote;

  background: darken($white, 1%);
  color: $brand-primary;

  img {
    border-color: $white;
  }

  &:hover {
    background: #f1f1f1;
  }
}
