.related-links.module {
  .related-links-header {
    color: $gray-700;
    display: block;
    font-size: 16px;
    line-height: 2em;
    text-transform: uppercase;
  }

  ul {
    color: $link-red;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 1.25em;
  }

  .related-links-header,
  li {
    margin: 0 0 .75em;
  }

  & > *:last-child,
  & > *:last-child > *:last-child {
    margin-bottom: 0;
  }
}
