/**
 * Single-image-with-link module (Sometimes referred to as "site pointer")
 *
 * The single-image-with-link is a link containing a photo and a title, used to link to another SCU
 * site.
 *
 * For proper display all around, the image should be at least 657 pixels wide.
 */
.single-image-with-link.module {
	@include transition(border 0.2s ease-in-out);

	border: 1px solid #bdbdbd;
	display: block;
	padding: 5px;

    &:hover {
		border-color: darken($link-red, 15%);
		text-decoration: none;

        .single-image-with-link-body {
            background-color: darken($brand-red, 5%);
        }
    }

    img + .single-image-with-link-body {
        margin: 5px 0 0;
    }

    .single-image-with-link-body {
		@include transition(background-color .2s ease-in-out);

		background-color: $brand-red;
		border: 1px solid $maroon;
		color: $white;
		display: block;
		font-size: 20px;
		line-height: 1.2;
		padding: 20px 19px 19px;
    }
}
