.subheader {
  background-color: $maroon; //611b25
  background-position: 50%;
  background-size: cover;
  width: 100%;

  &.office {
    background-color: $gray-900; //464646

    h1 {
      background: transparent;
    }
  }

  h1 {
    color: $white;

    span {
      color: $yiq-text-light;
      display: block;
      font-size: 18px;
      padding-left: 2px;
      text-transform: uppercase;
      white-space: nowrap;

      &:empty {
        padding: 0;
      }
    }
  }
}
