.switcher {
  background-color: $light-gray;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  @include media-breakpoint-up(sm) {
    width: 200%;
    top: 50px;
    background: none;
  }

  @include media-breakpoint-between(sm, md) {
    font-size: 16px;
  }

  &.on {
    background: $white;

    @include media-breakpoint-up(sm) {
      box-shadow: 1px 1px 3px rgba($black, .4);
      width: 200%;
    }

    @include media-breakpoint-down(sm) {
      > a > span::after {
        content: 'Tap anywhere to close.';
        display: block;
        font-size: 12px;
      }
    }
  }

  & > a {
    background: rgba($white, .8) !important;
    padding: 14px 10px;
    text-align: center;
  }

  & h4 {
    min-height: 0 !important;
    padding: 0 !important;
  }

  &.link-button {
    cursor: pointer;

    > a {
      color: inherit;
      display: block;
      text-decoration: none;

      &:focus {
        text-decoration: none;
      }
    }

    .module {
      display: none;
      margin-top: 1rem;
      padding: 0 24px;

      ul {
        margin-bottom: 2rem;
      }
    }

    &.on {
      cursor: auto;
      max-width: none;
      text-align: left;

      > a {
        border-bottom: 1px solid $light-gray;
      }

      h4 a {
        color: $medium-gray;
        text-decoration: underline;
      }

      .module {
        display: block;
      }
    }
  }
}

// temporary code for switchers on school landing pages: keep 'em open
.col-sm-12 {
  > .switcher,
  > .switcher.on {
    box-shadow: none !important;
    cursor: auto;
    max-width: none;
    padding: 14px 24px;
    position: relative !important;
    text-align: left;
    width: auto !important;
    z-index: 1;

    > a {
      display: none;
    }

    .module {
      display: block;
    }
  }
}
