// sass-lint:disable space-around-operator

@mixin highlight-variant($bg) {

  .highlight {
    background: $bg;
    color: color-yiq($bg);
  }

  .highlight--wrapping {
    box-shadow: $title-pad 0 0 $bg, $title-pad*-1 0 0 $bg;
  }
}

$pad-wide: 20px;
$title-pad: .25em;
$title-lineheight: $title-pad + 1.5;

.text-highlight {
  .highlight {
    display: inline;
    color: $white;
    padding: $title-pad;
    background: $brand-primary;
  }

  .highlight--wrapping {
    position: relative;
    left: $title-pad;
    padding-left: 0;
    padding-right: 0;
    box-decoration-break: clone;
    box-shadow: $title-pad 0 0 $brand-primary, $title-pad*-1 0 0 $brand-primary;
  }
}

@each $color, $value in map-merge($theme-colors, ('black': $black)) {
  .text-highlight-#{$color} {
    @include highlight-variant($value);
  }
}

// sass-lint:enable space-around-operator
