.retina-only {
  display: none !important;
}

@include retina {
  .retina-only {
    display: block !important;
  }

  .hide-for-retina {
    display: none !important;
  }
}

// Background Positioning

.bg-img-center {
  background-position: center !important;
}

.bg-img-left-center {
  background-position: left center !important;
}

.bg-img-right-center {
  background-position: right center !important;
}

.bg-img-bottom {
  background-position: bottom !important;
}

.bg-img-bottom-left {
  background-position: bottom left !important;
}

.bg-img-bottom-right {
  background-position: bottom right !important;
}

.bg-img-top {
  background-position: top !important;
}

.bg-img-top-right {
  background-position: top right !important;
}

.bg-img-top-left {
  background-position: top left !important;
}

.has-dim {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($black, .5);
  }
}

.has-dim-2 {
  @extend .has-dim;

  &::before {
    background: rgba($black, .2);
  }
}

.has-dim-4 {
  @extend .has-dim;

  &::before {
    background: rgba($black, .4);
  }
}

.has-dim-6 {
  @extend .has-dim;

  &::before {
    background: rgba($black, .6);
  }
}

.has-dim-8 {
  @extend .has-dim;

  &::before {
    background: rgba($black, .8);
  }
}
