/**
 * Video module
 *
 * The video module uses Bootstrap's responsive video wrapper classes:
 * http://getbootstrap.com/components/#responsive-embed
 *
 * The caption should go below the responsive video wrapper (not within),
 * but can be displayed above. Altogether, it looks something like this:
 *
 * <div class="one-column video module">
 *   <div class="embed-responsive embed-responsive-16by9">
 *     <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/23wgwaLEEgo" frameborder="0" allowfullscreen></iframe>
 *   </div>
 *   <p class="video-caption">Video: <a href="https://www.youtube.com/watch?v=23wgwaLEEgo">The SCU Experience - Housing</a></p>
 * </div>
 *
 */
.video.module {
  iframe {
    border: 1px solid $video-border;
  }

  .video-caption {
    color: #696666;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 1em;
    text-transform: uppercase;

    a {
      color: $black;
      font-size: 18px;
      text-transform: none;

      &:hover {
        color: lighten($black, 15%);
      }
    }
  }

  .embed-responsive + .video-caption {
    margin: 1em 0 0;
  }
}
