.windowpane {
  background-size: cover;
  min-height: 330px;
  overflow: hidden;
  padding-bottom: 33.3333333%;
  position: relative;

  .home {
    height: 200px;
    margin-top: 10px;

    .windowpane-background {
      background-position: initial;
    }
  }

  .windowpane-desc {
    bottom: 1.5em;
    position: absolute;

    &:hover > .windowpane-rollup {
      opacity: .85;
    }

    &.introduction {
      top: 50%;
      transform: translate(0, -50%);
    }

    &.full-panel {
      top: 0;
      width: 100%;

      .list-group-item {
        background-color: transparent;

        a {
          color: $white;
        }
      }
    }

    .windowpane-rollup {
      @include transition(opacity .7s);

      background-color: $black;
      color: $white;
      padding: 8px;
      opacity: 0;
    }
  }

  .windowpane-background {
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}
