.windowpane {
  background-size: cover;
  min-height: 330px;
  overflow: hidden;
  padding-bottom: 33.3333333%;
  position: relative;

  &.has-overlay {
    &:hover,
    &:active {
      .windowpane-overlay {
        opacity: 1;
      }

      .windowpane-desc {
        opacity: 0;
      }
    }

    .windowpane-overlay {
      position: absolute;
      height: 100%;
      background-color: rgba(0, 0, 0, .75);
      color: #fff;
      opacity: 0;
      transition: opacity .2s ease-in-out;
    }
  }

  .windowpane-desc {
    bottom: 1.5em;
    position: absolute;
    transition: opacity .2s ease-in-out;

    &.introduction {
      top: 50%;
      transform: translate(0, -50%);
    }

    &.full-panel {
      top: 0;
      width: 100%;

      .list-group-item {
        background-color: transparent;

        a {
          color: $white;
        }
      }
    }
  }

  .windowpane-background {
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}
