---
title: Overview | Santa Clara University UI Toolkit
fabricator: true
---

<h3 class="text-trajan m-b-0 text-uppercase">Santa Clara University</h3>
<h1 class="text-sans-light m-t-0">UI Toolkit</h1>
<p><code class="highlighter-rouge">{{toolkit.version}}</code></p>
<p>This UI toolkit is a demonstration of the visual language we have developed for Santa Clara
  University's digital properties. This toolkit is a living document that will be continually
  updated as our language evolves.</p>

<h2>Color</h2>

{{#each toolkit.colors}}
<div class="f-color-chips">
  {{#each this}}
  <div class="f-color-chip">
    <div class="f-color-chip__name">{{@key}}</div>
    <div class="f-color-chip__color">{{this}}</div>
  </div>
  {{/each}}
</div>
{{/each}}

<h2>Typography</h2>
<div class="row">
  <div class="col-md-4">
    <p>Trade Gothic Next</p>
    <p><code class="highter-rouge">Default</code></p>
    <p class="intro">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
    <hr>
    <p><code class="highter-rouge">.text-sans-light</code></p>
    <p class="intro text-sans-light">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
    <hr>
    <p><code class="highter-rouge">.text-sans-bold</code></p>
    <p class="intro text-sans-bold">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
    <hr>
    <p><code class="highter-rouge">.text-sans-italic</code></p>
    <p class="intro text-sans-italic">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
    <hr>
    <p><code class="highter-rouge">.text-sans-bold-italic</code></p>
    <p class="intro text-sans-bold-italic">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
  </div>
  <div class="col-md-4">
    <p>Bauer Bodoni W01 Italic</p>
    <p><code class="highlighter-rouge">.text-serif</code></p>
    <p class="intro text-serif">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
    <hr>
    <p><code class="highlighter-rouge">.text-serif-bold</code></p>
    <p class="intro text-serif-bold">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
  </div>
  <div class="col-md-4">
    <p>Trajan W01 Regular</p>
    <p><code class="highlighter-rouge">.text-trajan</code></p>
    <p class="intro text-trajan">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
  </div>
</div>
<h4>Using Fonts</h4>
<p>These fonts have restrictions on their use. Please see <a href="docs.html#cloud-fonts">Cloud
  Fonts</a>.</p>

<hr>
<p>All HTML headings, <code class="highlighter-rouge">&lt;h1&gt;</code> through <code
  class="highlighter-rouge">&lt;h6&gt;</code>, are available. <code
  class="highlighter-rouge">.h1</code> through <code class="highlighter-rouge">.h6</code> classes
  are also available, for when you want to match the font styling of a heading but still want your
  text to be displayed inline.</p>
<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>

<h2>Headings with Subheadings</h2>
<h4>
  Fancy display heading
  <small class="text-muted">With faded secondary text</small>
</h4>

<h3>Inline Styles</h3>
<p>You can use the mark tag to
  <mark>highlight</mark>
  text.
</p>
<p>
  <del>This line of text is meant to be treated as deleted text.</del>
</p>
<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
<p>
  <ins>This line of text is meant to be treated as an addition to the document.</ins>
</p>
<p><u>This line of text will render as underlined</u></p>
<p>
  <small>This line of text is meant to be treated as fine print.</small>
</p>
<p><strong>This line rendered as bold text.</strong></p>
<p><em>This line rendered as italicized text.</em></p>

<h3>Block Quotes</h3>

<blockquote class="blockquote">
  <p class="m-b-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
    ante.</p>
</blockquote>

<blockquote class="blockquote">
  <p class="m-b-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
    ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
    Title</cite></footer>
</blockquote>

<h2>Utilities</h2>
<p>Utilities, or utility classes, are a series of single-purpose, immutable classes designed to reduce duplication in
  your compiled CSS. Each utility takes a common CSS property-value pair and turns it into a reusable class.</p>

<p>These utilities are in addition to those <a href="http://getbootstrap.com/css/">provided in Bootstrap</a>.</p>

<h3 id="background-positioning">Background Positioning</h3>
<pre>
    // Background Positioning

    .bg-img-center {
        background-position: center !important;
    }
    .bg-img-left-center {
        background-position: left center !important;
    }
    .bg-img-right-center {
        background-position: right center !important;
    }
    .bg-img-bottom {
        background-position: bottom !important;
    }
    .bg-img-bottom-left {
        background-position: bottom left !important;
    }
    .bg-img-bottom-right {
        background-position: bottom right !important;
    }
</pre>

<h3 id="positioning">Positioning</h3>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="nc">.pos-r</span> <span
  class="p">{</span> <span class="nl">position</span><span class="p">:</span> <span class="nb">relative</span> <span
  class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.pos-a</span> <span class="p">{</span> <span class="nl">position</span><span class="p">:</span> <span
    class="nb">absolute</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span
    class="p">}</span>
<span class="nc">.pos-f</span> <span class="p">{</span> <span class="nl">position</span><span class="p">:</span> <span
    class="nb">fixed</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span
    class="p">}</span></code></pre>
</figure>

<h3 id="width">Width</h3>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="nc">.w-sm</span>   <span
  class="p">{</span> <span class="nl">width</span><span class="p">:</span> <span class="m">25%</span> <span
  class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.w-md</span>   <span class="p">{</span> <span class="nl">width</span><span class="p">:</span> <span
    class="m">50%</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span
    class="p">}</span>
<span class="nc">.w-lg</span>   <span class="p">{</span> <span class="nl">width</span><span class="p">:</span> <span
    class="m">75%</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span
    class="p">}</span>
<span class="nc">.w-full</span> <span class="p">{</span> <span class="nl">width</span><span class="p">:</span> <span
    class="m">100%</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span
    class="p">}</span></code></pre>
</figure>

<h3 id="margin-and-padding">Margin and padding</h3>

<p>Assign <code class="highlighter-rouge">margin</code> or <code class="highlighter-rouge">padding</code> to an element
  or a subset of it’s sides with shorthand classes. Includes support for individual properties, all properties, and
  vertical and horizontal properties. All classes are multiples on the global default value, <code
    class="highlighter-rouge">20px</code>.</p>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="nc">.m-a-0</span> <span
  class="p">{</span> <span class="nl">margin</span><span class="p">:</span>        <span class="m">0</span> <span
  class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.m-t-0</span> <span class="p">{</span> <span class="nl">margin-top</span><span
    class="p">:</span>    <span class="m">0</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.m-r-0</span> <span class="p">{</span> <span class="nl">margin-right</span><span
    class="p">:</span>  <span class="m">0</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.m-b-0</span> <span class="p">{</span> <span class="nl">margin-bottom</span><span
    class="p">:</span> <span class="m">0</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span
    class="p">}</span>
<span class="nc">.m-l-0</span> <span class="p">{</span> <span class="nl">margin-left</span><span
    class="p">:</span>   <span class="m">0</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>

<span class="nc">.m-a</span> <span class="p">{</span> <span class="nl">margin</span><span
    class="p">:</span>        <span class="o">@</span><span class="n">spacer</span> <span class="o">!</span><span
    class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.m-t</span> <span class="p">{</span> <span class="nl">margin-top</span><span
    class="p">:</span>    <span class="o">@</span><span class="n">spacer-y</span> <span class="o">!</span><span
    class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.m-r</span> <span class="p">{</span> <span class="nl">margin-right</span><span
    class="p">:</span>  <span class="o">@</span><span class="n">spacer-x</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.m-b</span> <span class="p">{</span> <span class="nl">margin-bottom</span><span
    class="p">:</span> <span class="o">@</span><span class="n">spacer-y</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.m-l</span> <span class="p">{</span> <span class="nl">margin-left</span><span
    class="p">:</span>   <span class="o">@</span><span class="n">spacer-x</span> <span class="o">!</span><span
    class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.m-x</span> <span class="p">{</span> <span class="nl">margin-right</span><span
    class="p">:</span>  <span class="o">@</span><span class="n">spacer-x</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="nl">margin-left</span><span class="p">:</span> <span class="o">@</span><span
    class="n">spacer-x</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span
    class="p">}</span>
<span class="nc">.m-y</span> <span class="p">{</span> <span class="nl">margin-top</span><span
    class="p">:</span>    <span class="o">@</span><span class="n">spacer-y</span> <span class="o">!</span><span
    class="n">important</span><span class="p">;</span> <span class="nl">margin-bottom</span><span
    class="p">:</span> <span class="o">@</span><span class="n">spacer-y</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.m-x-auto</span> <span class="p">{</span> <span class="nl">margin-right</span><span class="p">:</span> <span
    class="nb">auto</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span
    class="nl">margin-left</span><span class="p">:</span> <span class="nb">auto</span> <span class="o">!</span><span
    class="n">important</span><span class="p">;</span> <span class="p">}</span>

<span class="nc">.m-a-md</span> <span class="p">{</span> <span class="nl">margin</span><span
    class="p">:</span>        <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span
    class="o">*</span> <span class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span
    class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.m-t-md</span> <span class="p">{</span> <span class="nl">margin-top</span><span
    class="p">:</span>    <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span
    class="o">*</span> <span class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span
    class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.m-r-md</span> <span class="p">{</span> <span class="nl">margin-right</span><span
    class="p">:</span>  <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.m-b-md</span> <span class="p">{</span> <span class="nl">margin-bottom</span><span
    class="p">:</span> <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span
    class="o">*</span> <span class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span
    class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.m-l-md</span> <span class="p">{</span> <span class="nl">margin-left</span><span
    class="p">:</span>   <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span
    class="o">*</span> <span class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span
    class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.m-x-md</span> <span class="p">{</span> <span class="nl">margin-right</span><span
    class="p">:</span>  <span class="p">(</span><span class="o">@</span><span class="n">spacer-x</span> <span class="o">*</span> <span
    class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="nl">margin-left</span><span class="p">:</span>   <span class="p">(</span><span
    class="o">@</span><span class="n">spacer-x</span> <span class="o">*</span> <span class="m">1</span><span class="mi">.5</span><span
    class="p">)</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.m-y-md</span> <span class="p">{</span> <span class="nl">margin-top</span><span
    class="p">:</span>    <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span
    class="o">*</span> <span class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span
    class="o">!</span><span class="n">important</span><span class="p">;</span> <span
    class="nl">margin-bottom</span><span class="p">:</span> <span class="p">(</span><span class="o">@</span><span
    class="n">spacer-y</span> <span class="o">*</span> <span class="m">1</span><span class="mi">.5</span><span
    class="p">)</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>

<span class="nc">.m-a-lg</span> <span class="p">{</span> <span class="nl">margin</span><span
    class="p">:</span>        <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span
    class="o">*</span> <span class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.m-t-lg</span> <span class="p">{</span> <span class="nl">margin-top</span><span
    class="p">:</span>    <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span
    class="o">*</span> <span class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.m-r-lg</span> <span class="p">{</span> <span class="nl">margin-right</span><span
    class="p">:</span>  <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.m-b-lg</span> <span class="p">{</span> <span class="nl">margin-bottom</span><span
    class="p">:</span> <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span
    class="o">*</span> <span class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.m-l-lg</span> <span class="p">{</span> <span class="nl">margin-left</span><span
    class="p">:</span>   <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span
    class="o">*</span> <span class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.m-x-lg</span> <span class="p">{</span> <span class="nl">margin-right</span><span
    class="p">:</span>  <span class="p">(</span><span class="o">@</span><span class="n">spacer-x</span> <span class="o">*</span> <span
    class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="nl">margin-left</span><span class="p">:</span>   <span class="p">(</span><span
    class="o">@</span><span class="n">spacer-x</span> <span class="o">*</span> <span class="m">3</span><span
    class="p">)</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.m-y-lg</span> <span class="p">{</span> <span class="nl">margin-top</span><span
    class="p">:</span>    <span class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span
    class="o">*</span> <span class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="nl">margin-bottom</span><span class="p">:</span> <span class="p">(</span><span
    class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span class="m">3</span><span
    class="p">)</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span></code></pre>
</figure>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="nc">.p-a-0</span> <span
  class="p">{</span> <span class="nl">padding</span><span class="p">:</span>        <span class="m">0</span> <span
  class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.p-t-0</span> <span class="p">{</span> <span class="nl">padding-top</span><span
    class="p">:</span>    <span class="m">0</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-r-0</span> <span class="p">{</span> <span class="nl">padding-right</span><span
    class="p">:</span>  <span class="m">0</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-b-0</span> <span class="p">{</span> <span class="nl">padding-bottom</span><span
    class="p">:</span> <span class="m">0</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span
    class="p">}</span>
<span class="nc">.p-l-0</span> <span class="p">{</span> <span class="nl">padding-left</span><span
    class="p">:</span>   <span class="m">0</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>

<span class="nc">.p-a</span> <span class="p">{</span> <span class="nl">padding</span><span
    class="p">:</span>        <span class="o">@</span><span class="n">spacer</span> <span class="o">!</span><span
    class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.p-t</span> <span class="p">{</span> <span class="nl">padding-top</span><span
    class="p">:</span>    <span class="o">@</span><span class="n">spacer-y</span> <span class="o">!</span><span
    class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.p-r</span> <span class="p">{</span> <span class="nl">padding-right</span><span
    class="p">:</span>  <span class="o">@</span><span class="n">spacer-x</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-b</span> <span class="p">{</span> <span class="nl">padding-bottom</span><span
    class="p">:</span> <span class="o">@</span><span class="n">spacer-y</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-l</span> <span class="p">{</span> <span class="nl">padding-left</span><span
    class="p">:</span>   <span class="o">@</span><span class="n">spacer-x</span> <span class="o">!</span><span
    class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.p-x</span> <span class="p">{</span> <span class="nl">padding-right</span><span
    class="p">:</span>  <span class="o">@</span><span class="n">spacer-x</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="nl">padding-left</span><span class="p">:</span>   <span class="o">@</span><span
    class="n">spacer-x</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span
    class="p">}</span>
<span class="nc">.p-y</span> <span class="p">{</span> <span class="nl">padding-top</span><span
    class="p">:</span>    <span class="o">@</span><span class="n">spacer-y</span> <span class="o">!</span><span
    class="n">important</span><span class="p">;</span> <span class="nl">padding-bottom</span><span
    class="p">:</span> <span class="o">@</span><span class="n">spacer-y</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>

<span class="nc">.p-a-md</span> <span class="p">{</span> <span class="nl">padding</span><span class="p">:</span>        <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-t-md</span> <span class="p">{</span> <span class="nl">padding-top</span><span class="p">:</span>    <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-r-md</span> <span class="p">{</span> <span class="nl">padding-right</span><span class="p">:</span>  <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-b-md</span> <span class="p">{</span> <span class="nl">padding-bottom</span><span class="p">:</span> <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-l-md</span> <span class="p">{</span> <span class="nl">padding-left</span><span class="p">:</span>   <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-x-md</span> <span class="p">{</span> <span class="nl">padding-right</span><span class="p">:</span>  <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-x</span> <span class="o">*</span> <span
    class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="nl">padding-left</span><span class="p">:</span>   <span class="p">(</span><span
    class="o">@</span><span class="n">spacer-x</span> <span class="o">*</span> <span class="m">1</span><span class="mi">.5</span><span
    class="p">)</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.p-y-md</span> <span class="p">{</span> <span class="nl">padding-top</span><span class="p">:</span>    <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">1</span><span class="mi">.5</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="nl">padding-bottom</span><span class="p">:</span> <span class="p">(</span><span
    class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span class="m">1</span><span class="mi">.5</span><span
    class="p">)</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>

<span class="nc">.p-a-lg</span> <span class="p">{</span> <span class="nl">padding</span><span class="p">:</span>        <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-t-lg</span> <span class="p">{</span> <span class="nl">padding-top</span><span class="p">:</span>    <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-r-lg</span> <span class="p">{</span> <span class="nl">padding-right</span><span class="p">:</span>  <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-b-lg</span> <span class="p">{</span> <span class="nl">padding-bottom</span><span class="p">:</span> <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-l-lg</span> <span class="p">{</span> <span class="nl">padding-left</span><span class="p">:</span>   <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="p">}</span>
<span class="nc">.p-x-lg</span> <span class="p">{</span> <span class="nl">padding-right</span><span class="p">:</span>  <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-x</span> <span class="o">*</span> <span
    class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="nl">padding-left</span><span class="p">:</span>   <span class="p">(</span><span
    class="o">@</span><span class="n">spacer-x</span> <span class="o">*</span> <span class="m">3</span><span
    class="p">)</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.p-y-lg</span> <span class="p">{</span> <span class="nl">padding-top</span><span class="p">:</span>    <span
    class="p">(</span><span class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span
    class="m">3</span><span class="p">)</span> <span class="o">!</span><span class="n">important</span><span
    class="p">;</span> <span class="nl">padding-bottom</span><span class="p">:</span> <span class="p">(</span><span
    class="o">@</span><span class="n">spacer-y</span> <span class="o">*</span> <span class="m">3</span><span
    class="p">)</span> <span class="o">!</span><span class="n">important</span><span class="p">;</span> <span class="p">}</span></code></pre>
</figure>

<h3 id="responsive-text-alignment">Responsive text alignment</h3>

<p>Use these classes to easily switch <code class="highlighter-rouge">text-align</code> across viewports when designing
  responsive pages.</p>

<figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span
  class="nc">.text-xs-left</span>   <span class="p">{</span> <span class="nl">text-align</span><span class="p">:</span> <span
  class="nb">left</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.text-xs-right</span>  <span class="p">{</span> <span class="nl">text-align</span><span
    class="p">:</span> <span class="nb">right</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.text-xs-center</span> <span class="p">{</span> <span class="nl">text-align</span><span
    class="p">:</span> <span class="nb">center</span><span class="p">;</span> <span class="p">}</span>

<span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span
    class="o">@</span><span class="n">screen-sm-min</span><span class="p">)</span> <span class="p">{</span>
  <span class="nc">.text-sm-left</span>   <span class="p">{</span> <span class="nl">text-align</span><span
    class="p">:</span> <span class="nb">left</span><span class="p">;</span> <span class="p">}</span>
  <span class="nc">.text-sm-right</span>  <span class="p">{</span> <span class="nl">text-align</span><span
    class="p">:</span> <span class="nb">right</span><span class="p">;</span> <span class="p">}</span>
  <span class="nc">.text-sm-center</span> <span class="p">{</span> <span class="nl">text-align</span><span
    class="p">:</span> <span class="nb">center</span><span class="p">;</span> <span class="p">}</span>
<span class="p">}</span>

<span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span
    class="o">@</span><span class="n">screen-md-min</span><span class="p">)</span> <span class="p">{</span>
  <span class="nc">.text-md-left</span>   <span class="p">{</span> <span class="nl">text-align</span><span
    class="p">:</span> <span class="nb">left</span><span class="p">;</span> <span class="p">}</span>
  <span class="nc">.text-md-right</span>  <span class="p">{</span> <span class="nl">text-align</span><span
    class="p">:</span> <span class="nb">right</span><span class="p">;</span> <span class="p">}</span>
  <span class="nc">.text-md-center</span> <span class="p">{</span> <span class="nl">text-align</span><span
    class="p">:</span> <span class="nb">center</span><span class="p">;</span> <span class="p">}</span>
<span class="p">}</span>

<span class="k">@media</span> <span class="p">(</span><span class="n">min-width</span><span class="o">:</span> <span
    class="o">@</span><span class="n">screen-lg-min</span><span class="p">)</span> <span class="p">{</span>
  <span class="nc">.text-lg-left</span>   <span class="p">{</span> <span class="nl">text-align</span><span
    class="p">:</span> <span class="nb">left</span><span class="p">;</span> <span class="p">}</span>
  <span class="nc">.text-lg-right</span>  <span class="p">{</span> <span class="nl">text-align</span><span
    class="p">:</span> <span class="nb">right</span><span class="p">;</span> <span class="p">}</span>
  <span class="nc">.text-lg-center</span> <span class="p">{</span> <span class="nl">text-align</span><span
    class="p">:</span> <span class="nb">center</span><span class="p">;</span> <span class="p">}</span>
<span class="p">}</span></code></pre>
</figure>
