---
title: Overview | Santa Clara University UI Toolkit
fabricator: true
---

<h3 class="text-trajan mb-0 text-uppercase">Santa Clara University</h3>
<h1 class="text-sans-light mt-0">UI Toolkit</h1>
<p><code class="highlighter-rouge">{{toolkit.version}}</code></p>
<p>This UI toolkit is a demonstration of the visual language we have developed for Santa Clara
  University's digital properties. This toolkit is a living document that will be continually
  updated as our language evolves.</p>

<h2>Color</h2>

<p class="highlighter-rouge"><strong>Note:</strong> Success/info/warning colors are still in beta and may be changed.</p>

{{#each toolkit.colors}}
<p class="small text-sans-light">{{@key}}</p>
<div class="f-color-chips">
  {{#each this}}
  <div class="f-color-chip">
    <div class="f-color-chip__name">{{@key}}</div>
    <div class="f-color-chip__color">{{this}}</div>
  </div>
  {{/each}}
</div>
{{/each}}

<h2>Resources</h2>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Bootstrap</h4>
        <p class="card-text">Our CSS and JavaScript is built using Bootstrap.</p>
        <a class="btn btn-primary" href="http://getbootstrap.com/docs">Bootstrap Docs</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fabricator</h4>
        <p class="card-text">This documentation is built using Fabricator.</p>
        <a class="btn btn-primary" href="http://fbrctr.github.io/docs/">Fabricator Docs</a>
      </div>
    </div>
  </div>
</div>
