---
title: Admissions
layout: demo
---
<style type="text/css">
  .site-header.uses-core-navigation {
    margin-bottom: -25px;
  }
  .academics {
    padding: 20px;
    border: 1px solid black;
    -webkit-transition: all 100ms;
    transition: all 100ms;
  }
  .links {
    -webkit-transition: all 100ms;
    transition: all 100ms;
    background: rgba(255,255,255,0.95);
    margin-top: 7px;
    padding: 0;
    width: 100%;
  }

  .links li {
    border-bottom: 1px solid #e0dedf;
    list-style: none;
    margin: 0;
    min-width: 100%;
  }

  .links li a {
    color: #4c4e4d;
    display: block;
    /* font-size: 1.2em; */
    padding: 10px 20px 10px 20px;
  }

  .links li a:hover {
    background: #5bc0de;
    text-decoration: none;
  }
  .academics a {
    color: black;
  }
  .academics a:hover {
    font-weight: 700;
    text-decoration: none;
  }

  .academics:hover {
    background-color: #FFC107;
  }
</style>
<div class="block text-center"
     style="background-image: url('/assets/images/examples/admissions_cover.png')">
  <h1 class="block-title text-serif-bold m-b-md text-primary">Invent the Life You Want to Lead</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-left">
        <div class="card">
          <div class="card-block">
            <h2 class="card-title text-serif">Apply</h2>
            <p class="card-text">Prospective students may apply for admission using the Common App.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-left">
        <div class="card">
          <div class="card-block">
            <h2 class="card-title text-serif">Visit</h2>
            <p class="card-text">The best way to learn more about SCU is to come to our campus.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-left">
        <div class="card">
          <div class="card-block">
            <h2 class="card-title text-serif">Contact</h2>
            <p class="card-text">Our admission counselors are happy to answer any question you may have.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="background-color:#91d6e4">
  <div class="col-sm-8 col-md-offset-2 p-y-lg">
    <h2 class="text-inverted text-sans-bold text-center">Hey There</h2>
    <p class="intro" style="color: #000;">We're students, teachers, and mentors headquarted in the most innovative place on earth: Silicon Valley. Different people flourish here. Santa Clara University people - with their gifts and goals - drivent to build a better, kinder, more humane, and sustainable planet. We come from all walks of life. We travel seas, coasts, highways, and city blocks to call SCU home. And when we're together, home is exactly what this place feels like.</p>
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-inverted">Upcoming Events</h4>
        <div class="events module">                                                               <div class="lwcw" data-options="id=79&amp;format=html&amp;link_to_calendar=/events">
          <div id="lw_widget_1e5cb296" class="lw_widget lw_widget_type_events lw_widget_events lw_widget_id_79 lw_widget_undergraduate_admissions_-_deadlines_and_finaid media-list">
            <ul class="lw_widget_results lw_widget_results_events">
              <li class="lw_item_1">
                <div class="media-left">
                  <div class="events-date-page">
                    <div class="events-month">Oct</div>
                    <div class="events-day"> 4 </div>
                  </div>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="/events/#view/event/event_id/25254">Meet &amp; Greet - Cambridge, MA</a>
                  </h4>
                  <p class="events-time-and-location"><span>6:00pm</span>&nbsp;<span>Starbucks - 1380 Massachusetts Ave, Cambridge, MA 02138</span></p>
                </div>
              </li>
              <li class="lw_item_2">
                <div class="media-left">
                  <div class="events-date-page">
                    <div class="events-month">Oct</div>
                    <div class="events-day"> 5 </div>
                  </div>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="/events/#view/event/event_id/24620">SCU Near You: College Fair - Sacramento, CA</a>
                  </h4>
                  <p class="events-time-and-location"><span>6:30pm</span>&nbsp;<span>Sheldon High School, 8333 Knightsbridge Dr., Sacramento, CA 95829</span></p>
                </div>
              </li>
              <li class="lw_item_3">
                <div class="media-left">
                  <div class="events-date-page">
                    <div class="events-month">Oct</div>
                    <div class="events-day"> 11 </div>
                  </div>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="/events/#view/event/event_id/24621">SCU Near You: College Fair - Oakland, CA</a>
                  </h4>
                  <p class="events-time-and-location"><span>10:00am</span>&nbsp;<span>Laney Community College, 900 Fallon St., Oakland, CA 94607</span></p>
                </div>
              </li>
            </ul>
            <span title="<widget id=&quot;79&quot;><arg id=&quot;is_remote&quot;>true</arg></widget>" class="lw_widget_syntax lw_hidden"></span>
          </div>
        </div>

        </div>
      </div>
    <div class="col-sm-4">
      <h4 class="text-inverted">Deadlines</h4>
      <div class="events module">                                                               <div class="lwcw" data-options="id=79&amp;format=html&amp;link_to_calendar=/events">
        <div id="lw_widget_1e5cb296" class="lw_widget lw_widget_type_events lw_widget_events lw_widget_id_79 lw_widget_undergraduate_admissions_-_deadlines_and_finaid media-list">
          <ul class="lw_widget_results lw_widget_results_events">
            <li class="lw_item_1">
              <div class="media-left">
                <div class="events-date-page">
                  <div class="events-month">Oct</div>
                  <div class="events-day"> 4 </div>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="/events/#view/event/event_id/25254">Meet &amp; Greet - Cambridge, MA</a>
                </h4>
                <p class="events-time-and-location"><span>6:00pm</span>&nbsp;<span>Starbucks - 1380 Massachusetts Ave, Cambridge, MA 02138</span></p>
              </div>
            </li>
            <li class="lw_item_2">
              <div class="media-left">
                <div class="events-date-page">
                  <div class="events-month">Oct</div>
                  <div class="events-day"> 5 </div>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="/events/#view/event/event_id/24620">SCU Near You: College Fair - Sacramento, CA</a>
                </h4>
                <p class="events-time-and-location"><span>6:30pm</span>&nbsp;<span>Sheldon High School, 8333 Knightsbridge Dr., Sacramento, CA 95829</span></p>
              </div>
            </li>
            <li class="lw_item_3">
              <div class="media-left">
                <div class="events-date-page">
                  <div class="events-month">Oct</div>
                  <div class="events-day"> 11 </div>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="/events/#view/event/event_id/24621">SCU Near You: College Fair - Oakland, CA</a>
                </h4>
                <p class="events-time-and-location"><span>10:00am</span>&nbsp;<span>Laney Community College, 900 Fallon St., Oakland, CA 94607</span></p>
              </div>
            </li>
          </ul>
          <span title="<widget id=&quot;79&quot;><arg id=&quot;is_remote&quot;>true</arg></widget>" class="lw_widget_syntax lw_hidden"></span>
        </div>
      </div>

      </div>
    </div>
    <div class="col-sm-4">
      <h4 class="text-inverted">Resources</h4>
        <ul class="list-unstyled links">
          <li><a href="/admission/undergraduate/choosing-scu/">Choosing SCU</a></li>
          <li><a href="/admission/undergraduate/first-year-students/">First-Year Students</a></li>
          <li><a href="/admission/undergraduate/transfer-students/">Transfer Students</a></li>
          <li><a href="/admission/undergraduate/international-students/">International Students</a></li>
          <li><a href="/admission/undergraduate/key-deadlines/">Key Deadlines</a></li>
          <li><a href="/admission/undergraduate/visits-events/">Visits &amp; Events</a></li>
          <li><a href="/admission/undergraduate/contact-us/">Contact Us</a></li>
        </ul>
    </div>

    </div>
  </div>
</div>
<div class="row pull-quote-container p-y-lg">
  <div class="container">
    <div class="col-sm-4">
      <div class="pull-quote-img">
        <img src="/assets/images/examples/hannah-web.jpg" class="img-responsive center-block" />
      </div>
    </div>
    <div class="col-sm-8">
      <div class="pull-quote">
        <cite>
          "As a Child Studies major, I've not only learned tools centered around child
          advocacy, but I've been able to apply these skills through SCU's donor support.."
          <p>Hannah, 2019</p>
        </cite>
        <a href="#" class="btn btn-default" role="button">Read More..</a>
      </div>
    </div>
  </div>
</div>
<div class="block block-secondary app-code-block" style="background-color: #fbb720;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-offset-2">
        <h1 class="text-serif-bold">Academics</h1>
        <p class="lead">We're students, teachers, and mentors headquarted in the most innovative place on earth: Silicon
          Valley. Different people flourish here. Santa Clara University people - with their gifts and goals - drivent
          to build a better, kinder, more humane, and sustainable planet.</p>
        <hr class="dots-left" style="border-top: 1px dashed black;">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-sans-light academics" style="color: black;"><a href="#">College of Arts and Sciences</a></h4>
            <h4 class="text-sans-light academics" style="color: black;"><a href="#">Leavey School of Business</a></h4>
            <h4 class="text-sans-light academics" style="color: black;"><a href="#">School of Law</a></h4>
          </div>
          <div class="col-sm-6">
            <h4 class="text-sans-light academics" style="color: black;">School of Engineering</h4>
            <h4 class="text-sans-light academics" style="color: black;">Jesuit School of Theology</h4>
            <h4 class="text-sans-light academics" style="color: black;">School of Education and Counseling Psychology</h4></div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-secondary app-high-praise p-b-0">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <h1 class="text-serif-bold">Campus Life</h1>
        <p class="lead">Welcome to the heart of Silicon Valley. Catch a Giants game at AT&T park, a wave at Half Moon Bay, or some snow at nearby Lake Tahoe.</p>
      </div>
      <div class="col-sm-6 col-sm-pull-5">
        <img src="holder.js/490x563" class="img-responsive"/>
      </div>
    </div>
  </div>
</div>

<div class="block app-ribbon p-y-lg">
  <div class="container">
    <img src="holder.js/210x30"/>
    <img src="holder.js/210x30"/>
    <img src="holder.js/210x30"/>
    <img src="holder.js/210x30"/>
    <img src="holder.js/210x30"/>
  </div>
</div>

<div class="block block-secondary app-block-marketing-grid" style="background-color: #d6dfac">
  <div class="container text-center">

    <div class="row m-b-lg">
      <div
        class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <h1 class="text-serif-bold">This could be your view.</h1>
        <h3 class="m-t-0 m-b">Are you one of us?</h3>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
        <img src="holder.js/193x193"/>
        <p>Text</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <img src="holder.js/193x193"/>
        <p>Text</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <img src="holder.js/193x193"/>
        <p>Text</p>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
        <img src="holder.js/193x193"/>
        <p>Text</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <img src="holder.js/193x193"/>
        <p>Text</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
        <img src="holder.js/193x193"/>
        <p>Text</p>
      </div>
    </div>
  </div>
</div>

