---
title: Event
layout: landing-page
---
{{> header-landing}}
<div class="block m-b" style="margin-top: 50px;background-image: linear-gradient(135deg, #9e1b32,#021d52);">
  <div class="container-fluid text-inverted">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center p-y-md">
        <h1 class="text-inverted m-t-0">Campus Sexual Assault Symposium</h1>
        <p style="color: #d6d6d6; font-size: 20px;" class="text-sans-light">
          November 18th, 2016 (9:00am - 4:00pm) - Locatelli Student Activity Center
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="main">
              <div class="row">
                <div class="col-md-9">
                  <p class="lead">
                    Santa Clara County District Attorney Jeff Rosen, in collaboration with Santa Clara University and
                    all of the other major higher education institutions in the county, will host a symposium on campus
                    sexual assault on November 18, 2016.
                  </p>
                  <p>
                    The conference is intended to raise national awareness about campus sexual assaults and to share
                    solutions about how to protect students and survivors.
                  </p>
                  <p>
                    Special guest speakers include Harvard Law School sex assault survivor Kamilah Willingham, activist
                    Kevin Powell, Congresswoman Jackie Speier, and former CNN anchor Ashleigh Banfield.
                  </p>
                  <p>
                    The symposium will address such topics as the culture of rape and best campus safety measures. Ms.
                    Willingham will tell her survivor’s story. Ms. Banfield will moderate a panel discussion with
                    criminal justice and higher education stakeholders.
                  </p>
                  <p>
                    The prosecutor of the recent Brock Turner sexual assault case will read excerpts from the victim’s
                    historic letter.
                  </p>
                  <p>
                    <strong>Registration is by invitation only.&nbsp;RSVP by November 2, 2016.&nbsp;</strong>
                  </p>
                  <h3>
                    <strong>Event Schedule</strong>
                  </h3>
                  <table class="table table-responsive">
                    <thead>
                    <tr>
                      <th colspan="2">November 18th, 2016</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td width="95px">
                        9:00-10:00 AM
                      </td>
                      <td width="120px"></td>
                      <td>
                        <h5>
                          Opening Remarks
                        </h5>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        10:00-11:00 AM
                      </td>
                      <td><img src="holder.js/100px50"></td>
                      <td>
                        <p class="m-b-0" style="font-size: 20px;">
                          <a href="#">Ashleigh Banfield</a>
                        </p>
                        <small class="text-muted">Host, HLN’s <em>Primetime Justice with Ashleigh Banfield</em>
                        </small>
                        <h4 class="text-sans-bold" style="color: black;">Title of Session</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor eu odio id dapibus.
                          Curabitur leo odio, mollis non faucibus non, accumsan lobortis ante. Aliquam congue purus
                          quam, sed gravida libero malesuada eu. Suspendisse tortor lorem, suscipit ultricies viverra
                          eu, vulputate et ligula.</p>
                        <p><a href="#"><i class="fa fa-file-pdf-o"></i> Speaker's Biography</a></p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        11:00-12:00 AM
                      </td>
                      <td><img src="holder.js/100px50"></td>
                      <td>
                        <p class="m-b-0" style="font-size: 20px;">
                          <a href="#">Jeff Rosen</a>
                        </p>
                        <small class="text-muted">District Attorney - City of Santa Clara</small>
                        <h4 class="text-sans-bold" style="color: black;">Title of Session</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor eu odio id dapibus.
                          Curabitur leo odio, mollis non faucibus non, accumsan lobortis ante. Aliquam congue purus
                          quam, sed gravida libero malesuada eu. Suspendisse tortor lorem, suscipit ultricies viverra
                          eu, vulputate et ligula.</p>
                        <p><a href="#"><i class="fa fa-file-pdf-o"></i> Speaker's Biography</a></p>
                      </td>
                    </tr>
                    <tr>
                      <td width="95px">
                        12:00-1:00 PM
                      </td>
                      <td width="120px"></td>
                      <td>
                        <h5>
                          Lunch
                        </h5>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        1:00-2:00 PM
                      </td>
                      <td><img src="holder.js/100px50"></td>
                      <td>
                        <p class="m-b-0" style="font-size: 20px;">
                          <a href="#">Kevin Powell</a>
                        </p>
                        <small class="text-muted">Writer, Humanitarian & President of BK Nation</small>
                        <h4 class="text-sans-bold" style="color: black;">Title of Session</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor eu odio id dapibus.
                          Curabitur leo odio, mollis non faucibus non, accumsan lobortis ante. Aliquam congue purus
                          quam, sed gravida libero malesuada eu. Suspendisse tortor lorem, suscipit ultricies viverra
                          eu, vulputate et ligula.</p>
                        <p><a href="#"><i class="fa fa-file-pdf-o"></i> Speaker's Biography</a></p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        2:00-3:00 PM
                      </td>
                      <td><img src="holder.js/100px50"></td>
                      <td>
                        <p class="m-b-0" style="font-size: 20px;">
                          <a href="#">Luis Ramos</a>
                        </p>
                        <small class="text-muted">Supervisor - Santa Clara County District Attorney’s Sexual Assault
                          Team
                        </small>
                        <h4 class="text-sans-bold" style="color: black;">Title of Session</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor eu odio id dapibus.
                          Curabitur leo odio, mollis non faucibus non, accumsan lobortis ante. Aliquam congue purus
                          quam, sed gravida libero malesuada eu. Suspendisse tortor lorem, suscipit ultricies viverra
                          eu, vulputate et ligula.</p>
                        <p><a href="#"><i class="fa fa-file-pdf-o"></i> Speaker's Biography</a></p>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <h3>
                    <strong>Contributing Partners</strong>
                  </h3>
                  <img src="holder.js/250x200" alt="">
                  <img src="holder.js/250x200" alt="">
                  <img src="holder.js/250x200" alt="">
                  <img src="holder.js/250x200" alt="">
                  <img src="holder.js/250x200" alt="">
                  <h3>
                    <strong>Venue and Travel Information</strong>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi assumenda autem doloribus eius impedit nemo reiciendis? Accusantium aperiam beatae deleniti esse inventore, itaque iusto, labore nemo nesciunt reprehenderit voluptates.</p>
                </div>
                <div class="col-md-3">
                  <div class="card">
                    <img class="card-img-top img-responsive" src="/assets/images/examples/events-landing/Symposium-OneVoiceLogo.png" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">Campus Sexual Assault Symposium</h4>
                      <p class="card-text">
                        November 18th, 2016<br>
                        9:00am - 4:00pm<br>
                        Locatelli Student Activity Center<br>
                        <a href="scu.edu/campusmap">Santa Clara University</a>
                      <hr>
                        Registration is by invitation only.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </div>
{{> footer}}
