---
title: Magazine
layout: landing-page
---
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet" />
<style type="text/css">
  /* Global */
  @media (max-width: 767px) {
    .wrap-categories {
      padding-bottom: 2em;
    }

    .wrap-classnotes {
      padding-top: 2em;
    }
  }

  em {
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }

  strong {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
  }

  html, body {
    overflow-x: hidden;
    width: 100%;
  }


  /* Header */
  .page-header {
    border: 0;
    margin: 23px 0 11px;
    text-align: center;
  }

  .page-header h1 {
    font-size: 3.5em;
    margin-bottom: 0;
  }

  .page-header h1 span {
    color: #4f0216;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    transition: color .5s;
  }

  .page-header h1 span:hover {
    color: #ca0538;
    cursor: pointer;
  }

  .page-header h1 i {
    color: #a9a9a9;
  }

  .page-header small {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-transform: uppercase;
  }


  /* Navbar */
  .navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar-collapse {
    border-bottom: .05em solid rgba(0, 0, 0, .15);
    border-top: 2px solid rgba(0, 0, 0, .85);
    text-align: center;
  }

  .navbar-collapse ul {
    margin-top: .25em;
  }

  .navbar i {
    cursor: pointer;
  }

  .navbar li a {
    color: #4f0216;
    font-size: .8em;
    padding: .2em .75em;
  }

  .navbar-form {
    padding-left: 0;
  }

  .navbar-form span {
    font-size: .8em;
    padding: 0 .65em;
  }


  /* Text Float, used in both main story and digital print sections */
  .text-float {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .text-float h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-style: italic;
    z-index: 3;
  }

  .text-float h1 span {
    padding: 4px;
  }

  /* This lets us restrict the background to only encompass the text itself (hard to describe w/out seeing) */
  .text-float h1 span:not(.subtitle) {
    background-color: #b30738;
  }

  .text-float cite {
    background-color: #fff;
    color: #3c3c3c;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    margin: 0 auto;
    max-width: 75%;
    padding: 1px;
    z-index: 3;
  }

  .text-float-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    transition: all .3s ease-out;
  }

  .text-float-shadow:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14), 0 1px 7px 0 rgba(0, 0, 0, .12), 0 3px 1px -1px rgba(0, 0, 0, .2);
    padding: 1px 8px;
  }

  .text-float cite a {
    font-style: normal;
    padding: .5em;
  }

  .text-float cite a:hover {
    text-decoration: none;
  }

  .text-float .subtitle {
    display: block;
    font-family: sans-serif;
    font-size: 150%;
    font-style: normal;
    text-transform: uppercase;
  }


  .main-story-overlay, .digital-print-overlay {
    background-color: #000;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .5s ease-in-out;
    width: 100%;
    z-index: 1;
  }

  .main-story:hover .main-story-overlay, .digital-print:hover .digital-print-overlay {
    opacity: .6;
  }

  .main-story, .digital-print {
    height: 50rem;
    padding: 0;
  }

  .main-story:hover, .digital-print:hover {
    cursor: pointer;
  }


  /* Main Story Section */
  .main-story {
    background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, .15)),
      url(https://magazine.scu.edu/docs/images/rte/blogapp_img/b439/lg-1610-wranglerstevens.jpg) no-repeat;
    background-size: cover;
  }

  .main-story .text-float:last-child {
    margin-top: 1em;
  }


  /* Digital Print Cover Photo */
  .digital-print {
    overflow: hidden;
    padding-left: 1em;
  }

  .digital-print-content {
    background-image: url(/assets/images/scu-mag-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    .digital-print-content {
      width: 100%;
      margin-left: 0;
    }
  }

  .content p {
    color: #444444;
  }

  .footer i {
    color: #fff;
  }


  /* All types of main content (below landing) */
  .content {
    color: #444;
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    padding-top: 2em;
  }

  /* Cool utility class which lets us add an inline "hr" emulator next to a header element */
  .hr-inline {
    overflow: hidden;
    position: relative;
  }

  .hr-inline h4 {
    background-color: #fff;
    display: inline-block;
    font-size: 150%;
    padding-right: 1em;
    margin-bottom: 0;
    position: relative;
  }

  .hr-inline:before {
    border-top: 1px solid #eaeaea;
    content: '';
    height: 0;
    left: auto;
    position: absolute;
    right: 1em;
    top: 49%;
    width: 100%;
  }


  /* Story elements which are on the light, default background color */
  .story img {
    margin-bottom: 1em;
    max-width: 100%;
  }

  .story h4, .story h5, .story p {
    font-family: 'Playfair Display', serif;
  }

  .story h5 {
    color: #666666;
    font-size: .75em;
    margin: 0;
    text-transform: uppercase;
  }

  .story h4 {
    color: #131313;
    font-weight: bolder;
    margin: 0 0 .35em 0;
  }

  .story p {
    color: #2d2d2d;
  }


  .category {
    margin-top: 2em;
  }

  .category:first-child {
    margin-top: 0;
  }

  .categories table {
    margin-bottom: .5em;
  }

  .categories table tr td {
    border: 0;
  }

  .categories table tr td a {
    color: #101010;
  }

  .categories table tr td a:hover {
    color: #636363;
    text-decoration: underline;
  }

  .categories table tr td:before {
    content: '\00bb\00a0';
  }


  .subfooter, .footer {
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: center;
  }

  .subfooter {
    background-color: #575757;
    color: #fff;
    margin-top: 2em;
  }

  .subfooter i:first-child {
    padding: 0;
  }

  .subfooter i {
    font-size: 1.5em;
    padding-left: 1em;
  }

  .footer {
    background-color: #393939;
    color: #fff;
    font-family: 'Playfair Display', serif;
  }
</style>
<div class="page-header">
  <h1><i class="icon-scu"></i>&nbsp;<span>Santa Clara Magazine</span></h1>
  <small>Fall 2016</small>
</div>
<nav class="navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <button type="button" class="navbar-toggle collapsed btn-inverted" data-toggle="collapse"
                data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Athletics</a></li>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Ipsum</a></li>
            <li><a href="#">Merolipsu</a></li>
            <li><a href="#">Ipsuromel</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <i class="fa fa-archive"></i><span>Archive</span>
          </form>
          <form class="navbar-form navbar-right">
            <span>Search</span><i class="fa fa-search"></i>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-8 main-story">
          <div class="main-story-overlay"></div>
          <div class="text-float">
            <h1>
              <span>Bill Stevens</span>
              <span class="subtitle">
              <span>and Wrangler</span>
            </span>
            </h1>
          </div>
          <div class="text-float">
            <cite>
              A dog with millions of fans. And a blind jazz pianist teaching students to do more than they imagined possible.
            </cite>
          </div>
          <div class="text-float">
            <cite class="text-float-shadow"><a href="#">View the Full Story</a></cite>
          </div>
        </div>
        <div class="col-md-4 digital-print">
          <div class="digital-print-overlay"></div>
          <div class="text-float digital-print-content">
            <cite class="text-float-shadow"><a href="#">View the Digital Print</a></cite>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content categories container-fluid">
  <div class="row category">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-md-4 col-md-push-8 wrap-classnotes">
          <h4 class="text-sans-light">Class Notes</h4>
          <table class="table table-responsive table-smaller">
            <tr>
              <td><a href="#">2016</a></td>
              <td><a href="#">2015</a></td>
              <td><a href="#">2014</a></td>
            </tr>
            <tr>
              <td><a href="#">2013</a></td>
              <td><a href="#">2012</a></td>
              <td><a href="#">2011</a></td>
            </tr>
            <tr>
              <td><a href="#">2010</a></td>
              <td><a href="#">2009</a></td>
              <td><a href="#">2008</a></td>
            </tr>
            <tr>
              <td><a href="#">2007</a></td>
              <td><a href="#">2006</a></td>
              <td><a href="#">2005</a></td>
            </tr>
          </table>
          <a href="#">View More..</a>
        </div>
        <div class="col-md-8 col-md-pull-4">
          <div class="row">
            <div class="hr-inline">
              <h4 class="text-sans-light">Athletics</h4>
            </div>
          </div>
          <div class="row" style="margin-top:1em">
            <div class="col-md-4 story">
              <img src="http://placehold.it/300x180" />
              <h5>November 3, 2016</h5>
              <h4>Story Example</h4>
              <p class="text-sans-light">Text for the example story would go here.</p>
            </div>
            <div class="col-md-4 story">
              <img src="http://placehold.it/300x180" />
              <h5>November 3, 2016</h5>
              <h4>Story Example</h4>
              <p class="text-sans-light">Text for the example story would go here.</p>
            </div>
            <div class="col-md-4 story">
              <img src="http://placehold.it/300x180" />
              <h5>November 3, 2016</h5>
              <h4>Story Example</h4>
              <p class="text-sans-light">Text for the example story would go here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row category">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="hr-inline">
              <h4 class="text-sans-light">Category 2</h4>
            </div>
          </div>
          <div class="row" style="margin-top:1em">
            <div class="col-md-4 story">
              <img src="http://placehold.it/300x180" />
              <h5>November 3, 2016</h5>
              <h4>Story Example</h4>
              <p class="text-sans-light">Text for the example story would go here.</p>
            </div>
            <div class="col-md-4 story">
              <img src="http://placehold.it/300x180" />
              <h5>November 3, 2016</h5>
              <h4>Story Example</h4>
              <p class="text-sans-light">Text for the example story would go here.</p>
            </div>
            <div class="col-md-4 story">
              <img src="http://placehold.it/300x180" />
              <h5>November 3, 2016</h5>
              <h4>Story Example</h4>
              <p class="text-sans-light">Text for the example story would go here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="subfooter container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-twitter"></i>
    </div>
  </div>
</div>
<div class="footer container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      Copyright &copy; 2016.
    </div>
  </div>
</div>
