<footer class="site-footer">   <!-- top margin is temporary for dept headers only -->
  <div class="site-footer-navigation">
    <div class="container">
      <div class="footer-title-row">
        <div class="row">
          <div class="col-sm-2 push-sm-5 footer-mission">
            <div class="footer-mission-wrapper">
              <a href="/">
                <img class="hide-for-retina"
                     src="/assets/images/footer-mission.png"
                     width="100" height="109" alt="Santa Clara University Mission Logo">
                <img class="retina-only"
                     src="/assets/images/footer-mission@2x.png"
                     width="100" height="109" alt="Santa Clara University Mission Logo">
              </a>
            </div>
          </div>
          <div class="col-12 col-md-5 pull-md-2 footer-title">
            <a href="/" class="h6 text-trajan text-uppercase" style="letter-spacing: 3px;">
              Santa Clara University</a>
          </div>
          <div class="col-12 col-md-5 footer-tagline footer-title">
            <a href="/" class="h6 text-trajan text-uppercase" style="letter-spacing: 1px;">
              The Jesuit University in Silicon Valley
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 people-place-navigation">
          <div class="row">
            <div class="col-6">
              <p class="h-adr adr"><span class="p-street-address street-address">500 El Camino Real</span>,<br>
                <span class="p-locality locality">Santa Clara</span>, <span
                  class="p-region">CA</span> <span
                  class="p-postal-code">95053</span><br>
                <a href="tel:+14085544000">(408) 554-4400</a></p>
            </div>
            <nav class="col-6">
              <p class="text-right"><a href="#">Contact Us</a><br>
                <a href="#">Maps & Directions</a><br>
                <a href="#">People Directory</a></p>
            </nav>
          </div>
        </div>
        <div class="col-md-5 push-md-2 footer-social-navigation">
          <div class="row">
            <nav class="col-5">
              <p><a href="#">Emergency Info</a><br>
                <a href="#">Employment</a><br>
                <a href="#">Logins</a></p>
            </nav>
            <nav class="col-7 footer-social-links text-right">
              <div class="footer-social-icons pull-right">
                                <span class="social">
                                    <a class="facebook" href="http://www.facebook.com">
                                        <i class="demo-icon icon-facebook-squared"></i>
                                        <span class="sr-only">SCU on Facebook</span>
                                    </a>
                                </span>
                <span class="social">
                                    <a class="twitter" href="http://www.twitter.com">
                                        <i class="demo-icon icon-twitter"></i>
                                        <span class="sr-only">SCU on Twitter</span>
                                    </a>
                                </span>
                <span class="social">
                                    <a class="youtube" href="http://youtube.com">
                                        <i class="demo-icon icon-youtube"></i>
                                        <span class="sr-only">SCU on YouTube</span>
                                    </a>
                                </span>
                <span class="social">
                                    <a class="pinterest" href="http://www.pinterest.com">
                                        <i class="demo-icon icon-pinterest"></i>
                                        <span class="sr-only">SCU on Pinterest</span>
                                    </a>
                                </span>
                <span class="social">
                                    <a class="instagram" href="http://www.instagram.com">
                                        <span class="sr-only">SCU on Instagram</span>
                                    </a>
                                </span>
              </div>
              <a href="#">Social Media</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="copyright text-center">&copy; 2017 SCU</p>
  </div>
</footer>
