
<script type="text/javascript">
  jQuery(document).ready(function () {
    $('#footer-toggler').click(function (e) {
      $('.footer-core').toggle();
      $('.footer-subfooter').toggle();
    });
  });
</script>
<div class="block footer-core app-block-footer bg-primary py-5 text-sans-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="text-uppercase text-white wordmark">Santa Clara University</h4>
        <p class="text-white">
         500 El Camino Real<br>
         Santa Clara, CA 95053<br>
          (408) 554-4400
        </p>
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="facebook" href="http://www.facebook.com">
            <i class="demo-icon icon-facebook-squared"></i>
            <span class="sr-only">SCU on Facebook</span>
          </a></li>
          <li class="list-inline-item"><a class="twitter" href="http://www.twitter.com">
            <i class="demo-icon icon-twitter"></i>
            <span class="sr-only">SCU on Twitter</span>
          </a></li>
          <li class="list-inline-item"><a class="youtube" href="http://youtube.com">
            <i class="demo-icon icon-youtube"></i>
            <span class="sr-only">SCU on YouTube</span>
          </a></li>
          <li class="list-inline-item"><a class="pinterest" href="http://www.pinterest.com">
            <i class="demo-icon icon-pinterest"></i>
            <span class="sr-only">SCU on Pinterest</span>
          </a></li>
          <li class="list-inline-item">
            <a class="instagram" href="http://www.instagram.com">
              <i class="demo-icon icon-instagram"></i>
              <span class="sr-only">SCU on Instagram</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase text-white">Our Campus</h6></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Maps &amp; Directions</a></li>
          <li><a href="#">People Directory</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase text-white">Resources</h6></li>
          <li><a href="#">Emergency Info</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-subfooter" style="display: none">
  <div class="block app-block-footer bg-secondary py-5 text-sans-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="text-sans-light text-uppercase wordmark">Leavey School of Business</h4>
          <p>
            Lucas Hall<br>
            500 El Camino Real<br>
            Santa Clara, CA 95053<br>
            (408) 554-4400
          </p>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a class="facebook" href="http://www.facebook.com">
              <i class="demo-icon icon-facebook-squared"></i>
              <span class="sr-only">SCU on Facebook</span>
            </a></li>
            <li class="list-inline-item"><a class="twitter" href="http://www.twitter.com">
              <i class="demo-icon icon-twitter"></i>
              <span class="sr-only">SCU on Twitter</span>
            </a></li>
            <li class="list-inline-item"><a class="youtube" href="http://youtube.com">
              <i class="demo-icon icon-youtube"></i>
              <span class="sr-only">SCU on YouTube</span>
            </a></li>
            <li class="list-inline-item"><a class="pinterest" href="http://www.pinterest.com">
              <i class="demo-icon icon-pinterest"></i>
              <span class="sr-only">SCU on Pinterest</span>
            </a></li>
            <li class="list-inline-item">
              <a class="instagram" href="http://www.instagram.com">
                <i class="demo-icon icon-instagram"></i>
                <span class="sr-only">SCU on Instagram</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Our Campus</h6></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Maps &amp; Directions</a></li>
            <li><a href="#">People Directory</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Resources</h6></li>
            <li><a href="#">Emergency Info</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Look, one more</h6></li>
            <li><a href="#">Emergency Info</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="block footer-core-mini bg-primary py-3 text-sans-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-uppercase text-white wordmark">Santa Clara University</p>
          <ul class="list-inline pull-right mb-0">
            <li class="list-inline-item text-white">Login</li>
            <li class="list-inline-item text-white">|</li>
            <li class="list-inline-item"><a class="facebook text-white" href="http://www.facebook.com">
              <i class="demo-icon icon-facebook-squared"></i>
              <span class="sr-only">SCU on Facebook</span>
            </a></li>
            <li class="list-inline-item"><a class="text-white twitter" href="http://www.twitter.com">
              <i class="demo-icon icon-twitter"></i>
              <span class="sr-only">SCU on Twitter</span>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="footer-copyright text-center small">&copy; 2017 SCU - <span id="footer-toggler">Toggle Footer Style</span></p>

