<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{#if fabricator}}
		<link rel="stylesheet" href="{{baseurl}}/assets/fabricator/styles/f.css">
	{{/if}}

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/bootstrap.min.css">
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.min.css">
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/font-awesome.min.css">
	<!-- /toolkit styles -->

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/ie.min.css">
	<script src="{{baseurl}}/assets/toolkit/scripts/jRespond.min.js"></script>
	<script src="{{baseurl}}/assets/toolkit/scripts/html5shiv.min.js"></script>
	<![endif]-->

</head>
