<nav class="gateway-navigation offcanvas-right" id="scu-gateway-navigation">
  <div class="container sidebar-offcanvas">
    <ul class="nav navbar-left">
      <li class="dropdown scu-nav">
        <a href="http://www.scu.edu/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
          <span class="text-hide mission">Main Navigation for</span>
          <span class="hidden-sm">Santa Clara University</span>
          <span class="hidden-xs hidden-md hidden-lg">SCU</span>
          <span class="caret hidden-xs"></span>
        </a>
        <div class="dropdown-menu">
          <div class="container">
            <ul role="menu" class="nav nav-pills">
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1127">Home</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1128">About SCU</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1129">Academics</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1130">Admission</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1131">Campus Life</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1132">Athletics</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1133">Global</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1134">Giving</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1135">News &amp; Events</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <ul class="nav nav-pills navbar-right">

      <li class="dropdown scu-gateways">
        <a href="#" class="dropdown-toggle text-hide hidden-xs people-gateways" data-toggle="dropdown" role="button"
           aria-expanded="false">People Gateways</a>
        <div class="dropdown-menu">
          <div class="container">
            <ul role="menu" class="nav nav-pills navbar-right">
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1215">Students</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1216">Faculty &amp; Staff</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/1217">Families</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/4471">Alumni</a></li>
              <li><a href="https://t4.scu.edu/terminalfour/preview/20/en/4720">Visitors</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="slide-menu">
        <a href="https://t4.scu.edu/terminalfour/preview/20/en/16985" role="button" aria-expanded="false">
    <span class="gateway-dropdown">
      Offices &amp; Services <span class="caret"></span>
    </span>
        </a>
        <div class="slide-panel">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h6>Offices and Services at Santa Clara University</h6>
              </div>
              <div class="col-sm-3">
                <ul>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="38"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/3504">Enrollment Services</a></li>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="16"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/3554">Campus Ministry</a></li>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="26"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/6079">Campus Safety</a></li>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="27"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/6927">Facilities</a></li>
                </ul>
              </div>
              <div class="col-sm-3">
                <ul>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="42"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/5678">Diversity and&nbsp;Inclusion</a></li>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="54"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/7435">Technology at SCU</a></li>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="18"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/1521">Recreation</a></li>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="19"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/4477">Sustainability</a></li>
                </ul>
              </div>
              <div class="col-sm-3">
                <ul>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="31"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/14984">Arts at SCU</a></li>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="44"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/8622">Bookstore</a></li>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="20"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/4208">Career Center</a></li>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="21"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/3370">Human Resources</a></li>
                </ul>
              </div>
              <div class="col-sm-3">
                <ul>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="32"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/4833">University Library</a></li>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="23"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/2022">Mission Church</a></li>
                  <li><a data-t4-type="sslink" data-t4-ss-link-id="29"
                         href="https://t4.scu.edu/terminalfour/preview/20/en/11204">SCU Login</a></li>
                </ul>
                <a href="https://t4.scu.edu/terminalfour/preview/20/en/16985" class="more-link">Offices and Services
                  »</a>
              </div>
            </div>

          </div>
        </div>
      </li>

      <li class="slide-menu">
        <a href="https://t4.scu.edu/terminalfour/preview/20/en/11631" role="button" aria-expanded="false">
    <span class="gateway-dropdown">
      Schools &amp; Centers <span class="caret"></span>
    </span>
        </a>
        <div class="slide-panel">
          <div class="container">
            <div class="row">

              <div class="col-sm-7">
                <h6>Schools and Colleges</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <ul>
                      <li><a data-t4-type="sslink" data-t4-ss-link-id="16"
                             href="https://t4.scu.edu/terminalfour/preview/20/en/2222">College of Arts
                        and&nbsp;Sciences</a></li>
                      <li><a data-t4-type="sslink" data-t4-ss-link-id="3"
                             href="https://t4.scu.edu/terminalfour/preview/20/en/2651">Education and Counseling
                        Psychology</a></li>
                      <li><a data-t4-type="sslink" data-t4-ss-link-id="4"
                             href="https://t4.scu.edu/terminalfour/preview/20/en/3923">Leavey School of Business</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul>
                      <li><a data-t4-type="sslink" data-t4-ss-link-id="13"
                             href="https://t4.scu.edu/terminalfour/preview/20/en/2329">School of Engineering</a></li>
                      <li><a data-t4-type="sslink" data-t4-ss-link-id="10"
                             href="https://t4.scu.edu/terminalfour/preview/20/en/3059">Jesuit School of Theology</a>
                      </li>
                      <li><a href="http://law.scu.edu">School of Law</a></li>
                    </ul>

                  </div>
                </div>
              </div>

              <div class="col-sm-5">
                <h6> Centers of Distinction</h6>
                <div class="row">
                  <div class="col-sm-12">
                    <ul>
                      <li><a href="http://www.scu-social-entrepreneurship.org/">Miller Center for Social
                        Entrepreneurship</a></li>
                      <li><a data-t4-type="sslink" data-t4-ss-link-id="6"
                             href="https://t4.scu.edu/terminalfour/preview/20/en/2129">Ignatian Center for Jesuit
                        Education</a></li>
                      <li><a data-t4-type="sslink" data-t4-ss-link-id="7"
                             href="https://t4.scu.edu/terminalfour/preview/20/en/2551">Markkula Center for Applied
                        Ethics</a></li>
                    </ul>
                    <a href="https://t4.scu.edu/terminalfour/preview/20/en/16984" class="more-link">Centers and
                      Institutes »</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="hidden-xs dropdown dropdown-search">
        <a href="#" class="glyphicon glyphicon-search" data-toggle="dropdown" role="button" aria-expanded="false"></a>
        <div class="dropdown-menu">
          <form class="navbar-form" method="get" action="/search/">
            <div class="input-group">
              <input type="search" class="form-control" name="q" id="q" placeholder="SEARCH">
              <span class="input-group-btn">
                      <button class="btn btn-default" type="submit" aria-label="Submit"><span
                        class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
  <div class="slide-menu-backdrop"></div>
</nav>
