<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

<title>{{title}}</title>

<!--[if lte IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" async></script>
<![endif]-->

{{#if fabricator}}
<!-- fabricator styles -->
<link rel="stylesheet" href="/css/f.css" />
<!-- /fabricator styles -->
{{/if}}

<!-- external styles -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
<!-- /external styles -->

<!-- toolkit styles -->
<link rel="stylesheet" href="/css/toolkit.css" />
<!-- /toolkit styles -->

<!-- toolkit scripts -->
<script src="/js/compiled-bundle.min.js"></script>
<!-- /toolkit scripts -->
