<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{title}}</title>

{{#if fabricator}}
<link rel="stylesheet" href="/css/fabricator/f.css">
{{/if}}

<!-- toolkit styles -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/scu.min.css">
<!-- /toolkit styles -->

<!--[if lte IE 9]>
<link rel="stylesheet" href="/css/ie.min.css">
<script src="/js/html5shiv.min.js" async></script>
<![endif]-->
