<div id="test"></div>

<script>
  var myCallback = function() {
    if (document.readyState == 'complete') {
      // Document is ready when CSE element is initialized.
      // Render an element with both search box and search results in div with id 'test'.
      google.search.cse.element.render(
        {
          div: 'search-input',
          tag: 'searchbox'
        },
        {
          div: "search-module-results",
          tag: 'searchresults'
        });
    } else {
      // Document is not ready yet, when CSE element is initialized.
      google.setOnLoadCallback(function() {
        // Render an element with both search box and search results in div with id 'test'.
        google.search.cse.element.render(
          {
            div: 'search-input',
            tag: 'searchbox'
          },
          {
            div: "search-module-results",
            tag: 'searchresults'
          });
      }, true);
    }
  };

  // Insert it before the CSE code snippet so that cse.js can take the script
  // parameters, like parsetags, callbacks.
  window.__gcse = {
    parsetags: 'explicit',
    callback: myCallback
  };

  (function() {
    var cx = '015735913753929981099:fyhgumyaibi'; // Insert your own Custom Search engine ID here
    var gcse = document.createElement('script'); gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>

<div id="search-module" class="search-module">
  <div id="input-container" class="search-module-input-container">
    <div class="container-fluid">
      <button class="close-btn hidden-sm-down">
        <svg class="close" viewBox="0 0 21.3 19.5">
          <g>
            <path d="M17.8,3.7L4.6,16.9c-0.3,0.3-0.8,0.3-1.1,0c-0.3-0.3-0.3-0.8,0-1.1L16.7,2.6c0.3-0.3,0.8-0.3,1.1,0C18.1,2.9,18.1,3.4,17.8,3.7z"></path>
            <path d="M16.7,16.9L3.5,3.7c-0.3-0.3-0.3-0.8,0-1.1s0.8-0.3,1.1,0l13.2,13.2c0.3,0.3,0.3,0.8,0,1.1C17.5,17.2,17,17.2,16.7,16.9z"></path>
          </g>
        </svg>
        <span class="sr-only">Close Search Overlay</span>
      </button>
      <div id="search-input" class="search-input"></div>
    </div>
  </div>
  <div id="search-module-results" class="search-module-results"></div>
</div>

<div class="drawer">
  <div class="block">
    <button class="close-btn text-muted"><i class="fa fa-times"></i><span class="sr-only">Close Overlay</span></button>
    <div class="container">
      <div class="row mt-3">
        <div class="col">
          <h2 class="text-primary text-uppercase wordmark">Santa Clara University</h2>
          <p class="text-muted">The Jesuit University in Silicon Valley.</p>
        </div>
        <div class="col">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Information for</h6></li>
            <li><a href="#">Prospective Students</a></li>
            <li><a href="#">Current Students</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Alumni</a></li>
            <li><a href="#">Visitors</a></li>
          </ul>
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Departments and Services</h6></li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Schools and Colleges</h6></li>
            <li><a href="#">College of Arts and Sciences</a></li>
            <li><a href="#">Education and Counseling Psychology</a></li>
            <li><a href="#">Leavey School of Business</a></li>
            <li><a href="#">School of Engineering</a></li>
            <li><a href="#">Jesuit School of Theology</a></li>
            <li><a href="#">School of Law</a></li>
          </ul>
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Centers of Distinction</h6></li>
            <li><a href="#">Miller Center for Social Entrepreneurship</a></li>
            <li><a href="#">Ignatian Center for Jesuit Education</a></li>
            <li><a href="#">Markkula Center for Applied Ethics</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<header class="navigation bg-primary core-nav">
  <div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-inverse mr-auto pl-0">
      <button class="navbar-toggler navbar-toggler-right" type="button"
              data-target="#navbarCollapse" data-toggle="collapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-uppercase wordmark" href="#">Santa Clara University</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mr-auto">
          <a class="nav-link nav-item" href="#">About SCU</a>
          <a class="nav-link nav-item" href="#">Academics</a>
          <a class="nav-link nav-item" href="#">Admission</a>
          <a class="nav-link nav-item" href="#">Campus Life</a>
          <a class="nav-link nav-item" href="#">Giving</a>
          <a class="nav-link nav-item" href="#">News &amp; Events</a>
        </div>
        <div class="navbar-nav text-sans-light hidden-md-down">
          <a href="#" class="nav-item nav-link">Login</a>
          <a href="#" class="nav-item nav-link"><i class="fa fa-search"></i><span class="sr-only">Search</span></a>
          <a href="#" class="nav-item nav-link"><i class="fa fa-bars" aria-hidden="true"></i><span class="sr-only">Site Map</span></a>
        </div>
        <ul class="list-inline text-sans-light text-center mb-0 mt-3 hidden-lg-up">
          <li class="list-inline-item"><a href="/login" class="nav-link text-white">Login</a></li>
          <li class="list-inline-item"><a href="/search" class="nav-link text-white"><i class="fa fa-search"></i><span class="sr-only">Search</span></a></li>
          <li class="list-inline-item"><a href="/sitemap" class="nav-link text-white"><i class="fa fa-map" aria-hidden="true"></i><span class="sr-only">Site Map</span></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<header class="navigation compact-nav">
  <div class="core-nav-compact bg-primary">
    <div class="container pt-3">
      <div class="row">
        <div class="col-9 col-md-8">
          <a href="#" class="navbar-brand p-0 text-white text-uppercase wordmark">Santa Clara University</a>
        </div>
        <div class="col-3 col-md-4">
          <ul class="list-inline text-white text-sans-light text-right">
            <li class="list-inline-item">Login</li>
            <li class="list-inline-item"><i class="fa fa-search"></i><span class="sr-only">Search</span></li>
            <li class="list-inline-item"><i class="fa fa-bars" aria-hidden="true"></i><span class="sr-only">Site Map</span></li>
            <li class="list-inline-item">
              <span class="header-toggler"><i class="fa fa-retweet" aria-hidden="true"></i><span class="sr-only">Toggle Header</span></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light pl-0">
      <button class="navbar-toggler navbar-toggler-right" type="button"
              data-toggle="collapse" data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-sans-light text-uppercase" href="#">School of Engineering</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="#">Academics</a>
          <a class="nav-item nav-link" href="#">Admission</a>
          <a class="nav-item nav-link" href="#">Current Students</a>
          <a class="nav-item nav-link" href="#">Business Offices</a>
          <a class="nav-item nav-link" href="#">News and Events</a>
          <a class="nav-item nav-link" href="#">Giving</a>
        </div>
      </div>
    </nav>
  </div>
</header>

<!-- TODO: Remove for Launch -->

<style type="text/css">
  .header-toggler {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 99;
    background-color: #b30738;
    color: white;
  }
</style>
<span class="header-toggler p-3">Toggle Header</span>
