{{#if fabricator}}
</div>
<script src="{{baseurl}}/assets/fabricator/scripts/f.js"></script>
{{/if}}

<!-- toolkit scripts -->

<!-- deps -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="{{baseurl}}/assets/toolkit/scripts/bootstrap.min.js"></script>
<script src="{{baseurl}}/assets/toolkit/scripts/jquery.event.swipe.js"></script>
<script src="{{baseurl}}/assets/toolkit/scripts/mediaCheck-min.js"></script>
<script src="https://www.scu.edu/js/modernizr.min.js"></script><!-- TODO -->
<!-- /deps -->

<!-- custom -->
<script src="{{baseurl}}/assets/toolkit/scripts/toolkit.min.js"></script>
<!-- /custom -->

<!-- /toolkit scripts -->
