{{#if fabricator}}
</div>
<script src="/js/fabricator.js"></script>
{{/if}}

<!-- toolkit scripts -->

<!-- deps -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.event.swipe.js"></script>
<script src="/js/mediaCheck-min.js"></script>
<script src="https://www.scu.edu/js/modernizr.min.js"></script><!-- TODO -->
<!-- /deps -->

<!-- custom -->
<script src="/js/scu.js"></script>
<!-- /custom -->

<!-- /toolkit scripts -->
