{{#if fabricator}}
</div>
<script src="/js/fabricator.js"></script>
{{/if}}

<!-- toolkit scripts -->

<!-- deps -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.event.swipe.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mediaCheck-min.js"></script>
<script src="https://www.scu.edu/js/modernizr.min.js"></script><!-- TODO: Can't load via Bower since it's a "custom build" -->
<!-- /deps -->

<!-- custom -->
<script src="/js/toolkit.js"></script>
<!-- /custom -->

<!-- /toolkit scripts -->
