<div id="search-module" class="search-module">
  <div id="input-container" class="search-module-input-container bg-primary">
    <div class="container-fluid">
      <button class="close-btn">
        <svg class="close" viewBox="0 0 21.3 19.5">
          <g>
            <path d="M17.8,3.7L4.6,16.9c-0.3,0.3-0.8,0.3-1.1,0c-0.3-0.3-0.3-0.8,0-1.1L16.7,2.6c0.3-0.3,0.8-0.3,1.1,0C18.1,2.9,18.1,3.4,17.8,3.7z"></path>
            <path d="M16.7,16.9L3.5,3.7c-0.3-0.3-0.3-0.8,0-1.1s0.8-0.3,1.1,0l13.2,13.2c0.3,0.3,0.3,0.8,0,1.1C17.5,17.2,17,17.2,16.7,16.9z"></path>
          </g>
        </svg>
        <span class="sr-only">Close Search Overlay</span>
      </button>
      <div id="search-input" class="search-input"></div>
    </div>
  </div>
  <div class="container search-module-container">
    <div class="pt-5 search-header">
      <h3 class="text-serif text-primary">Search SCU</h3>
      <hr>
      <div class="row">
        <div class="col-12 col-sm">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Information for</h6></li>
            <li><a href="#">Prospective Students</a></li>
            <li><a href="#">Current Students</a></li>
            <li><a href="#">Families</a></li>
            <li><a href="#">Alumni</a></li>
            <li><a href="#">Visitors</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Departments and Services</h6></li>
            <li>
              <select name="departments" id="select2-header" class="custom-select form-control" data-placeholder="Departments, Services, and Programs">
                <option></option>
                <optgroup label="Programs and Services">
                  <option value="/is/academic-technology">Academic Technology</option>
                  <option value="/access">ACCESS Card Office</option>
                  <option value="/admitted">Admitted Students</option>
                  <option value="/alumni">Alumni Association</option>
                  <option value="/arts">Arts at SCU</option>
                  <option value="/auxiliary-services">Auxiliary Services</option>
                  <option value="/benson">Benson Center</option>
                  <option value="/fellows">Board of Fellows</option>
                  <option value="/auxiliary-services/bookstore">Bookstore</option>
                  <option value="/athletics/broncobench">Bronco Bench Foundation</option>
                  <option value="/ubo">Budget Office</option>
                  <option value="/bursar">Bursar</option>
                  <option value="/cm">Campus Ministry</option>
                  <option value="https://university-operations.scu.edu//campus-safety">Campus Safety</option>
                  <option value="/careercenter">Career Center</option>
                  <option value="/globalengagement/study-abroad/casa">Casa de la Solaridad</option>
                  <option value="/csi">Center for Student Involvement</option>
                  <option value="/character">Character Education</option>
                  <option value="/commencement">Commencement</option>
                  <option value="/auxiliary-services/conference-services">Conference Services</option>
                  <option value="/controller">Controller's Office</option>
                  <option value="/provost/core">Core Curriculum</option>
                  <option value="/cowell">Cowell Center for Health</option>
                  <option value="/desaisset">de Saisset Museum</option>
                  <option value="/disabilities">Disabilities Resources</option>
                  <option value="/drahmann">Drahmann Center for Advising and Learning</option>
                  <option value="/title-ix">EEO and Title IX</option>
                  <option value="/epo">Event Planning</option>
                  <option value="/university-operations/facilities">Facilities</option>
                  <option value="/provost/teaching-and-learning/faculty-collaborative-for-teaching-innovation">Faculty Collaborative for Teaching Innovation</option>
                  <option value="/provost/teaching-and-learning/faculty-development">Faculty Development</option>
                  <option value="/faculty-senate">Faculty Senate</option>
                  <option value="/familyweekend">Family Weekend</option>
                  <option value="/fellowships">Fellowships</option>
                  <option value="/fa">Finance & Administration</option>
                  <option value="/financialaid">Financial Aid</option>
                  <option value="/generalcounsel">General Counsel</option>
                  <option value="/globalengagement">Global Engagement Office</option>
                  <option value="/golden-circle">Golden Circle</option>
                  <option value="/governance">Governance</option>
                  <option value="/honors">Honors Program</option>
                  <option value="/provost/writingcenter">HUB Writing Center</option>
                  <option value="/hr">Human Resources</option>
                  <option value="/is/secure">Information Security</option>
                  <option value="/is">Information Services</option>
                  <option value="/is/it">Information Technology</option>
                  <option value="/provost/institutional-effectiveness">Institutional Effectiveness</option>
                  <option value="/institutional-research">Institutional Research</option>
                  <option value="/globalengagement/international-students">International Student Services</option>
                  <option value="/scujesuits">Jesuit Community</option>
                  <option value="/johnsonscholars">Johnson Scholars</option>
                  <option value="/kids-on-campus">Kids on Campus</option>
                  <option value="/lead">LEAD Scholars</option>
                  <option value="/locatelli-center">Locatelli Student Activity Center</option>
                  <option value="/is/academic-technology">Media Services</option>
                  <option value="/missionchurch">Mission Church</option>
                  <option value="/osl/off-campus-living">Off-Campus Living</option>
                  <option value="/provost/institutional-effectiveness/assessment">Office of Assessment</option>
                  <option value="/diversity">Office for Diversity and Inclusion</option>
                  <option value="/oml">Office for Multicultural Learning</option>
                  <option value="/president">Office of the President</option>
                  <option value="/provost">Office of the Provost</option>
                  <option value="/osl">Office of Student Life</option>
                  <option value="/living">On-Campus Living</option>
                  <option value="/onestop">One Stop Enrollment</option>
                  <option value="/admitted/new-student-orientation">Orientation</option>
                  <option value="/osher">OSHER Center for Lifelong Learning</option>
                  <option value="/provost/peer-educator">Peer Educator Program</option>
                  <option value="/provost/policies-and-procedures">Policies and Procedures</option>
                  <option value="/speakerseries">President’s Speaker Series</option>
                  <option value="/uss/purchasing">Purchasing</option>
                  <option value="/recreation">Recreation</option>
                  <option value="/registrar">Registrar</option>
                  <option value="/provost/research">Research</option>
                  <option value="/login">SCU Login</option>
                  <option value="http://scupresents.org">SCU Presents</option>
                  <option value="/staffsenate">Staff Senate</option>
                  <option value="/globalengagement/study-abroad">Study Abroad</option>
                  <option value="/summer">Summer Sessions</option>
                  <option value="/sustainability">Sustainability</option>
                  <option value="/technology">Technology at SCU</option>
                  <option value="/training">Technology Training</option>
                  <option value="/finance">University Finance Office</option>
                  <option value="/library">University Library</option>
                  <option value="/umc">University Marketing and Communications</option>
                  <option value="/university-operations">University Operations</option>
                  <option value="/uss">University Support Services</option>
                  <option value="/vice-provost-for-student-life/>Vice Provost for Student Life</option><option data-target=/wellness">Wellness</option>
                  <optgroup label="College of Arts and Sciences">
                    <option value="/cas/anthropology">Anthropology</option>
                    <option>Art and Art History</option>
                    <option>Biology</option>
                    <option>Chemistry and Biochemistry</option>
                    <option>Classics</option>
                    <option>Communication</option>
                    <option>English</option>
                    <option>Environmental Studies</option>
                    <option>Ethnic Studies</option>
                    <option>History</option>
                    <option>Liberal Studies</option>
                    <option>Math and Computer Science</option>
                    <option>Military Science</option>
                    <option>Modern Languages and Literatures</option>
                    <option>Music</option>
                    <option>Philosophy</option>
                    <option>Physics</option>
                    <option>Political Science</option>
                    <option>Psychology</option>
                    <option>Public Health</option>
                    <option>Religious Studies</option>
                    <option>Sociology</option>
                    <option>Theatre and Dance</option>
                    <option>Women's and Gender Studies</option>
                  </optgroup>
                  <optgroup label="School of Engineering">
                    <option>Bioengineering</option>
                    <option>Civil Engineering</option>
                    <option>Computer Science and Engineering</option>
                    <option>Electrical Engineering</option>
                    <option>Mechanical Engineering</option>
                    <option>Web Design and Engineering</option>
                  </optgroup>
                  <optgroup label="Leavey School of Business">
                    <option>Accounting</option>
                    <option>Accounting & Information Systems</option>
                    <option>Economics</option>
                    <option>Finance</option>
                    <option>Management</option>
                    <option>Marketing</option>
                    <option>Management Information Systems (in the department of OMIS)</option>
                  </optgroup>
                </optgroup>
              </select>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Schools and Colleges</h6></li>
            <li><a href="#">College of Arts and Sciences</a></li>
            <li><a href="#">Education and Counseling Psychology</a></li>
            <li><a href="#">Leavey School of Business</a></li>
            <li><a href="#">School of Engineering</a></li>
            <li><a href="#">Jesuit School of Theology</a></li>
            <li><a href="#">School of Law</a></li>
          </ul>
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Centers of Distinction</h6></li>
            <li><a href="#">Miller Center for Social Entrepreneurship</a></li>
            <li><a href="#">Ignatian Center for Jesuit Education</a></li>
            <li><a href="#">Markkula Center for Applied Ethics</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <div id="search-module-results" class="search-module-results" style="display: none;"></div>
      </div>
    </div>
  </div>
</div>
