<div class="site-footer-navigation subfooter py-3">
  <div class="container py">
    <div class="row">
      <div class="col-sm-5 col-md-6 py-0">
        <div class="row">
          <div class="col-sm-7">
            <h3 class="text-uppercase text-inverted subfooter-title">Leavey School of Business</h3>
          </div>
          <div class="col-sm-5 mb-0">
            <ul class="list-unstyled">
              <li><a href="#" class="subfooter-links"><i class="fa fa-map-marker"></i> Lucas Hall | Hours</a></li>
              <li><a href="#" class="subfooter-links"><i class="fa fa-envelope-o"></i> lsb@scu.edu</a></li>
              <li><a href="#" class="subfooter-links"><i class="fa fa-phone"></i> (408) 554-0000</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-md-6 py-0 pt-0">
        <div class="row">
          <div class="col-md-4 col-sm-3 col-sm-offset-1 px-0 col-xs-offset-2 col-xs-4 mb-0">
            <ul class="list-unstyled">
              <li><a href="#" class="subfooter-links">Staff Directory</a></li>
              <li><a href="#" class="subfooter-links">News &amp; Events</a></li>
              <li><a href="#" class="subfooter-links">Blog</a></li>
            </ul>
          </div>
          <div class="col-sm-3 col-sm-offset-1 col-md-offset-0 col-xs-6 px-0 col-xs-3 mb-0">
            <ul class="list-unstyled">
              <li><a href="#" class="subfooter-links">Contact Us</a></li>
              <li><a href="#" class="subfooter-links">About Us</a></li>
              <li><a href="#" class="subfooter-links">Donate</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-12 pa-0">
            <span class="social">
              <a class="transparent" href="http://www.facebook.com">
                <i class="fa fa-facebook-square"></i>
              </a>
            </span>
            <span class="social">
              <a class="transparent" href="http://www.twitter.com">
                <i class="fa fa-twitter"></i>
              </a>
            </span>
            <span class="social">
              <a class="transparent" href="http://youtube.com">
                <i class="fa fa-youtube"></i>
              </a>
            </span>
            <span class="social">
              <a class="transparent" href="http://www.pinterest.com">
                <i class="fa fa-pinterest"></i>
              </a>
            </span>
            <span class="social">
              <a class="transparent" href="http://www.instagram.com">
                <i class="fa fa-instagram"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
