<div class="site-footer-navigation subfooter" style="background-color:#3a5163">
  <div class="container p-y">
    <div class="row col-md-6">
      <div class="col-md-8">
        <h3 class="text-uppercase text-inverted text-trajan subfooter-title m-b-0">Markkula Center for Applied
          Ethics</h3>
      </div>

      <ul class="col-md-4 m-b-0 list-unstyled">
        <li><a href="#" class="subfooter-links">Vari Hall | Suite 105 </a></li>
        <li><a href="#" class="subfooter-links">ethics@scu.edu </a></li>
        <li><a href="#" class="subfooter-links">(408) 554-0000</a></li>
      </ul>
    </div>

    <div class="col-md-6">
      <ul class="col-md-4 m-b-0 list-unstyled">
        <li><a href="#" class="subfooter-links">Staff Directory</a></li>
        <li><a href="#" class="subfooter-links">News &amp; Events</a></li>
        <li><a href="#" class="subfooter-links">Blog</a></li>
      </ul>

      <nav class="col-md-3 m-b-0 list-unstyled">
        <li><a href="#" class="subfooter-links">Contact Us</a></li>
        <li><a href="#" class="subfooter-links">About Us</a></li>
        <li><a href="#" class="subfooter-links">Donate</a></li>
      </nav>


      <nav class="col-md-5 footer-social-links text-right p-a-0">

        <div class="footer-social-icons pull-right">
                <span class="social">
                                  <a class="transparent" href="http://www.facebook.com">
                                      <i class="demo-icon icon-facebook-squared"></i>
                                  </a>
                              </span>
          <span class="social">
                                  <a class="transparent" href="http://www.twitter.com">
                                      <i class="demo-icon icon-twitter"></i>
                                  </a>
                              </span>
          <span class="social">
                                  <a class="transparent" href="http://youtube.com">
                                      <i class="demo-icon icon-youtube"></i>
                                  </a>
                              </span>
          <span class="social">
                                  <a class="transparent" href="http://www.pinterest.com">
                                      <i class="demo-icon icon-pinterest"></i>
                                  </a>
                              </span>
          <span class="social">
                                  <a class="transparent" href="http://www.instagram.com">
                                      <i class="fa fa-instagram"></i>
                                  </a>
              </span>

        </div>
      </nav>
    </div>

  </div>
</div>
