// sass-lint:disable no-vendor-prefixes
.can-we {
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 3rem;

  .container {
    min-height: 450px;

    @include media-breakpoint-down(md) {
      min-height: 375px;
    }
  }

  .can-we-head {
    $bg: rgba($black, .75);

    h2 {
      font-size: 2rem;

      a {
        background: $bg;
        box-shadow: .25em 0 0 $bg, -.25em 0 0 $bg;
        text-decoration: none;
      }

      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }
    }

    p {
      margin-bottom: .95rem;

      @include media-breakpoint-up(md) {
        margin-bottom: 1.05rem;
      }
    }
  }

  .can-we-content {
    bottom: 0;

    @include media-breakpoint-down(md) {
      -webkit-overflow-scrolling: touch;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .can-we-box {
      background-color: rgba($white, .90);
      margin-right: 3px;

      // Can We?
      h2 {
        line-height: .7;
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }

      @include media-breakpoint-down(md) {
        line-height: 1.4;
        font-size: 15px;
      }

      // Name and title
      p:last-child {
        bottom: 0;
        font-size: .85rem;
        position: absolute;
        text-transform: uppercase;
        max-width: 55%;
      }

      // Photo
      div {
        border: 3px solid $white;
        border-radius: 50%;
        bottom: -2rem;
        height: 7rem;
        right: -1rem;
        width: 7rem;
        overflow: hidden;
        position: absolute;

        @include media-breakpoint-down(lg) {
          height: 5rem;
          width: 5rem;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

}


// sass-lint:enable no-vendor-prefixes

