/**
 * Subheader module
 */

.subheader.module {
  width: 100%;
  height: 150px;
  background-color: #611b25;
  &.office {
    background-color: #464646;
  }
  
  .container {
    height: 150px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    display: table-cell;
    height: 150px;
    padding: 10px 0 20px;
    margin: 0;
    font-size: 45px;
    line-height: 1.2;
    color: @white;
    vertical-align: bottom;
    @media (min-width: @screen-sm-min) {
      font-size: 55px;
    }

    span {
      display: block;
      font-size: 18px;
      text-transform: uppercase;
      color: #e9e8d5;
    }
  }
  .site-header.uses-core-navigation + & {
    margin-top: -20px;
    @media (min-width: @screen-sm-min) {
      margin-top: -55px;
    }
    @media (min-width: @screen-md-min) {
      margin-top: -78px;
    }
    @media (min-width: @screen-lg-min) {
      margin-top: -80px;
    }
  }
}