<!DOCTYPE html>
<html>
<head>

  {{> head}}

  <link rel="stylesheet" type="text/css" href="/css/landing-startup.min.css" />

</head>
<body>

  {% body %}

  {{> scripts}}


  <!-- landing scripts -->

  <script type="text/javascript" src="/assets/scripts/landing/application.js"></script>
  <script type="text/javascript" src="/assets/scripts/landing/tether.min.js"></script>
  <script type="text/javascript" src="/assets/scripts/landing/toolkit.js"></script>

  <!-- /landing scripts -->

</body>
</html>
