.windowpane {
	position: relative;
	padding-bottom: 33.3333333%;
	overflow: hidden;
	min-height: 330px;
	background-size: cover;
	.windowpane-desc {
		position: absolute;
		bottom: 1.5em;
		&.introduction {
			top: 50%;
			transform: translate(0, -50%);
		}
		&.full-panel {
			width: 100%;
			top: 0;
			li.list-group-item {
				background-color: transparent;
				a {
					color: #FFF
				}
			}

		}
		.btn-default-outline {
			.button-outline-variant(#fff);
		}

		.btn-default-outline,
		.btn-outline {
			&:focus,
			&.focus,
			&:hover,
			&:active,
			&.active,
			.open > .dropdown-toggle& {
				color: #000;

				&:hover,
				&:focus,
				&.focus {
					color: #000;
				}
			}
		}
	}
	.windowpane-background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}
}

.row-no-padding {
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 0 !important;
}
.row-no-padding [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.windowpane-background-right {
	background-position: right center;
}
